<template>
	<div class="container-fluid action-permission-panel">
		<div class="bl-modal-title">
			<div class="col-12">
				<h5><font-awesome-icon :icon="['fas', 'key']"></font-awesome-icon> Enter passcode</h5>
			</div>
		</div>
		<div class="col-12 add-new-doctor-form-div">
			
			<div class="modal-body-section">
				<h6>Admin permision required action</h6>
				<div class="form-group">
					<label for="specialty">Enter passcode</label>
					<input type="password" name="passcode" v-model="userPassCodeVal" class="form-control form-control-sm">
				</div>

				<div class="text-right">
					<button class="btn btn-success btn-sm" @click.prevent="checkPermission">Submit</button>
					<button class="btn btn-secondary btn-sm" @click.prevent="closePreview">Cancel</button>
				</div>
			</div>
		</div>
	</div>

</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VueBarcode from 'vue-barcode'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'action-permission',
		components: {
			FontAwesomeIcon,
			'barcode': VueBarcode
		},
		props: {
			
		},
		data() {
			return {
				passCodeVal: store.get('system_settings') && store.get('system_settings').securitySettings && store.get('system_settings').securitySettings.passcode ? store.get('system_settings').securitySettings.passcode : "12345",
				userPassCodeVal: null
			}
		},
		computed: {
			
		},
		methods: {
			checkPermission: function() {
				if(this.userPassCodeVal !== this.passCodeVal) {
					this.flash("Invalid passcode", "error")
				} else {
					this.$emit("is-permitted", this.userPassCodeVal === this.passCodeVal)
				}
			},
			closePreview: function() {
				this.$modal.hide('action-permission-modal')
			}
		},
		mounted() {
			//console.log('invoice headless mode', this.headlessModeInvoice)
			//console.log('is small', this.isSmall)
		}
	};
</script>

<style lang="scss">
	.action-permission-modal {
		background: #efefef;
	}

	.action-permission-panel {
		padding: 0pt;

		strong {
        	font-weight: 600;
        }

		.invoice-header {
			padding-bottom: 15pt;

			.invoice-main-title {
				font-size: 20pt;
				margin-bottom: 0px;
			}

			.header-lab-name {
				font-size: 14pt;
				font-weight: 500;
			}

			.header-sub-info {
				font-size: 10pt;
				margin: 2px 0;
			}
		}

		.invoice-sub-info {
			font-size: 11pt;
			font-weight: 400;
			margin: 2px 0;
		}

		table {
			thead {
				border: 1px solid #ddd;

				th {
					border-right: 1px solid #ddd;
					font-weight: 600;
					padding: 3px 10px;
				}
			}

			tbody {
				border: 1px solid #ddd;

				tr.invoice-row {
					td {
			            padding: 3px 10px;
					    font-size: 12pt;
					    border-right: 1px solid #ddd;
			        }
				}

				tr.invoice-notes-area {
					height: 50pt;
				}
			}

			tfoot {
				.invoice-footer {
			        th {
			            padding: 3px 10px;
			        }

			        td {
			            padding: 0 10px;
			            font-size: 12pt;
			        }
			    }

			    .invoice-footer:nth-child(1) {
			    	td {
			    		padding: 3px 10px;
			    	}
			    }
			}
		}
	}
</style>