<template>
	<div class="container-fluid">
		<div class="test-results-enter-test-list">
			<div class="page-title">
				<div class="row">
					<div class="col-7">
						<h4>Add Test Results&nbsp;|&nbsp;<small><b-badge pill variant="primary">{{ totalRecords }}</b-badge></small></h4>
					</div>
					<div class="col-5 text-right">
						 <b-button-group class="btn-group" size="sm">
						 	<b-button :variant="filterProfStatus == 'completed' ? 'dark' : 'outline-secondary'" @click.prevent="statusFilter('completed')">
						    	<font-awesome-icon v-show="filterProfStatus == 'completed'" :icon="['fas', 'check']"></font-awesome-icon> Completed
						    </b-button>
						    <b-button :variant="filterProfStatus == 'pending' ? 'dark' : 'outline-secondary'" @click.prevent="statusFilter('pending')">
						    	<font-awesome-icon v-show="filterProfStatus == 'pending'" :icon="['fas', 'check']"></font-awesome-icon> Not completed
						    </b-button>
						    <b-button :variant="filterProfStatus == 'all' ? 'dark' : 'outline-secondary'" @click.prevent="statusFilter('all')">
						    	<font-awesome-icon v-show="filterProfStatus == 'all'" :icon="['fas', 'check']"></font-awesome-icon> All records
						    </b-button>
						  </b-button-group>
					</div>
				</div>
			</div>	
			<div style="margin: 5px 0"><span class="text-primary"><font-awesome-icon :icon="['fas', 'info-circle']" /></span> Use <strong>Refresh button</strong> <font-awesome-icon :icon="['fas', 'undo']" /> to refresh invoice list.</div>
			<div class="test-grid-outer">
				<grid-view
				width="100%"
				:columns="columnData"
				:searchfeilds="searchFeilds"
				:data="invoices"
				:infiniteScroll="true"
				@grid-search-event="gridSearch"></grid-view>
			</div>
		</div>
		<voo-loading :isLoading="isLoading"></voo-loading>

		<vu-modal name="enter-test-result-modal"
            width="95%"
            height="auto"
            :scrollable="true"
            :clickToClose="false"
            :classes="['test-result-modal']"
            @before-close="syncStatus">

            <div class="bl-modal-title">
	          	<div class="col-12">
	              	<h5>Enter Test Results</h5>
	              	<button class="btn btn-sm btn-outline-light modal-close-btn" @click.prevent="closeModal">
		            	<font-awesome-icon :icon="['fas', 'times']"></font-awesome-icon>
		            </button>
	            </div>
	        </div>

            <test-list
            	:invoiceId="resultTestInvoiceId"
            	@close-enter-result-view="closeModal"
            	>
            </test-list>
        </vu-modal>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import InfiniteLoading from 'vue-infinite-loading'
	import TestList from './AddTestResults/TestList'
	import Worksheet from './Print/LabWorksheet'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	const INVOICE_STATUS_PENDING = store.get('app-config').INVOICE_STATUS_PENDING
  	const INVOICE_STATUS_TEST_DONE = store.get('app-config').INVOICE_STATUS_TEST_DONE
  	const INVOICE_STATUS_PRINTED = store.get('app-config').INVOICE_STATUS_PRINTED

  	const PAY_TYPE_ADVANCE = 0
  	const PAY_TPE_FULLY_PAID = 0

  	const INVOICE_STATASUSES = store.get('app-config').invoiceStatuses

  	const noResultsForAdvancePaidInvoices = store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.noResultsForAdvancePaidInvoices : true

	export default {
		name: 'add-test-results',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading,
			InfiniteLoading,
			TestList,
			'worksheet': Worksheet
		},
		data() {
			return {
				searchFeilds: {
					'Invoice No': {type: 'textbox', input_id: 'search_invoice_no', elOptions: {width: '10%'}},
					'Bill No': {type: 'textbox', input_id: 'search_bill_no'},
					'Customer name': {type: 'textbox', input_id: 'search_cust_name'},
					'Collecting Center': {type: 'textbox', input_id: 'search_col_center'},
					'Collected Date': {type: 'textbox', input_id: 'search_col_date'},
					'Payment': {type: 'selectbox', input_id: 'payment_type', options:{0: 'Advance payment', 1: 'Fully paid'}}
				},
				filterProfStatus: 'pendng',
				invoices: [],
				totalRecords: 0,
				invoiceStatus: {},
				isLoading: false,

				searchString: null,

				resultTestInvoiceId: 0,

				queryLimit: 50,
				queryOffset: 0,

				billNumberEnabled: store.get('system_settings').lab_info.enableBillNumber
			}
		},
		computed: {
			columnData() {
				var columnDataArray = [
					{
						value:'Invoice No', 
						options: {classes:[]}
					},
					{
						value: 'Customer name', 
						options: {width: '15%'}
					},
					{
						value: 'Collecting Center'
					},
					{
						value: 'Collected Date'
					},
					{
						value: 'Payment',
						options: {classes: ['text-center']}
					},
					{
						value: 'Tests',
						options: {width: '30%', classes: ['text-center']}
					},
					{
						value: 'Overall Status',
						options: {classes: ['text-center']}
					}
				]

				if(this.billNumberEnabled) {
					columnDataArray =[
						{
							value:'Invoice No', 
							options: {classes:[]}
						}, 
						{
							value:'Bill No',
							options: {width: '10%'}
						},
						{
							value: 'Customer name', 
							options: {width: '15%'}
						},
						{
							value: 'Collecting Center'
						},
						{
							value: 'Collected Date'
						},
						{
							value: 'Payment',
							options: {classes: ['text-center']}
						},
						{
							value: 'Tests',
							options: {width: '30%', classes: ['text-center']}
						},
						{
							value: 'Overall Status',
							options: {classes: ['text-center']}
						}
					]
				}

				return columnDataArray
			}
		},
		methods: {
			getInvoices: function(searchStr=null) {
				var _this = this

				this.queryLimit = this.queryLimit ? this.queryLimit : 50
				this.queryOffset = this.queryOffset ? this.queryOffset : 0

				var limit = ` LIMIT ${this.queryLimit} OFFSET ${this.queryOffset}`

				var statusFilter = ""
				if(this.filterProfStatus == 'pending' || this.filterProfStatus == undefined) {
	        		statusFilter = " AND i.status < " + INVOICE_STATUS_PRINTED
	        	} else if(this.filterProfStatus == 'completed') {
	        		statusFilter = " AND i.status = " + INVOICE_STATUS_PRINTED
	        	}

	        	//console.log('pending query', this.filterProfStatus, statusFilter)

				var getInvoicesQuery = "SELECT i.`id` as in_id, i.`invoice_no` as invoice_no, i.`bill_no`, cc.`center_name` as collecting_center_name, i.`colleted_date` as collected_date, i.`pay_type`, c.`customer_title` as customer_title, c.`customer_name` as customer_name, i.`status` as status FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON i.customer_id=c.id INNER JOIN `bloomy_collecting_centers` cc ON cc.`id`=i.`collecting_center` WHERE i.`id` > 0 AND i.`ext_lab`=0" + statusFilter

				var totalRecordsQuery = getInvoicesQuery

				if(searchStr) {
					getInvoicesQuery += searchStr + ' ORDER BY i.`id` DESC ' + limit
					totalRecordsQuery += searchStr
				} else {
					getInvoicesQuery += ' ORDER BY i.`id` DESC ' + limit
				}				

				var totalRecordsQueryArgs = JSON.stringify({query: totalRecordsQuery, params: []})
				var totalRecordsRes = this.$electron.ipcRenderer.sendSync('db-query', totalRecordsQueryArgs)

				this.totalRecords = totalRecordsRes.length

				var getInvoicesQueryArgs = JSON.stringify({query: getInvoicesQuery, params: []})
				var	invoiceData = this.$electron.ipcRenderer.sendSync('db-query', getInvoicesQueryArgs)

				var invoiceDataArray = []
				invoiceData.forEach(function(v){
					//get invoice tests
					var getInvoiceTestsQuery = "SELECT it.*, tp.`profile_name`, p.`package_name`, g.`group_name` FROM bloomy_invoice_test it INNER JOIN `bloomy_profiles` tp ON tp.id=it.profile_id LEFT JOIN `bloomy_packages` p ON p.id=it.package_id LEFT JOIN `bloomy_profile_groups` g ON it.`group_id`=g.`id` WHERE it.invoice_id=?"
					var getInvoiceTestsQueryArgs = JSON.stringify({query: getInvoiceTestsQuery, params:[v.in_id]})

					var invoiceTestData = _this.$electron.ipcRenderer.sendSync('db-query', getInvoiceTestsQueryArgs)

					var testBtnTemp = ""
					invoiceTestData.forEach(function(t){
						if(t.package_id) {
							testBtnTemp += "<span class='badge badge-lg test-name-badge status_" + t.status + " btn-block'>" + t.profile_name + "<br/><small><i class='fas fa-gift'></i> " + t.package_name + "</small></span>"
						} else if(t.group_id) {
							testBtnTemp += "<span class='badge badge-lg test-name-badge status_" + t.status + " btn-block'><i class='fas fa-link'></i> " + t.profile_name + "</span>"
						} else {
							testBtnTemp += "<span class='badge badge-lg test-name-badge status_" + t.status + " btn-block'>" + t.profile_name + "</span>"
						}
					})

					var enterReultsBtn = {btnclass: 'btn-outline-dark', onClickFn: _this.openResultEnterView.bind(_this, v.in_id), title: 'enter test results', icon: ["fas", "flask"], btnText: ''}

					//console.log('pay type', v.pay_type, noResultsForAdvancePaidInvoices)
					if(noResultsForAdvancePaidInvoices && v.pay_type === PAY_TYPE_ADVANCE) {
						enterReultsBtn = {btnclass: 'btn-outline-danger', onClickFn: "", title: 'Not fully paid', icon: ["fab", "creative-commons-nc"], btnText: ''}
					}

					var invoiceStatusBadge = ""
					invoiceStatusBadge = '<span class="badge badge-lg status_' + v.status + '">' + INVOICE_STATASUSES[v.status] + '</span>'

					//_this.invoiceStatus[]

					invoiceDataArray.push({
						'Invoice No': {
							value: v.invoice_no
						},
						'Bill No': {
							value: v.bill_no,
							options: {show: _this.billNumberEnabled}
						},
						'Customer name': {
							value: v.customer_title + ' ' + v.customer_name,
							options: {classes: []}
						},
						'Collecting Center': {
							value: v.collecting_center_name
						},
						'Collected Date': {
							value: _this.formatDate(v.collected_date)
						},
						'Payment': {
							value: _this.formatPayType(v.pay_type),
							options: {classes: ['text-center']}
						},
						'Tests': {
							value: testBtnTemp
						},
						'Overall Status': {
							value: invoiceStatusBadge,
							options: {classes: ['text-center']}
						},
						'acBtns': [
							enterReultsBtn,
							{btnclass: 'btn-outline-dark', onClickFn: _this.printWorksheet.bind(_this, v.in_id), title: 'print worksheet', icon: ["far", "file-alt"], btnText: ''}
						]
					})
				})

				return invoiceDataArray
			},
			gridSearch: function(searchParams) {
				//console.log('grid search', searchParams)
				this.queryOffset = 0
				var searchStr = ""
		    	var _this = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Invoice No') {
		    				searchStr += " AND i.`invoice_no` LIKE '%" + searchParams[colKey.value] + "'"
		    			}
		    			if(colKey.value == 'Bill No') {
		    				searchStr += " AND i.`bill_no` LIKE '%" + searchParams[colKey.value] + "'"
		    			}
		    			if(colKey.value == 'Customer name') {
		    				searchStr += " AND c.`customer_name` LIKE '%" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Collecting Center') {
		    				searchStr += " AND cc.`center_name` LIKE '%" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Collected Date') {
		    				searchStr += " AND i.`colleted_date` LIKE '%" + searchParams[colKey.value] + "'"
		    			}
		    			if(colKey.value == 'Payment') {
		    				searchStr += " AND i.`pay_type` = '" + searchParams[colKey.value] + "'"
		    			}
		    		}
		    	})

		    	this.searchString = searchStr

		    	this.invoices = this.getInvoices(searchStr)
			},
			formatPayType(payTypeVal) {
				if(payTypeVal === PAY_TYPE_ADVANCE) {
					return "<i class='fas fa-exclamation-circle text-danger' title='Advance payment'></i>"
				} else {
					return "<i class='fas fa-check-circle text-success' title='Fully paid'></i>"
				}
			},
			formatDate(dateInput, time=false, hrs24=true) {
	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
	            var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = hours + ':' + minutes + ':00';
	            if(!hrs24) {
	                hours = hours % 12;
	                hours = hours ? hours : 12; // the hour '0' should be '12'
	                strTime = hours + ':' + minutes + ' ' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        },
	        openResultEnterView: function(invoiceId) {
	        	//console.log('invoice obj', this.statusBadge)
	        	this.resultTestInvoiceId = invoiceId

	        	this.$modal.show('enter-test-result-modal')
	        },
	        closeModal: function() {
	        	var _this = this

	        	remote.dialog.showMessageBox(
	        		remote.getCurrentWindow(),{
	        		buttons: ['Yes', 'No'],
	        		type: 'question',
	        		title: 'Test Results view',
	        		message: 'Exit from the view',
	        		detail: 'Do you really want to exit from Test Result Enter view?'
	        	}, function(btnInd) {
	        		if(btnInd == 0) {
	        			_this.isLoading = true
	        	
			        	_this.$modal.hide('enter-test-result-modal')
			        	setTimeout(function() {
			        		_this.queryOffset = 0
			        		_this.invoices = _this.getInvoices(_this.searchString)
			        		_this.isLoading = false
			        	}, 500)
	        		} else {
	        			_this.disableBtn = false
	        			return
	        		}
	        	})
	        	
	        },
	        syncStatus: function() {
	        	// set overall status in invoice table
				var checkStatusOfAllQuery = "SELECT `status` FROM `bloomy_invoice_test` WHERE `invoice_id`=?"
				var checkStatusOfAllQueryArgs = JSON.stringify({query: checkStatusOfAllQuery, params: [this.resultTestInvoiceId]})

				var checkStatusOfAllRes = this.$electron.ipcRenderer.sendSync('db-query', checkStatusOfAllQueryArgs)

				var pending = 0
				var testDone = 0
				var testCompleted = 0

				var overallStatus = INVOICE_STATUS_PENDING

				checkStatusOfAllRes.forEach(function(v) {
					if(v.status == INVOICE_STATUS_PENDING) {
						pending++
					} else if(v.status == INVOICE_STATUS_TEST_DONE) {
						testDone++
					} else if(v.status == INVOICE_STATUS_PRINTED) {
						testCompleted++
					}
				})

				if(testDone == checkStatusOfAllRes.length) {
					overallStatus = INVOICE_STATUS_TEST_DONE
				} else if(testCompleted == checkStatusOfAllRes.length) {
					overallStatus = INVOICE_STATUS_PRINTED
				}

				var setOverallStatusQuery = "UPDATE `bloomy_invoice` SET `status`=? WHERE `id`=?"
				var setOverallStatusQueryArgs = JSON.stringify({query: setOverallStatusQuery, params: [overallStatus, this.resultTestInvoiceId]})

				var updateInvoiceRes = this.$electron.ipcRenderer.sendSync('db-query', setOverallStatusQueryArgs)

				if(updateInvoiceRes.changedRows > 0 && overallStatus == INVOICE_STATUS_PRINTED) {
					this.$store.dispatch('PendingTest/decrementCount')

					if(store.get('main_config').system_type == 'server') {
                        this.$electron.ipcRenderer.send('invoice-count', this.$store.state.PendingTest.pendingTestCount)
                  	} else {
                        this.$electron.ipcRenderer.send('invoice-count-client', this.$store.state.PendingTest.pendingTestCount)
                  	}
				}

	        	// set
	        	this.resultTestInvoiceId = 0	        	
	        },
	        statusFilter: function(filterStatus) {
	        	this.queryOffset = 0
	        	this.filterProfStatus = filterStatus

	        	this.invoices = this.getInvoices(this.searchString)
	        },
	        loadMore: function() {
				this.queryOffset = this.queryOffset + this.queryLimit
				var moreInvoices = this.getInvoices(this.searchString)
				if(moreInvoices.length == 0) {
					this.queryOffset = 0
					return false
				} else {
					this.invoices = this.invoices.concat(moreInvoices)
					return true
				}
			},
			printWorksheet(invoiceId) {
				var _this = this

				remote.dialog.showMessageBox(
					remote.getCurrentWindow(),{
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Print worksheet',
					message: 'Print worksheet?',
					detail: 'Do you need to print worksheet now?'
				}, function(btnIndex){
					if(btnIndex === 0) {
						_this.isLoading = true
						_this.$store.dispatch('AppState/setPrintWithMargin', false)

		                var printParams = JSON.stringify({
		                    printDoc: 'worksheet',
		                    printMode: 'direct_print',  //direct_print
		                    printData: {
		                        invoice_id: invoiceId
		                    }
		                })

		                //console.log('print params', printParams)
		                
		                var printingStatus = _this.$electron.ipcRenderer.sendSync('print-job', printParams)

		                if(printingStatus) {
		                    _this.flash('Worksheet printed', 'success')      
		                } else {
		                	_this.flash('Printing process failed!', 'error')
		                }
		                _this.isLoading = false
					} else {
						return
					}
				})
			}
		},
		mounted() {
			this.$electron.ipcRenderer.on('new-invoice-count', function(event, newInvoiceCount){
				this.syncStatus()
            	//this.invoices = this.getInvoices()
        	})
		},
		beforeMount() {
			this.queryLimit = 50
			this.queryOffset = 0

			this.filterProfStatus = 'pending'
			this.syncStatus()
			this.invoices = this.getInvoices()
		}
	};
</script>

<style lang="scss">
	.test-results-enter-test-list {
		.btn-group {
			.btn {
				min-width: 160px;
			}
		}
	}

	.test-grid-outer {
		.grid-table {
			.badge-lg {
				font-size: 11px;
			}
		}
		table {
			tr {
				td {
					.test-name-badge {
						margin: 0px;
						border-radius: 0;
						border-bottom: 1px dotted #eee;
					}

					.test-name-badge:first-child {
						border-radius: 3px 3px 0 0;
					}

					.test-name-badge:last-child {
						border-radius: 0 0 3px 3px;
						border-bottom: none;
					}
				}
			}
		}
	}

	.status_0 {
		background: #dc3545;
		color: #fff !important;
	}

	.status_1 {
		background: #007bff;
		color: #fff !important;
	}

	.status_2 {
		background: #28a745;
		color: #fff !important;
	}

	.test-result-modal {
		background: #fff;
	}
</style>