<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Antibiotic <small v-once>({{ abData.antibiotic_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Antibiotic</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-antibiotics'}"><font-awesome-icon :icon='["fas", "prescription-bottle"]' /> Manage Antibiotics</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label>Antibiotic name</label>
					<input type="text" name="antibiotic_name" v-model="abData.antibiotic_name" class="form-control form-control-sm" v-validate="'required'" data-vv-as="Antibiotic name">
					<div v-show="errors.first('antibiotic_name')" class="help-text text-danger">{{ errors.first('antibiotic_name') }}</div>
				</div>

				<div class="form-group">
					<label>Line</label>
					<select name="line_number" v-model="abData.line_number" class="form-control form-control-sm">
						<option :value="l.value" v-for="l in abLineOptions">{{ l.label }}</option>
					</select>
				</div>

				<div class="form-group">
					<button class="btn btn-info btn-sm" @click.prevent="saveAntibiotic(false)">Save antibiotic</button>
					<button class="btn btn-warning btn-sm" @click.prevent="saveAntibiotic(true)">Save and Add new</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	export default {
		name: 'edit-antibiotic',
		components: {
			FontAwesomeIcon,
			'voo-loader': VooLoading
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				abData: this.getAntibioticData(),
				abLineOptions: [{value: 1, label: 'First Line'}, {value: 2, label: 'Second Line'}]
			}
		},
		methods: {
			getAntibioticData() {
				var itemId = this.$route.params.id ? this.$route.params.id : 0

				if(itemId > 0) {
					var selectABQuery = "SELECT * FROM `bloomy_antibiotics` WHERE `id`=?"
					var selectABQueryArgs = JSON.stringify({query: selectABQuery, params: [itemId]})

					var abDataRes = this.$electron.ipcRenderer.sendSync('db-query', selectABQueryArgs)

					return abDataRes[0]
				} else {
					return {
						antibiotic_name: null,
						line_number: 1
					}
				}
			},
			saveAntibiotic(addNew=false) {
				var _this = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						var itemId = this.$route.params.id ? this.$route.params.id : 0

						var editABQuery = "INSERT INTO `bloomy_antibiotics`(`antibiotic_name`, `line_number`) VALUES(?,?)"
						var editABQueryParams = [_this.abData.antibiotic_name, _this.abData.line_number]

						if(itemId > 0) {
							editABQuery = "UPDATE `bloomy_antibiotics` SET `antibiotic_name`=?, `line_number`=? WHERE `id`=?"
							editABQueryParams = [_this.abData.antibiotic_name, _this.abData.line_number, itemId]
						}

						var editABQueryArgs = JSON.stringify({query: editABQuery, params: editABQueryParams})
						var editABRes = _this.$electron.ipcRenderer.sendSync('db-query', editABQueryArgs)

						//console.log('AB edit res:', editABRes)

						if(editABRes.error) {
							if(editABRes.error === 'ER_DUP_ENTRY') {
								_this.flash('This Antibiotic is already added', 'warning')
							}

							return
						}

						if(itemId == 0) {
							_this.flash('New Antibiotic added', 'success')
						} else {
							_this.flash('Antibiotic updated', 'success')
						}

						if(!addNew) {
							_this.$router.push({name: 'manage-antibiotics'})
						} else {
							_this.resetForm()
						}						
					}
				})
			},
			resetForm() {
				this.$nextTick().then(() => {
					this.$validator.errors.clear()
				})
				this.abData.antibiotic_name = null
				this.abData.line_number = 1			
			}
		}
	};
</script>