<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Antibiotics</h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-antibiotic'}"><font-awesome-icon :icon='["fas", "prescription-bottle"]' /> Add new Antibiotic</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="antibiotics"
			@grid-search-event="gridSearch"></grid-view>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import GridView from './GridView'
	import VooLoading from './VooLoading.vue'

	const LINE_NAMES = {
		1: 'FIRST LINE',
		2: 'SECOND LINE'
	}

	export default {
		name: 'manage-antibiotic',
		components: {
			FontAwesomeIcon,
			GridView,
			'voo-loading': VooLoading
		},
		props: {
			asAPartial: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				isLoading: false,
				columnData: [
					{
						value: 'Antibiotic'
					},
					{
						value: 'First Line/Second Line'
					}
				],
				searchFeilds: {
					'Antibiotic': {type: 'textbox', input_id: 'name_search', elOptions: {width: '30%'}},
					'First Line/Second Line': {type: 'selectbox', input_id: 'line_search', options: LINE_NAMES}
				},
				antibiotics: this.getAntibiotic()
			}
		},
		methods: {
			getAntibiotic(searchStr=null) {
				var _this = this
				var selectAntibiotsQuery = "SELECT * FROM `bloomy_antibiotics`"

				if(searchStr) {
					selectAntibiotsQuery = "SELECT * FROM `bloomy_antibiotics` WHERE id > 0 " + searchStr
				}

				var selectAntibiotsQueryArgs = JSON.stringify({query: selectAntibiotsQuery, params: []})
				var antibioticRes = this.$electron.ipcRenderer.sendSync('db-query', selectAntibiotsQueryArgs)

				var antibioticArray = []
				antibioticRes.forEach(function(v){
					antibioticArray.push({
						id: {
							value: v.id
						},
						Antibiotic: {
							value: v.antibiotic_name
						},
						'First Line/Second Line': {
							value: LINE_NAMES[v.line_number]
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: _this.editAntibiotic.bind(_this, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: _this.deleteAntibiotic.bind(_this, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return antibioticArray
			},
			gridSearch: function(searchParams) {
				var searchStr = ""
		    	var _this = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Antibiotic') {
		    				searchStr += " AND `antibiotic_name` LIKE '%" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'First Line/Second Line') {
		    				searchStr += " AND `line_number` = " + searchParams[colKey.value]
		    			}
		    		}
		    	})

		    	this.antibiotics = this.getAntibiotic(searchStr)
			},
			deleteAntibiotic(itemId) {
				var _this = this

				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage Antibiotics',
					message: 'Delete antibiotic',
					detail: 'Are you sure, you want to delete this antibiotic?'
				}, function(btnIndex){
					if(btnIndex === 0) {
						var deleteQuery = "DELETE FROM `bloomy_antibiotics` WHERE `id`=?"
						var deleteQueryArgs = JSON.stringify({query: deleteQuery, params: [itemId]})

						var deleteQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)

						//console.log('del res', deleteQueryRes)
						if(deleteQueryRes.affectedRows > 0) {
							_this.antibiotics.forEach(function(v, k){
								if(v.id.value == itemId) {
									_this.antibiotics.splice(k, 1)
								}
							})

							_this.flash('Antibiotic deleted', 'success')
						} else {
							_this.flash('Antibiotic could not be deleted', 'warning')
						}
						
					} else {
						return
					}
				})
			},
			editAntibiotic(itemId) {
				this.$router.push({name: 'edit-antibiotic', params: {id: itemId}})
			}
		}
	};
</script>

<style lang="scss">
	
</style>