<template>
	<div class="container-fluid">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-6 offset-sm-3 activation-panel">
			<img class="logo" src="~@/assets/images/logo.png" />
			<h5 v-show="trialDays <= 0"><font-awesome-icon class="text-danger" :icon="['fas', 'exclamation-circle']" /> Trial period is expired.<br/>Please activate your application.</h5>
			<p>If you do not have an activation key, please contact BlossomLabs and get your activation key.</p>
			<div v-if="isMainStation">
				<div class="form-group">
					<div class="input-group">
						<input type="text" name="activation_key" v-model="activationKey" class="form-control" placeholder="Enter activation key">
						<div class="input-group-prepend">
							<b-button variant="info" @click.prevent="activateApp">Activate</b-button>
						</div>
					</div>
				</div>

				<div class="form-group text-center" v-if="trialDays > 0">
					<router-link :to="{name: 'landing-page'}">
						<b-button variant="secondary" size="sm">Cancel</b-button>
					</router-link>
				</div>
			</div>
			<div v-else>
				<p>Please use Main station computer for activating the app.</p>
				<p>Then restart BlossomLabs Sub stations.</p>
				<b-button variant="secondary" size="sm" @click.prevent="quitApp">Quit</b-button>
				<b-button variant="secondary" size="sm" @click.prevent="restartApp">Restart</b-button>
			</div>
		</div>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	const crypto = require('crypto')
	const Store = require('electron-store')
	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'bl-activation',
		components: {
			FontAwesomeIcon,
			VooLoading
		},
		data() {
			return {
				isLoading: false,
				activationKey: null,
				trialDays: this.$store.state.AppState.trialDays,
				isMainStation: elecStore.get('main_config').system_type == 'server'
			}
		},
		methods: {
			activateApp() {
				if(this.tempSecret(this.activationKey) === elecStore.get('activationCode')) {
					elecStore.set('activationKey', this.activationKey)
					//this.flash('<b>Congratulations!</b><br/>BlossomLabs Activated successfully.')
					//this.$router.push({name: 'login-page'})
					remote.dialog.showMessageBox(remote.getCurrentWindow(), {
						buttons: ['Restart now', 'Quit'],
						type: 'info',
						title: 'BlossomLabs app activation',
						message: 'Activation successful.',
						detail: 'Your application is activated successfully.\nRestart BlossomLabs now.'
					}, function(btnIndex){
						if(btnIndex == 0) {
							remote.app.relaunch()
							remote.app.exit(0)
						} else {
							remote.app.exit(0)
						}
					})
				} else {
					remote.dialog.showMessageBox(remote.getCurrentWindow(), {
						buttons: ['OK', 'Quit'],
						type: 'warning',
						title: 'BlossomLabs app activation',
						message: 'Activation failed.',
						detail: 'Please enter a valid activation key.'
					}, function(btnIndex){
						if(btnIndex == 0) {
							return
						} else {
							remote.app.exit(0)
						}
					})
				}
			},
			tempSecret(tempStr) {
				const salt = "asdf*gjutue2%darqe3sd@1s3"
				const hash = crypto.createHash('sha256')
				return hash.update(tempStr + salt).digest('hex')
			},
			quitApp() {
				remote.app.exit(0)
			},
			restartApp() {
				remote.app.relaunch()
				remote.app.exit(0)
			}
		},
		beforeMount() {
			if(this.$store.state.AppState.activationState === true) {
				this.$router.push({name: 'landing-page'})
			}
		}
	};
</script>

<style lang="scss">
	.activation-panel {
		margin: 120px auto;
		text-align: center;

		.form-group {
			text-align: left;
			margin-top: 20px;
		}

		.logo {
	      margin-bottom: 20px;
	      width: 150px;
	      height: auto;
	    }
	}
</style>