<template>
	<div>
		<span class="clock-part">
			<font-awesome-icon :icon="['far', 'clock']"></font-awesome-icon>&nbsp;<div style="width: 55px; display:inline-block;">{{ time }}</div>
		</span>
		<span class="clock-part">
			<font-awesome-icon :icon="['far', 'calendar']"></font-awesome-icon> {{ date }} <b-badge variant="dark">{{ weekday }}</b-badge>
		</span>
	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'v-clock',
		components: {
			FontAwesomeIcon
		},
		data() {
			return {
				time: '',
       	 		date: '',
       	 		weekday: '',
				week: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
			}
		},
		methods: {
			updateTime: function() {
			    var cd = new Date();
			    this.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
			    this.date = this.zeroPadding(cd.getFullYear(), 4) + '-' + this.zeroPadding(cd.getMonth()+1, 2) + '-' + this.zeroPadding(cd.getDate(), 2)
			    this.weekday = this.week[cd.getDay()];
			},
			zeroPadding: function(num, digit) {
			    var zero = '';
			    for(var i = 0; i < digit; i++) {
			        zero += '0';
			    }
			    return (zero + num).slice(-digit);
			}
		},
		mounted() {
			setInterval(() => { this.updateTime() }, 1000)
		}
	};
</script>

<style lang="scss">
	.clock-part {
		display: inline-block;
		margin: 0 5px;
		font-weight: 500;
		min-width: 6rem;
	}
</style>