<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Collecting Center <small v-once>({{ colCenterData.center_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Collecting Center</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-collecting-centers'}"><font-awesome-icon :icon='["fas", "hospital"]' /> Manage Collecting Centers</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="center_name">Center name</label>
					<input type="text" name="center_name" v-model="colCenterData.center_name" class="form-control form-control-sm" v-validate="'required'">
					<div v-show="errors.first('center_name')" class="help-text text-danger">{{ errors.first('center_name') }}</div>
				</div>

				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" name="address" v-model="colCenterData.address" class="form-control form-control-sm">
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label for="phone">Phone</label>
							<input type="text" name="phone" v-model="colCenterData.phone" class="form-control form-control-sm">
						</div>
						<div class="col-6">
							<label for="email">Email</label>
							<input type="text" name="email" v-model="colCenterData.email" class="form-control form-control-sm" v-validate="'email'">
							<div v-show="errors.first('email')" class="help-text text-danger">{{ errors.first('email') }}</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label for="is_default">Default center?</label>
							<div>
							<toggle-button
								v-model="colCenterData.is_default"
								:color="toggleButtonColors"
								:value="true"
								:sync="true"
								:labels="{checked: 'Yes', unchecked: 'No'}" />
							</div>
						</div>
						<div class="col-6">
							<label for="published">Published/Unpublished</label>
							<div>
							<toggle-button
								v-model="colCenterData.published"
								:width="100"
								:color="toggleButtonColors"
								:value="true"
								:sync="true"
								:labels="{checked: 'Published', unchecked: 'Unpublished'}" />
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-sm btn-info" @click.prevent="saveData(addNew=false)">Save collecting center</button>
					<button class="btn btn-warning btn-sm" @click.prevent="saveData(addNew=true)">Save and Add new</button>
				</div>
			</div>
		</div>

		<voo-loader v-show="isLoading"></voo-loader>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	const dictionary = {
  		en: {
  			attributes: {
  				center_name: 'Collecting center name',
  				address: 'Address',
  				phone: 'Phone',
  				email: 'Email',
  				published: 'Published'
  			}
  		}
  	}

  	Validator.localize(dictionary)

	export default {
		name: 'collecting-center-edit',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'voo-loader': VooLoading
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				colCenterData: this.getColCenter(),
				isLoading: false,
				toggleButtonColors: {checked: '#28a745', unchecked: '#dc3545'},
			}
		},
		methods: {
			getColCenter: function() {
				var colCenterId = this.$route.params.id ? this.$route.params.id : 0

				if(colCenterId > 0) {
					var queryString = "SELECT * FROM `bloomy_collecting_centers` WHERE `id`=?"
					var queryArgs = JSON.stringify({query: queryString, params: [colCenterId]})

					var colCenter = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

					var colCenterObj = colCenter[0]
					return {
						center_name: colCenterObj.center_name,
						address: colCenterObj.address,
						phone: colCenterObj.phone,
						email: colCenterObj.email,
						is_default: colCenterObj.is_default === 1,
						published: colCenterObj.published === 1
					}
				} else {
					return {
						center_name: null,
						address: null,
						phone: null,
						email: null,
						is_default: false,
						published: true
					}
				}
				
			},
			resetForm() {
				this.$nextTick().then(() => {
					this.$validator.errors.clear()
				})
				this.colCenterData.center_name = null
				this.colCenterData.address = null
				this.colCenterData.phone = null
				this.colCenterData.email = null
				this.colCenterData.is_default = false
				this.colCenterData.published = true
			},
			saveData: function(addNew) {
				var _this = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						this.isLoading = true

						var colCenterId = this.$route.params.id ? this.$route.params.id : 0

						var isDefaultCenterVal = _this.colCenterData.is_default ? 1 : 0
						if(_this.colCenterData.is_default) {
							var removeDefaultCenterVal = "UPDATE `bloomy_collecting_centers` SET `is_default`=0"
							var removeDefaultCenterValArgs = JSON.stringify({query: removeDefaultCenterVal, params: []})
							_this.$electron.ipcRenderer.sendSync('db-query', removeDefaultCenterValArgs)
						}

						if(colCenterId == 0) {
							var insertQuery = "INSERT INTO `bloomy_collecting_centers` VALUES(NULL, ?,?,?,?,?,?)"
							var insertQueryParams = [_this.colCenterData.center_name, _this.colCenterData.address, _this.colCenterData.phone, _this.colCenterData.email, isDefaultCenterVal, _this.colCenterData.published]

							var insertQueryArgs = JSON.stringify({query: insertQuery, params: insertQueryParams})

							_this.$electron.ipcRenderer.sendSync('db-query', insertQueryArgs)
						} else {
							var updateQuery = "UPDATE `bloomy_collecting_centers` SET `center_name`=?, `address`=?, `phone`=?, `email`=?, `is_default`=?, `published`=? WHERE id=?"
							var updateQueryParams = [_this.colCenterData.center_name, _this.colCenterData.address, _this.colCenterData.phone, _this.colCenterData.email, isDefaultCenterVal, _this.colCenterData.published, colCenterId]

							var updateQueryArgs = JSON.stringify({query: updateQuery, params: updateQueryParams})

							_this.$electron.ipcRenderer.sendSync('db-query', updateQueryArgs)
						}
						
						if(!addNew) {
							_this.$router.push({name: 'manage-collecting-centers'})
						} else {
							_this.resetForm()
						}

						_this.isLoading = false
						_this.flash('Data saved successfully', 'success')

					}
				})
			}
		}

	};
</script>

<style lang="scss"></style>