<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Collecting Centers</h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-collecting-center'}"><font-awesome-icon :icon='["fas", "hospital"]' /> Add collecting center</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="collectingCenters"
			@grid-search-event="gridSearch"></grid-view>

		<voo-loading v-show="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	export default {
		name: 'collecting-center',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading
		},
		data() {
			return {
				columnData: [
					{
						value: 'Canter name'
					}, 
					{
						value: 'Address'
					}, 
					{
						value: 'Phone',
						options: {classes: ['text-center']}
					}, 
					{
						value: 'Email'
					}, 
					{
						value: 'Default'
					}, 
					{
						value: 'Published',
						options: {classes: ['text-center']}
					}],
				searchFeilds: {
					'Canter name': {type: 'textbox', input_id: 'name_search', elOptions: {width: '20%'}},
					'Address':  {type: 'textbox', input_id: 'address_search', elOptions: {width: '25%'}},
					'Phone': {type: 'textbox', input_id: 'phone_search'},
					'Email': {type: 'textbox', input_id: 'email_search'},
					'Published': {type: 'selectbox', input_id: 'published_search', options: {0: 'Unpublished', 1: 'Published'}}
				},
				collectingCenters: this.getCollectingCenters(),
				isLoading: false
			}
		},
		methods: {
			getCollectingCenters: function(searchStr=null) {
				var _this = this
				var queryString = "SELECT * FROM bloomy_collecting_centers"

				if(searchStr) {
					queryString = "SELECT * FROM bloomy_collecting_centers WHERE id>0 " + searchStr
				}

				var queryArgs = JSON.stringify({query: queryString, params: []})

				var queryRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var colCenterObj = []
				queryRes.forEach(function(v){
					colCenterObj.push({
						id: {
								value:v.id
							},
						'Canter name': {
							value: v.center_name
						},
						Address: {
							value: v.address ? v.address : 'n/a'
						},
						Phone: {
							value: v.phone ? v.phone : 'n/a',
							options: {classes: ['text-center']}
						},
						Email: {
							value: v.email ? v.email : 'n/a'
						},
						Default: {
							value: v.is_default == 1 ? '<span class="badge badge-pill badge-lg badge-primary">Default</span>' : ''
						},
						Published: {
							value: v.published == 0 ? '<span class="badge badge-pill badge-lg badge-danger">Unpublished</span>' : '<span class="badge badge-pill badge-lg badge-success">Published</span>',
							options: {classes: ['text-center']}
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: _this.editColCenter.bind(_this, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: _this.deleteColCenter.bind(_this, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return colCenterObj
			},
			gridSearch: function(searchParams) {
				var searchStr = ""
		    	var _this = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Canter name') {
		    				searchStr += " AND center_name LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Address') {
		    				searchStr += " AND address LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Phone') {
		    				searchStr += " AND phone LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Email') {
		    				searchStr += " AND email LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Published') {
		    				searchStr += " AND published=" + searchParams[colKey.value]
		    			}
		    		}
		    	})

		    	this.collectingCenters = this.getCollectingCenters(searchStr)
			},
			editColCenter: function(centerId) {
				this.$router.push({name: 'edit-collecting-center', params: {id: centerId}})
			},
			deleteColCenter: function(centerId) {
				var _this = this

				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ["Yes", "No"],
					type: 'question',
					title: 'Manage Collecting Centers',
					message: 'Delete collecting center',
					detail: 'Do you really want to delete this item?'
				}, function(btnIndex){
					if(btnIndex == 0) {
						_this.isLoading = true
						
						var deleteQuery = "DELETE FROM `bloomy_collecting_centers` WHERE `id`=?"
						var deleteQueryParams = [centerId]

						var deleteQueryArgs = JSON.stringify({query: deleteQuery, params: deleteQueryParams})

						_this.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)

						_this.isLoading = false

						_this.collectingCenters.forEach(function(v, k){
							if(centerId == v.id.value) {
								_this.collectingCenters.splice(k, 1)
							}
						})

						_this.flash('Collecting center deleted.', 'success')
					} else {
						return
					}
				})
			}
		}
	};
</script>

<style lang="scss">
	
</style>