<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Customers&nbsp;|&nbsp;<small><b-badge pill variant="primary">{{ totalRecords }}</b-badge></small></h4>
				</div>
				<div class="col-5 text-right">
					
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="customers"
			:infiniteScroll="true"
			@grid-search-event="gridSearch"></grid-view>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	export default {
		name: 'customer',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading
		},
		data() {
			return {
				columnData: [
					{
						value: 'Name'
					},
					{
						value: 'NIC',
						options: {classes:['text-canter']}
					},
					{
						value: 'Gender',
						options: {classes:['text-canter']}
					},
					{
						value: 'Address'
					},
					{
						value: 'Phone',
						options: {classes:['text-canter']}
					},
					{
						value: 'Email'
					}
				],
				searchFeilds: {
					'Name': {type: 'textbox', input_id: 'name_search', elOptions: {width: '20%'}},
					'NIC': {type: 'textbox', input_id: 'nic_search', elOptions: {width: '10%'}},
					'Gender': {type: 'selectbox', input_id: 'sex_search', options: {'M': 'Male', 'F': 'Female'}, elOptions: {width: '10%'}}
				},
				customers: [],
				totalRecords: 0,
				isLoading: false,
				queryLimit: 50,
				queryOffset: 0,
				filterData: null
			}
		},
		methods: {
			getCustomers: function(searchStr=null) {
				var _this = this

				this.queryLimit = this.queryLimit ? this.queryLimit : 50
				this.queryOffset = this.queryOffset ? this.queryOffset : 0

				var limit = ` LIMIT ${this.queryLimit} OFFSET ${this.queryOffset}`
				var getCustomersQuery = "SELECT * FROM `bloomy_customer` WHERE `id` > 0"

				var totalRecordsQuery = getCustomersQuery

				if(searchStr) {
					getCustomersQuery = getCustomersQuery + searchStr + limit
					totalRecordsQuery += searchStr
				} else {
					getCustomersQuery = getCustomersQuery + limit
				}

				var totalRecordsQueryArgs = JSON.stringify({query: totalRecordsQuery, params: []})
				var totalRecordsRes = this.$electron.ipcRenderer.sendSync('db-query', totalRecordsQueryArgs)
				this.totalRecords = totalRecordsRes.length

				var getCustomersQueryArgs = JSON.stringify({query: getCustomersQuery, params: []})

				var customersRes = this.$electron.ipcRenderer.sendSync('db-query', getCustomersQueryArgs)

				var customersArray = []

				customersRes.forEach(function(v){
					customersArray.push({
						id: {
							value: v.id
						},
						Name: {
							value: v.customer_title + ' ' + v.customer_name
						},
						NIC: {
							value: v.nic ? v.nic : 'n/a',
							options: {
								classes: ['text-center']
							}
						},
						Gender: {
							value: v.sex == 'M' ? "Male" : "Female",
							options: {classes:['text-canter']}
						},
						Address: {
							value: v.address ? v.address : 'n/a'
						},
						Phone: {
							value: v.phone ? v.phone : 'n/a'
						},
						Email: {
							value: v.email ? v.email : 'n/a'
						},
						'acBtns': [
							{btnclass: 'btn-outline-info', onClickFn: _this.showHistory.bind(_this, v.id), title: 'overview', icon: ['fas', 'chart-line']},
							{btnclass: 'btn-outline-dark', onClickFn: _this.editCustomer.bind(_this, v.id), title: 'edit', icon: ['far', 'edit']},
							//{btnclass: 'btn-outline-danger', onClickFn: _this.deleteCustomer.bind(_this, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return customersArray
			},
			gridSearch: function(searchParams) {
				this.queryOffset = 0
				var searchStr = ""
		    	var _this = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Name') {
		    				searchStr += " AND `customer_name` LIKE '%" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'NIC') {
		    				searchStr += " AND `nic` LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Gender') {
		    				searchStr += " AND `sex` LIKE '" + searchParams[colKey.value] + "'"
		    			}
		    		}
		    	})

		    	this.filterData = searchStr
		    	
		    	this.customers = this.getCustomers(searchStr)
			},
			/*deleteCustomer: function(custId) {
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage customers',
					message: 'Delete customer',
					detail: 'Do you relly need to delete this customer?'
				}, function(btnInd){
					if(btnInd == 0) {
						var deleteQuery = "DELETE FROM `bloomy_customer` WHERE `id`=?"
						var deleteQueryArgs = JSON.stringify({query: deleteQuery, params: [custId]})

						this.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)

						this.customers.forEach(function(v, k){
							if(v.id.value == custId) {

							}
						})
					} else {	
						return
					}
				})
			},*/
			editCustomer: function(custId) {
				this.$router.push({name: 'edit-customer', params: {id: custId}})
			},
			showHistory: function(custId) {
				this.$router.push({name: 'customer-detail', params: {id: custId}})
			},
			loadMore: function() {
				this.queryOffset = this.queryOffset + this.queryLimit
				var moreCustomers = this.getCustomers(this.filterData)
				if(moreCustomers.length == 0) {
					return false
				} else {
					this.customers = this.customers.concat(moreCustomers)
					return true
				}
			}
		},
		beforeMount() {
			this.customers = this.getCustomers()
		}
	};
</script>

<style lang="scss"></style>