<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span>
						<h4>Customer overview</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-customers'}"><font-awesome-icon :icon='["far", "address-card"]' /> Manage Customers</router-link>
				</div>
			</div>
		</div>

		<h5 class="cust-name" v-once>{{ custData.customer_title + ' ' + custData.customer_name }}</h5>
		<div class="cust-overview">
			<div class="row">
				<div class="col-12 cust-overview-pannel">
					<table width="100%">
						<tr class="data-row">
							<td width="150"><label>NIC</label></td>
							<td>{{ custData.nic ? custData.nic : '-' }}</td>
							<td width="150"><label>Phone</label></td>
							<td>{{ custData.phone ? custData.phone : '-' }}</td>
						</tr>
						<tr class="data-row">
							<td width="150"><label>Gender</label></td>
							<td>{{ custData.sex == 'M' ? 'Male' : 'Female' }}</td>
							<td width="150"><label>Email</label></td>
							<td>{{ custData.email ? custData.email : '-' }}</td>
						</tr>
						<tr class="data-row">
							<td width="150"><label>Date of birth</label></td>
							<td>
								<div v-if="custData.dob">
									{{ formatDate(custData.dob) }} 
									&nbsp;&nbsp;&nbsp;&nbsp;
									<label>Age: </label>
									<span v-if="parseInt(custAge.years) > 0">{{ custAge.years }} years</span>
									<span v-if="parseInt(custAge.months) > 0 && parseInt(custAge.years) < 12">{{ custAge.months }} months</span>
									<span v-if="parseInt(custAge.days) > 0 && parseInt(custAge.years) < 12">{{ custAge.days }} days</span>
								</div>
								<div v-else>
									-
								</div>
							</td>
							<td width="150"><label>Blood type</label></td>
							<td>{{ custData.blood_type ? custData.blood_type : '-' }}</td>
						</tr>
						<tr class="data-row">
							<td width="150"><label>Address</label></td>
							<td>{{ custData.address ? custData.address : '-' }}</td>
							<td width="150"><label>Registered date</label></td>
							<td>{{ formatDate(custData.reg_date, true, false) }}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-12 test-stats cust-overview-pannel">
					<h5>Test statistics</h5>
					<div class="row">
						<div class="col-4 cust-overview-card" v-for="(test, index) in custTests">
							<b-card 
								header="featured"
				                header-tag="header"
				                >

				                <div slot="header">
				                	<h6>
					                	{{ test.profileName }} <small>({{test.invoiceNo}})</small> <b-badge :variant="statusBadgeVariant(test.status)" class="float-right">{{ INVOICE_STATASUSES[test.status] }}</b-badge>
					                </h6>
					                <div class="header-sub-info" v-if="test.status > INVOICE_STATUS_PENDING">
						                <div class="row">
						                	<div class="col-6" title="report date and time">
							                	<font-awesome-icon :icon="['far', 'clock']" /> {{ test.reportDate }}
						                	</div>
						                	<div class="col-6 text-right" title="report by (MTL)">
						                		<font-awesome-icon :icon="['fas', 'user-md']" /> {{ test.mlt }}
						                	</div>
						                </div>
					                </div>
				                </div>
				                
					            <div class="card-content">
					            	<table width="100%">
					            		<tr v-if="test.status == INVOICE_STATUS_PENDING">
					            			<td class="no-data-label">Results not available</td>
					            		</tr>
					            		<tr :class="{'data-row': test.testResults.length > 1}" v-else v-for="(res, ind) in test.testResults">
					            			<td width="50%">{{ res.testName }}</td>
					            			<td width="25%">{{ res.result }} <span v-html="res.unit"></span></td>
					            			<td width="25%" class="text-center"><b-badge variant="light"><span :style="{color: res.remarkColors[res.remarkKey]}">{{ res.remark }}</span></b-badge></td>
					            		</tr>
					            	</table>
					            </div>
					            <div slot="footer">
					            	<div v-if="test.status > INVOICE_STATUS_PENDING" class="text-right">
						            	<b-button size="sm" variant="dark" class="btn-xs-text" @click.prevent="printReport(test.invoiceTestId, test.profileName, test.invoiceNo, 'pdf')">
							            	<font-awesome-icon :icon="['far', 'file-pdf']"></font-awesome-icon> Save as PDF
							            </b-button>
							            <b-button size="sm" variant="dark" class="btn-xs-text" @click.prevent="printReport(test.invoiceTestId, test.profileName, test.invoiceNo)">
							            	<font-awesome-icon :icon="['fas', 'print']"></font-awesome-icon> Print
							            </b-button>
						            </div>
					            </div>
					        </b-card>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	//import { LineChart } from 'vue-morris'

	const calculateFullAge = require('full-age-calculator')

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	const INVOICE_STATUS_PENDING = store.get('app-config').INVOICE_STATUS_PENDING
  	const INVOICE_STATUS_TEST_DONE = store.get('app-config').INVOICE_STATUS_TEST_DONE
  	const INVOICE_STATUS_PRINTED = store.get('app-config').INVOICE_STATUS_PRINTED

  	const INVOICE_STATASUSES = store.get('app-config').invoiceStatuses

	export default {
		name: 'customer-detail',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'voo-loader': VooLoading,
			//LineChart
		},
		data() {
			return {
				custData: this.getCustomerData(),
				custTests: this.getCustomerTests(),
				INVOICE_STATUS_PENDING: INVOICE_STATUS_PENDING,
				INVOICE_STATUS_TEST_DONE: INVOICE_STATUS_TEST_DONE,
				INVOICE_STATUS_PRINTED: INVOICE_STATUS_PRINTED,
				INVOICE_STATASUSES: INVOICE_STATASUSES
			}
		},
		computed: {
			custAge() {
				var ageObj = {}
				if(this.custData.dob) {
					ageObj = calculateFullAge.getFullAge(this.custData.dob)
				}
				
				return ageObj
			}
		},
		methods: {
			statusBadgeVariant(testStatus) {
				var badgeVariant = 'success'
				if(testStatus == INVOICE_STATUS_PENDING) {
					badgeVariant = 'danger'
				} else if(testStatus == INVOICE_STATUS_TEST_DONE) {
					badgeVariant = 'primary'
				}

				return badgeVariant
			},
			getCustomerData() {
				var custId = this.$route.params.id
				var selectCustomerQuery = "SELECT * FROM `bloomy_customer` WHERE `id`=?"
				var selectCustomerQueryArge = JSON.stringify({query: selectCustomerQuery, params: [custId]})
				var selectCustomerRes = this.$electron.ipcRenderer.sendSync('db-query', selectCustomerQueryArge)

				return selectCustomerRes[0]
			},
			getCustomerTests() {
				var self = this
				var custId = this.$route.params.id
				var getInovoicesTestsQuery = "SELECT it.*, it.id as invoice_test_id, it.status as test_status, i.*,  p.profile_name, u.f_name, u.l_name FROM `bloomy_invoice_test` it INNER JOIN `bloomy_invoice` i ON it.invoice_id=i.id AND i.customer_id=? INNER JOIN `bloomy_profiles` p ON it.profile_id=p.id LEFT JOIN `bloomy_user` u ON it.user_id=u.id ORDER BY it.id DESC"
				var getInovoicesTestsQueryArgs = JSON.stringify({query: getInovoicesTestsQuery, params: [custId]})

				var invoiceTestRes = this.$electron.ipcRenderer.sendSync('db-query', getInovoicesTestsQueryArgs)
				
				var custTestDataObj = []
				invoiceTestRes.forEach(function(v) {
					var testResultObj = []

					if(v.test_status > INVOICE_STATUS_PENDING) {
						var getTestResults = "SELECT tr.*, ts.test_name, tu.unit, ts.remark_colors FROM `bloomy_invoice_test_result` tr INNER JOIN `bloomy_tests` ts ON tr.test_id=ts.id INNER JOIN `bloomy_units` tu ON ts.unit=tu.id WHERE tr.invoice_test_id=?"
						var getTestResultsArgs = JSON.stringify({query: getTestResults, params: [v.invoice_test_id]})

						var getTestResultRes = self.$electron.ipcRenderer.sendSync('db-query', getTestResultsArgs)

						getTestResultRes.forEach(function(r){
							testResultObj.push({
								testName: r.test_name,
								result: r.result,
								unit: r.unit,
								refRange: r.ref_range,
								remark: r.remark,
								remarkKey: r.remark_key,
								remarkColors: JSON.parse(r.remark_colors),
							})
						})
					}

					custTestDataObj.push({
						profileName: v.profile_name,
						status: v.test_status,
						mlt: v.f_name + ' ' + v.l_name,
						invoiceTestId: v.invoice_test_id,
						invoiceNo: v.invoice_no,
						reportDate: self.formatDate(v.report_date, true, false),
						testResults: testResultObj
					})
					
				})
				//console.log(custTestDataObj)
				return custTestDataObj
			},
			formatDate(dateString, time=false, hrs24=true) {
				var date = new Date(dateString);
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ':00';
				if(!hrs24) {
					hours = hours % 12;
					hours = hours ? hours : 12; // the hour '0' should be '12'
					strTime = hours + ':' + minutes + ' ' + ampm;
				}
				
				var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
				var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
				if(time) {
					return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
				} else {
					return date.getFullYear() + "-" + monthVal + "-" + dayVal;
				}
				
			},
			printReport(invoiceTestId, profileName, invoiceNo, printMode='direct_print') {
				var self = this

				this.$store.dispatch('AppState/setAppState', 'printing')

				var printParams = JSON.stringify({
					printDoc: 'test_report',
                    printMode: printMode,
                    printData: {
                        invoice_test_id: invoiceTestId,
                        invoice_no: invoiceNo,
                        profile_name: profileName
                    }
				})
				var printStatus = this.$electron.ipcRenderer.sendSync('print-job', printParams)

				if(printStatus) {
					if(printMode == 'direct_print') {
						// set status to completed
						var setReportStatusQuery = "UPDATE `bloomy_invoice_test` SET `status`=? WHERE `id`=?"
						var setReportStatusQueryArgs = JSON.stringify({query: setReportStatusQuery, params: [INVOICE_STATUS_PRINTED, invoiceTestId]})

						this.$electron.ipcRenderer.sendSync('db-query', setReportStatusQueryArgs)

						this.custTests.forEach(function(v, k){
							if(v.invoiceTestId == invoiceTestId) {
								self.$set(self.custTests[k], 'status', INVOICE_STATUS_PRINTED)
							}
						})
					}

					if(printMode == 'pdf') {
						this.flash('PDF report saved.', 'success')
					} else {
						this.flash('Printing process completed.', 'success')
					}
					
					this.$store.dispatch('AppState/setAppState', 'ready')
				} else {
					this.$store.dispatch('AppState/setAppState', 'ready')
					this.flash('Process failed for some reason. Please try again.', 'error')
				}
			}
		}
	};
</script>

<style lang="scss">
	.cust-overview {
		.cust-overview-pannel {
			margin-bottom: 20px;
		}

		.cust-overview-card {
			margin-bottom: 10px;

			.card {
				height: 100%;

				header {
					.header-sub-info {
					    margin-top: 5px;
					    font-size: 0.8rem;
					    color: #5f5f5f;
					}
				}
			}
		}

		table {
			tr.data-row {
				border-bottom: 1px dashed #ddd;

				td {
					padding: 5px 3px;

					label{
						margin: 0;
					}
				}
			}
		}

		.cust-name {
			font-weight: 400;
		}

		.test-stats {
			.card-content {
				table {
					tr {
						td {
							font-size: 0.8rem;
							padding: 3px;

							.badge {
								font-size: 0.8rem;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
</style>