<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span>
						<h4>Edit Customer <small v-once>({{ custTitle + " " + custName }})</small></h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-customers'}"><font-awesome-icon :icon='["far", "address-card"]' /> Manage Customers</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label>Name</label>
					<div class="input-group">
                        <div class="input-group-prepend">
                          <select class="" id="customer-title" v-model="custTitle" name="customer-title" @change.prevent="setGender">
                            <option value="Mr.">Mr</option>
                            <option value="Mrs.">Mrs</option>
                            <option value="Miss.">Miss</option>
                            <option value="Master.">Master</option>
                            <option value="Ven.">Ven</option>
                            <option value="Baby.">Baby</option>
                          </select>
                        </div>
                        <input type="text" class="form-control form-control-sm" id="customer_name" name="customer_name" v-model="custName" v-validate="'required'" data-vv-as="Name">
                  	</div>
                  	<div v-show="errors.first('customer_name')" class="help-text text-danger">{{ errors.first('customer_name') }}</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<label>Gender</label>
							<div>
		                      	<input type="radio" name="customer-sex" id="customer-sex-m" value="M" v-model="custSex"> <label>Male</label>&nbsp;&nbsp;
		                      	<input type="radio" name="customer-sex" id="customer-sex-f" value="F" v-model="custSex"> <label>Female</label>
		                    </div>
						</div>
						<div class="col-4">
		                    <label for="nic">NIC</label>
		                    <input type="text" name="nic" id="nic" class="form-control form-control-sm" v-model="custNIC" v-validate="'min:9'" @blur.prevent="autoFillIfExists">
		                    <div v-show="errors.first('nic')" class="help-text text-danger">{{ errors.first('nic') }}</div>
	                  	</div>
	                  	<div class="col-4">
	                  		<label for="customer-dob">Date of birth</label>
							<div>
								<date-picker v-model="custDob" width="100%" :first-day-of-week="1" lang="en" input-class="form-control form-control-sm" :editable="true" :class="['search-by-date-wraper']" placeholder="yyyy-mm-dd" :not-after="new Date()"></date-picker>
							</div>  
	                  	</div>
					</div>
				</div>

				<div class="form-group">
	                <label for="customer-address">Address</label>
	                <input type="text" name="customer-address" id="customer-address" class="form-control form-control-sm" v-model="custAddress">
              	</div>

              	<div class="form-group">
	                <div class="row">
	                  	<div class="col-3">
		                    <label for="customer-phone">Phone</label>
		                    <input type="text" name="customer-phone" id="customer-phone" class="form-control form-control-sm" v-model="custPhone">
	                  	</div>
	                  	<div class="col-6">
		                    <label for="customer_email">Email</label>
		                    <input type="email" name="customer_email" id="customer_email" class="form-control form-control-sm" v-model="custEmail" v-validate="'email'">
	                    	<div v-show="errors.first('customer_email')" data-vv-as="Email address" class="help-text text-danger">{{ errors.first('customer_email') }}</div>
	                  	</div>
	                  	<div class="col-3">
              				<label for="blood-type">Blood type</label>
		                    <select name="blood-type" id="blood-type" class="form-control form-control-sm" v-model="custBloodType">
		                      <option value=""></option>
		                      <option value="O+">O+</option>
		                      <option value="O-">O-</option>
		                      <option value="A+">A+</option>
		                      <option value="A-">A-</option>
		                      <option value="B+">B+</option>
		                      <option value="B-">B-</option>
		                      <option value="AB-">AB-</option>
		                      <option value="AB+">AB+</option>
		                    </select>
          				</div>
	                </div>
              	</div>  

              	<div class="form-group">
          			<b-button size="sm" variant="primary" @click.pervent="saveCustomer">Save customer</b-button>
              	</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import vSelect from 'vue-select'
	import DatePicker from 'vue2-datepicker'

	export default {
		name: 'customer-edit',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'voo-loader': VooLoading,
			'v-select': vSelect,
			DatePicker
		},
		data() {
			return {
				custTitle: null,
				custName: null,
				custNIC: null,
				custSex: null,
				custDob: null,
				custAddress: null,
				custPhone: null,
				custEmail: null,
				custBloodType: null
			}
		},
		methods: {
			getCustomerData() {
				var self = this
				var custId = this.$route.params.id

				var selectCustomerQuery = "SELECT * FROM `bloomy_customer` WHERE `id`=?"
				var selectCustomerQueryArgs = JSON.stringify({query: selectCustomerQuery, params: [custId]})
				var selectCustomerRes = this.$electron.ipcRenderer.sendSync('db-query', selectCustomerQueryArgs)

				this.custTitle = selectCustomerRes[0].customer_title
				this.custName = selectCustomerRes[0].customer_name
				this.custNIC = selectCustomerRes[0].nic
				this.custSex = selectCustomerRes[0].sex
				this.custDob = selectCustomerRes[0].dob
				this.custAddress = selectCustomerRes[0].address
				this.custPhone = selectCustomerRes[0].phone
				this.custEmail = selectCustomerRes[0].email
				this.custBloodType = selectCustomerRes[0].blood_type
			},
			setGender: function() {
	            if(this.custTitle == 'Mrs.' || this.custTitle == 'Miss.') {
	                this.custSex = "F"
	            } else {
	                this.custSex = "M"
	            }
	        },
	        saveCustomer() {
	        	var self = this
	        	var custId = this.$route.params.id
	        	this.$validator.validate().then(result => {
	        		if(!result) {
	        			return
	        		} else {
	        			var saveQuery = "UPDATE `bloomy_customer` SET `nic`=?, `customer_title`=?, `customer_name`=?, `sex`=?, `dob`=?, `address`=?, `phone`=?, `email`=?, `blood_type`=? WHERE `id`=?"

	        			var dob = self.formatDate(self.custDob)

	        			var saveQueryParams = [self.custNIC, self.custTitle, self.custName, self.custSex, dob, self.custAddress, self.custPhone, self.custEmail, self.custBloodType, custId]

	        			var saveQueryArgs = JSON.stringify({query: saveQuery, params: saveQueryParams})
	        			self.$electron.ipcRenderer.sendSync('db-query', saveQueryArgs)

	        			self.$router.push({name: 'manage-customers'})

						self.flash('Customer data updated successfully', 'success')
	        		}
	        	})
	        },
	        formatDate(dateString, time=false, hrs24=true) {
				var date = new Date(dateString);
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ':00';
				if(!hrs24) {
					hours = hours % 12;
					hours = hours ? hours : 12; // the hour '0' should be '12'
					strTime = hours + ':' + minutes + ' ' + ampm;
				}
				
				var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
				var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
				if(time) {
					return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
				} else {
					return date.getFullYear() + "-" + monthVal + "-" + dayVal;
				}
				
			},
		},
		beforeMount() {
			this.getCustomerData()
		}
	};
</script>

<style lang="scss"></style>