<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Doctor <small v-once>({{ docData.doc_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Doctor</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-doctors'}"><font-awesome-icon :icon='["fas", "hospital"]' /> Manage Doctors</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="doc_name">Name</label>
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<select name="doc_title" v-model="docData.doc_title">
								<option value="Dr">Dr</option>
								<option value="PROF">PROF</option>
							</select>
						</div>
						<input type="text" name="doc_name" v-model="docData.doc_name" class="form-control form-control-sm" v-validate="'required'">
					</div>
					<div v-show="errors.first('doc_name')" class="help-text text-danger">{{ errors.first('doc_name') }}</div>
				</div>

				<div class="form-group">
					<label for="specialty">Phone</label>
					<input type="text" name="phone" v-model="docData.phone" class="form-control form-control-sm">
				</div>

				<div class="form-group">
					<label for="specialty">Specialty</label>
					<v-select name="specialty" id="specialty" :options="specialtyList" v-model="docData.specialty">
					</v-select>
				</div>

				<div class="form-group">
					<label for="specialty">Description</label>
					<input type="text" name="description" v-model="docData.description" class="form-control-sm form-control">
				</div>

				<div v-if="enableDoctorsPercentage" class="form-group">
					<div class="row">
						<div class="col-3">
							<label>Percentage</label>
							<div class="input-group input-group-sm">
								<input type="number" min="0" name="doc_percentage" class="form-control form-control-sm" v-model="docData.doc_percentage">
								<div class="input-group-append">
									<div class="input-group-text">%</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-info btn-sm" @click.prevent="saveDoctor">Save doctor</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import vSelect from 'vue-select'

	const Store = require('electron-store')
	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	const dictionary = {
  		en: {
  			attributes: {
  				doc_name: 'Name'
  			}
  		}
  	}

  	Validator.localize(dictionary)

	export default {
		name: 'doctor-edit',
		components: {
			FontAwesomeIcon,
			'voo-loader': VooLoading,
			'v-select': vSelect,
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				docData: this.getDoctor(),
				isLoading: false,
				specialtyList: this.docSpecialties(),
				enableDoctorsPercentage: elecStore.get('system_settings').lab_info.enableDoctorsPercentage,
			}
		},
		methods: {
			getDoctor: function() {
				var docId = this.$route.params.id ? this.$route.params.id : 0

				if(docId > 0) {
					var docSelectQuery = "SELECT * FROM `bloomy_ref_doctors` WHERE id=?"
					var docSelectQueryArgs = JSON.stringify({query: docSelectQuery, params: [docId]})

					var doctorData = this.$electron.ipcRenderer.sendSync('db-query', docSelectQueryArgs)

					return doctorData[0]
				} else {
					return {
						doc_title: 'Dr',
						doc_name: null,
						specialty: null,
						description: null,
						doc_percentage: null
					}
				}
			},
			saveDoctor: function() {
				var self = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						self.isLoading = true
						var docId = this.$route.params.id ? this.$route.params.id : 0

						if(docId == 0) {
							var insertQuery = "INSERT INTO `bloomy_ref_doctors` VALUES(NULL, ?,?,?,?,?,?)"
							var insertQueryParams = [self.docData.doc_title, self.docData.doc_name, self.docData.phone, self.docData.specialty, self.docData.description, self.docData.doc_percentage]
							var insertQueryArgs = JSON.stringify({query: insertQuery, params: insertQueryParams})

							self.$electron.ipcRenderer.sendSync('db-query', insertQueryArgs)
						} else {
							var updateQuery = "UPDATE `bloomy_ref_doctors` SET `doc_title`=?, `doc_name`=?, `phone`=?, `specialty`=?, `description`=?, `doc_percentage`=? WHERE `id`=?"
							var updateQueryParams = [self.docData.doc_title, self.docData.doc_name, self.docData.phone, self.docData.specialty, self.docData.description, self.docData.doc_percentage, docId]

							var updateQueryArgs = JSON.stringify({query: updateQuery, params: updateQueryParams})

							self.$electron.ipcRenderer.sendSync('db-query', updateQueryArgs)
						}
						
						self.$router.push({name: 'manage-doctors'})

						self.isLoading = false
						self.flash('Doctor information saved successfully', 'success')
					}
				})
			},
			docSpecialties: function () {
				return elecStore.get('app-config').doctorSpecialtyList
			}
		}
	};
</script>

<style lang="scss"></style>