<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Doctors</h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-doctor'}"><font-awesome-icon :icon='["fas", "user-md"]' /> Add new Doctor</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="refDoctors"
			@grid-search-event="gridSearch"></grid-view>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	const Store = require('electron-store')
	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'ref-doctor',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading
		},
		data() {
			return {
				isLoading: false,
				searchFeilds: {
					'Name': {type: 'textbox', input_id: 'name_search', elOptions: {width: '30%'}},
					'Phone': {},
					'Specialty': {type: 'textbox', input_id: 'specialty_search'},
					'Description': {type: 'textbox', input_id: 'desc_search'}
				},
				refDoctors: this.getDoctors(),
				enableDoctorsPercentage: elecStore.get('system_settings').lab_info.enableDoctorsPercentage,
			}
		},
		computed: {
			columnData() {
				if(this.enableDoctorsPercentage) {
					return [
						{
							value: 'Name'
						}, 
						{
							value: 'Phone',
						},
						{
							value: 'Specialty'
						}, 
						{
							value: 'Description'
						},
						{
							value: 'Percentage',
							options: {classes:['text-center']}
						}
					]
				} else {
					return [
						{
							value: 'Name'
						}, 
						{
							value: 'Phone',
						},
						{
							value: 'Specialty'
						}, 
						{
							value: 'Description'
						}
					]
				}
			}
		},
		methods: {
			getDoctors: function(searchStr=null) {
				var self = this
				var selectQuery = "SELECT * FROM `bloomy_ref_doctors`"

				if(searchStr) {
					selectQuery = "SELECT * FROM `bloomy_ref_doctors` WHERE `id`>0 " + searchStr
				}

				var selectQueryArgs = JSON.stringify({query: selectQuery, params: []})

				var doctorData = this.$electron.ipcRenderer.sendSync('db-query', selectQueryArgs)

				var doctorsObj = []
				doctorData.forEach(function(v){
					doctorsObj.push({
						id: {
							value: v.id
						},
						Name: {
							value: v.doc_title + ' ' + v.doc_name
						},
						Phone: {
							value: v.phone ? v.phone : 'n/a',
						},
						Specialty: {
							value: v.specialty ? v.specialty : 'n/a'
						},
						Description: {
							value: v.description ? v.description : 'n/a'
						},
						Percentage: {
							value: v.doc_percentage && v.doc_percentage > 0 ? v.doc_percentage + '%' : 'n/a',
							options: {show: self.enableDoctorsPercentage, classes:['text-center']}
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editDoctor.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.deleteDoctor.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return doctorsObj
			},
			gridSearch: function(searchParams) {
				var searchStr = ""
		    	var self = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Name') {
		    				searchStr += " AND (doc_title LIKE '" + searchParams[colKey.value] + "%' OR doc_name LIKE '%" + searchParams[colKey.value] + "%')"
		    			}
		    			if(colKey.value == 'Specialty') {
		    				searchStr += " AND specialty LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Description') {
		    				searchStr += " AND description LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    		}
		    	})

		    	this.refDoctors = this.getDoctors(searchStr)
			},
			editDoctor: function(docId) {
				this.$router.push({name: 'edit-doctor', params: {id: docId}})
			},
			deleteDoctor: function(docId) {
				var self = this
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage Doctors',
					message: 'Delete doector info',
					detail: 'Do you really need to delete this doctor?'
				}, function(btnInd){
					if(btnInd == 0) {
						self.isLoading = true
						var deleteDcQuery = "DELETE FROM `bloomy_ref_doctors` WHERE id=?"
						var deleteDcQueryArgs = JSON.stringify({query: deleteDcQuery, params: [docId]})

						self.$electron.ipcRenderer.sendSync('db-query', deleteDcQueryArgs)

						self.isLoading = false

						self.refDoctors.forEach(function(v, k){
							if(docId == v.id.value) {
								self.refDoctors.splice(k, 1)
							}
						})

						self.flash('Doctor information deleted successfully', 'success')
					} else {
						return
					}
				})
			}
		}
	};
</script>

<style lang="scss"></style>