<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>External laboratories</h4>
				</div>
				<div class="col-5 text-right">
					
				</div>
			</div>
		</div>

		<div class="external-labs">
	  		<p>If your laboratory sends specimens to other laboratories for testing, you can enable this feature and set the prices for the tests and percentages you get from each external lab. These values will be displayed in the "New invoice" form.</p>

	  		<div class="row">
	  			<div class="col-4">
	  				<div class="form-group">
	  					<label for="enable_external_labs">Enable external labs?</label>
	  					<div>
	  						<toggle-button
								v-model="enableExternalLabs"
								:width="70"
								:color="toggleButtonColors"
								:value="true"
								:sync="true"
								:labels="{checked: 'Enable', unchecked: 'Disable'}"
								@change="enableExtLabs" />
	  					</div>
	  				</div>
	  			</div>
	  			<div class="col-4">
	  				<div class="form-group" v-show="false">
	  					<label>Search Test Profiles</label>
	  					<div class="input-group input-group-sm">
	  						<input type="text" name="search_tests" v-model="searchTests" @keyup="filterTests" class="form-control form-control-sm" placeholder="Enter profile name here">
	  						<div class="input-group-append">
	  							<b-button variant="secondary" @click.prevent="resetFilter">
	  								<font-awesome-icon :icon="['fas', 'undo']" />
	  							</b-button>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  		</div>

	  		<div class="row content-row">
					<div class="col-4">
						<table width="100%">
							<thead>
								<tr>
									<th style="height: 120px;"></th>
									<th>Lab Name</th>
									<th class="text-center">%</th>
								</tr>
							</thead>
							<transition-group name="list" tag="tbody">
								<tr class="data-row" v-for="(lab, index) in extLabs" :key="'extlab'+index">
									<td>
										<b-button v-if="lab.is_deleted==1" v-show="lab.id" variant="outline-primary" size="sm btn-xs-text">
											<font-awesome-icon :icon="['fas', 'undo']" @click.prevent="restoreExtLab(lab.id, index)" fixed-width />
										</b-button>
										<b-button v-else v-show="lab.id" variant="outline-danger" size="sm btn-xs-text">
											<font-awesome-icon :icon="['fas', 'times']" @click.prevent="removeExtLab(lab.id, index)" fixed-width />
										</b-button>
									</td>
									<td width="80%">
										<input type="text" v-model="lab.lab_name" :class="['form-control', 'form-control-xm', {'text-danger':lab.is_deleted}]">
									</td>
									<td>
										<input type="number" min="0" v-model="lab.percentage" class="form-control form-control-sm form-control-xm">
									</td>
								</tr>
							</transition-group>
							<tfoot>
								<tr>
									<td colspan="3">
										<b-button variant="outline-dark" size="sm" class="btn-xs-text" style="margin-top: 10px;" @click="addMoreExtLabs"><font-awesome-icon :icon='["fas", "plus"]' /> Add more</b-button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col-8">
						<div class="scroll-panel">
							<table>
								<thead>
									<tr v-if="testProfiles.length == 0">
										<th>
											<div class="text-center no-data-label">No tests profiles found</div>
										</th>
									</tr>
									<tr v-else>
										<th v-for="(tp, tindex) in testProfiles" :key="'tp'+tindex">
											<div class="profile-name-title" :title="tp.profile_name">
												{{ tp.profile_name }}<br/>
												<b-badge variant="secondary">Rs. {{ tp.price }}</b-badge>
											</div>
										</th>
									</tr>
								</thead>
								<transition-group name="list" tag="tbody">
									<tr class="data-row" v-for="(el, elIndex) in extLabs" :key="'elr'+elIndex">
										<td :class="['data-cell', {'danger': !elt.price || elt.price==0}]" v-for="(elt, eltIndex) in el.prices" :key="'elt'+eltIndex">
											<input type="number" min="0" v-model="elt.price" class="form-control form-control-sm form-control-xm">
										</td>
									</tr>
								</transition-group>
							</table>
						</div>
					</div>
				</div>
				<br/>
				<div class="text-right">
					<b-button variant="info" size="sm" @click.prevent="saveExternalLabs">Save external labs data</b-button>
				</div>		  				
	  	</div>
  	</div>
</template>

<script>
	import { remote } from 'electron'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	const Store = require('electron-store')
	const elStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'external-labs',
		components: {
			FontAwesomeIcon,
			Validator,
		},
		data() {
			return {
				enableExternalLabs: elStore.get('system_settings').exteralLabSettings.enabled,
				toggleButtonColors: {checked: '#28a745', unchecked: '#dc3545'},

				extLabs: this.getExternalLabs(),
				testProfiles: this.getTestProfiles(),
				searchTests: null,
			}
		},
		methods: {
			filterTests() {
				this.extLabs = this.getExternalLabs(this.searchTests)
				this.testProfiles = this.getTestProfiles(this.searchTests)
			},
			resetFilter() {
				this.searchTests = null
				this.extLabs = this.getExternalLabs(this.searchTests)
				this.testProfiles = this.getTestProfiles(this.searchTests)
			},
			getExternalLabs(searchStr=null) {
				var self = this
				var selExtLabsQuery = "SELECT * FROM `bloomy_external_labs`"
				var selExtLabsQueryArgs = JSON.stringify({query: selExtLabsQuery, params: []})
				var extLabsRes = this.$electron.ipcRenderer.sendSync('db-query', selExtLabsQueryArgs)
				//console.log(extLabsRes)
				//extLabsRes = []
				var extLabData = []
				if(extLabsRes.length > 0) {
					extLabsRes.forEach(function(v){

						var labPriceData = []
						var testPrifiles = self.getTestProfiles(searchStr)
						testPrifiles.forEach(function(tp) {
							var selLabPricesQuery = "SELECT * FROM `bloomy_external_labs_test_price` WHERE `profile_id`=? AND `lab_id`=?"
							var selLabPricesQueryArgs = JSON.stringify({query: selLabPricesQuery, params: [tp.id, v.id]})
							var labPricesRes = self.$electron.ipcRenderer.sendSync('db-query', selLabPricesQueryArgs)

							if(labPricesRes.length > 0) {
								labPricesRes.forEach(function(p){
									labPriceData.push({
										profile_id: p.profile_id,
										price: p.price
									})
								})
							} else {
								labPriceData.push({
									profile_id: tp.id,
									price: 0
								})
							}							
						})

						extLabData.push({
							id: v.id,
							lab_name: v.lab_name,
							percentage: v.percentage,
							prices: labPriceData,
							is_deleted: v.is_deleted,
						})
					})
				} else {
					var testPrifiles = self.getTestProfiles()
					var labPriceData = []
					testPrifiles.forEach(function(tp) {
						labPriceData.push({
							profile_id: tp.id,
							price: 0
						})
					})

					extLabData.push({
						id: null,
						lab_name: null,
						percentage: null,
						prices: labPriceData,
						is_deleted: 0,
					})
				}
				//console.log(extLabData)
				return extLabData
			},
			addMoreExtLabs() {
				var testPrifiles = this.testProfiles
				var labPriceData = []
				testPrifiles.forEach(function(tp) {
					labPriceData.push({
						profile_id: tp.id,
						price: 0
					})
				})

				this.extLabs.push({
					id: null,
					lab_name: null,
					percentage: null,
					prices: labPriceData
				})
			},
			removeExtLab(labId, itemIndex) {
				var _this = this
				if(!labId) {
					this.extLabs.splice(itemIndex, 1)
				} else {
					remote.dialog.showMessageBox(
						remote.getCurrentWindow(), {
						buttons: ['Yes', 'No'],
						type: 'question',
						title: 'System settings',
						message: 'Delete external lab?',
						detail: 'Do you really want to delete this external lab?'
					}, function(btnIndex){
						if(btnIndex == 0) {
							var extLabDeleteQuery = "UPDATE `bloomy_external_labs` SET `is_deleted`=? WHERE `id`=?"
							var extLabDelQueryArgs = JSON.stringify({query: extLabDeleteQuery, params:[1, labId]})

							_this.$electron.ipcRenderer.sendSync('db-query', extLabDelQueryArgs)

							_this.extLabs.forEach(function(v, k){
								if(v.id == labId) {
									_this.extLabs[k].is_deleted = 1
								}
							})

							_this.flash('External lab is deleted', 'success')
						} else {
							return
						}
					})
				}
			},
			restoreExtLab(labId) {
				var _this = this
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'System settings',
					message: 'Restore external lab?',
					detail: 'Do you really want to restore this external lab?'
				}, function(btnIndex){
					if(btnIndex == 0) {
						var restoreExtLabQuery = "UPDATE `bloomy_external_labs` SET `is_deleted`=? WHERE `id`=?"
						var restoreExtLabQueryArgs = JSON.stringify({query: restoreExtLabQuery, params: [0,labId]})

						_this.$electron.ipcRenderer.sendSync('db-query', restoreExtLabQueryArgs)

						_this.extLabs.forEach(function(v, k){
							if(v.id == labId) {
								_this.extLabs[k].is_deleted = 0
							}
						})

						_this.flash('External restored', 'success')
					} else {
						return
					}
				})
				
			},
			getTestProfiles(searchStr=null) {
				var selTestProfilesQuery = "SELECT * FROM `bloomy_profiles` ORDER BY `profile_name` ASC"

				if(searchStr) {
					selTestProfilesQuery = "SELECT * FROM `bloomy_profiles` WHERE `profile_name` LIKE '%" + searchStr + "%' ORDER BY `profile_name` ASC"
				}
				
				var selTestProfilesQueryArgs = JSON.stringify({query: selTestProfilesQuery, params: []})
				var testProfilesRes = this.$electron.ipcRenderer.sendSync('db-query', selTestProfilesQueryArgs)

				return testProfilesRes
			},
			saveExternalLabs() {
				// save external lab settings
				var _this = this

				var deleteExistingPricesQuery = "DELETE FROM `bloomy_external_labs_test_price`"
				var deleteQueryArgs = JSON.stringify({query: deleteExistingPricesQuery, params: []})
				var deleteRes = this.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)
				//console.log(this.extLabs)
				//return

				var nullPercentage = false
				this.extLabs.forEach(function(v) {
					var saveExternalLabDataQuery = "INSERT INTO `bloomy_external_labs`(`lab_name`, `percentage`) VALUES(?,?)"
					var saveExternalLabQueryParams = []

					if(!v.percentage || v.percentage == "") {
						nullPercentage = true
					}

					if(v.id) {
						saveExternalLabDataQuery = "UPDATE `bloomy_external_labs` SET `lab_name`=?, `percentage`=? WHERE `id`=?"
						saveExternalLabQueryParams.push(v.lab_name, v.percentage, v.id)
					} else {
						saveExternalLabQueryParams.push(v.lab_name, v.percentage)
					}

					if(!nullPercentage) {
						var saveLabQueryArgs = JSON.stringify({query: saveExternalLabDataQuery, params: saveExternalLabQueryParams})
						var saveQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', saveLabQueryArgs)
						var extLabId = saveQueryRes.insertId

						if(v.id) {
							extLabId = v.id
						}

						// save prices
						var insertTestPricesQuery = "INSERT INTO `bloomy_external_labs_test_price` VALUES ?"						
						//console.log(v.prices)
						var insertParams = []
						v.prices.forEach(function(p){
							var priceVal = p.price ? p.price : 0
							insertParams.push([
								extLabId,
								p.profile_id,
								priceVal
							])									
						})
	 	
						var insertPricesQueryArgs = JSON.stringify({query: insertTestPricesQuery, params: [insertParams]})
						_this.$electron.ipcRenderer.sendSync('db-query', insertPricesQueryArgs)
					}
				})

				if(!nullPercentage) {
					this.flash('External labs data saved', 'success')
				} else {
					remote.dialog.showMessageBox({
						buttons: ['OK'],
						type: 'warning',
						title: 'External Labs',
						message: 'You must enter Percentage values',
						detail: 'Please enter Percentage values for all External Labs'
					}, function(indBtn){
						return
					})

					return
				}
				
			},
			enableExtLabs(stateObj) {
				//console.log('enable ext labs', stateObj)
				elStore.set('system_settings.exteralLabSettings', {enabled: stateObj.value})

				if(stateObj.value) {
					this.flash('External labs enabled', 'success')
				} else if(!stateObj.value) {
					this.flash('External labs disabled', 'success')
				} else {
					this.flash('External labs enable/disable failed!', 'error')
				}
				
			}
		}
	};
</script>

<style lang="scss">
	.external-labs {
		.scroll-panel {
			overflow-y: auto;

			table {
				thead {
					tr {
						th {
							height: 120px;

							div.profile-name-title {
								width:120px;
								height: 120px;
								transform: rotate(-90deg);
								font-size: 11px;
								padding-left: 5px;
								border-bottom: 1px dashed #999;
								vertical-align: middle;

								.badge {
									padding: 4px 5px;
									font-size: 11px;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}

		.form-control-xm {
			padding: 3px 5px;
    		font-size: 0.7rem;
		}

		.btn-xs-text {
			padding: 3px 5px;
		}

		table {
			thead {
				tr {
					th {
						height: 120px;
						font-weight: 500;
						font-size: 0.8rem;
						vertical-align: bottom;
					}
				}
			}

			tbody {
				td.danger {
					input {
						border: 1px dashed #dc3545;
						background: #ffeaea;
					}						
				}
			}
		}
	}
</style>