<template>
	<div class="container-fluid">
		<div v-show="!asAPartial" class="page-title">
			<div class="row">
				<div class="col-7">
					<h4><font-awesome-icon :icon="['fas', 'tint']" /> Fluid types</h4>
				</div>
				<div class="col-5 text-right">
					
				</div>
			</div>
		</div>

		<div class="row">
			<div :class="[{'col-8 offset-2': !asAPartial, 'col-12':asAPartial}]">
				<div :class="[{'row': !asAPartial}]">
					<div v-show="!asAPartial" class="col-6">
						<grid-view
							width="100%"
							:columns="columnData"
							:searchfeilds="searchFeilds"
							:data="fluidTypes"></grid-view>
					</div>
					<div :class="[{'col-5':!asAPartial}]">
						<div :class="{'fluid-editor-panel': !asAPartial}">
							<h5 v-show="!asAPartial"><span v-if="currentId==0">Add new</span><span v-else>Edit</span> fluid type</h5>
							<div class="form-group">
								<label>Fluid type</label>
								<input type="text" name="fluid_type_name" @keyup.enter="saveFluidType" v-model="fluidType" class="form-control form-control-sm">
								<div v-show="!asAPartial" class="important-text">Remember to click on <b>Reset</b> button before adding a new Fluid type</div>
					  		</div>

				  			<div class="form-group">
					  			<button class="btn btn-info btn-sm" @click.prevent="saveFluidType">Save</button>
					  			<button class="btn btn-secondary btn-sm" @click.prevent="resetForm" v-show="!asAPartial">Reset</button>
					  		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import GridView from './GridView'

	export default {
		name: 'fluid-types',
		components: {
			FontAwesomeIcon,
			GridView
		},
		props: {
			asAPartial: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				fluidType: null,
				fluidTypes: this.getFluidTypes(),
				columnData: [
				{
					value: 'Fluid type'
				}],
				searchFeilds: null,
				currentId: 0
			}
		},
		methods: {
			getFluidTypes: function() {
				var self = this
				var queryString = "SELECT * FROM `bloomy_fluid_types`"
				var queryArgs = JSON.stringify({query: queryString, params: []})

				var fluidTypesData = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var fluidTypeObj = []
				fluidTypesData.forEach(function(v) {
					fluidTypeObj.push({
						id: {
							value: v.id
						},
						'Fluid type': {
							value: v.fluid_type_name
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editFluidType.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.removeFluidType.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return fluidTypeObj
			},
			saveFluidType: function() {
				var self = this

				if(!self.fluidType || self.fluidType == "") {
					self.flash('Enter a fluid type', 'warning')
					return
				}

				var valExists = false
				self.fluidTypes.forEach(function(v){
					if(v.id != self.currentId && self.fluidType == v['Fluid type'].value) {
						valExists = true
					}
				})

				if(valExists) {
					self.flash('Fluid type already exists', 'warning')
					return
				}

				// check for existance
				if(self.currentId == 0) {
					var insertQuery = "INSERT INTO `bloomy_fluid_types` VALUES(NULL, ?)"
					var insertQueryArgs = JSON.stringify({query: insertQuery, params: [self.fluidType]})
					
					var insertRes = self.$electron.ipcRenderer.sendSync('db-query', insertQueryArgs)

					if(!self.asAPartial) {
						self.fluidTypes.push({
							id: {
								value: insertRes.insertId
							},
							'Fluid type': {
								value: self.fluidType
							},
							'acBtns': [
								{btnclass: 'btn-outline-dark', onClickFn: self.editFluidType.bind(self, insertRes.insertId), title: 'edit', icon: 'edit'},
								{btnclass: 'btn-outline-danger', onClickFn: self.removeFluidType.bind(self, insertRes.insertId), title: 'delete', icon: 'trash-alt'}
							]
						})
					}

					if(self.asAPartial) {
						self.$emit('fluid-type-saved', {id: insertRes.insertId, name: self.fluidType})
					}
					
					self.resetForm()

					self.flash('Fluid type added successfully', 'success')
				} else {
					// update fluid type
					var updateQuery = "UPDATE `bloomy_fluid_types` SET `fluid_type_name`=? WHERE id=?"
					var updateQueryArgs = JSON.stringify({query: updateQuery, params: [self.fluidType, self.currentId]})

					self.$electron.ipcRenderer.sendSync('db-query', updateQueryArgs)

					self.fluidTypes.forEach(function(v, k){
						if(v.id.value == self.currentId) {
							self.fluidTypes[k]['Fluid type'].value = self.fluidType
						}
					})

					self.resetForm()

					self.flash('Fluid type updated successfully', 'success')
				}
			},
			resetForm: function() {
				this.fluidType = null
				this.currentId = 0
			},
			editFluidType: function(fId) {
				var self = this
				this.fluidTypes.forEach(function(v){
					if(fId == v.id.value) {
						self.fluidType = v['Fluid type'].value
						self.currentId = fId
					}
				})
			},
			removeFluidType: function(fId) {
				var self = this

				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage fluid types',
					message: 'Delete fluid type',
					detail: 'Do you really need to delete this fluid type?'
				}, function(btnInd){
					if(btnInd == 0) {
						var deleteQuery = "DELETE FROM `bloomy_fluid_types` WHERE id=?"
						var deleteQueryArgs = JSON.stringify({query: deleteQuery, params: [fId]})

						self.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)

						self.fluidTypes.forEach(function(v, k){
							if(fId == v.id.value) {
								self.fluidTypes.splice(k, 1)
							}
						})

						self.flash('Fluid type deleted successfully', 'success')
					} else {
						return
					}
				})
			}
		}
	};
</script>

<style lang="scss">
	.fluid-editor-panel {
		position: fixed;
		top: 30%;
		right: 100px;
	}
</style>