<template>
	<div class="app-footer">
		<div class="col-12">
			<div class="row">
				<div class="col-3 footer-col">
					<v-clock />
				</div>
				<div class="col-3 footer-col">
					<div class="row">
						<div class="col-4">
							<div class="pending-count" @click.prevent="goToTestResults" v-b-tooltip.hover title="pending tests">
								<div v-if="pendingCount > 0">
									Pending <b-badge pill variant="danger">{{ pendingCount }}</b-badge>	
								</div>
								<div v-else>
									Pending <b-badge pill variant="success">{{ pendingCount }}</b-badge>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="stock-watcher" v-show="isWatcherEnabled">
								<b-dropdown id="stock_watcher_status" dropup size="sm" class="watcher-dropdown-text" no-caret>
									<template slot="button-content">
										Watcher <b-badge pill :variant="watcherItems.length==0 ? 'success' : 'danger'">{{ watcherItems.length }}</b-badge>
									</template>
									<b-dropdown-header>
										Reagents watcher
									</b-dropdown-header>
									<b-dropdown-item v-if="watcherItems.length==0" class="wathcer-dropdown-item">
										<span><font-awesome-icon class="text-success" :icon="['fas', 'check']"></font-awesome-icon> Everything looks good!</span>
									</b-dropdown-item>
									<b-dropdown-item :to="{name: 'stock-item-edit', params:{id: wItem.id}}" v-for="(wItem, index) in watcherItems" :key="'watcher'+index" class="wathcer-dropdown-item">
										<div class="watcher-item float-left">{{ wItem.name }}</div>
										<div class="wathcer-remain float-right"><b-badge :class="wItem.badgeClass">{{ wItem.remain }}</b-badge></div>
									</b-dropdown-item>
								</b-dropdown>
							</div>
						</div>
						<div class="col-4">
							<div v-if="backupReminder && watchBackupReminder">
								<font-awesome-icon v-b-tooltip.hover title="Reminder: Backup your data" :icon="['fas', 'bell']" class="footer-item text-danger blink" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-2 footer-col">
					<div class="row">
						<div class="col-4">
							<div :class="['footer-item', {'bcs-enabled': bcsEnabled, 'bcs-disabled': !bcsEnabled}]">
								<font-awesome-icon v-b-tooltip.hover :title="barcodeScannerTitle" :icon="['fas', 'sun']" />
							</div>
						</div>
						<div class="col-4">
							<div v-if="isClient" :class="['footer-item', {'main-con-ok': mainStationConnected, 'main-con-fail': !mainStationConnected}]">
								<font-awesome-icon v-if="mainStationConnected" v-b-tooltip.hover :title="mainStationConTitle" :icon="['fas', 'database']" />
								<font-awesome-icon v-else v-b-tooltip.hover :title="mainStationConTitle" :icon="['fas', 'sync']" pulse />&nbsp;<b>S</b>
							</div>
							<div v-else :class="['footer-item']">
								<font-awesome-icon v-b-tooltip.hover title="Main station" :icon="['fas', 'database']" />&nbsp;<b>M</b>
							</div>
						</div>
						<div class="col-4"></div>
					</div>
				</div>
				<div class="col-4 footer-col">
					<div class="row">
						<div class="col-10">
							<font-awesome-icon :icon="['fas', 'print']" v-b-tooltip.hover title="Printers(s) connected" /> (Invoice) {{ invoicePrinterDevice }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ reportPrinterDevice }}
						</div>
						<div class="col-2">
							<div class="process-status text-right">
								<font-awesome-icon v-b-tooltip.hover :title="appStatusTitle" :class="iconClasses" :icon="faIcon"></font-awesome-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<vu-modal
	        name="main_station_con_modal"
	        width="40%"
	        height="auto"
	        :clickToClose="false"
	        :classes="['main-station-status-modal']">
	        <div class="main-station-con-modal-content">
	        	<h5 class="text-center"><font-awesome-icon class="text-warning" :icon="['fas', 'exclamation-triangle']" /> Connection with Main station dropped!</h5>
	        	<ol class="check-list">
	        		<li>Make sure that, the Main station is up and running.</li>
	        		<li>Make sure that, the BlossomLabs application is up and running.</li>
	        		<li>Check the network connection - WiFi router or ethernet cable connection.</li>
	        	</ol>
	        	<h6 class="text-center">Waiting for connection...</h6>
	        	<div class="loading-anim">
	        		<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
	        	</div>
	        	<div class="text-center">
	        		<b-button variant="dark" size="sm" class="btn-xx" @click.prevent="checkCon">Re-connect</b-button>
	        	</div>
	        </div>
	    </vu-modal>	
	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import Clock from './Clock'

	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})
  	
	const LAB_TECH = elecStore.get('app-config').UTYPE_LAB_TECH
	const SYS_ADMIN = elecStore.get('app-config').UTYPE_SYS_ADMIN
	const CASHIER = elecStore.get('app-config').UTYPE_CAHIER

	export default {
		name: 'b-footer',
		components: {
			FontAwesomeIcon,
			'v-clock': Clock
		},
		props: {
			currentAppState: 'ready'
		},
		data() {
			return {
				for_admin: elecStore.get('isLogedIn') && elecStore.get('user').type == SYS_ADMIN,
	    		for_mlt: elecStore.get('isLogedIn') && elecStore.get('user').type == LAB_TECH,
				watcherStatus: this.$store.state.Watcher.triggerWatch,
				currentWatcherItems: this.getCurrentWatchItems(),
				isClient: elecStore.get('main_config').system_type == 'client',
				isWatcherEnabled: elecStore.get('system_settings') && elecStore.get('system_settings').bl_settings && elecStore.get('system_settings').bl_settings.enableReagentWatcher,
				backupReminder: this.getBackupReminder()
				//invoicePrinterDevice: elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && elecStore.get('system_settings').print_settings.printInvoiceInTheSameComputer ? elecStore.get('system_settings').print_settings.blInvoicePrinterDevice == '' ? 'Default printer' : elecStore.get('system_settings').print_settings.blInvoicePrinterDevice : "printing disabled",
				//reportPrinterDevice: elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && elecStore.get('system_settings').print_settings.blPrinterDevice && elecStore.get('system_settings').print_settings.blPrinterDevice != '' ? elecStore.get('system_settings').print_settings.blPrinterDevice : 'Default printer'
			}
		},
		computed: {
			watchBackupReminder: function() {
				console.log('backup reminder')
				if(this.$store.state.AppState.backupDone) {
					return false
				} else {
					return true
				}
			},
			appStatusTitle: function() {
				var title = "Ready"
				if(this.$store.state.AppState.appState == 'printing') {
					title = "Printing"
				}

				return title
			},

			faIcon: function() {
				var icon = ['fas', 'check-circle']
				if(this.$store.state.AppState.appState == 'printing') {
					icon = ['fas', 'print']
				}

				return icon
			},
			iconClasses: function() {
				var cssClasses = ['text-dark']
				if(this.$store.state.AppState.appState == 'printing') {
					cssClasses = ['text-dark', 'blink']
				}

				return cssClasses
			},
			pendingCount: function() {
				return this.$store.state.PendingTest.pendingTestCount
			},
			watcherClass: function() {
				if(this.watcherItems.length > 0) {
					return 'stock-danger'
				} else {
					return 'stock-ok'
				}
			},
			watcherItems: function() {
				//console.log('watcher trigggggered', this.$store.state.Watcher.triggerWatch)

				if(this.$store.state.Watcher.triggerWatch) {
					var stockItemsArray = []

					var getReagentsQuery = "SELECT * FROM `bloomy_stock_item` WHERE `remain` < `threshold`"
					var getReagentsQueryArgs = JSON.stringify({query: getReagentsQuery, params: []})

					var reagentsRes = this.$electron.ipcRenderer.sendSync('db-query', getReagentsQueryArgs)

					reagentsRes.forEach(function(v) {
						var badgeClass = 'badge-warning'
						if(v.remain < 0) {
							badgeClass = 'badge-danger'
						}

						stockItemsArray.push({
							id: v.id,
							name: v.item_name,
							remain: v.remain + ' ' + v.unit,
							badgeClass: badgeClass
						})
					})

					this.currentWatcherItems = stockItemsArray
					
					if(this.isWatcherEnabled && stockItemsArray.length > 0) {
						this.flash('<b>Reagent stock warning detected.</b><br/>Please pay your attention!', 'warning')
					}

					this.$store.dispatch('Watcher/resetWatch')	
					return stockItemsArray				
				} else {
					return this.currentWatcherItems
				}
			},
			bcsEnabled: function() {
				return this.$store.state.AppState.bcsEnabled
			},
			barcodeScannerTitle: function() {
				if(this.bcsEnabled) {
					return "Barcode scanner connected"
				} else {
					return "Barcode scanner not connected"
				}
			},
			mainStationConnected: function() {
				return this.$store.state.AppState.mainStationConnected
			},
			mainStationConTitle: function() {
				if(this.mainStationConnected) {
					return 'Main station connected'
				} else {
					return 'Main station disconnected'
				}
			},
			invoicePrinterDevice: function() {
				if(this.watchSettingChange) {
					return elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && elecStore.get('system_settings').print_settings.printInvoiceInTheSameComputer ? elecStore.get('system_settings').print_settings.blInvoicePrinterDevice == '' ? 'Default printer' : elecStore.get('system_settings').print_settings.blInvoicePrinterDevice : "printing disabled"
				} else {
					return elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && elecStore.get('system_settings').print_settings.printInvoiceInTheSameComputer ? elecStore.get('system_settings').print_settings.blInvoicePrinterDevice == '' ? 'Default printer' : elecStore.get('system_settings').print_settings.blInvoicePrinterDevice : "printing disabled"
				}
			},
			reportPrinterDevice: function() {
				if(this.watchSettingChange) {
					return elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && elecStore.get('system_settings').print_settings.blPrinterDevice && elecStore.get('system_settings').print_settings.blPrinterDevice != '' ? elecStore.get('system_settings').print_settings.blPrinterDevice : 'Default printer'
				} else {
					return elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && elecStore.get('system_settings').print_settings.blPrinterDevice && elecStore.get('system_settings').print_settings.blPrinterDevice != '' ? elecStore.get('system_settings').print_settings.blPrinterDevice : 'Default printer'
				}
			},
			watchSettingChange: function() {
				return this.$store.state.SettingChanged.isSettingChanged
			}
		},
		methods: {
			getBackupReminder() {
				var today = this.$moment(new Date().getTime()).format("YYYYMMDD")
				//var sevenDaysBefore = this.$moment(new Date().getTime()).subtract(7, 'days').format("YYYYMMDD")
				//var thirtyDaysBefore = this.$moment(new Date().getTime()).subtract(30, 'days').format("YYYYMMDD")
				var todayDateVal = this.$moment(new Date().getTime()).format("D")
				var dayOfWeek = this.$moment(new Date().getTime()).format("d")
				var lastBackupTime = this.$moment(elecStore.get('main_config').last_backup_time).format("YYYYMMDD")
				var isBackupEnabled = elecStore.get('system_settings') && elecStore.get('system_settings').backup_settings ? elecStore.get('system_settings').backup_settings.enableBackupReminder: null
				var remindFreq = elecStore.get('system_settings') && elecStore.get('system_settings').backup_settings ? elecStore.get('system_settings').backup_settings.frequency : null
				var reminderValue = elecStore.get('system_settings') && elecStore.get('system_settings').backup_settings ? elecStore.get('system_settings').backup_settings.value : null
				console.log('ssssssss', dayOfWeek, reminderValue)
				if(isBackupEnabled) {
					if(today > lastBackupTime) {
						if(remindFreq == 'daily') {
							return true
						} else if(remindFreq == 'monthly' && parseInt(reminderValue) >= parseInt(todayDateVal)) {
							return true
						} else if(remindFreq == 'weekly' && parseInt(dayOfWeek) >= parseInt(reminderValue)) {
							return true
						} else {
							return false
						}
					} else {
						return false
					}
				}
			},
			getPendingTests: function() {
				var pendingTestQuery = "SELECT COUNT(`id`) as pending_count FROM `bloomy_invoice` WHERE `ext_lab`=0 AND `status` < ?"
				var pendingTestQueryArgs = JSON.stringify({query: pendingTestQuery, params: [elecStore.get('app-config').INVOICE_STATUS_PRINTED]})
				var pendingTestQueryRes = this.$electron.ipcRenderer.sendSync('db-query', pendingTestQueryArgs)

				this.$store.dispatch('PendingTest/setPendingTestCount', pendingTestQueryRes[0].pending_count)

				this.$electron.ipcRenderer.send('invoice-count', pendingTestQueryRes[0].pending_count)

				return pendingTestQueryRes[0].pending_count
			},
			goToTestResults: function() {
				if(this.for_admin || this.for_mlt) {
					this.$router.push({name: 'add-test-results'})
				}				
			},
			getCurrentWatchItems() {
				var stockItemsArray = []

				var getReagentsQuery = "SELECT * FROM `bloomy_stock_item` WHERE `remain` < `threshold`"
				var getReagentsQueryArgs = JSON.stringify({query: getReagentsQuery, params: []})

				var reagentsRes = this.$electron.ipcRenderer.sendSync('db-query', getReagentsQueryArgs)

				reagentsRes.forEach(function(v){
					var badgeClass = 'badge-warning'
					if(v.remain < 0) {
						badgeClass = 'badge-danger'
					}

					stockItemsArray.push({
						id: v.id,
						name: v.item_name,
						remain: v.remain + ' ' + v.unit,
						badgeClass: badgeClass
					})
				})

				return stockItemsArray
			},
			checkCon() {
				var _this = this
				const io = require("socket.io-client")
				var ioClient = io.connect(`http://${elecStore.get('main_config').server}:3000`)
				//console.log('init IO client footer: ', ioClient)

				ioClient.on('connect', () => {
					_this.$store.dispatch('AppState/setMainStationCon', true)
					_this.$modal.hide('main_station_con_modal')
				})

				/* this wakeup mesage send every time Main station is bootup.
					connection will be established even if the Main station is restarted
					Sometimes auto connection is not working. So, this method is reliable */
				ioClient.on('wakeup', (message) => {
					if(message) {
						_this.$store.dispatch('AppState/setMainStationCon', true)
				  		_this.$modal.hide('main_station_con_modal')
					}
				})

				ioClient.on('connect_error', (error) => {
				  	_this.$store.dispatch('AppState/setMainStationCon', false)
	            	_this.$modal.show('main_station_con_modal')
				})

				ioClient.on('connect_timeout', (timeout) => {
				  	_this.$store.dispatch('AppState/setMainStationCon', false)
	            	_this.$modal.show('main_station_con_modal')
				})

				ioClient.on('disconnect', (reason) => {
					_this.$store.dispatch('AppState/setMainStationCon', false)
	            	_this.$modal.show('main_station_con_modal')

					if(reason === 'io server disconnect') {
						ioClient.connect()
					}
				})

				ioClient.on('reconnect', (attemptNumber) => {
				  _this.$store.dispatch('AppState/setMainStationCon', true)
				  _this.$modal.hide('main_station_con_modal')
				})
			}
		},
		beforeMount() {
			this.getPendingTests()
		},
		mounted() {
			var _this = this
			// trigger wathcer for the first time
            this.$store.dispatch('Watcher/setWatchTrigger')
            if(elecStore.get('main_config').system_type == 'client') {
            	this.checkCon()
			}

            this.$electron.ipcRenderer.on('new-invoice-count', function(event, newInvoiceCount){
            	//console.log('set new invoice count came from others', newInvoiceCount)
        		_this.$store.dispatch('PendingTest/setPendingTestCount', newInvoiceCount)
        	})
		}
	};
</script>

<style lang="scss">
	$textColor: #374548;
	$lightBgColor: #e8eced;
	$disabled: #5a5a5a;

	.main-station-status-modal {
		background: #efefef;
	}
	
	.app-footer {
		position: fixed;
		width: 100%;
		height: 25px;
		bottom: 0px;
		left: 0px;
		background: #bbbbbb;
    	border-top: 1px solid #a9a9a9;
    	z-index: 999;

    	.footer-col {
    		font-size: 0.7rem;
    		padding: 3px 5px;
		    color: #313131;
    		font-weight: 500;
    		border-left: 1px solid #989898;

    		.process-status {
    			margin-right: 10px;
    		}

    		.pending-count {
    			cursor: pointer;
    		}

    		#stock_watcher_status {
    			.dropdown-header {
    				background: #c7c7c7;
				    padding: 0.3rem 1rem;
				    color: #383838;
				    margin-bottom: 3px;
				    font-size: 0.8rem;
    			}

    			button {
    				background: none;
				    border: none;
				    padding: 0;
				    color: inherit;
				    font-size: inherit;
				    font-weight: inherit;
    			}

    			.dropdown-menu {
    				background: $lightBgColor;
    				color: $textColor;
    				margin-bottom: 0px;
    				padding: 3px;
    			}

    			.wathcer-dropdown-item {
    				min-width: 250px;
    				color: $textColor;
    				border-bottom: 1px dashed #c1c1c1;
    				overflow: hidden;
				    padding: 3px 10px;
				    font-weight: 500;

				    .watcher-item {
				    	font-size: 0.7rem;
				    }
    			}

    			.wathcer-dropdown-item:hover, .wathcer-dropdown-item:focus {
    				background: #ddd;
    				outline: 0;
    			}
    		}

    		.stock-ok {
    			button {
    				color: #098c15;

					 a, a:hover, a:visited, a.hover, a.visited, a:focus, a.focus {
					 	color: #098c15;
					 }
    			}
				
			}

			.stock-danger {
				button {
					color: #dc3545;

					a, a:hover, a:visited, a.hover, a.visited, a:focus, a.focus {
					 	color: #dc3545;
				 	}
				}
				
			}

			.bcs-disabled {
				color: $disabled;
			}

			.bcs-enabled {
				color: #ff0066;
			}

			.main-con-ok {
				color: #007bff;
			}

			.main-con-fail {
				color: #dc3545;
			}

			.footer-item {
				display: inline-block;
				margin-right: 20px;
			}
    	}

    	.footer-col:nth-child(1) {
    		border-left: none;
    	}

    	.main-station-con-modal-content {
    		padding: 20px 30px;
    		font-size: 0.9rem;

    		ol.check-list {
    			text-align: left;
    			margin-bottom: 10px;
    			padding-left: 5px;
    		}

    		.loading-anim {
    			text-align: center;

    			.lds-ellipsis {
				  display: inline-block;
				  position: relative;
				  width: 64px;
				  height: 20px;
				}
				.lds-ellipsis div {
				  position: absolute;
				  top: 3px;
				  width: 8px;
				  height: 8px;
				  border-radius: 50%;
				  background: #6c757d;
				  animation-timing-function: cubic-bezier(0, 1, 1, 0);
				}
				.lds-ellipsis div:nth-child(1) {
				  left: 6px;
				  animation: lds-ellipsis1 0.6s infinite;
				}
				.lds-ellipsis div:nth-child(2) {
				  left: 6px;
				  animation: lds-ellipsis2 0.6s infinite;
				}
				.lds-ellipsis div:nth-child(3) {
				  left: 26px;
				  animation: lds-ellipsis2 0.6s infinite;
				}
				.lds-ellipsis div:nth-child(4) {
				  left: 45px;
				  animation: lds-ellipsis3 0.6s infinite;
				}
				@keyframes lds-ellipsis1 {
				  0% {
				    transform: scale(0);
				  }
				  100% {
				    transform: scale(1);
				  }
				}
				@keyframes lds-ellipsis3 {
				  0% {
				    transform: scale(1);
				  }
				  100% {
				    transform: scale(0);
				  }
				}
				@keyframes lds-ellipsis2 {
				  0% {
				    transform: translate(0, 0);
				  }
				  100% {
				    transform: translate(19px, 0);
				  }
				}
    		}
    	}
	}
</style>