<template>
	<div>
		<table :width="gridWidth" class="grid-table">
			<thead>
				<tr class="grid-header">
					<th class="text-center" width="2%">#</th>
					<th v-for="(key, gvh_ind) in columns"
			          @click="sortBy(key.value)"
			          :class="[key.options && key.options.classes ? key.options.classes : '', { active: sortKey == key.value }]"
			          :width="key.options && key.options.width ? key.options.width : ''"
			          :key="'grid_head'+gvh_ind"
			          :title="key.value | capitalize">
			          <span class="col-header-text text-truncate">{{ key.value | capitalize }}</span>&nbsp;<span class="arrow" :class="sortOrders[key.value] > 0 ? 'asc' : 'dsc'">
			          </span>
			        </th>
			        <th></th>
		        </tr>
		        <tr v-show="searchfeilds">
		        	<td class="text-center"><b-button variant="outline-secondary" size="sm" class="btn-xs-text" title="Refresh" @click="resetFilter"><font-awesome-icon :icon="['fas', 'undo']" /></b-button></td>
		        	<td v-for="(colkey, colkey_ind) in columns" class="search-feilds" :width="(searchfeilds && searchfeilds[colkey.value] && searchfeilds[colkey.value].elOptions) ? searchfeilds[colkey.value].elOptions.width : ''" :key="'grid_search'+colkey_ind">
		        		<span v-if="searchfeilds && searchfeilds[colkey.value] && searchfeilds[colkey.value].type == 'textbox'">
			        		<input type="text" v-show="searchfeilds[colkey.value].type == 'textbox'" :name="searchfeilds[colkey.value].input_id" v-model="searchFeildModels[colkey.value]" :id="searchfeilds[colkey.value].input_id" v-on:blur="searchFn" v-on:keyup.enter="searchFn" class="form-control form-control-sm">
			        	</span>

			        	<span v-if="searchfeilds && searchfeilds[colkey.value] && searchfeilds[colkey.value].type == 'selectbox'">
			        		<select v-show="searchfeilds[colkey.value].type == 'selectbox'" v-model="searchFeildModels[colkey.value]" :name="searchfeilds[colkey.value].input_id" :id="searchfeilds[colkey.value].input_id" v-on:change="searchFn" class="form-control form-control-sm">
			        			<option value="">All</option>
			        			<option v-for="(op, key, gsop_ind) in searchfeilds[colkey.value].options" :value="key" :key="'gv_s_op'+gsop_ind">
			        				{{ op }}
			        			</option>
			        		</select>
		        		</span>

		        		<span v-if="searchfeilds && searchfeilds[colkey.value] && searchfeilds[colkey.value].type == 'date-range'">
		        			<date-picker v-show="searchfeilds[colkey.value].type == 'date-range'" width="100%" v-model="searchFeildModels[colkey.value]" v-on:change="searchFn" :class="['search-by-date-wraper']" placeholder=" " input-class="form-control form-control-sm search-by-date" range lang="en"></date-picker>
		        		</span>	        		
		        	</td>
		        	<td></td>
		        </tr>
			</thead>
			<tr v-show="filteredData.length === 0"><td :colspan="columns.length + 2" class="text-center no-data-label">No records found</td></tr>
			<transition-group name="list" tag="tbody">
				<tr v-for="(entry, index) in filteredData" :key="'aaa' + index" :class="['gv-data-row', 'flip-list-move', {odd: index%2 == 0}]">
					<td class="text-center">{{ index + 1 }}</td>
			        <td v-for="(key, gvd_ind) in columns" :class="[entry[key.value].options && entry[key.value].options.classes ? entry[key.value].options.classes : '']" :key="'gvd_td'+gvd_ind">
			          	<span v-html="entry[key.value].value"></span>
			        </td>
			        <td class="action-buttons">
						<div v-if="entry['acBtns']">
							<span v-for="(acbtn, acbtn_ind) in entry['acBtns']" :key="'gvacbtn_'+acbtn_ind">
								<button v-if="typeof acbtn === 'object'" class="btn btn-sm" :class="acbtn.btnclass" v-on:click="acbtn.onClickFn" v-b-tooltip.hover :title="acbtn.title">
									<font-awesome-icon :icon='acbtn.icon' /> {{ acbtn.btnText ? acbtn.btnText : '' }}
								</button>
								<span v-else v-html="acbtn"></span>	
							</span>
						</div>	        	
			        </td>
		      	</tr>
		      </transition-group>
		</table>

		<infinite-loading v-if="infiniteScroll" ref="infiniteLoading" @infinite="infiniteHandler">
      		<span slot="no-more">
		      There is no more records
		    </span>
		    <span slot="no-results"></span>
		</infinite-loading>

		<back-to-top bottom="30px" right="110px">
		  <b-button variant="primary-outline" class="btn-to-top" title="Go to top"><font-awesome-icon :icon="['fas', 'chevron-up']" /></b-button>
		</back-to-top>
	</div>
</template>

<script>
	import DatePicker from 'vue2-datepicker'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import InfiniteLoading from 'vue-infinite-loading'
	import BackToTop from './BackToTop'

	export default {
		name: "grid-view",
		components: {
			DatePicker,
			FontAwesomeIcon,
			InfiniteLoading,
			'back-to-top': BackToTop
		},
		props: {
			width: String,
			data: Array,
			columns: Array,
			searchfeilds: Object,
			infiniteScroll: {
				type: Boolean,
				default: false
			}
		},
		data: function() {
			var sortOrders = {}
			var searchFeildModelsObj = {}
		    this.columns.forEach(function (key) {
		      sortOrders[key.value] = 1
		      searchFeildModelsObj[key.value] = ""
		    })

			return {
				gridWidth: this.width,
				sortKey: '',
      			sortOrders: sortOrders,
      			searchFeildModels: searchFeildModelsObj,
      			distance: -Infinity,
			}
		},
		computed: {
		    filteredData: function () {
		      var sortKey = this.sortKey
		      var filterKey = this.filterKey && this.filterKey.toLowerCase()
		      var order = this.sortOrders[sortKey] || 1
		      var data = this.data
		      /*if (filterKey) {
		        data = data.filter(function (row) {
		          return Object.keys(row).some(function (key) {
		            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
		          })
		        })
		      }*/
		      if (sortKey) {
		        data = data.slice().sort(function (a, b) {
		          a = a[sortKey]['value']
		          b = b[sortKey]['value']
		          return (a === b ? 0 : a > b ? 1 : -1) * order
		        })
		      }
		      return data
		    }
	  	},
	  	filters: {
		    capitalize: function (str) {
		      return str.charAt(0).toUpperCase() + str.slice(1)
		    }
	  	},
	  	methods: {
		    sortBy: function (key) {
		      this.sortKey = key
		      this.sortOrders[key] = this.sortOrders[key] * -1
		    },
		    searchFn: function() {
		    	this.$refs.infiniteLoading.stateChanger.reset()
		    	return this.$emit('grid-search-event', this.searchFeildModels)
		    },
		    resetFilter() {
		    	this.$refs.infiniteLoading.stateChanger.reset()
		    	var _this = this
		    	this.columns.forEach(function (key) {
			      _this.searchFeildModels[key.value] = ""
			    })
		    	return this.$emit('grid-search-event', this.searchFeildModels)
		    },
		    infiniteHandler: function($state) {
		    	var _this = this
		    	setTimeout(() => {
		    		var moreData = this.$parent.loadMore()
		    		//console.log('loading', moreData)
		    		if(!moreData) {		
			        	$state.complete()
		    		} else {
		    			$state.loaded()
		    		}
			      }, 300)
		    }
	  	}
	};
</script>

<style lang="scss">
	.grid-table {
		font-size: 13px;

		tr.gv-data-row:hover {
			background: #d2e0e0;

			> td:first-child:before {
				content: '\f054';
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				padding: 0;
				vertical-align: middle;
				position: absolute;
				left: 20px;
				color: #17a2b8;
			}
		}

		tr {
			height: 30px;
		}

		tr.grid-header {
			height: 35px;
			background: #626f6f;
			color: #d4d4d4;
			font-size: 14px;

			th {
				font-weight: normal;
				cursor: pointer;
			}	

			th * {
				vertical-align: middle;
			}

			th.active {
			  color: #fff;
			}

			th.active .arrow {
			  opacity: 1;
			}		
		}

		th, td {
		  	min-width: 25px;
		  	padding: 7px 5px;

		  	table {
			  	min-width: 90%;

			  	th, td {
				  	padding: 0 5px;
				  }
		  	}

		  	p {
			  	margin: 0;
		  	}
		}

		.odd {
			background: #e0e6e6;
		}

		.col-header-text {
			display: inline-block;
			width: 78%;
		}

		.arrow {
		  	display: inline-block;
		  	vertical-align: middle;
		  	width: 0;
		  	height: 0;
		  	margin-left: 5px;
		  	opacity: 0;
		}

		.arrow.asc {
		  	border-left: 4px solid transparent;
		  	border-right: 4px solid transparent;
		  	border-bottom: 4px solid #fff;
		}

		.arrow.dsc {
		  	border-left: 4px solid transparent;
		  	border-right: 4px solid transparent;
		  	border-top: 4px solid #fff;
		}

		.text-center {
			text-align: center;
		}

		td.action-buttons {
			text-align: center;
			min-width: 100px;

			.btn {
				margin-right: 3px;
			}
		}
	}

	.search-feilds {
		input, select {
			font-size: 11px;
		}	
	}

	.search-by-date {
		font-size: 11px;
		background-color: #fff !important;
	}

	.search-by-date-wraper {
		min-width: 100px !important;
		font-family: inherit;
	}

	.list-enter-active, .list-leave-active {
	  	transition: all 500ms;
	}
	.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
	  	opacity: 0;
	  	transform: translateY(30px);
	}

	.btn-to-top {
		opacity: 0.5;
		border-radius: 50%;
		border: 1px solid #444;
	}

	.btn-to-top:hover {
		opacity: 1;
	}
</style>