<template>
	<div class="container-fluid invoie-preview-panel">
		<div :class="[{'invoice-header': !isSmall}, {'invoice-header-small-page-size': isSmall}]">
			<div class="row">
				<div :class="[{'col-7': !isSmall}, {'col-12': isSmall}]">
					<h4 class="invoice-main-title">Medical Laboratory Invoice</h4>
				</div>
				<div v-if="!isSmall" class="col-5 text-right">
					<barcode
						v-if="enableBarcode"
        				:value="invoiceNumber" 
        				format="CODE128" 
        				:width="1.25"
        				:height="30" 
        				:displayValue="false"
        				:fontSize="12"
        				:margin="0">
					  {{ invoiceNumber }}
					</barcode>
				</div>
			</div>
			<div v-if="!isSmall" class="invoice-sub-info">
				<div class="row" v-if="!headlessModeInvoice">
					<div class="col-7">
		        		<div class="header-lab-name">{{ labName }}</div>
		        		<div class="row">
		        			<div class="col-md-auto">
		        				<div v-show="labAddress" class="header-sub-info">{{ labAddress }}</div>
								<div v-show="labPhone" class="header-sub-info"><strong>Tel:</strong>&nbsp;&nbsp;{{ labPhone }}</div>
		        			</div>
		        			<div class="col">
		        				<div v-show="labEmail" class="header-sub-info"><strong>Email:</strong>&nbsp;&nbsp;{{ labEmail }}</div>
								<div v-show="labWeb" class="header-sub-info"><strong>Web:</strong>&nbsp;&nbsp;{{ labWeb }}</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-5 text-right">
		        		<div>
		        			<span v-show="customerName" class="text-truncate">{{ customerName }}<br/></span>
							<span v-show="customerPhone"><strong>Tel:</strong> {{ customerPhone }}<br/></span>
		        			<span v-if="billNumber"><strong>Bill No:</strong> {{ billNumber }}</span>
		        			<span v-else><strong>Invoice No:</strong> {{ invoiceNumber }}</span><br/>
							<strong>CC:</strong><span class="text-truncate"> {{ collectingCenter }}</span><br/>
		        			<span v-show="extLab"><strong>Ext. Lab:</strong> {{ extLab }}<br/></span>
		        			<strong>Invoice time:</strong> {{ invoiceTime }}<br/>
							<strong>Issued by: </strong><span class="text-truncate">{{cashier}}</span>
		        			<div class="header-sub-info">[Currency: Sri Lankan Rupees (LKR)]</div>
		        		</div>
		        	</div> 
				</div>

				<div class="row" v-else>
					<div class="col-6">
	        			<span v-show="customerName" class="text-truncate">{{ customerName }}<br/></span>
						<span v-show="customerPhone"><strong>Tel:</strong> {{ customerPhone }}<br/></span>
						<strong>CC:</strong><span class="text-truncate"> {{ collectingCenter }}</span><br/>
						<strong>Issued by: </strong><span class="text-truncate">{{cashier}}</span>
	        		</div>
	        		<div class="col-6 text-right">
						<span v-if="billNumber"><strong>Bill No:</strong> {{ billNumber }}</span>
	        			<span v-else><strong>Invoice No:</strong> {{ invoiceNumber }}</span><br/>
	        			<strong>Invoice time:</strong> {{ invoiceTime }}<br/>
						<span v-show="extLab"><strong>Ext. Lab:</strong> {{ extLab }}<br/></span>
	        			<div class="header-sub-info">[Currency: Sri Lankan Rupees (LKR)]</div>
	        		</div>
				</div>
	        </div>
	        <div v-else class="invoice-sub-info">
	        	<div class="row" v-if="!headlessModeInvoice">
	        		<div class="col-12">
		        		<div class="header-lab-name">{{ labName }}</div>
		        		<div v-show="labAddress" class="header-sub-info">{{ labAddress }}</div>
						<div v-show="labPhone" class="header-sub-info"><strong>Tel:</strong>&nbsp;&nbsp;{{ labPhone }}</div>
		        		<div v-show="labEmail" class="header-sub-info"><strong>Email:</strong>&nbsp;&nbsp;{{ labEmail }}</div>
						<div v-show="labWeb" class="header-sub-info"><strong>Web:</strong>&nbsp;&nbsp;{{ labWeb }}</div>
		        	</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-6 text-left">
	        			<span v-show="customerName" class="text-truncate">{{ customerName }}<br/></span>
						<span v-show="customerPhone"><strong>Tel:</strong> {{ customerPhone }}<br/></span>
						<strong>CC:</strong><span class="text-truncate"> {{ collectingCenter }}</span><br/>
						<strong>Issued by: </strong><span class="text-truncate">{{cashier}}</span>
	        		</div>
	        		<div class="col-6 text-right">
						<span v-if="billNumber"><strong>Bill No:</strong> {{ billNumber }}</span>
	        			<span v-else><strong>Invoice No:</strong> {{ invoiceNumber }}</span><br/>
	        			<span v-show="extLab"><strong>Ext. Lab:</strong> {{ extLab }}<br/></span>
	        			<strong>Invoice time:</strong> {{ invoiceTime }}<br/>
	        			<div class="header-sub-info">[Currency: Sri Lankan Rupees (LKR)]</div>
	        		</div>
	        	</div>
	        </div>
		</div>

        <table width="100%" :class="['invoice-data', {'invoice-data-small-page-size': isSmall}]">
            <thead>
                <tr>
                	<th width="15pt" class="text-center">#</th>
                    <th width="80%">Item name</th>
                    <th class="text-right">Price</th>
                </tr>
            </thead>

            <tbody>
            	<tr class="invoice-row" v-for="(item, index) in invoiceItems" v-bind:key="index">
            		<td class="text-center">{{ index + 1 }}</td>
            		<td>{{ item.name }}</td>
            		<td class="text-right">{{ item.price.toFixed(2) }}</td>
            	</tr>
            	<tr class="invoice-row invoice-notes-area">
            		<td></td><td></td><td></td>
            	</tr>
            </tbody>
            <tfoot>
            	<tr class="invoice-footer">
        			<td></td>
                    <td class="text-right"><strong>Gross total</strong></td>
                    <td class="text-right">{{ grossTotal.toFixed(2) }}</td>
                </tr>
                <tr class="invoice-footer">
                	<td></td>
                    <td class="text-right"><strong>Discount</strong> ({{ discount.toFixed(2) }}%)</td>
                    <td class="text-right">-{{ discountedAmount }}</td>
                </tr>
                <tr class="invoice-footer">
                	<th></th>
                    <th class="text-right">Total</th>
                    <th class="text-right">{{ netTotal.toFixed(2) }}</th>
                </tr>
                <tr class="invoice-footer">
                	<td></td>
                    <td class="text-right" colspan="2"><strong>{{ paymentMethods[payMethod] }}</strong></td>
                </tr>
                <tr v-show="payType == PAY_TYPE_FULL" class="invoice-footer">
                	<td></td>
                    <td class="text-right" colspan="2"><strong>Fully Paid</strong></td>
                </tr>
                <tr v-show="payType == PAY_TYPE_ADVANCE" class="invoice-footer">
                	<td></td>
                	<td class="text-right"><strong>Advance payment</strong></td>
                	<td class="text-right">{{ advancePayment.toFixed(2) }}</td>
                </tr>
                <tr v-show="payType == PAY_TYPE_ADVANCE" class="invoice-footer">
                	<th></th>
                	<th class="text-right"><strong>Balance</strong></th>
                	<th class="text-right">{{ balance }}</th>
                </tr>
            </tfoot>
        </table>

        <footer></footer>
        <!--div class="footer-print-area">
    		Medical Laboratory Software Solution by BlossomLabs.lk
        </div-->

        <button v-show="showButton" class="btn btn-warning btn-sm" @click.prevent="printInvoice('direct_print')"><font-awesome-icon :icon='["fas", "print"]' /> Print</button>
        <button v-show="showButton" class="btn btn-info btn-sm" @click.prevent="printInvoice('pdf')"><font-awesome-icon :icon='["far", "file-pdf"]' /> Save as PDF</button>
        <button v-show="showButton" class="btn btn-secondary btn-sm" @click.prevent="closePreview">Close preview</button>
    </div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VueBarcode from 'vue-barcode'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'invoice-preview',
		components: {
			FontAwesomeIcon,
			'barcode': VueBarcode
		},
		props: {
			customerName: {
				type: String,
				default: null
			},
			customerPhone: {
				type: String,
				default: null
			},
			collectingCenter: {
				tyle: String,
				default: null
			},
			invoiceNumber: String,
			billNumber: {
				type: String,
				default: null
			},
			grossTotal: Number,
			discount: Number,
			netTotal: Number,
			payType: Number,
			payMethod: Number,
			extLab: {
				type: String,
				default: null
			},
			advancePayment: Number,
			invoiceItems: Array,
			invoiceTime: String,

			labName: {
				type: String,
				default: null	
			},
			labAddress: {
				type: String,
				default: null
			},
			labPhone: {
				type: String,
				default: null
			},
			labEmail: {
				type: String,
				default: null
			},
			labWeb: {
				type: String,
				default: null
			},

			showButton: {
				type: Boolean,
				default: true
			},

			isSmall: {
				type: Boolean,
				default: false
			},

			cashier: {
				type: String,
				default: "n/a"
			}
		},
		data() {
			return {
				PAY_TYPE_FULL: 1,
				PAY_TYPE_ADVANCE: 0,
				paymentMethods: store.get('app-config').Payment_methods,
				enableBarcode: store.get('system_settings') && store.get('system_settings').barcode_settings ? store.get('system_settings').barcode_settings.enableBarcode : false,

				headlessModeInvoice: store.get('system_settings') && store.get('system_settings').print_settings && !store.get('system_settings').print_settings.useComputerForms && store.get('system_settings').print_settings.headlessModeInvoice ? store.get('system_settings').print_settings.headlessModeInvoice : false,
			}
		},
		computed: {
			balance: function() {
				return (parseFloat(this.netTotal) - parseFloat(this.advancePayment)).toFixed(2)
			},
			discountedAmount: function() {
	            var grossTot = this.grossTotal

	            return (grossTot*this.discount/100).toFixed(2)
	        }
		},
		methods: {
			printInvoice: function(printMode) {
				var printParams = JSON.stringify({
					printDoc: 'invoice',
					printMode: printMode, 
					printData: {
						invoice_no: this.invoiceNumber
					}
				})
				var printStatus = this.$electron.ipcRenderer.sendSync('print-job', printParams)
				console.log('pdf saved', printStatus)
				if(printStatus) {
					if(printMode == 'direct_print') {
						this.flash('Priting process completed', 'success')
					} else if(printMode == 'pdf') {
						this.flash('PDF file saved', 'success')
					}					
				} else {
					if(printMode == 'direct_print') {
						this.flash('Priting process failed', 'error')
					} else if(printMode == 'pdf') {
						this.flash('PDF file saving failed', 'error')
					}
				}
				//this.$modal.hide('invoice-preview-modal')
			},
			closePreview: function() {
				this.$modal.hide('invoice-preview-modal')
			}
		},
		mounted() {
			console.log('invoice headless mode', this.headlessModeInvoice)
			console.log('is small', this.isSmall)
		}
	};
</script>

<style lang="scss">
	.invoie-preview-panel {
		padding: 15pt;

		strong {
        	font-weight: 600;
        }

		.invoice-header {
			padding-bottom: 15pt;

			.invoice-main-title {
				font-size: 20pt;
				margin-bottom: 0px;
			}

			.header-lab-name {
				font-size: 14pt;
				font-weight: 500;
			}

			.header-sub-info {
				font-size: 10pt;
				margin: 2px 0;
			}
		}

		.invoice-sub-info {
			font-size: 11pt;
			font-weight: 400;
			margin: 2px 0;
		}

		table {
			thead {
				border: 1px solid #ddd;

				th {
					border-right: 1px solid #ddd;
					font-weight: 600;
					padding: 3px 10px;
				}
			}

			tbody {
				border: 1px solid #ddd;

				tr.invoice-row {
					td {
			            padding: 3px 10px;
					    font-size: 12pt;
					    border-right: 1px solid #ddd;
			        }
				}

				tr.invoice-notes-area {
					height: 50pt;
				}
			}

			tfoot {
				.invoice-footer {
			        th {
			            padding: 3px 10px;
			        }

			        td {
			            padding: 0 10px;
			            font-size: 12pt;
			        }
			    }

			    .invoice-footer:nth-child(1) {
			    	td {
			    		padding: 3px 10px;
			    	}
			    }
			}
		}

		.invoice-data {
			color: #000 !important;
			font-family: 'Courier Prime';
			font-size: 14pt;
		}
	}

	@media print {
		$lightBorderColor: #999999;

		.invoie-preview-panel {
			padding: 15pt;
			/*font-size: 14px;*/
			margin: 0 auto;

			strong {
	        	font-weight: 600;
	        }

			.invoice-header {
				padding-bottom: 15pt;

				.invoice-main-title {
					font-size: 20pt;
					margin-bottom: 0px;
				}

				.header-lab-name {
					font-size: 15pt;
					font-weight: 500;
				}

				.header-sub-info {
					font-size: 12pt;
					margin: 1.5pt 0;
				}
			}

			.invoice-header-small-page-size {
	        	text-align: center;

	        	.invoice-main-title {
					font-size: 25pt;
					margin-bottom: 0px;
				}

				.header-lab-name {
					font-size: 22pt;
					font-weight: 500;
				}

				.header-sub-info {
					font-size: 18pt;
					margin: 1.5pt 0;
				}
	        }

			.invoice-sub-info {
				font-size: 18pt;
				font-weight: 400;
				margin: 1.5pt 0;
			}

			table {
				thead {
					border: none;
					border-top: 1pt solid $lightBorderColor;
					border-bottom: 1pt solid $lightBorderColor;

					th {
						border: none;
						font-weight: 600;
						padding: 2.25pt 7.5pt;
						font-size: 23pt;
					}
				}

				tbody {
					border: none;
					border-bottom: 1pt solid $lightBorderColor;

					tr.invoice-row {
						td {
							border: none;
				            padding: 2.25pt 7.5pt;
						    font-size: 23pt;
						    /*border-right: 1px solid $lightBorderColor;*/
				        }
					}

					tr.invoice-notes-area {
						height: 50pt;
					}
				}

				tfoot {
					.invoice-footer {
				        th {
				            padding: 2.25pt 7.5pt;
				            font-size: 22pt;
				        }

				        td {
				            padding: 0 7.5pt;
				            font-size: 22pt;
				        }
				    }

				    .invoice-footer:nth-child(1) {
				    	td {
				    		padding: 2.25pt 7.5pt;
				    	}
				    }
				}
			}
		}

		.invoice-data {
			color: #000 !important;
			font-family: 'Courier Prime';
			font-size: 14pt;
		}

		.invoice-data-small-page-size {
			font-size: 22pt;
			margin-top: 10px;
		}
	}
</style>