<template>
	<div class="invoice-search-panel">
		<div class="input-group search-box">
			<div class="input-group-prepend">
				<div class="input-group-text">
					<font-awesome-icon :icon="['fas', 'search']"  slot="prepend" />
				</div>
			</div>
			<v-select name="bill-no-search" id="bill-no-search" :options="invoiceNoOpts" placeholder="Invoice No/Bill No/Customer name" v-model="invoiceNo" :onChange="searchInvoice" :onSearch="getInvoiceOpts">
				<template slot="option" slot-scope="option">
			        <div>{{ option.label }}</div>
                    <div class="sub-text" v-html="option.cust_name">
                    	{{ option.cust_name }} <span v-if="option.cust_nic">({{ option.cust_nic }})</span>
                    </div>
                    <div class="sub-text" v-if="option.cust_address">
                    	{{ option.cust_address }}
                    </div>
                    <div class="sub-text" v-if="option.cust_phone || option.cust_email">
                    	<span v-if="option.cust_phone">{{ option.cust_phone }}, </span>
                    	<span v-if="option.cust_email">{{ option.cust_email }}</span>
                    </div>
			    </template>
			</v-select>
		</div>

		<vu-modal name="invoice-details-modal"
            width="70%"
            height="auto"
            :scrollable="true"
            :classes="['invoice-details-modal']">

    		<div class="bl-modal-title">
    			<div class="col-12">
        			<h5>Invoice Details - <small v-if="invoiceNo">{{ invoiceNo.value }}</small>&nbsp;<small v-show="billNoEnabled && billNo">(Bill No: {{ billNo }})</small>&nbsp;-&nbsp;<small>{{ payMethods[invoiceData.pay_method] }}</small></h5>
        		</div>
    		</div>
            <div class="container-fluid modal-body-section">
            	<div class="row pay-type">
            		<div :class="['pay-type-box', {'advance': invoiceData.pay_type == PAY_TYPE_ADVANCE, 'full': invoiceData.pay_type == PAY_TYPE_FULL}]">
            			<span v-if="invoiceData.pay_type == PAY_TYPE_FULL">FULLY PAID</span>
            			<span v-else>ADVANCE<br/><small>Rs. {{ invoiceData.paid_amount }}</small></span>
            		</div>
            		<div :class="['pay-amount-box', {'advance': invoiceData.pay_type == PAY_TYPE_ADVANCE, 'full': invoiceData.pay_type == PAY_TYPE_FULL}]">
            			<div class="total"><label>Total: </label> Rs. {{ invoiceTotal }}</div>
            			<div class="balance"><label>Balance: </label> Rs. {{ invoiceBalance }}</div>
            		</div>
            		<b-button v-show="!fullPaid" style="font-size: 1rem; padding: .65rem 1rem;" variant="success" size="lg" @click.prevent="setToFullyPaid">Mark as FULLY PAID</b-button>
            	</div>

            	<h6>Customer Details</h6>
            	<div class="row">
            		<div class="col-6">
            			<div class="invoice-data-row">
            				<label>Name: </label> {{ customerData.customer_title }} {{ customerData.customer_name }}
            			</div>
            			<div class="invoice-data-row">
            				<label>NIC: </label> {{ customerData.nic ? customerData.nic : 'n/a' }}
            			</div>
            			<div class="invoice-data-row">
            				<label>Gender: </label> {{ customerDataGender }}
            			</div>
            		</div>
            		<div class="col-6">
            			<div class="invoice-data-row">
            				<label>DOB: </label> {{ this.$moment(customerData.dob).format("YYYY-MM-DD") }}
            			</div>
            			<div class="invoice-data-row">
            				<label>Address: </label> {{ customerData.address ? customerData.address : 'n/a' }}
            			</div>
            			<div class="invoice-data-row">
            				<label>Phone: </label> {{ customerData.phone ? customerData.phone : 'n/a' }}
            			</div>
            		</div>
            	</div>

            	<div class="row content-row">
            		<div class="col-12">
            			<h6>Test Profile details</h6>
	            		<table width="100%" class="test-profile-details">
	            			<thead>
	            				<tr>
	            					<th>Test profile</th>
	            					<th>Status</th>
	            					<th>Report date time</th>
	            				</tr>
	            			</thead>
	            			<tbody>
	            				<tr v-for="(test, index) in testsData" :key="'invTestD'+index" :class="{'odd': index%2==0}">
	            					<td>{{ test.profileName }}</td>
	            					<td><span v-html="formatTestStatus(test.status)"></span></td>
	            					<td>{{ formatDate(test.reportDate) }}</td>
	            				</tr>
	            			</tbody>
	            		</table>
            		</div>
            	</div>

            	<div class="row content-row">
            		<div class="col-4">
            			<b-button v-if="invoiceData.ext_lab > 0 && invoiceData.status == STATUS_PENDING" variant="info" size="sm" @click.prevent="markAsCompleted">Mark as Completed</b-button>
        				<div v-if="invoiceData.ext_lab > 0 && invoiceData.status == STATUS_COMPLETED" class="badge badge-success badge-lg">
            				<font-awesome-icon :icon="['fas', 'check']" /> Report completed and delivered 
            			</div>          			
            		</div>
            		<div class="col-8 text-right">
            			<b-button v-if="canEdit" variant="info" size="sm" @click.prevent="askPermission(1)">Edit invoice</b-button>
	            		<b-button variant="danger" size="sm"  @click.prevent="askPermission(2)">Cancel invoice</b-button>
	            		<b-button variant="secondary" size='sm' @click.prevent="closeModal">Close</b-button>
            		</div>
            	</div>
            	<div v-if="invoiceData.ext_lab > 0 && invoiceData.status == STATUS_COMPLETED" class="content-row">
            		<div><strong>NOTE: </strong>Testing done by {{ invoiceData.ext_lab_name }}</div>
            	</div>
            </div>
        </vu-modal>

		<vu-modal name="action-permission-modal"
            width="25%"
            height="auto"
            :scrollable="true"
			:clickToClose="false"
            :classes="['action-permission-modal']"
            @before-close="clearModal">

            <action-permission
				@is-permitted="actionPermitted($event)">
			</action-permission>
    	</vu-modal>

        <voo-loader :isLoading="isLoading"></voo-loader>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import vSelect from 'vue-select'
	import VooLoading from './VooLoading.vue'
	import ActionPermission from './ActionPermission'
	
	const HID = require('node-hid')
	//const devices = HID.devices();
	const usbDetect = require('usb-detection')
	usbDetect.startMonitoring()

	const Store = require('electron-store')
	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	const STATUS_PENDING = elecStore.get('app-config').INVOICE_STATUS_PENDING
	const STATUS_TEST_DONE = elecStore.get('app-config').INVOICE_STATUS_TEST_DONE
	const STATUS_COMPLETED = elecStore.get('app-config').INVOICE_STATUS_PRINTED

	const PAY_TYPE_FULL = 1
  	const PAY_TYPE_ADVANCE = 0

  	var addCounter = 0
	var removeCounter = 0

	const ACTION_EDIT_INVOICE = 1
	const ACTION_CANCEL_INVOICE = 2
	const ACTION_SET_FULLY_PAID = 3

	export default {
		name: 'invoice-search',
		components: {
			FontAwesomeIcon,
			'v-select': vSelect,
			'voo-loader': VooLoading,
			ActionPermission
		},
		props: {
			barcodeReady: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				isLoading: false,
				invoiceNo: null,
				billNo: null,
				billNoEnabled: elecStore.get('system_settings').lab_info.enableBillNumber,
				invoiceNoOpts: this.getInvoiceOpts(),
				testsData: [],
				customerData: {},
				invoiceData: {},
				canEdit: true,
				fullPaid: true,
				PAY_TYPE_ADVANCE: PAY_TYPE_ADVANCE,
				PAY_TYPE_FULL: PAY_TYPE_FULL,
				STATUS_PENDING: STATUS_PENDING,
				STATUS_TEST_DONE: STATUS_TEST_DONE,
				STATUS_COMPLETED: STATUS_COMPLETED,

				payMethods: elecStore.get('app-config').Payment_methods,

				bcsVendorId: elecStore.get('system_settings') && elecStore.get('system_settings').barcode_settings ? elecStore.get('system_settings').barcode_settings.vendorId : null,
				bcsProductId: elecStore.get('system_settings') && elecStore.get('system_settings').barcode_settings ? elecStore.get('system_settings').barcode_settings.productId : null,
				bcsHidDevice: null,
				bcsDeviceConnected: false,
				newBarcodeVal: null,
				enableScan: true,
				currentAction: 0,
				hidMap: {
				    4: "A",
				    5: "B",
				    6: "C",
				    7: "D",
				    8: "E",
				    9: "F",
				    10: "G",
				    11: "H",
				    12: "I",
				    13: "J",
				    14: "K",
				    15: "L",
				    16: "M",
				    17: "N",
				    18: "O",
				    19: "P",
				    20: "Q",
				    21: "R",
				    22: "S",
				    23: "T",
				    24: "U",
				    25: "V",
				    26: "W",
				    27: "X",
				    28: "Y",
				    29: "Z",
				    30: "1",
				    31: "2",
				    32: "3",
				    33: "4",
				    34: "5",
				    35: "6",
				    36: "7",
				    37: "8",
				    38: "9",
				    // enter - barcode escape char
				    39: "0",
				    40: "enter",
				    44: " ",
				    45: "-",
				    55: ".",
				    56: "/",
				    85: "*",
				    87: "+"
				  }
			}
		},
		watch: {
			barcodeReady(val) {
				if(val) {
					this.initBarcodeReader()
				}
			},
			newBarcodeVal(bcval) {
				var self = this
				
				if(bcval && bcval != "") {
					this.enableScan = false
					console.log('new barcode val', bcval)
					//this.invoiceDataForBarcode(bcval)
				}
			}
		},
		computed: {
			customerDataGender() {
				return this.customerData.sex == 'M' ? 'Male' : 'Female'
			},
			invoiceTotal() {
				var grossTotal = this.invoiceData.price
				var discount = this.invoiceData.discount
				var paidAmount = this.invoiceData.paid_amount

				var netTotal = (grossTotal - (grossTotal*discount/100)).toFixed(2)
				return netTotal
			},
			invoiceBalance() {
				if(this.invoiceData.pay_type == PAY_TYPE_FULL) {
					return 0.00
				}
				var grossTotal = this.invoiceData.price
				var discount = this.invoiceData.discount
				var paidAmount = this.invoiceData.paid_amount

				var balance = ((grossTotal - (grossTotal*discount/100)) - paidAmount).toFixed(2)
				return balance
			}
		},
		methods: {
			searchInvoice(invoiceNoObj) {
				this.invoiceNo = invoiceNoObj

				if(!invoiceNoObj) {
					return
				} else {
					var invoiceNoVal = invoiceNoObj.value.trim()

					var getInvoiceData = "SELECT i.*, exl.`lab_name` as ext_lab_name FROM `bloomy_invoice` i LEFT JOIN `bloomy_external_labs` exl ON i.`ext_lab`=exl.id WHERE i.`invoice_no` LIKE ?"
					var getInvoiceDataArgs = JSON.stringify({query: getInvoiceData, params: ['%' + invoiceNoVal]})

					var invoiceDataRes = this.$electron.ipcRenderer.sendSync('db-query', getInvoiceDataArgs)
					//console.log('invoice data', invoiceDataRes)
					if(invoiceDataRes.length == 0) {
						this.flash('<b>Invoice not found</b><br/>Please check the invoice number and try again.', 'warning')
						return
					}
					var invoiceDataObj = invoiceDataRes[0]

					this.invoiceData = invoiceDataObj
					this.billNo = invoiceDataObj.bill_no

					var getInvoiceTestsDataQuery = "SELECT it.*, p.`profile_name` FROM `bloomy_invoice_test` it INNER JOIN `bloomy_profiles` p ON p.id=it.profile_id WHERE `invoice_id`=?"
					var getInvoiceTestsDataQueryArgs = JSON.stringify({query: getInvoiceTestsDataQuery, params: [invoiceDataObj.id]})

					if(invoiceDataObj.ext_lab > 0) {
						getInvoiceTestsDataQuery = "SELECT invt.*, p.profile_name as profile_name, exl.price as p_price, invt.`package_id` FROM `bloomy_invoice_test` invt INNER JOIN `bloomy_profiles` p ON invt.`profile_id`=p.`id` LEFT JOIN `bloomy_external_labs_test_price` exl ON exl.profile_id=p.id WHERE invt.invoice_id=? AND exl.`lab_id`=?"
						getInvoiceTestsDataQueryArgs = JSON.stringify({query: getInvoiceTestsDataQuery, params: [invoiceDataObj.id, invoiceDataObj.ext_lab]})
					}

					var invoiceTestsDataRes = this.$electron.ipcRenderer.sendSync('db-query', getInvoiceTestsDataQueryArgs)

					var testStatusCheck = false
					var testsDataArray = []
					invoiceTestsDataRes.forEach(function(v){
						if(v.status > STATUS_PENDING) {
							testStatusCheck = true
						}

						testsDataArray.push({
							profileName: v.profile_name,
							status: invoiceDataObj.ext_lab > 0 ? 'sent to ext. lab' : v.status,
							reportDate: v.report_date
						})
					})

					this.testsData = testsDataArray

					if(testStatusCheck) {
						// one or more tests are done. So, this is not cancelable/editable
						this.canEdit = false
					} else {
						// all tests are in Pending state. So, this is can cancel/edit.
						this.canEdit = true
					}

					if(invoiceDataObj.ext_lab > 0) {
						this.canEdit = false
					}

					this.fullPaid = invoiceDataObj.pay_type == PAY_TYPE_FULL

					var getCustomerDataQuery = "SELECT * FROM `bloomy_customer` WHERE `id`=?"
					var getCustomerDataQueryArgs = JSON.stringify({query: getCustomerDataQuery, params: [invoiceDataObj.customer_id]})
					var custmerDataRes = this.$electron.ipcRenderer.sendSync('db-query', getCustomerDataQueryArgs)

					if(custmerDataRes.length > 0) {
						this.customerData = custmerDataRes[0]

						this.$modal.show('invoice-details-modal')
					}					
				}
			},
			markAsCompleted() {
				var self = this
				// mark invoices sent to external lab as completed
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons:['Yes', 'No'],
					type: 'question',
					title: 'Invoice Preview',
					message: 'Update invoice status?',
					detail: 'Please check invoice no and other detials before continue.\nClick \'Yes\' if everything is OK'
				}, function(btnIndex){
					if(btnIndex == 0) {
						var invoiceNoVal = self.invoiceNo.value
						var updateInvoiceAndTestsQuery = "UPDATE `bloomy_invoice` i, `bloomy_invoice_test` it SET i.`status`=?, it.`status`=?, it.`report_date`=?, it.user_id=? WHERE i.id=it.`invoice_id` AND i.`invoice_no`=?"
						var updateQueryParams = [STATUS_COMPLETED, STATUS_COMPLETED, self.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss"), elecStore.get('user').id, invoiceNoVal]
						var updateQueryArgs = JSON.stringify({query: updateInvoiceAndTestsQuery, params: updateQueryParams})

						self.$electron.ipcRenderer.sendSync('db-query', updateQueryArgs)

						self.flash('Invoice updates successfully', 'success')

						self.$modal.hide('invoice-details-modal')
					} else {
						return
					}
				})				
			},
			formatTestStatus(status) {
				var statusStr = "<span class='bage badge-secondary badge-lg'>Not defined</span>"
				if(status == STATUS_PENDING) {
					statusStr = "<span class='badge badge-danger badge-lg'>Pending</span>"
				} else if(status == STATUS_TEST_DONE) {
					statusStr = "<span class='badge badge-primary badge-lg' variant='primary'>Test done</span>"
				} else if(status == STATUS_COMPLETED) {
					statusStr = "<span class='badge badge-success badge-lg' variant='success'>Completed</span>"
				} else {
					statusStr = "<span class='badge badge-secondary badge-lg' variant='success'>Ext.Lab</span>"
				}

				return statusStr
			},
			getInvoiceOpts(searchVal=null, isBarcode=false) {
				var self = this
				var selectTodaysInvoicesQuery = "SELECT i.`invoice_no`, c.* FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON c.`id`=i.`customer_id` WHERE i.`invoice_time` LIKE ?"
				var today = self.$moment().format("YYYY-MM-DD")
				//var today = "2018-06-03"
				var queryArgs = JSON.stringify({query: selectTodaysInvoicesQuery, params: [today + '%']})

				if(searchVal) {
					selectTodaysInvoicesQuery = "SELECT i.`invoice_no`, i.`id` as inv_id, c.* FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON c.`id`=i.`customer_id` WHERE i.`invoice_no` LIKE ? OR c.`customer_name` LIKE ? OR (i.`bill_no` IS NOT NULL AND i.`bill_no` NOT LIKE '0' AND i.`bill_no` LIKE ?)"
					//var today = self.$moment().format("YYYY-MM-DD")
					queryArgs = JSON.stringify({query: selectTodaysInvoicesQuery, params: [`%${searchVal}`, `%${searchVal}%`, `%${searchVal}`]})
				}
				
				var todaysInvoicesQueryRes = self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var invoiceOpts = []
				todaysInvoicesQueryRes.forEach(function(v){
					invoiceOpts.push({
						label: v.invoice_no,
						value: v.invoice_no,
						invoice_id: v.inv_id,
						cust_name: v.customer_name,
						cust_nic: v.nic,
						cust_address: v.address,
						cust_phone: v.phone
					})
				})
				//console.log(searchVal, invoiceOpts)
				if(searchVal && isBarcode != true) {
					//console.log('invoice box search', searchVal, todaysInvoicesQueryRes)
					self.invoiceNoOpts = invoiceOpts
				} else {
					return invoiceOpts
				}
			},
			invoiceDataForBarcode(barcodeStr) {
				var invoiceDataArray = this.getInvoiceOpts(barcodeStr, true)
				//console.log('daa on barcode', invoiceDataArray[0])
				if(invoiceDataArray.length > 0) {
					this.searchInvoice(invoiceDataArray[0])
				}
			},
			formatDate(dateObj, currentFormat="YYYY-MM-DD HH:mm:ss", newFormat="DD MMM, YYYY hh:mm a") {
				if(!dateObj) {
					return 'n/a'
				}
				return this.$moment(dateObj, currentFormat).format(newFormat)
			},
			resetProps() {
				this.invoiceNo = null
				this.testsData = []
				this.customerData = {}
				this.invoiceNoOpts = this.getInvoiceOpts()
				this.enableScan = true
			},
			closeModal() {
				this.$modal.hide('invoice-details-modal')
			},
			cancelInvoice() {
				var self = this
				//console.log('route name on cancel', this.$route.name)
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Edit invoice',
					message: 'Cancel invoice',
					detail: 'This action will delete all the content related to the invoice ' + this.invoiceNo.value + '.\nAre you sure, you need to cancel this invoice?'
				}, function(btnIndex){
					if(btnIndex == 0) {
						// get test ids for recalculation of reagents
						var selectInvoiceTestsQuery = "SELECT * FROM `bloomy_invoice_test` WHERE `invoice_id`=?"
						var invoiceTestQueryArgs = JSON.stringify({query: selectInvoiceTestsQuery, params: [self.invoiceNo.invoice_id]})
						
						var invoiceTestRes = self.$electron.ipcRenderer.sendSync('db-query', invoiceTestQueryArgs)
						
						var profileIds = []
						var isPendingInvoice = false
						invoiceTestRes.forEach(function(v) {
							if(v.status == STATUS_PENDING) {
								isPendingInvoice = true
							}

                            if(!v.package_id) {
                                profileIds.push(v.profile_id)
                            } else {
                                var getPackageProfilesQuery = "SELECT `profile_id` FROM `bloomy_package_profile` WHERE `package_id`=?"
                                var getPackageProfilesQueryArgs = JSON.stringify({query: getPackageProfilesQuery, params: [v.package_id]})

                                var packageProfilesRes = self.$electron.ipcRenderer.sendSync('db-query', getPackageProfilesQueryArgs)

                                packageProfilesRes.forEach(function(pp){
                                    profileIds.push(pp.profile_id)
                                })
                            }
                        })

						// delete invoice data and realted test data
						var deleteInvoiceQuery = "DELETE FROM `bloomy_invoice` WHERE `invoice_no`=?"
						var deleteInvoiceQueryArgs = JSON.stringify({query: deleteInvoiceQuery, params:[self.invoiceNo.value]})

						self.$electron.ipcRenderer.sendSync('db-query', deleteInvoiceQueryArgs)

						// re-calculate reagent count						
                        // increase reagent count for deleted ones - stock watcher
                        var selectReagents = "SELECT ts.* FROM `bloomy_test_stock_item` ts INNER JOIN `bloomy_tests_profiles` tp ON ts.`test_id`=tp.`test_id` WHERE tp.`profile_id` IN ('" + profileIds.join("','") + "')"
                        var selectReagentsArgs = JSON.stringify({query: selectReagents, params: []})
                        var reagentsRes = self.$electron.ipcRenderer.sendSync('db-query', selectReagentsArgs)
                        
                        reagentsRes.forEach(function(r){
                            var updateStockItems = "UPDATE `bloomy_stock_item` SET `remain`=(`remain` + ?) WHERE `id`=?"
                            var updateStockItemsArgs = JSON.stringify({query: updateStockItems, params:[parseFloat(r.units_per_test), r.stock_item_id]})
                            self.$electron.ipcRenderer.sendSync('db-query', updateStockItemsArgs)
                        })

                        //console.log('isPendingInvoice', isPendingInvoice)
                        if(isPendingInvoice) {
                        	self.$store.dispatch('PendingTest/decrementCount')

                        	self.$electron.ipcRenderer.send('invoice-count', self.$store.state.PendingTest.pendingTestCount)
                        }
						
						self.$store.dispatch('Watcher/setWatchTrigger')
						self.flash('<b>Invoice canceled.</b><br/>All it\'s content deleted from the system.', 'success')
						self.$modal.hide('invoice-details-modal')
					} else {
						return
					}
				})
			},
			editInvoice () {
				this.$modal.hide('invoice-details-modal')
				this.$router.push({name: 'edit-invoice', params:{invoice_no: this.invoiceNo.value}})
			},
			setToFullyPaid() {
				var self = this
				remote.dialog.showMessageBox({
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Customer Invoice Preview',
					message: 'Change payment status',
					detail: 'Do you really need to mark this invoice to FULLY PAID?\nPlease check the Invoice number and the details again before continue.'
				}, function(btnIndex){
					if(btnIndex == 0) {
						self.isLoading = true
						var setPayTypeQuery = "UPDATE `bloomy_invoice` SET `pay_type`=?, `paid_amount`=? WHERE `invoice_no` LIKE ?"
						var queryArgs = JSON.stringify({query: setPayTypeQuery, params: [PAY_TYPE_FULL, 0, self.invoiceNo.value]})

						self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

						self.invoiceData.pay_type = PAY_TYPE_FULL

						setTimeout(function(){
							self.$modal.hide('invoice-details-modal')
							self.isLoading = false
						}, 500)

						//console.log('this route name', self.$route.name)
						
					} else {
						return
					}
				})
			},
			barcodeDeviceController(action) {
				var self = this
				var newDevice = null

				var devices = HID.devices()

				console.log('HID devices', devices)

				try {
					newDevice = new HID.HID(this.bcsVendorId, this.bcsProductId)					
				} catch (er) {
					console.log('BCS device not found or disconnected', er)
				}

				console.log('HID obj', HID)
								
				if(newDevice) {
					newDevice.on("error", (error) => {
						console.log('barcode error', error)					
					})

					//empty array for barcode bytes
				  	var bcodeBuff = [];
				  	//string variable to hold barcode string
				  	var aBarcode = "";

					newDevice.on("data", (chunk) => {
						if(!elecStore.get('isLogedIn')) {
							newDevice.close()
						} else {
							if (this.hidMap[chunk[2]]) {
						      	//if not bcodeBuff escape char (40)
						      	if (chunk[2] !== 40) {
							        bcodeBuff.push(this.hidMap[chunk[2]]);
						      	} else {
							        //revieved escape code, join bCodebuff array and
							        aBarcode = bcodeBuff.join("");
							        bcodeBuff = [];
							        //emit newCode event
							        if(this.enableScan) {
							        	this.newBarcodeVal = aBarcode
						       		 	console.log('barcode recieved', aBarcode)
						       		 	this.invoiceDataForBarcode(aBarcode)
							        }
						      	}
						    }
						}											
					})
				} else {
					console.log('barcode scanner disconnected')
					this.flash('Barcode scanner connection failed', 'warning')
					this.$store.dispatch('AppState/setBcsState', false)
				}
			},
			initBarcodeReader() {
				var self = this

				var deviceVendorId = this.bcsVendorId
				var productId = this.bcsProductId
				
				console.log('init barcode reader...')

				if(deviceVendorId && productId) {
					// listen for barcode device connect
					usbDetect.on('add:' + deviceVendorId + ':' + productId, function(barcodeDevice) { 
						console.log('ccc', barcodeDevice)
						removeCounter = 0
						if(addCounter == 0) {
							self.barcodeDeviceController('start')
							self.flash('Barcode scanner is connected', 'info')
							self.$store.dispatch('AppState/setBcsState', true)
							addCounter++
						}
					})
					
					usbDetect.on('remove:' + deviceVendorId + ':' + productId, function(barcodeDevice) { 
						console.log('aaa', barcodeDevice)
						addCounter = 0
						if(removeCounter == 0) {
							//self.barcodeDeviceController('stop', deviceVendorId, productId)
							self.flash('Barcode scanner is disconnected', 'warning')
							self.$store.dispatch('AppState/setBcsState', false)
							removeCounter++
						}
						

					})

					usbDetect.find(function(err, devices) { 
						if(err) {
							//console.log('USB error', err)
							self.$store.dispatch('AppState/setBcsState', false)
						} else {
							var bcsDeviceFound = false
							devices.forEach(function(d){
								if(d.vendorId == deviceVendorId && d.productId == productId) {
									bcsDeviceFound = true
								}
							})
							if(bcsDeviceFound) {
								self.barcodeDeviceController('start')
								self.$store.dispatch('AppState/setBcsState', true)
							}
						}
					})

					//console.log('usb', usbDetect)
				}								
			},
			askPermission(action) {
				this.currentAction = action
				this.$modal.hide('invoice-details-modal')
				this.$modal.show('action-permission-modal')
			},
			actionPermitted(isPermitted) {
				var self = this
				if(isPermitted) {
					switch(self.currentAction) {
						case ACTION_EDIT_INVOICE:
							self.currentAction = 0
							self.$modal.hide('action-permission-modal')
							self.editInvoice()
							break
						case ACTION_CANCEL_INVOICE:
							self.currentAction = 0
							self.$modal.hide('action-permission-modal')
							self.cancelInvoice()
							break

						default:
							self.$modal.hide('action-permission-modal')
							console.log("invalid action " + action)
					}
				}
			},
			clearModal: function() {

			}
		},
		mounted() {
			this.initBarcodeReader()
		},
		beforeUpdate() {
			this.initBarcodeReader()
		}
	};
</script>

<style lang="scss">
	.invoice-search-panel {
		padding: 0.2rem;

		.row {
			width: 100%;
		}

		.v-select {
			width: 19rem;
		}

		.modal-body-section {
			padding: 20px;

			.invoice-data-row {
				margin-bottom: 5px;
				padding: 5px 0;
				border-bottom: 1px dashed #ddd;
				font-size: 0.8rem;

				label {
					min-width: 90px;
					margin-bottom: 0;
				}
			}

			.content-row {
				margin-top: 10px;
				margin-bottom: 10px
			}

			table.test-profile-details {
				th {
					font-weight: 500;
					padding: 3px 0;
				}

				td {
					font-size: 0.8rem;
					padding: 3px 5px;
				}
			}
		}
	}

	.invoice-details-modal {
		background: #efefef;
		box-shadow: 0 0 60px -10px;

		.pay-type {
			margin-bottom: 20px;

			.pay-type-box {
				padding: 10px 15px;
				font-size: 1.2rem;
				text-align: center;
				width: 13rem;
				display: inline-block;
				float: left;
			}

			.pay-amount-box {
				display: inline-block;
				width: 13rem;
				font-size: 0.8rem;

				label {
					margin-bottom: 0;
				}

				.total {
					padding: 4px 15px 0 15px;
				}

				.balance {
					padding: 0 15px 4px 15px;
				}
			}

			.pay-amount-box.full {
				border: 1px dashed #28a745;
				border-radius: 0 10px 10px 0;
				color: #28a745;
			}

			.pay-amount-box.advance {
				border: 1px dashed #dc3545;
				border-radius: 0 10px 10px 0;
				color: #dc3545;
			}

			.pay-type-box.full {
				background: #28a745;
				border-radius: 10px 0 0 10px;
				color: #fff;
				font-weight: 500;
			}

			.pay-type-box.advance {
				background: #dc3545;
				border-radius: 10px 0 0 10px;
				color: #fff;
				font-weight: 500;
				padding: 5px 15px;
    			line-height: 1.2rem;
			}
		}

		.pay-type * {
			vertical-align: bottom;
		}
	}
</style>