<template>
  <div class="container-fluid login-form-container" v-show="readyToShow">   
      <h4 class="page-title" v-if="newRecord">Create new Invoice</h4>
      <h4 class="page-title" v-else>Edit Invoice</h4>
      <div class="row">
          <div class="col-6">
            <h5 class="sub-title">Reference details</h5>
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="bill-no">Invoice No</label>
                  <div class="form-control form-control-sm">{{ invoice_no }}</div>
                </div>
              </div>
              <div class="col-3" v-if="billNumberEnabled">
                <div class="form-group">
                  <label>Bill number</label>
                  <input type="text" class="form-control form-control-sm" name="bill_number" v-model="billNo">
                  <!--div v-show="errors.first('bill_number')" class="help-text text-danger">{{ errors.first('bill_number') }}</div -->
                </div>
              </div>  
              <div class="col-3">
                <div class="form-group">
                  <label for="colleted_date">Collected time</label>
                  <date-picker v-model="collectedDate" type="datetime" name="collected_date" :first-day-of-week="1" lang="en" input-class="form-control form-control-sm" width="100%" :show-second="false" :use12h="true" :editable="true" :class="['search-by-date-wraper']" :clearable="false" :not-after="new Date()" format="YYYY-MM-DD hh:mm a" value-type="YYYY-MM-DD HH:mm:ss" placeholder=" " v-validate="'required'"></date-picker> 
                  <div v-show="errors.first('collected_date')" class="help-text text-danger">{{ errors.first('collected_date') }}</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="collecting-center">Collecting center</label>
                      <v-select name="collecting_center" id="collecting_center" :options="colCenters" v-model="collectingCenter" v-validate="'required'">
                        <template slot="option" slot-scope="option">
                              <div>{{ option.label }}</div>
                              <div class="sub-text" v-html="option.sub_text"></div>
                          </template>
                      </v-select>
                      <div v-show="errors.first('collecting_center')" class="help-text text-danger">{{ errors.first('collecting_center') }}</div>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="ref_doctor">Ref. Doctor</label>
                  <b-button size="sm" variant="outline-secondary" class="float-right btn-xs-text btn-rounded" title="add new doctor" @click.prevent="openAddDoctorModal"><font-awesome-icon :icon='["fas", "plus"]' /></b-button>
                  <v-select name="ref_doctor" id="ref_doctor" :options="refDortors" v-model="refDoctor">
                      <template slot="option" slot-scope="option">
                          <div>{{ option.label }}</div>
                          <div class="sub-text" v-html="option.sub_text"></div>
                      </template>
                  </v-select>
                </div>
              </div>
            </div>
            <h5 class="sub-title">Personal details</h5>             
            <div class="form-group">
              <div class="row">
                <div class="col-4">
                  <label for="nic">NIC</label>
                  <v-select taggable name="nic" id="nic" ref="nicSelectBox" inputId="nic_select_search_input" :options="custNICs" v-model="customerNIC" :value="customerNIC" :onSearch="searchNIC" :onChange="autoFillIfExists" v-validate="'min:9'">
                  </v-select>
                  <!--input type="text" name="nic" id="nic" class="form-control form-control-sm" v-model="customerNIC" v-validate="'min:9'" @blur.prevent="autoFillIfExists" -->
                  <div v-show="errors.first('nic')" class="help-text text-danger">{{ errors.first('nic') }}</div>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    <label for="customer_name">Customer Name</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <select class="" id="customer-title" v-model="customerTitle" name="customer-title" @change.prevent="setGender">
                          <option value="Mr.">Mr</option>
                          <option value="Mrs.">Mrs</option>
                          <option value="Miss.">Miss</option>
                          <option value="Master.">Master</option>
                          <option value="Ven.">Ven</option>
                          <option value="Baby.">Baby</option>
                        </select>
                      </div>
                      <input type="text" class="form-control form-control-sm" id="customer_name" name="customer_name" v-model="customerName" v-validate="'required'">
                    </div>
                    <div v-show="errors.first('customer_name')" class="help-text text-danger">{{ errors.first('customer_name') }}</div>
                  </div>
                </div>
              </div>
            </div>   

            <div class="form-group">
              <div class="row">
                <div class="col-3">
                  <label for="customer-sex">Gender</label>
                  <div>
                    <input type="radio" name="customer-sex" id="customer-sex-m" value="M" v-model="customerSex">&nbsp;<label>Male</label>&nbsp;&nbsp;
                    <input type="radio" name="customer-sex" id="customer-sex-f" value="F" v-model="customerSex">&nbsp;<label>Female</label>
                  </div>
                </div>
                <div class="col-4">
                  <label for="customer-dob">Date of birth</label>
                  <date-picker v-model="customerDOB" :first-day-of-week="1" lang="en" input-class="form-control form-control-sm" width="90%" :editable="true" :class="['search-by-date-wraper']" placeholder="yyyy-mm-dd" :not-after="new Date()" format="YYYY-MM-DD" value-type="YYYY-MM-DD"></date-picker>
                </div>
                <div class="col-5">
                  <label for="customer-age">Age</label>
                  <div class="input-group">
                      <input type="number" name="customer-age-y" id="customer-age-y" class="form-control form-control-sm" min="0" v-model="customerAgeY" @blur.prevent="resetIfZero('customerAgeY')" v-validate="'required|mandatoryage'" data-vv-as="Age">
                      <label for="customer-age-y">Y</label>
                      <input type="number" name="customer-age-m" id="customer-age-m" class="form-control form-control-sm" min="0" v-model="customerAgeM" @blur.prevent="resetIfZero('customerAgeM')" v-validate="'required|mandatoryage'" data-vv-as="Age">
                      <label for="customer-age-m">M</label>
                      <input type="number" name="customer-age-d" id="customer-age-d" class="form-control form-control-sm" min="0" v-model="customerAgeD" @blur.prevent="resetIfZero('customerAgeD')" v-validate="'required|mandatoryage'" data-vv-as="Age">
                      <label for="customer-age-d">D</label>
                  </div>
                  <div v-show="errors.first('customer-age-y')" class="help-text text-danger">{{ errors.first('customer-age-y') }}</div>
                </div>
              </div>            
            </div>   

            <div class="form-group">
              <label for="customer-address">Address</label>
              <input type="text" name="customer-address" id="customer-address" class="form-control form-control-sm" v-model="customerAddress">
            </div>  

            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="customer-phone">Phone</label>
                  <input type="text" name="customer-phone" id="customer-phone" class="form-control form-control-sm" v-model="customerPhone">
                </div>
                <div class="col-6">
                  <label for="customer_email">Email</label>
                  <input type="email" name="customer_email" id="customer_email" class="form-control form-control-sm" v-model="customerEmail" v-validate="'email'">
                  <div v-show="errors.first('customer_email')" class="help-text text-danger">{{ errors.first('customer_email') }}</div>
                </div>
              </div>
            </div>   
          </div>
          <div class="col-6">
            <h5 class="sub-title">Health related data</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-4">
                  <label for="customer-height">Height</label>
                  <div class="input-group input-group-sm">
                    <input type="number" name="customer-height" id="customer-height" class="form-control form-control-sm" min="0" value="0" v-model="customerHeight">
                    <div class="input-group-append">
                      <span class="input-group-text" id="height-unit">cm</span>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="customer-weight">Weight</label>
                  <div class="input-group input-group-sm">
                    <input type="number" name="customer-weight" id="customer-weight" class="form-control form-control-sm" min="0" value="0" v-model="customerWeight">
                    <div class="input-group-append">
                      <span class="input-group-text" id="weight-unit">kg</span>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="blood-type">Blood type</label>
                  <select name="blood-type" id="blood-type" class="form-control form-control-sm" v-model="customerBloodType">
                    <option value=""></option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB-">AB-</option>
                    <option value="AB+">AB+</option>
                  </select>
                </div>
              </div>
            </div> 
            <div class="form-group">
              <label><font-awesome-icon :icon="['fas', 'tachometer-alt']" class="text-primary" />&nbsp;BMI:</label>&nbsp;<span :class="['bmi-result', BMIClass[BMIname]]">{{ BMI ? BMI : 'Please enter weight and height to calculate BMI' }}</span>
            </div>
            <h5 class="sub-title">Tests details</h5>
            <div class="form-group">
              <label for="customer_tests">Select Test profiles/Packages/Group</label>
              <v-select multiple name="customer_tests" id="customer-tests" :options="testProfileOpts" v-model="selectedTestProfiles" :onChange="setProfilePriceOnProfileChange" v-validate="'required'" data-vv-validate-on="none">
                  <template style="border-bottom: 1px dashed #ddd;" slot="option" slot-scope="option">
                      <div>{{ option.label }}</div>
                      <div class="sub-text">{{option.itemType.charAt(0).toUpperCase() + option.itemType.slice(1)}}</div>
                  </template>
              </v-select>
              <div v-show="errors.first('customer_tests')" class="help-text text-danger">{{ errors.first('customer_tests') }}</div>
            </div>

            <div id="invoice-tests-list">
              <table width="100%">
                  <thead>
                      <tr class="invoice-header">
                          <th>Test name</th>
                          <th class="text-right" width="150px">Price (Rs.)</th>
                      </tr>
                      <tr v-show="!selectedTestProfiles || selectedTestProfiles.length == 0">
                          <td class="no-data-label" colspan="2">No tests selected yet</td>
                      </tr>
                  </thead>

                  <transition-group name="list" tag="tbody">
                      <tr :class="['invoice-row', {'indicate': tProf.indicate}]" v-for="(tProf, index) in billItems" :key="'tp_' + index">
                          <td>{{ tProf.label }}</td>
                          <td class="text-right">{{ tProf.price }}</td>
                      </tr>
                      <tr class="invoice-footer" key="tp_gross_total">
                          <td class="text-right"><strong>Gross total (Rs.)</strong></td>
                          <td class="text-right">{{ grossTotal }}</td>
                      </tr>
                      <tr class="invoice-footer" key="tp_discount">
                          <td class="text-right"><strong>Discount</strong> ({{ discount }}%)</td>
                          <td class="text-right">-{{ discountedAmount }}</td>
                      </tr>
                      <tr class="invoice-footer" key="tp_total">
                          <th class="text-right">Total (Rs.)</th>
                          <th class="text-right">{{ totalAmount }}</th>
                      </tr>
                  </transition-group>
              </table>
            </div>

            <div class="form-group">
              <div class="row">
                  <div class="col-5">
                      <div v-if="externalLabEnabled">
                          <label>Send to external laboratory</label>
                          <v-select :disabled="disableExtLabSelect" :options="externalLabsOpts" v-model="externalLab" inputId="ext_lab_search_input" :onChange="setPriceFromExtLab">
                          </v-select>
                          <div class="help-text text-danger" v-show="!extLabCheck">
                            <router-link :to="{name: 'external-labs'}">External Labs</router-link> price list is not upto date.
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <label for="test-pay-type">Payment method</label>
                      <select v-model="paymentMethod" class="form-control form-control-sm" @change="setPayType">
                        <option v-for="(paymethod, pmIndex) in getPayMethods()" :value="paymethod.value" v-bind:key="'pmethod'+pmIndex">{{ paymethod.text }}</option>
                      </select>
                  </div>
                  <div class="col-4">
                      <label for="test-pay-type">Payment status</label>
                      <select v-model="paymentStatus" class="form-control form-control-sm" @change="setPayType">
                          <option value="1">Full payment</option>
                          <option value="0">Advance payment</option>
                      </select>
                  </div>
                </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-3">
                  <label for="test-price">Price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="test-price-unit">Rs.</span>
                    </div>
                    <div class="form-control form-control-sm">{{ totalAmount }}</div>
                  </div>
                </div>
                
                <div class="col-3">
                  <label for="test-pay-amount">Paid Amount</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="test-pay-amount-unit">Rs.</span>
                    </div>
                    <input type="number" name="test-pay-amount" id="test-pay-amount" class="form-control form-control-sm" min="0" value="0.00" @focus="emptyIfZero('paidAmount')" @blur="resetIfZero('paidAmount')" v-model="paidAmount">
                  </div>
                </div>
                <div class="col-3">
                  <label for="test-pay-discount">Discount</label>
                  <div class="input-group">
                    <input type="number" name="test-pay-discount" id="test-pay-discount" class="form-control form-control-sm" min="0" v-model="discount" value="0.00" @focus="emptyIfZero('discount')" @blur="resetIfZero('discount')">
                    <div class="input-group-append">
                      <span class="input-group-text" id="test-pay-discount-unit">%</span>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                      <label for="test-pay-balance">Balance</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="test-pay-balance-unit">Rs.</span>
                        </div>
                        <div id="test-pay-balance" class="form-control form-control-sm">{{ balanceAmount }}</div>
                      </div>
                  </div>  
              </div>            
            </div>

            <div class="form-group">
              <div class="row">
                  <div class="col-6">
                      <button v-if="activeInvoiceId" class="btn btn-warning btn-sm" @click.prevent="showPreview">Invoice preview</button>
                      <button class="btn btn-primary btn-sm" name="register-customer-btn" id="register-customer-btn" @click.prevent="registerInvoice(willPrint=false)"><font-awesome-icon :icon="['far', 'save']" />&nbsp;Save invoice</button>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-success btn-sm" name="register-customer-btn" id="register-customer-btn" :disabled="!invoicePrintEnabled" :title="invoicePrintDisabledTooltip" @click.prevent="registerInvoice(willPrint=true)"><font-awesome-icon :icon="['fas', 'print']" />&nbsp;Save and print</button>
                    <button class="btn btn-secondary btn-sm" name="cancel-reg-btn" id="cancel-reg-btn" @click.prevent="resetForm"><span v-if="newRecord">New invoice</span><span v-else>Cancel</span></button>
                  </div>
              </div>
            </div>
          </div>
      </div>
    <voo-loader :isLoading="isLoading"></voo-loader>

    <vu-modal name="invoice-preview-modal"
            width="70%"
            height="auto"
            :scrollable="true"
            :classes="['invoice-preview-modal']"
            @before-close="clearModal">

            <invoice-preview
                :customerName="prevCustomerName"
                :customerPhone="prevCostomerPhone"
                :collectingCenter="prevColCenter"
                :invoice-number="prevInvoiceNumber"
                :billNumber="prevBillNumber"
                :invoiceItems="prevInvoiceItems"
                :grossTotal="prevGrossTotal"
                :discount="prevDiscount"
                :netTotal="prevNetTotal"
                :invoiceTime="prevInvoiceTime"
                :payType="prevPayType"
                :payMethod="prevPayMethod"
                :extLab="prevExtLab"
                :advancePayment="prevPaidAmount"
                :labName="labName"
                :labAddress="labAddress"
                :labPhone="labPhone"
                :labEmail="labEmail"
                :labWeb="labWeb"
                :cashier="cashier"
            ></invoice-preview>
    </vu-modal>

    <vu-modal
        name="add-new-doctor-modal"
        width="50%"
        height="auto"
        :clickToClose="false"
        :classes="['add-new-doctor-modal']"
        @before-close="resetNewDocForm">

        <div class="bl-modal-title">
          <div class="col-12">
              <h5>Add new doctor</h5>
              <button class="btn btn-sm btn-outline-light modal-close-btn" @click.prevent="closeNewDocModal">
                  <font-awesome-icon :icon="['fas', 'times']"></font-awesome-icon>
              </button>
            </div>
        </div>
        <div class="col-12 add-new-doctor-form-div">
            <div class="modal-body-section">
              <div class="help-text">For preventing duplications, please search the <b>Ref. Doctor</b> select box in the invoice form and make sure that the name is not there, before you adding new doctors.</div>
              <div class="form-group">
                  <label for="doc_name">Name</label>
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <select name="doc_title" v-model="docTitle">
                              <option value="Dr">Dr</option>
                              <option value="PROF">PROF</option>
                          </select>
                      </div>
                      <input type="text" name="doc_name" v-model="docName" class="form-control form-control-sm" v-validate="'required'" placeholder="Name is required" data-vv-as="Name" data-vv-scope="add-doctors-form">
                  </div>
                  <div v-show="errors.first('add-doctors-form.doc_name')" class="help-text text-danger">{{ errors.first('add-doctors-form.doc_name') }}</div>
              </div>

              <div class="form-group">
                <label for="specialty">Phone</label>
                <input type="text" name="phone" v-model="docPhone" class="form-control form-control-sm">
              </div>

              <div class="form-group">
                  <label for="specialty">Specialty</label>
                  <v-select name="specialty" id="specialty" :options="specialtyList" maxHeight="100px" v-model="docSpecialty" placeholder="optional">
                  </v-select>
              </div>

              <div class="form-group">
                  <label for="specialty">Description</label>
                  <input type="text" name="description" v-model="docDescription" placeholder="optional" class="form-control-sm form-control">
              </div>

              <div v-if="enableDoctorsPercentage" class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label>Percentage</label>
                    <div class="input-group input-group-sm">
                      <input type="number" min="0" name="doc_percentage" class="form-control form-control-sm" v-model="docPercentage">
                      <div class="input-group-append">
                        <div class="input-group-text">%</div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <button class="btn btn-info btn-sm" @click.prevent="saveDoctor('add-doctors-form')">Save doctor</button>
              </div>
            </div>
        </div>
    </vu-modal>
  </div>
</template>

<script>
  import { remote } from 'electron'
  //import NavBarCom from './NavBar.vue'
  import DatePicker from 'vue2-datepicker'
  import 'vue2-datepicker/index.css';
  import { Validator } from 'vee-validate'
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
  import VooLoading from './VooLoading.vue'
  import vSelect from 'vue-select'
  import InvoicePreview from './InvoicePreview'

  const calcBmi = require('bmi-calc')

  const Store = require('electron-store')
  const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})
  const alphanuminc = require('alphanum-increment')
  const aplIncrement = alphanuminc.increment
  const calculateFullAge = require('full-age-calculator')
  const nicInfo = require('nic-info').nicInfo

  const PAY_TYPE_FULL = 1
  const PAY_TYPE_ADVANCE = 0

  const INVOICE_STATUS_PENDING = store.get('app-config').INVOICE_STATUS_PENDING
  const INVOICE_STATUS_TEST_DONE = store.get('app-config').INVOICE_STATUS_TEST_DONE
  const INVOICE_STATUS_PRINTED = store.get('app-config').INVOICE_STATUS_PRINTED

  const PAY_METHOD_CASH = store.get('app-config').PAY_METHOD_CASH
  const PAY_METHOD_CREDIT_CARD = store.get('app-config').PAY_METHOD_CREDIT_CARD

  const dictionary = {
    en: {
      attributes: {
        collecting_center: 'Collecting center',
        customer_tests: 'Test profiles',
        collected_date: 'Collected date',
        nic: 'NIC',
        customer_name: 'Customer name',
        customer_email: 'Email'
      }
    }
  }

  Validator.localize(dictionary)

  export default {
    name: 'landing-page',
    components: { 
      //'navbar-com': NavBarCom,
      DatePicker,
      Validator,
      FontAwesomeIcon,
      'voo-loader': VooLoading,
      'v-select': vSelect,
      InvoicePreview
    },
    data() {
      return {
        editInvoiceNo: null,
        customerNIC: null,
        newCustomerNIC: null,
        custNICs: [],
        customerTitle: "Mr.",
        customerName: null,
        customerSex: 'M',
        customerDOB: null,
        customerAgeY: 0,
        customerAgeM: 0,
        customerAgeD: 0,
        customerAddress: null,
        customerPhone: null,
        customerEmail: null,
        customerBloodType: null,
        invoicePrintEnabled: store.get('system_settings') && store.get('system_settings').print_settings && store.get('system_settings').print_settings.printInvoiceInTheSameComputer,
        invoicePrintDisabledTooltip: store.get('system_settings') && store.get('system_settings').print_settings && !store.get('system_settings').print_settings.printInvoiceInTheSameComputer ? "Action disabled in settings." : '',
        
        billNumberEnabled: store.get('system_settings').lab_info.enableBillNumber,
        billNo: null,

        enableDoctorsPercentage: store.get('system_settings').lab_info.enableDoctorsPercentage,

        collectingCenter: Object.keys(this.getDefaultColCenter()).length > 0 ? this.getDefaultColCenter() : null,
        customerWeight: 0,
        customerHeight: 0,
        paymentStatus: PAY_TYPE_FULL,
        paymentMethod: PAY_METHOD_CASH,
        PayMethods: this.getPayMethods(),
        collectedDate: this.formatDate(new Date(), true, true),
        invoice_no: this.nextInvoiceNumber(),
        refDoctor: null,
        colCenters: this.getColCenters(),
        refDortors: this.getDoctors(),
        selectedTestProfiles: [],
        billItems: [],
        testProfileOpts: this.getTestProfiles(),
        externalLabsOpts: this.getExternalLabs(),
        externalLab: null,
        disableExtLabSelect: false,
        discount: parseFloat(0).toFixed(2),
        grossTotal: parseFloat(0).toFixed(2),
        paidAmount: parseFloat(0).toFixed(2),
        extLabCheck: true,

        existingTestProfiles: [], // this is for invoice update

        readyToShow: false,
        isLoading: false,
        activeInvoiceId: null,
        custId: 0,

        prevCustomerName: null,
        prevCostomerPhone: null,
        prevColCenter: null,
        prevInvoiceNumber: '',
        prevBillNumber: null,
        prevInvoiceItems: [],
        prevGrossTotal: 0,
        prevDiscount: 0,
        prevNetTotal: 0,
        prevInvoiceTime: '',
        prevPayType: PAY_TYPE_FULL,
        prevPayMethod: PAY_METHOD_CASH,
        prevExtLab: null,
        prevPaidAmount: 0,
        labName: null,
        labAddress: null,
        labPhone: null,
        labEmail: null,
        labWeb: null,
        cashier: store.get('isLogedIn') && store.get('user').name,

        docTitle: 'Dr',
        docName: null,
        docSpecialty: null,
        docPhone: null,
        docDescription: null,
        docPercentage: null,
        specialtyList: this.getSpecialtyList(),
        BMIname: 'none',
        BMIClass: {
          "none": 'text-normal',
          "Very Severely Underweight": 'text-blod text-danger',
          "Severely Underweight": 'text-blod text-warning',
          "Underweight": 'text-blod text-warning',
          "Normal": 'text-blod text-success',
          "Overweight": 'text-blod text-warning',
          "Moderately Obese": 'text-blod text-warning',
          "Severely Obese": 'text-blod text-danger',
          "Very Severely Obese": 'text-blod text-danger' }
      }
    },
    created() {
      var _this = this
      this.$validator.extend('mandatoryage', {
        getMessage: field => 'The ' + field + ' is a mandatory field.',
        validate: value => {
          if((!_this.customerAgeY || _this.customerAgeY === null || _this.customerAgeY == 0) && (!_this.customerAgeM || _this.customerAgeM === null || _this.customerAgeM == 0) && (!_this.customerAgeD || _this.customerAgeD === null || _this.customerAgeD == 0)) {
            //console.log('in validate', _this.customerAgeY, _this.customerAgeM, _this.customerAgeD)
            return false
          } else {
            //console.log('in validate true')
            return true
          }
        }
      })
    },
    watch: {
      customerDOB: function(newVal, oldVal) {
        if(newVal && newVal != '') {
            var ageObj = calculateFullAge.getFullAge(newVal)
            if(ageObj) {
                this.customerAgeY = ageObj.years
                this.customerAgeM = ageObj.months
                this.customerAgeD = ageObj.days
            }
        }
      }
    },
    computed: {
        newRecord() {
            if(this.$route.params.invoice_no || this.editInvoiceNo) {
                return false
            } else {
                return true
            }
        },
        totalAmount: function() {
            var totalAmountVal = 0
            var dicountAmount = 0

            if(this.billItems) {
                this.billItems.forEach(function(v){
                    totalAmountVal += parseFloat(v.price)
                })
            }

            this.grossTotal = totalAmountVal.toFixed(2)

            totalAmountVal = (totalAmountVal - (totalAmountVal * this.discount)/100).toFixed(2)
            return totalAmountVal
        },
        discountedAmount: function() {
            var grossTot = this.grossTotal

            return (grossTot*this.discount/100).toFixed(2)
        },
        balanceAmount: function() {
            var paidAmountVal = this.paidAmount
            var totalAmountVal = this.totalAmount
            /*console.log('total', totalAmountVal, 'paid', paidAmountVal)
            if(totalAmountVal > paidAmountVal) {
                this.paymentStatus = PAY_TYPE_ADVANCE
            } else {
                this.paymentStatus = PAY_TYPE_FULL
            }*/

            return (totalAmountVal - paidAmountVal).toFixed(2)
        },
        externalLabEnabled() {
            return store.get('system_settings').exteralLabSettings.enabled
        },
        BMI() {
          var bmiValue = null
          this.BMIname = 'none'
          if(this.customerWeight > 0 && this.customerHeight > 0) {
            var bmiCalc = calcBmi(this.customerWeight, this.customerHeight/100, false)
            bmiValue = bmiCalc.name + " (" + bmiCalc.value.toFixed(2) + ")"
            this.BMIname = bmiCalc.name
          }

          return bmiValue
        }
    },
    methods: {
      getPayMethods() {
        var payMethodsObj = store.get('app-config').Payment_methods
        var payMethodsOpts = []
        Object.keys(payMethodsObj).forEach(function(v) {
          //console.log(v, payMethodsObj[v], PAY_METHOD_CASH)
          payMethodsOpts.push({
            value: v,
            text: payMethodsObj[v]
          })
        })

        return payMethodsOpts
      },
        isLogedIn: function() {
            if(!store.get('isLogedIn')) {
                this.$router.push({name: 'login-page'})
            } else {
                this.readyToShow = true
            }
        },
        emptyIfZero(thisModel) {
          if(thisModel == 'paidAmount') {
            if(this.paidAmount == parseFloat(0).toFixed(2) || this.paidAmount == null) {
              this.paidAmount = null
            }            
          } else if(thisModel == 'discount') {
            if(this.discount == parseFloat(0).toFixed(2) || this.discount == null) {
              this.discount = null
            }
          }
        },
        resetIfZero(thisModel) {
          if(thisModel == 'paidAmount') {
            if(!this.paidAmount) {
              this.paidAmount = parseFloat(0).toFixed(2)
            }
          } else if(thisModel == 'discount') {
            if(!this.discount) {
              this.discount = parseFloat(0).toFixed(2)
            }
          } else if(thisModel == 'customerAgeY') {
            if(!this.customerAgeY) {
              this.customerAgeY = 0
            }
          } else if(thisModel == 'customerAgeM') {
            if(!this.customerAgeM) {
              this.customerAgeM = 0
            }
          } else if(thisModel == 'customerAgeD') {
            if(!this.customerAgeD) {
              this.customerAgeD = 0
            }
          }
          
        },
        getExternalLabs() {
            var _this = this
            var selectExternalLabsQuery = "SELECT * FROM `bloomy_external_labs` WHERE `is_deleted` IS NULL OR `is_deleted`=0"
            var externalLabArgs = JSON.stringify({query: selectExternalLabsQuery, params: []})
            var extermalLabsRes = this.$electron.ipcRenderer.sendSync('db-query', externalLabArgs)

            var extLabOpts = []
            extermalLabsRes.forEach(function(v){
                extLabOpts.push({
                    label: v.lab_name,
                    value: v.id,
                    percentage: v.percentage
                })
            })

            return extLabOpts
        },
        setPriceFromExtLab(extLabObj) {
            var _this = this
            this.externalLab = extLabObj
            
            if(this.billItems.length > 0) {
                var profileIds = []
                var profilePrices = {}
                //console.log('item ids', this.billItems)
                this.billItems.forEach(function(v){
                    if(v.itemType == 'profile') {
                        profileIds.push(v.value)
                    }
                })

                //console.log('item ids', profileIds)
                if(extLabObj) {
                    var extLabId = extLabObj.value
                    
                    var getExtLabPricesQuery = "SELECT `profile_id`,`price` FROM `bloomy_external_labs_test_price` WHERE `lab_id`= ? AND `profile_id` IN ('" + profileIds.join("','") + "')"
                    var extLabPricesArgs = JSON.stringify({query: getExtLabPricesQuery, params: [extLabId]})

                    var extLabPriceRes = this.$electron.ipcRenderer.sendSync('db-query', extLabPricesArgs)

                    extLabPriceRes.forEach(function(p){
                        profilePrices[p.profile_id] = p.price
                    })

                    _this.billItems.forEach(function(pp, k) {
                        if(pp.itemType == 'profile') {
                            if(profilePrices[pp.value]) {
                                _this.billItems[k].price = profilePrices[pp.value]
                            }
                        }
                        
                    })
                } else {
                    var selectOriginalPrcesQuery = "SELECT * FROM `bloomy_profiles` WHERE `id` IN ('" + profileIds.join("','") + "')"
                    var originalPriceQueryArgs = JSON.stringify({query: selectOriginalPrcesQuery, params: []})
                    var originaPriceRes = this.$electron.ipcRenderer.sendSync('db-query', originalPriceQueryArgs)

                    originaPriceRes.forEach(function(op) {
                        profilePrices[op.id] = op.price
                    })

                    _this.billItems.forEach(function(pp, k) {
                        if(pp.itemType == 'profile') {
                            if(profilePrices[pp.value]) {
                                _this.billItems[k].price = profilePrices[pp.value]
                            }
                        }
                        
                    })
                }
            }
        },
        setProfilePriceOnProfileChange(profileObj) {
            var _this = this
            console.log(this.selectedTestProfiles)
            this.billItems = []
            this.disableExtLabSelect = false
            if(profileObj) {
                var profileIds = []
                var packageProfileIds = []
                var profilePrices = {}
                profileObj.forEach(function(v){
                    if(v.itemType == 'profile') {
                        var duplicate = false
                        if(profileIds.indexOf(v.value) >= 0 || packageProfileIds.indexOf(v.value) >= 0) {
                            duplicate = true
                            _this.flash('<b>Duplicated profile detected!</b><br/>Please remove unwanted profiles from the invoice.', 'warning')
                        }

                        profileIds.push(v.value)
                        
                        _this.billItems.push({
                            label: v.label,
                            value: v.value,
                            price: parseFloat(v.price).toFixed(2),
                            itemType: 'profile',
                            indicate: duplicate
                        })
                    } else if(v.itemType == 'group') {
                        var groupId = v.value
                        // extract profiles from Group and sel them as selectedProfiles
                        var selectProfilesQuery = "SELECT p.* FROM `bloomy_profiles` p INNER JOIN `bloomy_groups_profiles` gp ON gp.`profile_id`=p.`id` INNER JOIN `bloomy_profile_groups` g ON g.`id`=gp.`group_id` WHERE g.`id`=?"
                        var profileQueryArgs = JSON.stringify({query: selectProfilesQuery, params: [groupId]})
                        var profileQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', profileQueryArgs)

                        profileQueryRes.forEach(function(gp){
                            var duplicate = false
                            if(profileIds.indexOf(gp.id) >= 0 || packageProfileIds.indexOf(gp.id) >= 0) {
                                duplicate = true
                                _this.flash('<b>Duplicated profile detected!</b><br/>Please remove unwanted profiles from the invoice.', 'warning')
                            }

                            profileIds.push(gp.id)

                            _this.billItems.push({
                                label: gp.profile_name,
                                value: gp.id,
                                price: parseFloat(gp.price).toFixed(2),
                                itemType: 'profile',
                                indicate: duplicate
                            })
                        })
                    } else if(v.itemType == 'package') {
                        _this.disableExtLabSelect = true
                        _this.externalLab = null

                        var packageId = v.value

                        var selectPackageProfiles = "SELECT `profile_id` FROM `bloomy_package_profile` WHERE `package_id`=?"
                        var selectPackageProfilesArgs = JSON.stringify({query: selectPackageProfiles, params: [packageId]})
                        var pakageProfileQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', selectPackageProfilesArgs)

                        /* check for existance of profileIds in package and separately in bill.
                            remove such profles from the bill */
                        var duplicate = false
                        pakageProfileQueryRes.forEach(function(pc){    
                            packageProfileIds.push(pc.profile_id)                        
                            if(profileIds.indexOf(pc.profile_id) >= 0) {
                                duplicate = true
                                _this.flash('<b>Duplicated profile detected!</b><br/>Please remove unwanted profiles from the invoice.', 'warning')
                            }
                        })

                        _this.billItems.push({
                            label: v.label,
                            value: v.value,
                            price: parseFloat(v.price).toFixed(2),
                            itemType: 'package',
                            indicate: duplicate
                        })
                    }
                })

                if(this.externalLab) {
                    var extLabId = this.externalLab.value
                    
                    var getExtLabPricesQuery = "SELECT `profile_id`,`price` FROM `bloomy_external_labs_test_price` WHERE `lab_id`= ? AND `profile_id` IN ('" + profileIds.join("','") + "')"
                    var extLabPricesArgs = JSON.stringify({query: getExtLabPricesQuery, params: [extLabId]})

                    var extLabPriceRes = this.$electron.ipcRenderer.sendSync('db-query', extLabPricesArgs)

                    extLabPriceRes.forEach(function(p){
                        profilePrices[p.profile_id] = parseFloat(p.price).toFixed(2)
                    })

                    _this.billItems.forEach(function(pp, k) {
                        if(pp.itemType == 'profile') {
                            if(profilePrices[pp.value]) {
                                _this.billItems[k].price = profilePrices[pp.value]
                            }
                        }                        
                    })
                } else {
                    var selectOriginalPrcesQuery = "SELECT * FROM `bloomy_profiles` WHERE `id` IN ('" + profileIds.join("','") + "')"
                    var originalPriceQueryArgs = JSON.stringify({query: selectOriginalPrcesQuery, params: []})
                    var originaPriceRes = this.$electron.ipcRenderer.sendSync('db-query', originalPriceQueryArgs)

                    originaPriceRes.forEach(function(op) {
                        profilePrices[op.id] = parseFloat(op.price).toFixed(2)
                    })

                    _this.billItems.forEach(function(pp, k) {
                        if(pp.itemType == 'profile') {
                            if(profilePrices[pp.value]) {
                                _this.billItems[k].price = profilePrices[pp.value]
                            }
                        }
                        
                    })
                }
            }
        },
        nextInvoiceNumber: function() {
            var query = "SELECT MAX(`invoice_no`) as max_invoice_no FROM bloomy_invoice"
            var queryArgs = JSON.stringify({query: query, params: []})
            var lastInvoiceNoRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)
            var lastInvoiceNo = lastInvoiceNoRes[0].max_invoice_no
            //lastInvoiceNo = '18-AZ-999999'
            var dateObj = new Date()
            var yearPart = dateObj.getFullYear().toString().substr(2,2)
            var alphaPart = 'AA'
            var digitPart = '000001'

            var nextInvoiceNo = yearPart + '-' + alphaPart + '-' + digitPart
           
            if(lastInvoiceNo) {
              var invoiceNoParts = lastInvoiceNo.split('-')
              alphaPart = invoiceNoParts[1]
              digitPart = invoiceNoParts[2]

              if(digitPart == '999999') {
                var newAlphaPart = aplIncrement(alphaPart, {
                  digit: false,
                  dashes: false
                })

                digitPart = '000000'

                alphaPart = newAlphaPart.toUpperCase()
              }

              var nextDigitPart = aplIncrement(digitPart, {
                alpha: false,
                dashes: false
              })

              nextInvoiceNo = yearPart + '-' + alphaPart + '-' + nextDigitPart
            }
            //console.log(nextInvoiceNo)
            return nextInvoiceNo
        },
        formatDate(dateInput, time=false, hrs24=true) {
            var date = dateInput;
            if(typeof dateInput === 'string') {
                date = new Date(dateInput);
            }
            
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ':00';
            if(!hrs24) {
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                strTime = hours + ':' + minutes + ' ' + ampm;
            }
            
            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
            if(time) {
                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
            } else {
                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
            }
            
        },
        getDefaultColCenter() {
            var colCentersArray = this.getColCenters()
            var defaultColCenter = {}
            colCentersArray.forEach(function(v){
                if(v.is_default == 1) {
                    defaultColCenter.value = v.value,
                    defaultColCenter.label = v.label,
                    defaultColCenter.sub_text = v.sub_text,
                    defaultColCenter.is_default = v.is_default
                }
            })

            return defaultColCenter
        },
        getColCenters: function() {
            var _this = this

            var selectQuery = "SELECT * FROM `bloomy_collecting_centers` WHERE `published`=?"
            var selectQueryArgs = JSON.stringify({query: selectQuery, params: [1]})

            var colCentersData = this.$electron.ipcRenderer.sendSync('db-query', selectQueryArgs)
            var colCenterOpts = []
            colCentersData.forEach(function(v){
                colCenterOpts.push({
                    value: v.id,
                    label: v.center_name,
                    sub_text: v.address,
                    is_default: v.is_default
                })
            })

            return colCenterOpts
        },
        getDoctors: function() {
            var queryString = "SELECT * FROM `bloomy_ref_doctors` ORDER BY `doc_name` ASC"
            var queryArgs = JSON.stringify({query: queryString, params: []})

            var queryRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

            var doctors = []
            queryRes.forEach(function(v){
                doctors.push({
                    value: v.id,
                    label: v.doc_title + ' ' + v.doc_name,
                    sub_text: v.specialty,
                    percentage: v.doc_percentage,
                })
            })

            return doctors
        },
        openAddDoctorModal() {
            this.$modal.show('add-new-doctor-modal')
        },
        getSpecialtyList() {
            return store.get('app-config').doctorSpecialtyList
        },
        saveDoctor(form_scope) {
            var _this = this

            this.$validator.validateAll(form_scope).then(result => {
                if(!result) {
                    return
                } else {
                    var doctorInsertQuery = "INSERT INTO `bloomy_ref_doctors` VALUES(NULL, ?,?,?,?,?,?)"
                    var insertQueryArgs = JSON.stringify({query: doctorInsertQuery, params: [_this.docTitle, _this.docName, _this.docPhone, _this.docSpecialty, _this.docDescription, _this.docPercentage]})
                    var newDocRes = _this.$electron.ipcRenderer.sendSync('db-query', insertQueryArgs)

                    _this.flash('New doctor added to the list', 'success')

                    var newDocSelectObj = {
                        value: newDocRes.insertId,
                        label: _this.docTitle + ' ' + _this.docName,
                        sub_text: _this.docSpecialty,
                        percentage: _this.doc_percentage
                    }
                    _this.specialtyList.push(newDocSelectObj)

                    _this.refDoctor = newDocSelectObj

                    _this.closeNewDocModal()
                }
            })
        },
        closeNewDocModal() {
            this.$modal.hide('add-new-doctor-modal')
        },
        resetNewDocForm() {
            this.docTitle = 'Dr'
            this.docName = null
            this.docSpecialty = null
            this.docDescription = null
        },
        getTestProfiles: function() {
            var queryString = "SELECT * FROM `bloomy_profiles`"
            var queryArgs = JSON.stringify({query: queryString, params: []})

            var queryRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)
            var testProfOpts = []

            queryRes.forEach(function(v){
                testProfOpts.push({
                    label: v.profile_name,
                    value: v.id,
                    price: v.price.toFixed(2),
                    itemType: 'profile',
                    indicate: false
                })
            })

            // get packages
            var getPackagesQuery = "SELECT * FROM `bloomy_packages`"
            var getPackagesQueryArgs = JSON.stringify({query: getPackagesQuery, params: []})

            var packagesRes = this.$electron.ipcRenderer.sendSync('db-query', getPackagesQueryArgs)

            packagesRes.forEach(function(p){
                testProfOpts.push({
                    label: p.package_name,
                    value: p.id,
                    price: p.price.toFixed(2),
                    itemType: 'package',
                    indicate: false
                })
            })

            // get profile groups
            var getProfileGroupsQuery = "SELECT * FROM `bloomy_profile_groups`"
            var getProfileGroupsArgs = JSON.stringify({query: getProfileGroupsQuery, params:[]})
            var profileGroupsRes = this.$electron.ipcRenderer.sendSync('db-query', getProfileGroupsArgs)

            profileGroupsRes.forEach(function(g){
                testProfOpts.push({
                    label: g.group_name,
                    value: g.id,
                    price: null,
                    itemType: 'group',
                    indicate: false
                })
            })

            return testProfOpts
        },
        checkExtLabs() {
            var _this = this
            var queryString = "SELECT el.`price` FROM `bloomy_profiles` p LEFT JOIN `bloomy_external_labs_test_price` el ON el.`profile_id`=p.`id`"
            var queryArgs = JSON.stringify({query: queryString, params: []})

            var queryRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

            queryRes.forEach(function(v){
              if(!v.price) {
                _this.extLabCheck = false
              }
            })

            console.log('ext lab check', _this.extLabCheck, _this.externalLabEnabled)
        },
        setPayType: function() {
            //console.log('this pay type', this.paymentStatus)
            if(this.paymentStatus == PAY_TYPE_FULL) {
                this.paidAmount = this.totalAmount
            } else {
                this.paidAmount = parseFloat(0).toFixed(0)
            }            
        },
        registerInvoice: function(willPrint=false) {
          //console.log('print', willPrint)
          var _this = this
          this.$validator.validate().then(result => {
              if(!result) {
                  return
              } else {
                  if((!_this.customerAgeY || _this.customerAgeY == '' || _this.customerAgeY == 0) && (!_this.customerAgeM || _this.customerAgeM == '' || _this.customerAgeM == 0) && (!_this.customerAgeD || _this.customerAgeD == '' || _this.customerAgeD == 0)) {
                    remote.dialog.showMessageBox(
                      remote.getCurrentWindow(), {
                      buttons: ['OK'],
                      type: 'warning',
                      title: 'Create Invoice',
                      message: 'You must enter Age',
                      detail: 'You must enter the Age of the customer.\nBest way to enter NIC or Date of brith.\nNIC is the best because, it will calculate Gender, DOB and Age automatically by the system.'
                    })

                    return
                  }

                  _this.isLoading = true

                  var custDOB = _this.customerDOB ? _this.formatDate(_this.customerDOB) : null
                  var regDate = _this.formatDate(new Date(), true, true)

                  var newCustomerId = _this.custId
                  var invoiceNoVal = _this.invoice_no
                  if(this.newCustomerNIC && this.newCustomerNIC != "") {
                    _this.customerNIC = this.newCustomerNIC
                  }
                  //console.log('cust NIC', _this.customerNIC)
                  if(_this.custId == 0) {
                      ////// Insert customer data /////
                      var insertCustomerQuery = "INSERT INTO `bloomy_customer` VALUES(NULL, ?,?,?,?,?,?,?,?,?,?)"
                      var customerQueryParams = [_this.customerNIC, _this.customerTitle, _this.customerName, _this.customerSex, custDOB, _this.customerAddress, _this.customerPhone, _this.customerEmail, _this.customerBloodType, regDate]

                      var insertCustomerQueryArgs = JSON.stringify({query: insertCustomerQuery, params: customerQueryParams})

                      //console.log('cust data', customerQueryParams)
                      var insertCustomerQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', insertCustomerQueryArgs)

                      newCustomerId = insertCustomerQueryRes.insertId
                  } else {
                      //////// Update customer data ////////
                      var updateCustomerQuery = "UPDATE `bloomy_customer` SET `nic`=?, `customer_title`=?, `customer_name`=?, `sex`=?, `dob`=?, `address`=?, `phone`=?, `email`=?, `blood_type`=? WHERE `id`=?"
                      var updateCustomerQueryParams = [_this.customerNIC, _this.customerTitle, _this.customerName, _this.customerSex, custDOB, _this.customerAddress, _this.customerPhone, _this.customerEmail, _this.customerBloodType, _this.custId]
                      var updateCustomerArgs = JSON.stringify({query: updateCustomerQuery, params: updateCustomerQueryParams})

                      _this.$electron.ipcRenderer.sendSync('db-query', updateCustomerArgs)
                  }

                  //console.log('doc percentage', _this.refDoctor.percentage)

                  var collectDate = _this.collectedDate
                  var custAge = JSON.stringify({years: _this.customerAgeY, months: _this.customerAgeM, days: _this.customerAgeD})
                  var refDoctorVal = _this.refDoctor ? _this.refDoctor.value : null
                  var refDoctorPercetage = _this.enableDoctorsPercentage && _this.refDoctor ? _this.refDoctor.percentage : null
                  var invoiceTime = _this.formatDate(new Date(), true, true)
                  
                  var invoicePrice = _this.grossTotal
                  var extLab = 0
                  var extLabPercentage = null
                  if(_this.externalLab) {
                      extLab = _this.externalLab.value
                      extLabPercentage = _this.externalLab.percentage
                  }

                  //console.log('new record', _this.newRecord)
                  if(_this.newRecord) {
                      _this.activeInvoiceId = null

                      ////// Insert Invoice data //////
                      var insertInvoiceQuery = "INSERT INTO `bloomy_invoice` VALUES(NULL, ?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"                        

                      var invoiceParams = [invoiceNoVal, _this.billNo, _this.collectingCenter.value, collectDate, refDoctorVal, refDoctorPercetage, custAge, _this.customerHeight, _this.customerWeight, _this.BMI, newCustomerId, invoicePrice, _this.paymentStatus, _this.paymentMethod, _this.discount, _this.paidAmount, extLab, extLabPercentage, invoiceTime, store.get('user').id, INVOICE_STATUS_PENDING]
                      var invoiceQueryArgs = JSON.stringify({query: insertInvoiceQuery, params: invoiceParams})

                      var insertInvoiceQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', invoiceQueryArgs)

                      _this.activeInvoiceId = insertInvoiceQueryRes.insertId

                      
                  } else {
                      // update invoice details
                      invoiceNoVal = _this.editInvoiceNo
                                              
                      var updateInvoiceQuery = "UPDATE `bloomy_invoice` SET `bill_no`=?, `collecting_center`=?, `colleted_date`=?, `ref_doctor`=?, `customer_age`=?, `customer_height`=?, `customer_weight`=?, `bmi`=?, `price`=?, `pay_type`=?, `pay_method`=?, `discount`=?, `paid_amount`=?, `ext_lab`=?, `ext_lab_percentage`=?, `invoice_time`=?, `user_id`=? WHERE `invoice_no` LIKE ?"

                      var invoiceParams = [_this.billNo, _this.collectingCenter.value, collectDate, refDoctorVal, custAge, _this.customerHeight, _this.customerWeight, _this.BMI, invoicePrice, _this.paymentStatus, _this.paymentMethod, _this.discount, _this.paidAmount, extLab, extLabPercentage, invoiceTime, store.get('user').id, invoiceNoVal]

                      var updateInvoiceQueryArgs = JSON.stringify({query: updateInvoiceQuery, params: invoiceParams})

                      var ipdateInvoiceRes = _this.$electron.ipcRenderer.sendSync('db-query', updateInvoiceQueryArgs)
                      
                      // delete existing tests
                      var deleteInvoiceTestsQuery = "DELETE FROM `bloomy_invoice_test` WHERE `invoice_id`=?"
                      var deleteQueryArgs = JSON.stringify({query: deleteInvoiceTestsQuery, params: [_this.activeInvoiceId]})

                      _this.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)

                      var existingProfileIds = []

                      var existingTestProfilesArray = JSON.parse(_this.existingTestProfiles)
                     
                      existingTestProfilesArray.forEach(function(v) {
                          if(v.itemType == 'profile') {
                              existingProfileIds.push(v.value)
                          } else {
                              var getPackageProfilesQuery = "SELECT `profile_id` FROM `bloomy_package_profile` WHERE `package_id`=?"
                              var getPackageProfilesQueryArgs = JSON.stringify({query: getPackageProfilesQuery, params: [v.value]})

                              var packageProfilesRes = _this.$electron.ipcRenderer.sendSync('db-query', getPackageProfilesQueryArgs)

                              packageProfilesRes.forEach(function(pp){
                                  existingProfileIds.push(pp.profile_id)
                              })
                          }
                      })

                      // increase reagent count for deleted ones - stock watcher
                      var selectReagents = "SELECT ts.* FROM `bloomy_test_stock_item` ts INNER JOIN `bloomy_tests_profiles` tp ON ts.`test_id`=tp.`test_id` WHERE tp.`profile_id` IN ('" + existingProfileIds.join("','") + "')"
                      var selectReagentsArgs = JSON.stringify({query: selectReagents, params: []})
                      var reagentsRes = _this.$electron.ipcRenderer.sendSync('db-query', selectReagentsArgs)
                      
                      reagentsRes.forEach(function(r){
                          var updateStockItems = "UPDATE `bloomy_stock_item` SET `remain`=(`remain` + ?) WHERE `id`=?"
                          var updateStockItemsArgs = JSON.stringify({query: updateStockItems, params:[parseFloat(r.units_per_test), r.stock_item_id]})
                          _this.$electron.ipcRenderer.sendSync('db-query', updateStockItemsArgs)
                      })
                  }

                  ////// Insert tests //////
                  var insertTestsQuery = "INSERT INTO `bloomy_invoice_test` VALUES ?"
                  var insertTestsQueryParams = []
                  var selectedProfileIds = []

                  _this.selectedTestProfiles.forEach(function(v) {
                      if(v.itemType == 'profile') {
                          selectedProfileIds.push(v.value)

                          insertTestsQueryParams.push([
                              null,
                              _this.activeInvoiceId,
                              v.value,
                              null,
                              null,
                              null,
                              INVOICE_STATUS_PENDING,
                              null,
                              null
                          ])
                      } else if(v.itemType == 'group') {
                          var groupId = v.value
                          // extract profiles from Group and sel them as selectedProfiles
                          var selectProfilesQuery = "SELECT p.* FROM `bloomy_profiles` p INNER JOIN `bloomy_groups_profiles` gp ON gp.`profile_id`=p.`id` INNER JOIN `bloomy_profile_groups` g ON g.`id`=gp.`group_id` WHERE g.`id`=?"
                          var profileQueryArgs = JSON.stringify({query: selectProfilesQuery, params: [groupId]})
                          var profileQueryRes = _this.$electron.ipcRenderer.sendSync('db-query', profileQueryArgs)

                          profileQueryRes.forEach(function(gp){
                              selectedProfileIds.push(gp.id)

                              insertTestsQueryParams.push([
                                  null,
                                  _this.activeInvoiceId,
                                  gp.id,
                                  null,
                                  groupId,
                                  null,
                                  INVOICE_STATUS_PENDING,
                                  null,
                                  null
                              ])
                          })
                      } else if(v.itemType == 'package') {
                          var getPackageProfilesQuery = "SELECT `profile_id` FROM `bloomy_package_profile` WHERE `package_id`=?"
                          var getPackageProfilesQueryArgs = JSON.stringify({query: getPackageProfilesQuery, params: [v.value]})

                          var packageProfilesRes = _this.$electron.ipcRenderer.sendSync('db-query', getPackageProfilesQueryArgs)

                          packageProfilesRes.forEach(function(pp){
                              selectedProfileIds.push(pp.profile_id)

                              insertTestsQueryParams.push([
                                  null,
                                  _this.activeInvoiceId,
                                  pp.profile_id,
                                  v.value,
                                  null,
                                  null,
                                  INVOICE_STATUS_PENDING,
                                  null,
                                  null
                              ])
                          })
                      }
                  })

                  if(!_this.externalLab) {
                      // stock watcher
                      var selectReagents = "SELECT ts.* FROM `bloomy_tests_profiles` tp INNER JOIN `bloomy_test_stock_item` ts ON ts.`test_id`=tp.`test_id` WHERE tp.`profile_id` IN ('" + selectedProfileIds.join("','") + "')"
                      var selectReagentsArgs = JSON.stringify({query: selectReagents, params: []})
                      var reagentsRes = _this.$electron.ipcRenderer.sendSync('db-query', selectReagentsArgs)
                    
                      reagentsRes.forEach(function(r){
                          var updateStockItems = "UPDATE `bloomy_stock_item` SET `remain`=(`remain` - ?) WHERE `id`=?"
                          var updateStockItemsArgs = JSON.stringify({query: updateStockItems, params:[parseFloat(r.units_per_test), r.stock_item_id]})
                          _this.$electron.ipcRenderer.sendSync('db-query', updateStockItemsArgs)
                      })
                  }

                  var insertTestsQueryArgs = JSON.stringify({query: insertTestsQuery, params: [insertTestsQueryParams]})

                  _this.$electron.ipcRenderer.sendSync('db-query', insertTestsQueryArgs)
                  
                                      
                  if(willPrint) {
                      _this.$store.dispatch('AppState/setPrintWithMargin', true)

                      var printParams = JSON.stringify({
                          printDoc: 'invoice',
                          printMode: 'direct_print', //pdf
                          printData: {
                              invoice_no: invoiceNoVal
                          }
                      })
                      
                      var printingStatus = _this.$electron.ipcRenderer.sendSync('print-job', printParams)

                      if(printingStatus) {
                          if(_this.newRecord) {
                              _this.$store.dispatch('PendingTest/incrementCount')
                              _this.flash('New Invoice saved and printed', 'success')
                          } else {
                              _this.flash('Invoice updated and printed', 'success')
                          }                  
                          _this.isLoading = false
                      }
                  } else {
                      if(_this.newRecord) {
                          _this.$store.dispatch('PendingTest/incrementCount')
                          _this.flash('New Invoice saved successfully', 'success')
                      } else {
                          _this.flash('Invoice updated successfully', 'success')
                      }                        
                      _this.isLoading = false
                  }

                  if(_this.newRecord) {
                    if(store.get('main_config').system_type == 'server') {
                      _this.$electron.ipcRenderer.send('invoice-count', _this.$store.state.PendingTest.pendingTestCount)
                    } else {
                      _this.$electron.ipcRenderer.send('invoice-count-client', _this.$store.state.PendingTest.pendingTestCount)
                    }                      
                  }

                  _this.$store.dispatch('Watcher/setWatchTrigger')

                  _this.resetForm()
              }
          })
        },
        resetForm: function() {
            this.$nextTick().then(() => {
              this.$validator.errors.clear()
            })
            this.billNo = null
            this.newCustomerNIC = null
            this.customerNIC = null
            this.custNICs = []
            this.customerTitle = "Mr."
            this.customerName = null
            this.customerSex = 'M'
            this.customerDOB = null
            this.customerAgeY = 0
            this.customerAgeM = 0
            this.customerAgeD = 0
            this.customerAddress = null
            this.customerPhone = null
            this.customerEmail = null
            this.customerBloodType = null

            this.collectingCenter = this.getDefaultColCenter()
            this.customerWeight = 0
            this.customerHeight = 0
            this.paymentStatus = PAY_TYPE_FULL
            this.paymentMethod = PAY_METHOD_CASH
            this.collectedDate = this.formatDate(new Date(), true, true)
            this.invoice_no = this.nextInvoiceNumber()
            this.refDoctor = null,
            this.selectedTestProfiles = []
            this.discount = parseFloat(0).toFixed(2)
            this.grossTotal = parseFloat(0).toFixed(2)
            this.paidAmount = parseFloat(0).toFixed(2)

            this.editInvoiceNo = null
            this.custId = 0

            //console.log('nic ref', this.$refs.nicSelectBox)
            this.$refs.nicSelectBox.clearSelection()

            this.$router.push({name: 'landing-page'})
            //this.activeInvoiceId = null
        },
        enableEditMode(invoiceNo) {
            this.editInvoiceNo = invoiceNo
            // load invoice data
            var selectInvoiceQuery = "SELECT i.*, i.`id` as inv_id, c.*, c.`phone` as c_phone, d.*, d.`id` as doc_id, d.`doc_percentage` as doctors_percentage, cc.`center_name`, cc.`address` as cc_address FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON c.`id`=i.`customer_id` LEFT JOIN `bloomy_ref_doctors` d ON d.`id`=i.`ref_doctor` INNER JOIN `bloomy_collecting_centers` cc ON cc.`id`=i.`collecting_center` WHERE i.`invoice_no` LIKE ?"
            var selectInvoiceQueryArgs = JSON.stringify({query: selectInvoiceQuery, params: [invoiceNo]})
            var invoiceDataRes = this.$electron.ipcRenderer.sendSync('db-query', selectInvoiceQueryArgs)

            var invoiceDataObj = invoiceDataRes[0]

            this.activeInvoiceId = invoiceDataObj.inv_id

            var getTestProfilesQuery = "SELECT it.`profile_id`, it.`package_id`, it.`group_id`, tp.`profile_name`, tp.`price`, p.`package_name`, p.`price` as package_price, g.`id` as g_id, g.`group_name` FROM `bloomy_invoice_test` it INNER JOIN `bloomy_profiles` tp ON tp.`id`=it.`profile_id` LEFT JOIN `bloomy_packages` p ON p.`id`=it.`package_id` LEFT JOIN `bloomy_profile_groups` g ON g.`id`=it.`group_id` WHERE it.`invoice_id`=?"
            var testProfileQueryArgs = JSON.stringify({query: getTestProfilesQuery, params: [invoiceDataObj.inv_id]})

            var testProfilesRes = this.$electron.ipcRenderer.sendSync('db-query', testProfileQueryArgs)

            var testProfilesArray = []
            var testPackageIds = []
            var testGroupIds = []
            testProfilesRes.forEach(function(t){

                if(t.package_id && testPackageIds.indexOf(t.package_id) < 0) {
                    testProfilesArray.push({
                        label: t.package_name,
                        value: t.package_id,
                        price: t.package_price.toFixed(2),
                        itemType: 'package',
                        indicate: false
                    })

                    testPackageIds.push(t.package_id)
                } else if(t.group_id && testGroupIds.indexOf(t.group_id) < 0) {
                     testProfilesArray.push({
                        label: t.group_name,
                        value: t.group_id,
                        price: null,
                        itemType: 'group',
                        indicate: false
                    })

                     testGroupIds.push(t.group_id)
                } 
                if(!t.package_id && !t.group_id) {
                    testProfilesArray.push({
                        label: t.profile_name,
                        value: t.profile_id,
                        price: t.price.toFixed(2),
                        itemType: 'profile',
                        indicate: false
                    })
                }
                
            })

            console.log('edit test prof', testProfilesArray)

            var refDoctorObj = null
            if(invoiceDataObj.ref_doctor) {
                refDoctorObj = {
                    value: invoiceDataObj.doc_id,
                    label: invoiceDataObj.doc_title + ' ' + invoiceDataObj.doc_name,
                    sub_text: invoiceDataObj.specialty,
                    percentage: invoiceDataObj.doctors_percentage,
                }
            }

            var colCenterObj = null
            if(invoiceDataObj.collecting_center) {
                colCenterObj = {
                    value: invoiceDataObj.collecting_center,
                    label: invoiceDataObj.center_name,
                    sub_text: invoiceDataObj.cc_address
                }
            }

            //console.log(JSON.parse(invoiceDataObj.customer_age), typeof invoiceDataObj.customer_age)
            var ageObj = JSON.parse(invoiceDataObj.customer_age)
            
            this.billNo = invoiceDataObj.bill_no
            this.custId = invoiceDataObj.customer_id
            this.customerNIC = invoiceDataObj.nic
            this.customerTitle = invoiceDataObj.customer_title
            this.customerName = invoiceDataObj.customer_name
            this.customerSex = invoiceDataObj.sex
            this.customerDOB = invoiceDataObj.dob
            this.customerAgeY = parseInt(ageObj.years)
            this.customerAgeM = parseInt(ageObj.months)
            this.customerAgeD = parseInt(ageObj.days)
            this.customerAddress = invoiceDataObj.address
            this.customerPhone = invoiceDataObj.c_phone
            this.customerEmail = invoiceDataObj.email
            this.customerBloodType = invoiceDataObj.blood_type

            this.collectingCenter = colCenterObj
            this.customerWeight = invoiceDataObj.customer_weight
            this.customerHeight = invoiceDataObj.customer_height
            this.paymentStatus = invoiceDataObj.pay_type
            this.paymentMethod = invoiceDataObj.pay_method
            this.collectedDate = this.formatDate(invoiceDataObj.colleted_date, true, true)
            this.invoice_no = invoiceNo
            this.refDoctor = refDoctorObj,
            this.selectedTestProfiles = testProfilesArray
            this.existingTestProfiles = JSON.stringify(testProfilesArray)
            this.discount = invoiceDataObj.discount.toFixed(2)
            this.grossTotal = invoiceDataObj.price.toFixed(2)
            this.paidAmount = invoiceDataObj.paid_amount.toFixed(2)
        },
        searchNIC(nicPart) {
            if(nicPart.length < 5) {
              return
            }
            var _this = this

            var searchForNICQuery = "SELECT `nic` FROM `bloomy_customer` WHERE `nic` LIKE ?"
            var searchNICArgs = JSON.stringify({query: searchForNICQuery, params:[`${nicPart}%`]})
            var nics = this.$electron.ipcRenderer.sendSync('db-query', searchNICArgs)

            nics.forEach(function(v){
                if(_this.custNICs.indexOf(v.nic) < 0) {
                    _this.custNICs.push(v.nic)
                }                
            }) 
        },
        autoFillIfExists(nic) {
            this.newCustomerNIC = nic

            if(!nic || nic == "") {
                //this.resetForm()                
                return
            } else if(nic.length < 9 || nic.length == 11 || nic.length > 12) {
              this.flash('<b>Wrong NIC number</b><br/>Check the number and try again.', 'warning')
              return
            }

            var getCustomerQuery = "SELECT * FROM `bloomy_customer` WHERE `nic` LIKE ?"
            var queryArgs = JSON.stringify({query: getCustomerQuery, params: [nic + '%']})
            var customerData = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

            if(customerData[0]) {
                this.custId = customerData[0].id
                this.customerNIC = customerData[0].nic
                this.customerTitle = customerData[0].customer_title
                this.customerName = customerData[0].customer_name
                this.customerSex = customerData[0].sex
                this.customerDOB = customerData[0].dob
                this.customerAddress = customerData[0].address
                this.customerPhone = customerData[0].phone
                this.customerEmail = customerData[0].email
                this.customerBloodType = customerData[0].blood_type
            } else {
              var nicData = nicInfo(nic)
              console.log(nicData)
              this.customerSex = nicData.gender.type
              this.customerDOB = nicData.birthday.momentjsObj.format("YYYY-MM-DD")
            }
        },
        showPreview: function(directPrint=false) {
            //this.activeInvoiceId = 8

            var _this = this
            if(this.activeInvoiceId) {
                var invoiceDataQuery = "SELECT i.*, exl.`lab_name` as ext_lab_name, c.`customer_title`, c.`customer_name`, c.`phone`, cc.`center_name` as col_center_name FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON i.`customer_id`=c.`id` LEFT JOIN `bloomy_external_labs` exl ON i.`ext_lab`=exl.`id` LEFT JOIN `bloomy_collecting_centers` cc ON cc.`id`=i.`collecting_center` WHERE i.`id` LIKE ?"
                var invoiceDataQueryArgs = JSON.stringify({query: invoiceDataQuery, params: [this.activeInvoiceId]})
                var invoiceData = this.$electron.ipcRenderer.sendSync('db-query', invoiceDataQueryArgs)

                var invoiceTestDataQuery = "SELECT p.profile_name as profile_name, p.price as p_price, invt.`package_id` as package_id FROM `bloomy_invoice_test` invt, `bloomy_profiles` p WHERE invt.invoice_id=? AND invt.profile_id=p.id"
                var invoiceTestDataQueryArgs = JSON.stringify({query: invoiceTestDataQuery, params: [this.activeInvoiceId]})

                if(invoiceData[0].ext_lab > 0) {
                    invoiceTestDataQuery = "SELECT p.profile_name as profile_name, exl.price as p_price, invt.`package_id` FROM `bloomy_invoice_test` invt INNER JOIN `bloomy_profiles` p ON invt.`profile_id`=p.`id` LEFT JOIN `bloomy_external_labs_test_price` exl ON exl.profile_id=p.id WHERE invt.invoice_id=? AND exl.`lab_id`=?"
                    invoiceTestDataQueryArgs = JSON.stringify({query: invoiceTestDataQuery, params: [invoiceData[0].id, invoiceData[0].ext_lab]})
                }

                var invoiceTestData = this.$electron.ipcRenderer.sendSync('db-query', invoiceTestDataQueryArgs)

                //var invoicePreviewData = JSON.stringify({invoiceData: invoiceData[0], invTestData: invoiceTestData})

                this.prevCustomerName = invoiceData[0].customer_title + ' ' + invoiceData[0].customer_name
                this.prevCostomerPhone = invoiceData[0].phone
                this.prevColCenter = invoiceData[0].col_center_name
                this.prevInvoiceNumber = invoiceData[0].invoice_no
                this.prevBillNumber = invoiceData[0].bill_no
                this.prevInvoiceTime = this.formatDate(invoiceData[0].invoice_time, true, false)
                this.prevInvoiceItems = []
                var packageIdsAdded = []
                invoiceTestData.forEach(function(v){
                    if(v.package_id) {
                        var getPackageQuery = "SELECT * FROM `bloomy_packages` WHERE `id`=?"
                        var getPackageQueryArgs = JSON.stringify({query: getPackageQuery, params: [v.package_id]})
                        var packageDataRes = _this.$electron.ipcRenderer.sendSync('db-query', getPackageQueryArgs)

                        if(packageIdsAdded.indexOf(v.package_id) < 0) {
                            _this.prevInvoiceItems.push({
                                name: packageDataRes[0].package_name,
                                price: packageDataRes[0].price
                            })
                        }

                        packageIdsAdded.push(v.package_id)
                    } else {
                        _this.prevInvoiceItems.push({
                            name: v.profile_name,
                            price: v.p_price
                        })
                    }                    
                })

                this.prevGrossTotal = invoiceData[0].price
                this.prevDiscount = invoiceData[0].discount
                this.prevNetTotal = invoiceData[0].price - (invoiceData[0].price*invoiceData[0].discount/100)
                this.prevPayType = invoiceData[0].pay_type
                this.prevPayMethod = invoiceData[0].pay_method
                this.prevExtLab = invoiceData[0].ext_lab_name
                this.prevPaidAmount = invoiceData[0].paid_amount

                if(store.has('system_settings')) {
                    var labInfo = store.get('system_settings').lab_info
                    if(labInfo) {
                        this.labName = labInfo.labName
                        this.labAddress = labInfo.labAddress
                        this.labPhone = labInfo.labPhones
                        this.labEmail = labInfo.labEmail
                        this.labWeb = labInfo.labWeb
                    }
                }

                this.$modal.show('invoice-preview-modal')
                //this.$electron.ipcRenderer.send('invoice-preview', invoicePreviewData)
            } else {
                this.flash('Nothing to preview', 'warning')
            }            
        },
        setGender: function() {
            if(this.customerTitle == 'Mrs.' || this.customerTitle == 'Miss.') {
                this.customerSex = "F"
            } else {
                this.customerSex = "M"
            }
        },
        clearModal: function() {

        }
    },
    beforeMount() {
        this.isLogedIn()
        if(this.$route.params.invoice_no) {
            this.enableEditMode(this.$route.params.invoice_no)
        }
        this.checkExtLabs()
    },
    mounted() {
      var _this = this
      this.$electron.ipcRenderer.on('new-invoice-count', function(event, newInvoiceCount){
          _this.invoice_no = _this.nextInvoiceNumber()
      })
    }
  };
</script>

<style lang="scss">
  .input-group {
    label {
      padding: 5px 10px 5px 2px;
      margin: 0px;
    }

    .input-group-text {
      font-size: 0.8rem;
      padding: 5px 10px;
    }
  }

  #invoice-tests-list {
    border: 2px dashed #ddd;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 10px;

    .invoice-header {
        background: #e9efef;

        th, td {
            padding: 3px;
        }
    }

    .invoice-row {
        border-bottom: 1px dashed #ddd;
        
        td {
            padding: 3px;
            font-size: 0.8rem;
        }
    }

    .indicate {
        border: 1px dashed #fd7e14;
        background: #ffd4ab;
    }

    .invoice-footer {
        th {
            padding: 3px;
        }

        td {
            padding: 0 3px;
            font-size: 0.8rem;
        }
    }

    .invoice-footer:first-child {
        td {
            padding-top: 5px;
        }
    }   
  }

    .sub-title {
        font-size: 1.1rem;
    }

    input:focus, select:focus {
        outline: 0;
        outline-color: transparent;
        outline-width: 0;
        outline-style: none;
        box-shadow: 0 0 0 0 rgba(0,123,255,0);
    }

    .add-new-doctor-modal {
        background: #efefef;
    }

    .add-new-doctor-form-div {
        padding: 20px;
    }

    .invoice-preview-modal {
        background: #fff;
    }

    #nic_select_search_input {
        max-width: 80px;
    }

    #ext_lab_search_input {
      max-width: 50px;
    }

    .bmi-result {
      font-size: 13px;
    }
</style>
