<template>
  <div class="container-fluid">
    <div class="clock-pannel">
        <div class="col-lg-4 col-md-4 col-sm-5">
            <div class="clock-display" id="clock_values">
                <v-clock />
            </div>
            <div class="time-warning">
                <font-awesome-icon :icon="['fas', 'info-circle']" /> It is very important to check the date and time everyday. If this date and time is incorrect please correct it. It's your computer date and time.
            </div>
        </div>
    </div>

    <div class="row">
      <div class="login-form col-md-4 col-lg-4 offset-md-4 offset-lg-4">
        <div class="row">
          <form class="signin-form">
            <img class="logo" src="~@/assets/images/logo.png">
            <label for="username" class="sr-only">Username</label>
            <input v-model="unvalue" type="text" name="username" id="username" class="form-control un-feild" placeholder="username" autofocus required>
            <label for="pwd" class="sr-only">Password</label>
            <input v-model="pwdvalue" type="password" name="pwd" id="pwd" placeholder="password" class="form-control pwd-feild" required>

            <button class="btn btn-info btn-block" id="login_btn" v-on:click.prevent="login" v-on:keyup.13="login">Login</button>
          </form>

          <div class="form-group text-center" style="width: 100%;" v-if="trialDays > 0">
            <h5>You are in Trial period</h5>
            <h4><b-badge :variant="trialDays < 10 ? 'danger' : 'warning'">{{ trialDays }}</b-badge> days left</h4>
            <p class="text-danger" v-show="trialDays < 10">If you do not have an activation key, please contact BlossomLabs and get your activation key soon.</p>
            <router-link :to="{name: 'bl-activation'}" v-if="isMainStation">Activate now</router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="help-btn">
        <b-button variant="outline-info" class="btn-rounded" @click.prevent="getHelp" title="Guide"><font-awesome-icon :icon="['fas', 'question']" /></b-button>
    </div> 

    <div class="footer-note">
      <div class="float-left">
        <font-awesome-icon v-show="!isMainStation" :icon="['fas', 'desktop']" />
			  <font-awesome-icon v-show="isMainStation" :icon="['fas', 'database']" />
        <b>&nbsp;{{stationType}}</b>
      </div>
      version {{ appVersion }}&nbsp;&nbsp;|&nbsp;&nbsp;<span v-show="appSerial">serial no: {{ appSerial }}&nbsp;&nbsp;|&nbsp;&nbsp;</span>All rights reserved &copy; BlossomLabs 2018 - {{ currentYear }}
    </div>     
  </div>
</template>

<script>
  import { remote } from 'electron'
  import Clock from './Clock'
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

  const path = require('path')
  const fs = require('fs')
  const crypto = require('crypto')
  
  const Store = require('electron-store')
  const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

  const ftAppDataDir = path.join(remote.app.getPath('userData'))
  const ftErrorLogFile = path.join(ftAppDataDir, 'logs', 'error_log.txt')

  export default {
    name: 'login-page',
    components: {
      'v-clock': Clock,
      FontAwesomeIcon
    },
    data() {
      return {
        unvalue: '',
        pwdvalue: '',
        isMainStation: store.get('main_config').system_type == 'server',
        stationType: store.get('main_config').system_type == 'server' ? 'Main station' : 'Sub station',
        appVersion: process.env.NODE_ENV === 'development' ? require('../../../package.json').version : remote.app.getVersion(), //store.get('main_config').app_version
        currentYear: new Date().getFullYear()
      }
    },
    computed: {
      trialDays() {
        console.log('login page trial days', this.$store.state.AppState.trialDays)
        return this.$store.state.AppState.trialDays
      },
      appSerial() {
        return store.get('appSerial')
      }
    },
    methods: {
      login () {
        var thisRouter = this.$router
        var username = this.unvalue
        var hasedPwd = this.tempSecret(this.pwdvalue)

        var loginQuery = 'SELECT * FROM `bloomy_user` WHERE `username` LIKE ? AND `pwd` LIKE ? AND `is_active`=1'
        
        var queryArgs = JSON.stringify({query: loginQuery, params: [username, hasedPwd]})

        var results = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

        var isAuth = results.length == 1 ? true : false
        //console.log(isAuth, results)
        if(isAuth) {
          var userObj = {
            id: results[0].id,
            name: results[0].f_name + ' ' + results[0].l_name,
            type: results[0].user_type,
            slmc_reg_no: results[0].slmc_reg_no,
            email: results[0].email,
            phone: results[0].phone,
            is_active: results[0].is_active,
            create_date: results[0].create_date
          }
            store.set('isLogedIn', true)
            store.set('user', userObj)

            var lastLogin = this.$moment().format("YYYY-MM-DD HH:mm:ss")
            var updateUserTable = 'UPDATE `bloomy_user` SET `last_login`=? WHERE `id`=?'
            var updateQueryArgs = JSON.stringify({query: updateUserTable, params: [lastLogin, userObj.id]})
            this.$electron.ipcRenderer.sendSync('db-query', updateQueryArgs)

            if(store.get('user').type == store.get('app-config').UTYPE_SYS_ADMIN || store.get('user').type == store.get('app-config').UTYPE_BLOSSOM_ADMIN) {
                thisRouter.push({name: 'admin-dashboard'})
            } else {
                thisRouter.push({name: 'landing-page'})
            }
            
        } else {
          this.flash('<b>Login failed!</b><br/>Please provide valid login credentials', 'error')
        }
      },
      tempSecret(pwdStr) {
        const salt = "asduerqe32%dasd@f*gjut1s3"
        const hash = crypto.createHash('sha256')
        return hash.update(pwdStr + salt).digest('hex')
      },
      logError(log_entry) {
        if(!fs.existsSync(path.join(ftAppDataDir, 'logs'))) {
          fse.mkdirsSync(path.join(ftAppDataDir, 'logs'))
        }
        
        var date = new Date()
        var log_string = "========================= Renderer process ==========================\n";
        log_string += date.toISOString() + ": \n"; 
        log_string += log_entry + "\n\n";

        fs.appendFile(ftErrorLogFile, log_string, (err) => {

        })
      },
      isLogedIn: function() {
          if(store.get('isLogedIn')) {
            this.$router.push({name: 'landing-page'})
          }
      },
      getHelp() {
          //this.$electron.ipcRenderer.send('get-help')
          const PDFWindow = require('electron-pdf-window')
          const hepPDFFile = process.env.NODE_ENV !== 'development' ? path.join(__dirname, 'static', 'BlossomLabsManual.pdf') : path.join(__static, 'BlossomLabsManual.pdf')

          let {width, height} = require('electron').screen.getPrimaryDisplay().size

          let helpWindow = new remote.BrowserWindow({
                    title: "BlossomLabs Help",
                    fullscreen: false, 
                    backgroundColor: '#fff',
                    width: width, 
                    height: height,
                    toolbar: false,
                    show: false
                })

                PDFWindow.addSupport(helpWindow)

                helpWindow.loadURL(hepPDFFile)

                helpWindow.once('ready-to-show', () => {
                    helpWindow.show()
                }) 
        }
    },
    beforeMount() {
      this.isLogedIn()
    }
  };
</script>

<style lang="scss">
  .clock-pannel {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 5px;
  }

  .help-btn {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .time-warning {
    padding: 10px;
    background: #fdfdfd;
    color: #004455;
    border-radius: 5px;
    box-shadow: 0 0 7px -2px #252525;
    width: 75%;
    font-size: 13px;
    font-weight: 500;
    border: 1px dashed #045;
  }

  .signin-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 150px;
    text-align: center;

    .logo {
      margin-bottom: 20px;
      width: 175px;
      height: auto;
    }

    .un-feild {    
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .pwd-feild {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }

    h4 {
      font-weight: normal;
    }

    input:focus {
      outline: 0;
      outline-color: transparent;
      outline-width: 0;
      outline-style: none;
      box-shadow: 0 0 0 0 rgba(0,123,255,0);
    }
  }

  .clock-display {
    font-size: 0.9rem;
    margin: 30px 0 10px 0;
    text-align: center;
    background: #004455;
    /* border: 2px dashed #dc2c74; */
    color: #aae6f5;
    border-radius: 10px;
    padding: 5px 0;
    width: 75%;

    .badge {
        background-color: #002731;
    }
  }

  .importnat-text {
    font-size: 1rem;
    color: #444;
  }

  .footer-note {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    width: 99%;
    text-align: right;
  }
</style>