<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Tests&nbsp;|&nbsp;<small><b-badge pill variant="primary">{{ totalRecords }}</b-badge></small></h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-test'}"><font-awesome-icon :icon='["fas", "vial"]' /> Add new Test</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="medTests"
			:infiniteScroll="true"
			@grid-search-event="gridSearch"></grid-view>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'mamage-tests',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon
		},
		data() {
			return {
				columnData: [
					{
						value: 'Test name',
						options: {width: '20%'}
					}, 
					{
						value: 'Ref range',
						options: {width: '25%'}
					}, 
					{
						value: 'Unit',
						options: {classes: ['text-center'], width: '10%'}
					}, 
					{
						value: 'Remark values'
					},
					{
						value: 'Reagents'
					}
				],
				searchFeilds: {
					'Test name': {type: 'textbox', input_id: 'name_search'}
				},
				medTests: [],
				totalRecords: 0,
				queryLimit: 50,
				queryOffset: 0,
				filterData: null
			}
		},
		methods: {
			getTests(searchStr=null) {
				this.queryLimit = this.queryLimit ? this.queryLimit : 50
				this.queryOffset = this.queryOffset ? this.queryOffset : 0

				var limit = ` LIMIT ${this.queryLimit} OFFSET ${this.queryOffset}`

				var query = 'SELECT * FROM bloomy_tests WHERE `id` > 0'
				var totalRecordsQuery = query

				if(searchStr) {
					query += searchStr + limit
					totalRecordsQuery += searchStr
				} else {
					query = query + limit
				}

				var totalRecordsQueryArgs = JSON.stringify({query: totalRecordsQuery, params: []})
				var totalRecordsRes = this.$electron.ipcRenderer.sendSync('db-query', totalRecordsQueryArgs)

				this.totalRecords = totalRecordsRes.length

				var queryArgs = JSON.stringify({query: query, params: []})
				var testsList = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var self = this

				var testObj = []
				testsList.forEach(function(v, k){
					var refRangeQuery = "SELECT * FROM `bloomy_ref_ranges` WHERE `test_id`=?"
					var reRangeQueryArgs = JSON.stringify({query: refRangeQuery, params: [v.id]})
					var testsRefRanges = self.$electron.ipcRenderer.sendSync('db-query', reRangeQueryArgs)

					var getReagentsQuery = "SELECT tsi.*, si.item_name, si.unit FROM `bloomy_test_stock_item` tsi INNER JOIN `bloomy_stock_item` si ON si.id = tsi.stock_item_id WHERE tsi.test_id=?"
					var getReagentsQueryParams = JSON.stringify({query: getReagentsQuery, params: [v.id]})
					var reagents = self.$electron.ipcRenderer.sendSync('db-query', getReagentsQueryParams)

					var unitQuery = "SELECT * FROM `bloomy_units` WHERE `id`=?"
					var unitQueryArgs = JSON.stringify({query: unitQuery, params: [v.unit]})
					var unitQueryRes = self.$electron.ipcRenderer.sendSync('db-query', unitQueryArgs)

					var testUnit = unitQueryRes.length > 0 ? unitQueryRes[0].unit : 'n/a'

					//console.log('ref ranges', testsRefRanges)
					var remarkValObj = JSON.parse(v.remark_values.toString())
					var remarkColorsObj = JSON.parse(v.remark_colors.toString())
					//console.log('ref ranges', typeof remarkValObj, remarkValObj)
					testObj.push({
						id: {
							value: v.id
						},
						'Test name': {
							value: v.test_name
						},
						'Ref range': {
							value: self.formatRefRanges(testsRefRanges)
						},
						'Unit': {
							value: testUnit,
							options: {classes: ['text-center']}
						},
						'Remark values': {
							value: !testsRefRanges || testsRefRanges.length == 0 ? 'n/a' : self.formatRemarkValues(remarkValObj, remarkColorsObj)
						},
						'Reagents': {
							value: self.formatReagents(reagents)
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editTest.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.deleteTest.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
							]
					})
				})

				return testObj
			},
			formatRemarkValues(remarkValObj, remarkColorObj) {
				var lowValue = remarkValObj.low && remarkValObj.low != 'null' ? remarkValObj.low : 'n/a'
				var inRangeVal = remarkValObj.in_range && remarkValObj.in_range != 'null' ? remarkValObj.in_range : 'n/a'
				var highVal = remarkValObj.high && remarkValObj.high != 'null' ? remarkValObj.high : 'n/a'

				var remarkValTmpl = '<b>Low: </b><span style="color:' + remarkColorObj.low + '">' + lowValue + '</span><br/><b>In range: </b><span style="color:' + remarkColorObj.in_range + '">' + inRangeVal + '</span><br/><b>High: </b><span style="color:' + remarkColorObj.high + '">' + highVal + '</span>'

				return remarkValTmpl
			},
			formatRefRanges: function(refRangeObj) {
				if(!refRangeObj || refRangeObj.length == 0) {
					return 'no reference range'
				}

				var refRangeTemp = "<table width='99%'>"
				refRangeTemp += "<thead><tr><th width='33.33%'>Sex</th><th width='33.33%'>Age limit</th><th width='33.33%'>Ref. range</th></tr></thead>"
				var self = this
				refRangeObj.forEach(function(val){
					refRangeTemp += "<tr><td>" + self.sexName(val.sex) + "</td><td>" + val.age_limit + "</td><td>" + val.ref_range + "</td></tr>"
				})

				refRangeTemp += "</table>"
				return refRangeTemp
			},
			formatReagents(reagents) {
				var templ = ""
				reagents.forEach(function(r){
					templ += "<b>" + r.item_name + ": </b>" + r.units_per_test + ' ' + r.unit + '<br/>'
				})

				return templ != "" ? templ : "n/a"
			},
			gridSearch: function(searchParams) {				
				this.queryOffset = 0
				var searchStr = ""
		    	var self = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Test name') {
		    				searchStr += " AND test_name LIKE '%" + searchParams[colKey.value] + "%'"
		    			}
		    		}
		    	})

		    	this.filterData = searchStr

		    	this.medTests = this.getTests(searchStr)
			},
			loadMore: function() {
				this.queryOffset = this.queryOffset + this.queryLimit
				var moreTests = this.getTests(this.filterData)
				if(moreTests.length == 0) {
					return false
				} else {
					this.medTests = this.medTests.concat(moreTests)
					return true
				}
			},
			editTest: function(testId) {
				this.$router.push({name: 'edit-test', params: {id: testId}})
			},
			deleteTest: function(testId) {
				var self = this
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage tests',
					message: 'Delete test',
					detail: 'Do you really want to delete this test?'
				}, function(btnInd){
					if(btnInd == 0) {
						var deleteTestQuery = "DELETE FROM bloomy_tests WHERE id=?"
						var deleteTestArgs = JSON.stringify({query: deleteTestQuery, params: [testId]})

						self.$electron.ipcRenderer.sendSync('db-query', deleteTestArgs)

						self.medTests.forEach(function(testItem, index){
							if(testItem.id.value == testId) {
								self.medTests.splice(index, 1)
							}
						})

						self.flash('Test deleted successfully', 'success')
					} else {
						return
					}
				})
			},
			sexName: function(sym) {
				var sexObj = {
					any: "any",
					M: "Male",
					F: "Female"
				}

				return sexObj[sym]
			}
		},
		beforeMount() {
			this.medTests = this.getTests()
		}
	};
</script>

<style lang="scss"></style>