<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Test <small v-once>({{ testData.test_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Test</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-tests'}"><font-awesome-icon :icon='["fas", "flask"]' /> Manage Tests</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label for="test_name">Test name</label>
							<input type="text" name="test_name" id="test_name" class="form-control form-control-sm" v-model="testData.test_name" v-validate="'required'" :disabled="testData.test_name == 'CRP CONCENTRATION' || testData.test_name == 'Rheumatoid Factor'"">
							<div class="help-text text-info" v-show="testData.test_name == 'CRP CONCENTRATION' || testData.test_name == 'Rheumatoid Factor'">Test name is not edittable of this test</div>
							<div v-show="errors.first('test_name')" class="help-text text-danger">{{ errors.first('test_name') }}</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="unit">Unit</label>
							<button class="btn btn-sm btn-outline-secondary float-right btn-xs-text btn-rounded" type="button" title="add new unit" @click.prevent="openModal"><font-awesome-icon :icon='["fas", "plus"]' /></button>
							<v-select name="unit" id="unit" :options="units" v-model="testData.unit">
								<template slot="option" slot-scope="option">
							        <span v-html="option.value"></span>
							    </template>
							</v-select>
						</div>
					</div>
				</div>

				<h6>
					Reference ranges
					<toggle-button
						v-model="rangeAvailable"
						:color="toggleButtonColors"
						:value="true"
						:sync="true"
						:labels="{checked: 'Yes', unchecked: 'No'}" />
				</h6>

				<div v-if="rangeAvailable">
					<div id="ref-ranges-list" class="form-group">
						<transition-group name="list">						
							<div class="row add-more-list-item" v-for="(ref, index) in refRangeData" :key="'refr' + index">
								<div class="col-3">
									<label>Sex</label>
									<select class="form-control form-control-sm" v-model="ref.sex">
										<option value="any">any</option>
										<option value="M">Male</option>
										<option value="F">Female</option>
									</select>
								</div>
								<div class="col-3">
									<label>Age limit</label>
									<input type="text" class="form-control form-control-sm" v-model="ref.age_limit">
								</div>
								<div class="col-6">
									<label>Reference range</label>
									<div class="input-group input-group-sm">
										<input type="text" :name="'Ref range ' + (index + 1)" class="form-control form-control-sm" v-model="ref.ref_range" v-validate="'required'">
										<button v-show="index > 0" class="btn btn-outline-light text-danger remove-list-item-btn" @click.prevent="removeRefRange(index)"><font-awesome-icon :icon='["fas", "times"]' /></button>
									</div>
									<div v-show="errors.first('Ref range ' + (index + 1))" class="help-text text-danger">{{ errors.first('Ref range ' + (index + 1)) }}</div>
								</div>
							</div>	
						</transition-group>									
					</div>
					<div class="form-group">
						<button class="btn btn-outline-dark btn-sm btn-xs-text" @click.prevent="addMoreRefRanges"><font-awesome-icon :icon='["fas", "plus"]' /> Add more</button>
					</div>
				</div>		
					
				<div class="form-group remark-values" v-if="rangeAvailable">
					<label>Remark values</label>
					<div class="input-group input-group-sm">
						<div class="input-group-text" title="text color for low/true remark">
							<swatches
							      v-model="testData.remark_color.low"
							      :colors="colors"
							      row-length="6"
							      shapes="squares"
							      swatch-size='24'
							      :trigger-style="triggerStyle"
							      popover-to="right"
							    ></swatches>
						</div>
						<input type="text" name="remark_val_low" id="remark_val_low" class="form-control form-control-sm" v-model="testData.remark_values.low" placeholder="if low/true">
						<div class="input-group-text" title="text color for in-range remark">
							<swatches
							      v-model="testData.remark_color.in_range"
							      :colors="colors"
							      row-length="6"
							      shapes="squares"
							      swatch-size='24'
							      :trigger-style="triggerStyle"
							      popover-to="right"
							    ></swatches>
						</div>
						<input type="text" name="remark_val_in_range" id="remark_val_in_range" class="form-control form-control-sm" v-model="testData.remark_values.in_range" placeholder="if in-range">
						<div class="input-group-text" title="text color for high/false remark">
							<swatches
							      v-model="testData.remark_color.high"
							      :colors="colors"
							      row-length="6"
							      shapes="squares"
							      swatch-size='24'
							      :trigger-style="triggerStyle"
							      popover-to="right"
							    ></swatches>
						</div>
						<input type="text" name="remark_val_high" id="remark_val_high" class="form-control form-control-sm" v-model="testData.remark_values.high" placeholder="if high/false">
					</div>
					<div class="help-text">These remark values will be displayed in the report under 'Remarks'. So, please be very careful when you enter them. Enter them in correct boxes according to the reference ranges.</div>
				</div>

				<div class="form-group non-ref-result-values" v-if="!rangeAvailable">
					<label>Available result values</label>
					<div class="input-group input-group-sm">
						<input type="text" name="non_ref_result_vals" v-model="nonRefRemarkVal" class="form-control form-control-sm" @keyup.enter="addNonRefRemarkValue">
						<div class="input-group-append">
							<b-button variant="info" size="sm" @click.prevent="addNonRefRemarkValue">Add to list</b-button>
						</div>
					</div>
					
					<div class="non-ref-result-values-list">
						<div class="item badge badge-warning" v-for="(nonRefRemark, nrrIndex) in nonRefRemarks">
							{{ nonRefRemark }}
							<div class="remove-btn" @click.prevent="removeNonRefVal(nrrIndex)">
								<font-awesome-icon :icon="['fas', 'times']" />
							</div>
						</div>
					</div>

					<div class="help-text">Add values one by one. These values will be available in a dropdown box when you enter results for this test profile.</div>
				</div>

				<div class="form-group">
					<label>
						Result value rules&nbsp;<toggle-button
						v-model="resultRulesAvailable"
						:color="toggleButtonColors"
						:value="true"
						:sync="true"
						:labels="{checked: 'Yes', unchecked: 'No'}" />
					</label>
					<div class="row">
						<div class="col-4">
							<div class="input-group input-group-sm">
								<div class="input-group-append">
									<div class="input-group-text">Min</div>
								</div>
								<input type="number" name="result_reule_min" class="form-control form-control-sm" v-model="testData.min_max.min" :disabled="!resultRulesAvailable">
							</div>
						</div>
						<div class="col-4">
							<div class="input-group input-group-sm">
								<div class="input-group-append">
									<div class="input-group-text">Max</div>
								</div>
								<input type="number" name="result_reule_max" class="form-control form-control-sm" v-model="testData.min_max.max" :disabled="!resultRulesAvailable">
							</div>
						</div>
					</div>
					<div class="help-text">These rules help to prevent any human errors while entering results</div>
				</div>

				<div class="form-group">
					<label>Reagent</label>
					<button class="btn btn-sm btn-outline-secondary float-right btn-xs-text btn-rounded" type="button" title="add new Reagent" @click.prevent="openAddReagentModal"><font-awesome-icon :icon='["fas", "plus"]' /></button>
					<v-select multiple :options="reagentsOpts" :maxHeight="'200px'" v-model="selectedReagents"></v-select>
					<div id="reagents_list" class="form-group">	
						<transition-group name="list" tag="div">
							<div class="row add-more-list-item" v-for="(reag, index) in selectedReagents" :key="'reag' + index">
								<div class="col-7">
									<div class="reagent_name">{{ reag.label }}</div>
								</div>
								<div class="col-5">
									<div class="input-group input-group-sm">
										<input type="text" :name="'units_per_test'+index" class="form-control form-control-sm" v-model="reag.units_per_test" placeholder="No of units per test" v-validate="'required'" data-vv-as="Units per test">
							 			<div class="input-group-append">
				                        	<span class="input-group-text" v-html="reag.unit"></span>
				                      	</div>
									</div>
									<div v-show="errors.first('units_per_test'+index)" class="help-text text-danger">{{ errors.first('units_per_test'+index) }}</div>
								</div>
							</div>
						</transition-group>
					</div>
				</div>

				<div class="form-group" v-if="isNewRecord">
					<label>Save as a Profile</label>
					<toggle-button
						v-model="createProfile"
						:color="toggleButtonColors"
						:value="true"
						:sync="true"
						:labels="{checked: 'Yes', unchecked: 'No'}" />
				</div>

				<transition name="fade" tag="div">
					<div v-if="createProfile">
						<div class="form-group">
							<label>Profile Name</label>
							<input type="text" name="prifile_name" v-model="profileName" class="form-control form-control-sm" v-validate="'required'" key="prof-name-field">
							<div v-show="errors.first('prifile_name')" class="help-text text-danger">{{ errors.first('prifile_name') }}</div>
						</div>
						<div class="form-group">
							<label>Reference notes</label>
							<div class="help-text important-text">These notes will be printed at the end of the each report.</div>
				  			<div class="WYSIWYG-editor-container">
				  				<froala :tag="'textarea'" :config="editorConfig" v-model="profileDescription"></froala>
				  			</div>				  			
				  			<div class="help-text">These notes will be printed at the end of the each report.</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-4">
									<label for="fluid_type">Fluid type</label>
									<button class="btn btn-sm btn-outline-secondary float-right btn-xs-text btn-rounded" type="button" title="add new Fluid type" @click.prevent="openAddFluidTypeModal"><font-awesome-icon :icon='["fas", "plus"]' /></button>
									<select name="fluid_type" v-model="profileFluidType" class="form-control form-control-sm" v-validate="'required'" key="prof-fluid-type-field">
										<option v-for="(fluid, index) in fluidTypesOpts" v-bind:value="fluid.value">{{fluid.text}}</option>
									</select>
									<div v-show="errors.first('fluid_type')" class="help-text text-danger">{{ errors.first('fluid_type') }}</div>
								</div>
								<div class="col-4">
									<label for="price">Price</label>
									<input type="number" min="0" name="price" v-model="profilePrice" class="form-control form-control-sm" v-validate="'required|min_value:1'" key="prof-price-field">
									<div v-show="errors.first('price')" class="help-text text-danger">{{ errors.first('price') }}</div>
								</div>
								<div class="col-4">
								<label>Include Antibiotics?</label>
								<div>
									<toggle-button
										v-model="isAntibiotics"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Yes', unchecked: 'No'}" />
								</div>
							</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-4">
									<label>Report layout</label>
									<select name="report_layout" v-model="reportLayout" class="form-control form-control-sm">
										<option value="col">5 Columns</option>
										<option value="row">2 Columns</option>
									</select>
								</div>
								<div class="col-8">
									<label> </label>
									<label><span v-if="reportLayout=='col'">5</span><span v-else>2</span> Columns layout sample</label>
									<div class="text-secondary">
										<img v-show="reportLayout=='col'" src="@/assets/images/report_normal.png" width="100%" />
										<img v-show="reportLayout=='row'" src="@/assets/images/report_normal_rows.png" width="100%" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</transition>

				<div class="form-group">
					<button class="btn btn-sm btn-info" @click.prevent="saveTestData(false)">Save Test</button>
					<button v-show="isNewRecord" class="btn btn-warning btn-sm" @click.prevent="saveTestData(true)">Save and Add new</button>
				</div>
			</div>

			<div class="col-6">
				<div class="guidelines">
					<h5><font-awesome-icon :icon='["fas", "info-circle"]' /> Important guidelines for test entries</h5>
					<h6>Unit</h6>
					<p>
						To add new unit, click on plus(+) button at the right side.
					</p>
					<h6>Age limit</h6>
					<p>
						Put <b>'y'</b> letter for representing years, <b>'m'</b> letter for months and <b>'d'</b> for days.<br/>
						<b>Eg:</b>
						<ul>
							<li>&gt;12y (greater than 12 years)</li>
							<li>6m-12m (6 months to 12 months)</li>
							<li>&lt;14d (less than 2 weeks)</li>
						</ul>
						Keep 'Age limit' empty or put <b>'any'</b> for reference ranges, which there is no specific age limit.
					</p>
					<h6>Reference ranges</h6>
					<p>
						DO NOT ENTER two ranges in one box like &lt; 200, 80-100. USE TWO ENTRIES for two ranges.
					</p>
					<p>
						For the numeric values you can use minus values and commas (,) to seperate thousands if needed.
					</p>
					<p>
						If a test does not have a reference range, then set the Yes/No toggle button to <b>No</b>
					</p>
					<h6>Remark values</h6>
					<p>
						Left side box: The Remark value if the condition is True OR Low in range.<br/>
						Middle box: The Remark value if the result is in normal range.<br/>
						Right side box: The Remark value if the condition is False OR High in range.
					</p>
					<p>
						Keep irrelevant boxes empty.
					</p>
				</div>
			</div>
		</div>

		<vu-modal name="add-unit-modal"
			:width="300"
			height="auto"
			@before-close="clearModal">
			
			<div class="bl-modal-title">
	          	<div class="col-12">
	              	<h5>Add new unit</h5>
	            </div>
	        </div>
			<div class="test-unit-modal">
				<div class="form-group">
					<quill-editor id="unit_editor" :content="unitText" v-model="unitText"
		    			:options="editorOption"
		    			@focus="onEditorFocus($event)"
                      	@ready="onEditorReady($event)">
		    			<div id="unit_editor_toolbar" slot="toolbar">
		    				 <!-- Add subscript and superscript buttons -->
				            <button class="ql-script" value="sub"></button>
				            <button class="ql-script" value="super"></button>

				            <button id="unit_mu_btn" @click.prevent="insertGreek('µ')">&mu;</button>
		    			</div>
		  			</quill-editor>
				</div>
				<div class="form-group">
					<button class="btn btn-sm btn-info" @click.prevent="addNewUnit">Save unit</button>
				</div>
			</div>
		</vu-modal>

		<vu-modal name="add-reagent-modal"
			:width="600"
			height="auto"
			@before-close="clearAddReagentModal">
			<div class="bl-modal-title">
	          	<div class="col-12">
	              	<h5>Add new Reagent</h5>
	            </div>
	        </div>
	        <div class="add-new-items-form">
	        	<add-reagent
					:asAPartial="true"
					@reagent-saved="addReagetnToTheList" />
			</div>
		</vu-modal>

		<vu-modal name="add-fluid-type-modal"
			:width="300"
			height="auto">
			<div class="bl-modal-title">
	          	<div class="col-12">
	              	<h5>Add new Fluid type</h5>
	            </div>
	        </div>
			<div class="add-new-items-form">
				<add-fluid-type
					:asAPartial="true"
					@fluid-type-saved="addFluidTypeToTheList" />
			</div>
		</vu-modal>
	        
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import vSelect from 'vue-select'
	import { Swatches } from 'vue-swatches'
	import "vue-swatches/dist/vue-swatches.min.css"
	import EditReagent from './StockItemEdit'
	import AddFluidType from './FluidTypes'

	const dictionary = {
  		en: {
  			attributes: {
  				test_name: 'Test name',
  				unit: 'Unit',
  				remark_values: 'Remark values',
  				profile_name: 'Profile name',
  				fluid_type: 'Fluid type',
  				price: 'Price'
  			}
  		}
  	}

  	Validator.localize(dictionary)

  	var toolbarOptions = [
	  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

	  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
	  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
	  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

	  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown

	  [{ 'align': [] }],

	  ['clean']                                         // remove formatting button
	];

	export default {
		name: 'add-test',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'v-select': vSelect,
			'swatches': Swatches,
			'add-reagent': EditReagent,
			'add-fluid-type': AddFluidType,
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				testData: this.getTestData(),
				rangeAvailable: this.getRefRanges().length > 0,
				resultRulesAvailable: this.getTestData().min_max.min && this.getTestData().min_max.max,
				refRangeData: this.getRefRanges(),
				units: this.getUnits(),
				editorOption: {
					modules: {
						toolbar: '#unit_editor_toolbar'
					},
					placeholder: 'enter test unit'
				},
				unitText: null,
				reagentsOpts: this.getReagents(),
				createProfile: false,
				profileName: '',
				profileDescription: null,
				profilePrice: 0.00,
				isAntibiotics: false,
				reportLayout: 'col',
				profileFluidType: null,
				profEditorOption: {
					modules: {
						toolbar: toolbarOptions
					},
					placeholder: 'enter Profile notes here..'
				},
				selectedReagents: this.getTestReagents(),
				fluidTypesOpts: this.fluidTypes(),
				defaultRemarkColor: "#000",
				colors: ["#000", "#dc3545", "#28a745", "#007bff"],
				triggerStyle: { width: '20px', height: '20px', 'vertical-align':'middle', 'border-radius': '5px' },
				editorConfig: {
				  	placeholderText: 'Enter reference notes here',
				  	charCounterCount: false,
				  	toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontSize', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertTable', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'undo', 'redo', '|', 'fullscreen', 'html'],
				  	tableStyles: {
					  	'fr-no-table-border': 'No border',
					  	'fr-border-all': 'Border all',
				  		'fr-border-bottom': 'Border bottom'
				  	},
				  	toolbarStickyOffset: 55,
				  	htmlAllowedStyleProps: ['color', 'width', 'text-align'],
				  	htmlIgnoreCSSProperties: ['font-family', 'font-size'],
				  	fontFamily: {
				        "Courier Prime": 'Courier Prime',
				        "Montserrat,sans-serif": 'Montserrat',
			      	},
			      	fontFamilySelection: true,
			      	fontFamilyDefaultSelection: 'Courier Prime',
				  	tabSpaces: 4,
				  	theme: "light",
				  	height: 300
				},
				nonRefRemarkVal: null,
				nonRefRemarks: this.getTestData().non_ref_remarks,

				toggleButtonColors: {checked: '#28a745', unchecked: '#dc3545'}
			}
		},
		methods: {
			getTestData: function() {
				var tid = this.$route.params.id ? this.$route.params.id : null
				if(tid) {
					var query = "SELECT t.*, u.`id` as unit_id, u.`unit_label`, u.`unit` as unit_html FROM bloomy_tests t LEFT JOIN `bloomy_units` u ON u.`id`=t.`unit` WHERE t.`id`=?"
					var queryArgs = JSON.stringify({query: query, params: [tid]})
					var testObj = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)
					//console.log(userObj[0].f_name)
					var remarkValObj = JSON.parse(testObj[0].remark_values.toString())
					var remarkColorObj = JSON.parse(testObj[0].remark_colors.toString())
					var nonRefRemarksArray = testObj[0].non_ref_remarks ? testObj[0].non_ref_remarks.split(",") : []
					var minMaxObj = testObj[0].min_max ? JSON.parse(testObj[0].min_max.toString()) : {min: null, max: null}
					return {
						test_name: testObj[0].test_name,
						unit: testObj[0].unit ? {id: testObj[0].unit_id,  label: this.getUnitLable(testObj[0].unit_label), value: testObj[0].unit} : null,
						remark_values: {
							low: remarkValObj.low,
							in_range: remarkValObj.in_range,
							high: remarkValObj.high
						},
						remark_color: {
							low: remarkColorObj.low ? remarkColorObj.low : this.defaultRemarkColor,
							in_range: remarkColorObj.in_range ? remarkColorObj.in_range : this.defaultRemarkColor,
							high: remarkColorObj.high ? remarkColorObj.high : this.defaultRemarkColor,
						},
						non_ref_remarks: nonRefRemarksArray,
						min_max: minMaxObj
					}
				} else {
					return {
						test_name: null,
						unit: null,
						remark_values: {
							low: null,
							in_range: null,
							high: null
						},
						remark_color: {
							low: this.defaultRemarkColor,
							in_range: this.defaultRemarkColor,
							high: this.defaultRemarkColor
						},
						non_ref_remarks: [],
						min_max: {min: null, max: null}
					}
				}
			},
			getRefRanges: function() {
				var tid = this.$route.params.id ? this.$route.params.id : null
				if(tid) {
					var query = "SELECT * FROM bloomy_ref_ranges WHERE test_id=?"
					var queryArgs = JSON.stringify({query: query, params: [tid]})
					var refRangeObj = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)
					//console.log(userObj[0].f_name)

					return refRangeObj
				} else {
					return [
						{
							sex: 'any',
							age_limit: 'any',
							ref_range: ''
						}
					]
				}
			},
			getUnits: function() {
				var self = this
				var query = 'SELECT * FROM bloomy_units'
				var queryArgs = JSON.stringify({query: query, params: []})
				var testUnits = self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var unitsObj = []
				testUnits.forEach(function(v){
					unitsObj.push({
						id: v.id,
						label: v.unit_label,
						value: v.unit
					})
				})
				//console.log(testUnits)
				return unitsObj
			},
			getReagents() {
				var self=this
				var getReagentsQuery = "SELECT * FROM `bloomy_stock_item`"
				var getReagentsQueryArgs = JSON.stringify({query: getReagentsQuery, params: []})
				var reagentsRes = this.$electron.ipcRenderer.sendSync('db-query', getReagentsQueryArgs)

				var reagentsOptArray = []
				reagentsRes.forEach(function(v){
					reagentsOptArray.push({
						label: v.item_name,
						value: v.id,
						unit: v.unit,
						units_per_test: null
					})
				})

				return reagentsOptArray
			},
			addReagetnToTheList(newReagent) {
				var newReagentObj = {
					label: newReagent.name,
					value: newReagent.id,
					unit: newReagent.unit,
					units_per_test: null
				}
				this.reagentsOpts.push(newReagentObj)
				this.selectedReagents.push(newReagentObj)

				this.$modal.hide('add-reagent-modal')
			},
			getTestReagents() {
				var tid = this.$route.params.id ? this.$route.params.id : null

				var testReagentsArray = []
				if(tid) {
					var selectTestReagentsQuery = "SELECT ts.*, s.id, s.item_name, s.unit FROM `bloomy_test_stock_item` ts INNER JOIN `bloomy_stock_item` s ON s.id=ts.stock_item_id WHERE ts.`test_id`=?"
					var selectTestReagentsQueryArgs = JSON.stringify({query: selectTestReagentsQuery, params: [tid]})
					var testReagentRes = this.$electron.ipcRenderer.sendSync('db-query', selectTestReagentsQueryArgs)

					testReagentRes.forEach(function(v){
						testReagentsArray.push({
							label: v.item_name,
							value: v.id,
							unit: v.unit,
							units_per_test: v.units_per_test
						})
					})
				}

				return testReagentsArray
			},
			addMoreRefRanges: function() {
				this.refRangeData.push({
					sex: 'any',
					age_limit: 'any',
					ref_range: ''
				})
			},
			removeRefRange: function(itemIndex) {
				this.refRangeData.splice(itemIndex, 1)
			},
			saveTestData: function(addNew) {
				var self = this
				var elecRomote = remote
				this.$validator.validate().then(result => {
					if(!result) {
						//console.log('validation failed')
						return
					} else {
						if(self.rangeAvailable && !self.testData.remark_values.low && !self.testData.remark_values.in_range && !self.testData.remark_values.high) {
							elecRomote.dialog.showMessageBox(
								elecRomote.getCurrentWindow(), {
								buttons: ['OK'],
								type: 'info',
								title: 'Create test',
								message: 'Remark values empty',
								detail: 'You cannot leave all Remark value fields empty.\nYou must provide at least one Remark value.\nRemember these values will be displayed in the final report.'
							}, function(btnInd){
								return
							})
						} else {
							// save test data
							var testDetailsArray = []
							var remarkValues = JSON.stringify({
								low: self.testData.remark_values.low,
								in_range: self.testData.remark_values.in_range,
								high: self.testData.remark_values.high
							})

							var remarkColorValues = JSON.stringify({
								low: self.testData.remark_color.low ? self.testData.remark_color.low : "",
								in_range: self.testData.remark_color.in_range ? self.testData.remark_color.in_range : "",
								high: self.testData.remark_color.high ? self.testData.remark_color.high : ""
							})

							var minMaxValues = self.resultRulesAvailable ? JSON.stringify({min: self.testData.min_max.min, max: self.testData.min_max.max}) : null

							var testNameTrimed = self.testData.test_name.trim()

							testDetailsArray.push(testNameTrimed)
							testDetailsArray.push(remarkValues)
							testDetailsArray.push(remarkColorValues)

							var nonRefRemarksArrayToSave = null
							if(!self.rangeAvailable) {
								nonRefRemarksArrayToSave = self.nonRefRemarks.join(",")
							}
							testDetailsArray.push(nonRefRemarksArrayToSave)	
							testDetailsArray.push(minMaxValues)
							testDetailsArray.push(self.testData.unit ? self.testData.unit.id : null)

							//console.log('test data', testDetailsArray)

							var editTestId = self.$route.params.id ? self.$route.params.id : 0

							//check for test existance
							var checkTestExistance = "SELECT COUNT(id) as test_count FROM bloomy_tests WHERE test_name LIKE ? AND id != ?"
							var chkTestNameQueryParams = [testNameTrimed, editTestId]
							var chkTestNameArgs = JSON.stringify({query: checkTestExistance, params: chkTestNameQueryParams})
							var testCount = self.$electron.ipcRenderer.sendSync('db-query', chkTestNameArgs)

							if(testCount[0].test_count > 0) {
								elecRomote.dialog.showMessageBox(
									elecRomote.getCurrentWindow(), {
									buttons: ['OK'],
									type: 'info',
									title: 'Manage tests',
									message: 'Test name already taken',
									detail: 'This test name is already used.'
								}, function(btnInd){
									return
								})
							} else {
								var refRanges = []
								
								if(editTestId > 0) {
									var testInsertQuery = "UPDATE `bloomy_tests` SET `test_name`=?, `remark_values`=?, `remark_colors`=?, `non_ref_remarks`=?, `min_max`=?, `unit`=? WHERE `id`=?"
									testDetailsArray.push(editTestId)
									var testQueryArgs = JSON.stringify({query: testInsertQuery, params: testDetailsArray})
									self.$electron.ipcRenderer.sendSync('db-query', testQueryArgs)
								} else {
									var testInsertQuery = "INSERT INTO `bloomy_tests`(`test_name`, `remark_values`, `remark_colors`, `non_ref_remarks`, `min_max`, `unit`) VALUES(?,?,?,?,?,?,?)"
									var testQueryArgs = JSON.stringify({query: testInsertQuery, params: testDetailsArray})
									var testInsertQueryRes = self.$electron.ipcRenderer.sendSync('db-query', testQueryArgs)

									editTestId = testInsertQueryRes.insertId
								}

								if(self.rangeAvailable) {
									self.refRangeData.forEach(function(v){
										var ageLimitToSave = v.age_limit.replace("Y","y").replace("M","m").replace("D",'d')
										var sexToSave = !v.sex || v.sex.trim().replace(/ /g, "") == "" ? 'any' : v.sex
										refRanges.push([editTestId, sexToSave, ageLimitToSave, v.ref_range])
									})	
								
									if(self.$route.params.id) {
										var delRefRanges = "DELETE FROM `bloomy_ref_ranges` WHERE `test_id`=?"
										var delRefQueryArgs = JSON.stringify({query: delRefRanges, params: [self.$route.params.id]})
										self.$electron.ipcRenderer.sendSync('db-query', delRefQueryArgs)
									}
									
									var refRangeQuery = "INSERT INTO `bloomy_ref_ranges`(`test_id`, `sex`, `age_limit`, `ref_range`) VALUES ?"
									var refRangeQueryArgs = JSON.stringify({query: refRangeQuery, params: [refRanges]})

									self.$electron.ipcRenderer.sendSync('db-query', refRangeQueryArgs)
								}

								// save Reagents
								var deleteExistinsReagentsQuery = "DELETE FROM `bloomy_test_stock_item` WHERE `test_id`=?"
								var deleteExistinsReagentsQueryArgs = JSON.stringify({query: deleteExistinsReagentsQuery, params: [editTestId]})
								self.$electron.ipcRenderer.sendSync('db-query', deleteExistinsReagentsQueryArgs)

								//console.log('selected reagents ', self.selectedReagents.length)
								if(self.selectedReagents.length > 0) {
									var reagentQueryParams = []

									self.selectedReagents.forEach(function(r) {
										//console.log(self.$route.params.id, r.value, r.units_per_test)
										if(r.value && r.value != undefined) {
											reagentQueryParams.push([
												editTestId,
												r.value,
												r.units_per_test
											])
										}										
									})
									
									var insertReagentQuery = "INSERT INTO `bloomy_test_stock_item` VALUES ?"
									var insertReagentQueryArgs = JSON.stringify({query: insertReagentQuery, params: [reagentQueryParams]})

									self.$electron.ipcRenderer.sendSync('db-query', insertReagentQueryArgs)
								}
								
								// save Test Profile data
								if(this.createProfile) {
									var saveProfileQuery = "INSERT INTO `bloomy_profiles`(`profile_name`, `description`, `price`, `fluid_type`, `antibiotics`, `report_layout`) VALUES(?,?,?,?,?,?)"
									var saveProfileQueryParams = [self.profileName, self.profileDescription, self.profilePrice, self.profileFluidType, self.isAntibiotics, self.reportLayout]
									var saveProfileQueryArgs = JSON.stringify({query: saveProfileQuery, params: saveProfileQueryParams})

									var saveProfileQueryRes = self.$electron.ipcRenderer.sendSync('db-query', saveProfileQueryArgs)

									//console.log(saveProfileQueryRes)
									var latestProfId = saveProfileQueryRes.insertId

									// insert profile test details
									const insertProfTestQuery = "INSERT INTO `bloomy_tests_profiles`(`profile_id`, `test_id`) VALUES(?,?)"
									const insertProfTestQueryParams = [latestProfId, editTestId]
									const insertProfTestQueryArgs = JSON.stringify({query: insertProfTestQuery, params: insertProfTestQueryParams})

									self.$electron.ipcRenderer.sendSync('db-query', insertProfTestQueryArgs)
								}

								if(!addNew) {
									self.$router.push({name: 'manage-tests'})
								} else {
									self.resetForm()
								}

								self.flash('Test data saved successfully', 'success')
							}
						}
					}
				})
			},
			resetForm() {
				this.$nextTick().then(() => {
					this.$validator.errors.clear()
				})
				this.testData = this.getTestData()
				this.rangeAvailable = this.getRefRanges().length > 0
				this.refRangeData = this.getRefRanges()
				this.selectedReagents = this.getTestReagents()
				this.unitText = null
				this.createProfile = false
				this.profileName = ''
				this.profileDescription = ''
				this.profilePrice = 0.00
				this.isAntibiotics = false
				this.reportLayout = 'col',
				this.profileFluidType = null
				this.nonRefRemarkVal = null
				this.nonRefRemarks = this.getTestData().non_ref_remarks
			},
			fluidTypes: function() {
				var fluidTypesQuery = "SELECT * FROM bloomy_fluid_types"
				var fluidTypeQueryArgs = JSON.stringify({query: fluidTypesQuery, params: []})

				var fluidTypesArray = this.$electron.ipcRenderer.sendSync('db-query', fluidTypeQueryArgs)

				var fluidTypeOptions = []

				fluidTypesArray.forEach(function(v){
					fluidTypeOptions.push({
						value: v.id,
						text: v.fluid_type_name
					})
				})

				return fluidTypeOptions
			},
			addFluidTypeToTheList(newFluidType) {
				this.fluidTypesOpts.push({
					value: newFluidType.id,
					text: newFluidType.name
				})
				this.profileFluidType = newFluidType.id
				
				this.$modal.hide('add-fluid-type-modal')
			},
			openModal: function() {
				this.$modal.show('add-unit-modal')
			},
			openAddReagentModal() {
				this.$modal.show('add-reagent-modal')
			},
			openAddFluidTypeModal() {
				this.$modal.show('add-fluid-type-modal')
			},
			clearAddReagentModal() {

			},
			onEditorFocus(editor) {
		        this.editor = editor
		      },
	      	onEditorReady(editor) {
		        this.editor = editor
	      	},
			insertGreek(greekLetter) {
				var range = this.editor.getSelection();
			  	if (range) {
				    this.editor.insertText(range.index, greekLetter);
			  	}
			},
			addNewUnit: function() {
				var self = this
				var unitLabel = self.getUnitLable(self.unitText)
				var unitTextForSave = self.unitText.replace('<p>', '').replace('</p>', '')

				//check for existance
				var unitExists = false
				self.units.forEach(function(v){
					if(v.value == self.unitText.replace('<p>', '').replace('</p>', '')) {
						unitExists = true
					}
				})

				if(unitExists) {
					remote.dialog.showMessageBox(
						remote.getCurrentWindow(), {
						buttons: ['OK'],
						type: 'info',
						title: 'Add test units',
						message: 'Test unit exists',
						detail: 'This unit is already added.'
					}, function(btnIndex){
						return
					})
				} else {
					var query = "INSERT INTO bloomy_units(`unit_label`, `unit`) VALUES(?,?)"
					var queryParams = [unitLabel, unitTextForSave]

					var queryArgs = JSON.stringify({query: query, params: queryParams})
					self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

					self.units = self.getUnits()

					self.flash('Unit saved successfully', 'success')
				}
			},
			clearModal: function() {
				this.unitText = null
			},
			getUnitLable: function(unitHtml) {
				return unitHtml ? unitHtml.replace('&nbsp;', '').replace(/<\/?[^>]+(>|$)/g, "") : null
			},
			addNonRefRemarkValue() {
				this.nonRefRemarks.push(this.nonRefRemarkVal)

				this.nonRefRemarkVal = null
			},
			removeNonRefVal(itemIndex) {
				this.nonRefRemarks.splice(itemIndex, 1)
			}
		}
	};
</script>

<style lang="scss">
	select#ref_rang_condition {
		text-align-last: center;
		font-size: 20px;

		option {
			font-size: 20px;
		}
	}

	.add-new-items-form, {
		padding-top: 10px;
	}

	.add-more-list-item {
		margin: 5px 0;

		.remove-list-item-btn, remove-list-item-btn:hover {
			padding: 0 5px;
			background: none;
			border: none;
		}
	}

	.remark-values {
		.input-group-text {
			padding: 0 6px;
		}
	}


	#unit_editor {
		.ql-editor {
			font-size: 1.2rem;
		}
	}

	.quill-editor {
		background: #fff;
	}

	.test-unit-modal {
		padding: 15px;
	}

	.v--modal-overlay {
		.v--modal-box {
			background: #efefef;
		}
	}

	#description_editor {
		.ql-container {
			.ql-editor {
				height: 200px;
				background: #fff;
			}
		}
	}

	#reagents_list {
		.reagent_name {
			font-size: 0.8rem;
		}
	}

	.color-picker-block {
		display: block;
		width: 15px;
		height: 15px;
	}

	.non-ref-result-values-list {
		.item {
			padding: 5px 10px;
			margin: 3px;
			font-size: 12px;
    		font-weight: normal;
		}

		.remove-btn {
			display: inline;
			margin-left: 5px;
			font-size: 11px;
			cursor: pointer;
		}
	}
</style>