<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4><font-awesome-icon :icon="['fas', 'balance-scale']" /> Test units</h4>
				</div>
				<div class="col-5 text-right">
					
				</div>
			</div>
		</div>	

		<div class="row">
			<div class="col-8 offset-2">
				<div class="row">
					<div class="col-7">
						<grid-view
							width="100%"
							:columns="columnData"
							:searchfeilds="searchFeilds"
							:data="units"
							:infiniteScroll="false"></grid-view>					
					</div>
					<div class="col-5">
						<div class="unit-editor-panel">
							<h5><span v-if="curId==0">Add new</span><span v-else>Edit</span> unit</h5>
							<div class="form-group">
								<quill-editor id="unit_editor" :content="unitText" v-model="unitText"
			            			:options="editorOption"
			            			@focus="onEditorFocus($event)"
			                      	@ready="onEditorReady($event)">
					    			<div id="unit_editor_toolbar" slot="toolbar">
					    				 <!-- Add subscript and superscript buttons -->
							            <button class="ql-script" value="sub"></button>
							            <button class="ql-script" value="super"></button>

							            <button id="unit_mu_btn" @click.prevent="insertGreek('µ')">&mu;</button>
					    			</div>
					  			</quill-editor>
					  			<div class="important-text">Remember to click on <b>Reset</b> button before adding a new unit</div>
					  		</div>

				  			<div class="form-group">
					  			<button class="btn btn-info btn-sm" @click.prevent="saveUnit">{{saveBtnText}}</button>
					  			<button class="btn btn-secondary btn-sm" @click.prevent="resetEditor">Reset</button>
					  		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import GridView from './GridView'

	export default {
		name: 'test-unit',
		components: {
			FontAwesomeIcon,
			GridView
		},
		data() {
			return {
				curId: 0,
				unitText: null,
				columnData: [{
					value: 'Unit'
				}],
				searchFeilds: null,
				editorOption: {
					modules: {
						toolbar: '#unit_editor_toolbar'
					},
					placeholder: 'enter test unit'
				},
				units: this.getUnits(),
				saveBtnText: 'Save new unit'
			}
		},
		methods: {
			onEditorFocus(editor) {
		        this.editor = editor
		      },
	      	onEditorReady(editor) {
		        this.editor = editor
	      	},
			insertGreek(greekLetter) {
				var range = this.editor.getSelection();
			  	if (range) {
				    this.editor.insertText(range.index, greekLetter);
			  	}
			},
			saveUnit: function() {
				var self = this
				//console.log('unit text', self.unitText)
				if(!self.unitText || self.unitText == '') {
					return
				}

				//check for existance
				var unitExists = false
				self.units.forEach(function(v){
					if(v.id != self.curId && v.Unit.value == self.unitText.replace('<p>', '').replace('</p>', '')) {
						unitExists = true
					}
				})

				if(unitExists) {
					self.flash('Unit already exists', 'warning')
					return
				} 

				if(self.curId > 0) {
					var unitLabel = self.getUnitLable(self.unitText)
					var unitTextForSave = self.unitText.replace('<p>', '').replace('</p>', '')
					var query = "UPDATE bloomy_units SET unit_label=?, unit=? WHERE id=?"
					var queryParams = [unitLabel, unitTextForSave, self.curId]
					var queryArgs = JSON.stringify({query: query, params: queryParams})
					self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

					self.units.forEach(function(v, k){
						if(v.id == self.curId) {
							self.units[k].Unit.value = self.unitText.replace('<p>', '').replace('</p>', '')
							self.units[k].unit_label = unitLabel
						}
					})

					self.resetEditor()

					self.flash('Unit saved successfully', 'success')
				} else {
					var unitLabel = self.getUnitLable(self.unitText)
					var unitTextForSave = self.unitText.replace('<p>', '').replace('</p>', '')

					var query = "INSERT INTO bloomy_units(`unit_label`, `unit`) VALUES(?,?)"
					var queryParams = [unitLabel, unitTextForSave]

					var queryArgs = JSON.stringify({query: query, params: queryParams})
					self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

					self.units = self.getUnits()
					self.resetEditor()

					self.flash('Unit saved successfully', 'success')
				}
			},
			getUnitLable: function(unitHtml) {
				return unitHtml.replace(/<\/?[^>]+(>|$)/g, "")
			},
			getUnits: function() {
				var self = this

				var query = "SELECT * FROM bloomy_units"
				var queryArgs = JSON.stringify({query: query, params: []})
				var unitsData = self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var unitsObj = []
				unitsData.forEach(function(v){
					unitsObj.push({
						id: v.id, 
						unit_label: v.unit_label, 
						Unit: {
							value: v.unit
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editUnit.bind(self, v.id), title: 'edit', icon: 'edit'},
							{btnclass: 'btn-outline-danger', onClickFn: self.removeUnit.bind(self, v.id), title: 'delete', icon: 'trash-alt'}
						]
					})
				})
				
				return unitsObj
			},
			editUnit: function(unitId) {
				var self = this
				this.units.forEach(function(v){
					if(v.id == unitId) {
						self.unitText = v.Unit.value
						self.curId = unitId
						self.saveBtnText = 'Save changes'
					}
				})
				
			},
			removeUnit: function(unitId) {
				var self = this
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Test units',
					message: 'Delete test unit',
					detail: 'Do you really need to delete this unit?'
				}, function(btnIndex){
					if(btnIndex == 0) {
						var query = "DELETE FROM bloomy_units WHERE id=?"
						var queryParams = [unitId]
						var queryArgs = JSON.stringify({query: query, params: queryParams})

						self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

						self.units.forEach(function(v, k){
							if(v.id == unitId) {
								self.units.splice(k, 1)
							}
						})

						self.flash('Unit deleted successfully', 'success')
					} else {
						return
					}
				})
			},
			resetEditor: function() {
				this.unitText = null
				this.curId = 0
				this.saveBtnText = 'Save new unit'
			}
		}
	};
</script>

<style lang="scss">
	#unit_editor {
		.ql-editor {
			font-size: 1.2rem;
		}
	}
	.quill-editor {
		background: #fff;
	}

	.unit-editor-panel {
		position: fixed;
		top: 30%;
		right: 100px;
	}
</style>