<template>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	  <a class="navbar-brand" href="#" @click="goHome"><img src="@/assets/images/logo_small.png" class="logo" /></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="mainNavbar">
	    <ul class="navbar-nav mr-auto">
	      	<li class="nav-item" v-bind:class="{ active: activeMenuItem === 'landing-page' }">
		        <router-link class="nav-link" :to="{name: 'landing-page'}">New Invoice</router-link>
	      	</li>
	      	<li v-show="for_admin || for_mlt || for_bladmin" class="nav-item" v-bind:class="{ active: activeMenuItem === 'add-test-results' }">
		        <router-link class="nav-link" :to="{name: 'add-test-results'}">Add Test Results <b-badge pill :variant="pendingTestCount > 0 ? 'danger' : 'success'">{{ pendingTestCount }}</b-badge></router-link>
	      	</li>
	      	<li class="nav-item dropdown" v-bind:class="{ active: activeMenuItem === 'manage-customers' }">
		        <a class="nav-link dropdown-toggle" href="#" id="customersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Invoices
		        </a>
		        <div class="dropdown-menu" aria-labelledby="customersDropdown">
		          <router-link class="dropdown-item" :to="{name: 'landing-page'}"><font-awesome-icon :icon='["fas", "receipt"]' fixed-width /> New Invoice</router-link>
		          <router-link class="dropdown-item" :to="{name: 'manage-customers'}"><font-awesome-icon :icon='["fas", "id-card"]' fixed-width /> Manage Customers</router-link>
		        </div>
	      	</li>
  			<li v-show="for_admin || for_mlt || for_bladmin" class="nav-item dropdown" v-bind:class="{ active: (activeMenuItem == 'manage-tests' || activeMenuItem == 'edit-test' || activeMenuItem == 'add-test-profile' || activeMenuItem == 'add-test' || activeMenuItem == 'manage-test-profiles' || activeMenuItem == 'add-collecting-center' || activeMenuItem == 'manage-collecting-centers' || activeMenuItem == 'add-doctor' || activeMenuItem == 'manage-doctors' || activeMenuItem == 'test-units' || activeMenuItem == 'fluid-types') }">
		        <a class="nav-link dropdown-toggle" href="#" id="testsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Tests
		        </a>
		        <div class="dropdown-menu" aria-labelledby="testsDropdown">
		        	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-tests'}"><font-awesome-icon :icon='["fas", "flask"]' fixed-width /> Manage Tests</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-test'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Test</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		          	<div class="dropdown-divider"></div>

		          	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-test-profiles'}"><font-awesome-icon :icon='["fas", "notes-medical"]' fixed-width /> Manage Test Profiles</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-test-profile'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Test Profile</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

	          		<div class="dropdown-divider"></div>

	          		<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-profile-groups'}"><font-awesome-icon :icon='["fas", "link"]' fixed-width /> Manage Profile groups</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-profile-group'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Profile group</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		          	<div class="dropdown-divider"></div>

		          	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-packages'}"><font-awesome-icon :icon='["fas", "gift"]' fixed-width /> Manage Packages</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-package'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Package</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		          	<div class="dropdown-divider"></div>

		          	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-collecting-centers'}"><font-awesome-icon :icon='["fas", "hospital"]' fixed-width /> Manage Collecting Centers</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-collecting-center'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Collecting Center</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		          	<div class="dropdown-divider"></div>

		          	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-doctors'}"><font-awesome-icon :icon='["fas", "user-md"]' fixed-width /> Manage Doctors</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-doctor'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Doctor</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		          	<div class="dropdown-divider"></div>

		          	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'stock-items'}"><font-awesome-icon :icon='["fas", "eye-dropper"]' fixed-width /> Manage Reagents</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-stock-item'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Reagent</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		        	<div class="dropdown-divider"></div>

		        	<div class="nav-item-group">
		        		<div class="row">
		        			<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'manage-antibiotics'}"><font-awesome-icon :icon="['fas', 'prescription-bottle']" fixed-width /> Antibiotics</router-link>
				        	</div>
				        	<div class="col-6">
				        		<router-link class="dropdown-item" :to="{name: 'add-antibiotic'}"><font-awesome-icon :icon='["fas", "plus"]' fixed-width /> Add new Antibiotic</router-link>
				        	</div>
		        		</div>		        		
		        	</div>

		          	<div class="dropdown-divider"></div>

		          	<router-link class="dropdown-item" :to="{name: 'fluid-types'}"><font-awesome-icon :icon="['fas', 'tint']" fixed-width /> Fluid Types</router-link>

		          	<div class="dropdown-divider"></div>

		          	<router-link class="dropdown-item" :to="{name: 'external-labs'}"><font-awesome-icon :icon="['fas', 'hospital-alt']" fixed-width /> External Laboratories</router-link>

		          	<div class="dropdown-divider"></div>

		          	<router-link class="dropdown-item" :to="{name: 'test-units'}"><font-awesome-icon :icon="['fas', 'balance-scale']" fixed-width /> Units</router-link>
		        </div>
	      	</li>
	      	<li v-show="for_admin || for_bladmin" class="nav-item dropdown" v-bind:class="{ active: (activeMenuItem == 'manage-users' || activeMenuItem == 'edit-user' || activeMenuItem == 'add-user' || activeMenuItem == 'system-settings' || activeMenuItem == 'admin-dashboard') }">
		        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Admin
		        </a>
		        <div class="dropdown-menu" aria-labelledby="adminDropdown">
		        	<router-link class="dropdown-item" :to="{name: 'admin-dashboard'}"><font-awesome-icon :icon='["fas", "chart-line"]' fixed-width /> Dashboard</router-link>

		        	<div class="dropdown-divider"></div>

		        	<router-link class="dropdown-item" :to="{name: 'manage-users'}"><font-awesome-icon :icon='["fas", "users"]' fixed-width /> Manage Users</router-link>
		          	<router-link class="dropdown-item" :to="{name: 'add-user'}"><font-awesome-icon :icon='["fas", "user-plus"]' fixed-width /> Add new User</router-link>

		          	<div class="dropdown-divider"></div>

		          	<router-link class="dropdown-item" :to="{name: 'system-settings'}"><font-awesome-icon :icon='["fas", "cogs"]' fixed-width /> System Settings</router-link>
		        </div>
	      	</li>
	      	<li>
    			<invoice-search
    				:barcodeReady="refreshNav" />
    		</li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	    	<li class="nav-item">
	    		<b-button variant="link" class="btn-rounded" @click.prevent="getHelp" title="Guide"><font-awesome-icon :icon="['fas', 'question-circle']" /></b-button>
	    	</li>
			<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        	<div class="user-icon float-left">
		        		<font-awesome-icon :icon='["fas", "user-circle"]' /> 
		        	</div>		        	
		          	<div class="user-name-and-type float-left">
		          		<div class="user-name">{{ users_name }}</div>
		          		<div class="text-truncate"><small>{{ user_type }}</small></div>
		          	</div>
		        </a>
		        
		        <div class="dropdown-menu" aria-labelledby="userMenu">
		          <router-link class="dropdown-item" :to="{name: 'edit-user', params: {id: userid}}">Edit Profile</router-link>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" v-on:click.prevent="logout" href="#">Logout</a>
		        </div>
	      	</li>
		</ul>
	  </div>
	</nav>
</template>

<script>
	import { remote } from 'electron'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import InvoiceSearch from './InvoiceSearch'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})
  	
	const LAB_TECH = store.get('app-config').UTYPE_LAB_TECH
	const SYS_ADMIN = store.get('app-config').UTYPE_SYS_ADMIN
	const BL_ADMIN = store.get('app-config').UTYPE_BLOSSOM_ADMIN
	const CASHIER = store.get('app-config').UTYPE_CAHIER

	export default {
	    name: 'navbar-com',
	    components: {
	    	FontAwesomeIcon,
	    	'invoice-search': InvoiceSearch
	    },
	    props: {
	    	refreshNav: {
	    		type: Boolean,
	    		default: false
	    	}
	    },
	    data() {
	    	return {
	    		for_admin: store.get('isLogedIn') && store.get('user').type == SYS_ADMIN,
	    		for_bladmin: store.get('isLogedIn') && store.get('user').type == BL_ADMIN,
	    		for_mlt: store.get('isLogedIn') && store.get('user').type == LAB_TECH,
	    		users_name: store.get('isLogedIn') && store.get('user').name,
	    		user_type: store.get('isLogedIn') && store.get('app-config').userTypes[store.get('user').type],
	    		userid: store.get('isLogedIn') && store.get('user').id
	    	}
	    },
	    watch: {
	    	refreshNav(val) {	    		
	    		if(val) {
	    			this.for_admin = store.get('user').type == SYS_ADMIN
		    		this.for_mlt = store.get('user').type == LAB_TECH
		    		this.users_name = store.get('user').name
		    		this.userid = store.get('user').id
		    		this.user_type = store.get('app-config').userTypes[store.get('user').type]
	    		}
	    	}
	    },
	    computed: {
	    	pendingTestCount: function() {
	    		return this.$store.state.PendingTest.pendingTestCount
	    	},
	    	activeMenuItem() {
	    		return this.$route.name
	    	},
	    },
	    methods: {
	    	logout() {
	    		store.set('isLogedIn', false)
      			store.delete('user')

      			this.$router.push({name: 'login-page'})
	    	},
	    	loadUsers() {
	    		this.$router.push({name: 'manage-users'})
	    	},
	    	addUsers: function() {
	    		this.$router.push({name: 'add-user'})
	    	},
	    	loadRegCustomer() {
	    		this.$router.push({name: 'landing-page'})
	    	},
	    	goHome() {
	    		this.$router.push({name: 'landing-page'})
	    	},
	    	getHelp() {
	    		//this.$electron.ipcRenderer.send('get-help')
	    		const path = require('path')
	    		const PDFWindow = require('electron-pdf-window')
	    		const hepPDFFile = process.env.NODE_ENV !== 'development' ? path.join(__dirname, 'static', 'BlossomLabsManual.pdf') : path.join(__static, 'BlossomLabsManual.pdf')

	    		let {width, height} = require('electron').screen.getPrimaryDisplay().size

	    		let helpWindow = new remote.BrowserWindow({
                    title: "BlossomLabs Help",
                    fullscreen: false, 
                    backgroundColor: '#fff',
                    width: width, 
                    height: height,
                    toolbar: false,
                    show: false
                })

                PDFWindow.addSupport(helpWindow)

                helpWindow.loadURL(hepPDFFile)

                helpWindow.once('ready-to-show', () => {
                    helpWindow.show()
                }) 
	    	}
	    }
	  };
</script>

<style lang="scss">
	.fixed-top {
		z-index: 999;
	}

	.search-box {
		margin-left: 20px;
	}

	.navbar-brand {
		padding: 0px;
	}

	.logo {
		height: 35px;
		width: auto;
	}

	#userMenu {
		padding: 2px 5px;
		.user-icon {
			margin-right: 5px;
			line-height: 1rem;
		}

		.user-name-and-type {
			line-height: 1.1rem;

			.user-name {
				color: #fff;
			}
		}
	}

	.nav-item-group {
		min-width: 500px;
		width: auto;
	}
</style>