<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Packages</h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-package'}"><font-awesome-icon :icon='["fas", "gift"]' /> Add new Package</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="packages"
			@grid-search-event="gridSearch"></grid-view>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	export default {
		name: 'medi-pakage',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading
		},
		data() {
			return {
				isLoading: false,
				columnData: [{
					value: 'Package Name',
					options: {width: '20%'}
				},
				{
					value: 'Test profiles',
					options: {width: '35%'}
				},
				{
					value: 'Price'
				},
				{
					value: 'Is published',
					options: {width: '10%'}
				}],
				searchFeilds: {
					'Package Name': {type: 'textbox', input_id: 'name_search'},
					'Is published': {type: 'selectbox', input_id: 'is_published_search', options:{0: 'Unpublished', 1: 'Active'}}
				},
				packages: this.getPackages()
			}
		},
		methods: {
			getPackages(searchStr=null) {
				var self = this
				var getPackagesQuery = "SELECT * FROM `bloomy_packages` WHERE id > 0"

				if(searchStr) {
					getPackagesQuery += searchStr
				}

				var queryArgs = JSON.stringify({query: getPackagesQuery, params:[]})
				var packagesRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var packageData = []
				packagesRes.forEach(function(v){
					packageData.push({
						id: {
							value: v.id
						},
						'Package Name': {
							value: v.package_name
						},
						'Test profiles':{
							value: self.getPackageProfiles(v.id)
						},
						Price: {
							value: v.price
						},
						'Is published': {
							value: v.published == 1 ? '<span class="badge badge-pill badge-lg badge-success">Published</span>' : '<span class="badge badge-pill badge-lg badge-danger">Unpublished</span>'
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editPackage.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.deletePackage.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return packageData
			},
			getPackageProfiles(packageId) {
				var selectPackageProfilesQuery = "SELECT pp.*, p.profile_name FROM `bloomy_package_profile` pp INNER JOIN `bloomy_profiles` p ON p.id=pp.profile_id WHERE pp.package_id=?"
				var selectPackageProfilesQueryArgs = JSON.stringify({query: selectPackageProfilesQuery, params: [packageId]})

				var packageProfilesRes = this.$electron.ipcRenderer.sendSync('db-query', selectPackageProfilesQueryArgs)
				console.log(packageProfilesRes)
				var formatStr = ""
				packageProfilesRes.forEach(function(p){
					formatStr += '<span class="badge badge-pill badge-primary badge-lg">' + p.profile_name + '</span>'
				})

				return formatStr
			},
			gridSearch: function(searchParams) {
				var searchStr = ""
		    	var self = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Package Name') {
		    				searchStr += " AND `package_name` LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Is published') {
		    				searchStr += " AND published = '" + searchParams[colKey.value]
		    			}
		    		}
		    	})

		    	this.packages = this.getPackages(searchStr)
			},
			editPackage(packageId) {
				this.$router.push({name: 'package-edit', params: {id: packageId}})
			},
			deletePackage(packageId) {
				var _this = this
				remote.dialog.showMessageBox(
					remote.getCurrentWindow(), {
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage Packages',
					message: 'Delete Package',
					detail: 'Do you really want to delete this Package?'
				}, function(btnInd){
					if(btnInd == 0) {
						var deletePackageQuery = "DELETE FROM `bloomy_packages` WHERE `id`=?"
						var deletePackageArgs = JSON.stringify({query: deletePackageQuery, params:[packageId]})

						_this.$electron.ipcRenderer.sendSync('db-query', deletePackageArgs)

						_this.packages.forEach(function(v, k){
							if(packageId == v.id.value) {
								_this.packages.splice(k, 1)
							}
						})

						_this.flash('Package deleted', 'success')
					} else {
						return
					}
				})
				
			}
		}
	};
</script>

<style lang="scss"></style>