<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Package <small v-once>({{ packageData.package_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Package</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-packages'}"><font-awesome-icon :icon='["fas", "gift"]' /> Manage Packages</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="package_name">Package name</label>
					<input type="text" name="package_name" class="form-control form-control-sm" v-model="packageData.package_name" v-validate="'required'" data-vv-as="Package name">
					<div v-show="errors.first('package_name')" class="help-text text-danger">{{ errors.first('package_name') }}</div>
				</div>

				<div class="form-group">
					<label for="pakage_profiles">Test profiles</label>
                    <v-select multiple name="pakage_profiles" id="pakage_profiles" :options="testProfilesOpts" v-model="selectedTestProfiles" v-validate="'required'"  data-vv-as="Test profiles">
                	</v-select>
                	<div class="help-text">Total price of selected prifiles: <b-badge pill class="badge-md" variant="secondary">Rs. {{ selectedProfilePrice }}</b-badge></div>
                    <div v-show="errors.first('pakage_profiles')" class="help-text text-danger">{{ errors.first('pakage_profiles') }}</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-3">
							<label for="price">Price</label>
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text">Rs.</div>
								</div>
								<input type="number" min="0" name="price" v-model="packageData.price" class="form-control form-control-sm" v-validate="'required|min_value:1'" data-vv-as="Price">
							</div>
							<div v-show="errors.first('price')" class="help-text text-danger">{{ errors.first('price') }}</div>
						</div>
						<div class="col-3">
							<label for="published">Published?</label>
							<div>
							<toggle-button
								v-model="packageData.published"
								:width="100"
								:color="toggleButtonColors"
								:value="true"
								:sync="true"
								:labels="{checked: 'Published', unchecked: 'Unpublished'}" />
							</div>
						</div>
					</div>						
				</div>

				<div class="form-group">
					<b-button size="sm" variant="info" @click.prevent="savePackage">Save package</b-button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import vSelect from 'vue-select'

	export default {
		name: 'package-edit',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'voo-loader': VooLoading,
			'v-select': vSelect,
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				packageData: this.getPackageData(),
				testProfilesOpts: this.getTestProfiles(),
				selectedTestProfiles: this.getSelectedProfiles(),
				toggleButtonColors: {checked: '#28a745', unchecked: '#dc3545'},
			}
		},
		computed: {
			selectedProfilePrice() {
				var priceSum = 0
				this.selectedTestProfiles.forEach(function(sp){
					priceSum += parseFloat(sp.price)
				})

				return parseFloat(priceSum).toFixed(2)
			}
		},
		methods: {
			getPackageData() {
				var pakageId = this.$route.params.id

				if(pakageId) {
					var selectPckageQuery = "SELECT * FROM `bloomy_packages` WHERE `id`=?"
					var packageQueryArgs = JSON.stringify({query: selectPckageQuery, params: [pakageId]})
					var packageDataRes = this.$electron.ipcRenderer.sendSync('db-query', packageQueryArgs)

					var packageDataObj = null
					packageDataRes.forEach(function(v){
						packageDataObj = {
							package_name: v.package_name,
							price: v.price.toFixed(2),
							published: v.published === 1
						}
					})

					return packageDataObj
				} else {
					return {
							package_name: null,
							price: 0,
							published: true
						}
				}
			},
			getTestProfiles() {
				var testProfilesQuery = "SELECT * FROM `bloomy_profiles`"
				var testProfilesQueryArgs = JSON.stringify({query: testProfilesQuery, params: []})

				var testProfilesRes = this.$electron.ipcRenderer.sendSync('db-query', testProfilesQueryArgs)

				var testProfOpts = []
				testProfilesRes.forEach(function(v){
					testProfOpts.push({
	                    label: v.profile_name,
	                    value: v.id,
	                    price: v.price.toFixed(2)
	                })
				})
				
				return testProfOpts
			},
			getSelectedProfiles() {
				var packageId = this.$route.params.id

				var selectedTestProfilesArray = []
				if(packageId) {
					var selectPackageProfilesQuery = "SELECT p.* from `bloomy_package_profile` pp INNER JOIN `bloomy_profiles` p ON p.id=pp.profile_id WHERE pp.package_id=?"
					var selectPackageProfilesQueryArgs = JSON.stringify({query: selectPackageProfilesQuery, params: [packageId]})

					var packageProfileRes = this.$electron.ipcRenderer.sendSync('db-query', selectPackageProfilesQueryArgs)

					packageProfileRes.forEach(function(v){
						selectedTestProfilesArray.push({
							label: v.profile_name,
		                    value: v.id,
		                    price: v.price.toFixed(2)
						})
					})

				}

				return selectedTestProfilesArray
			},
			savePackage() {
				var self = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						var packageId = this.$route.params.id

						if(packageId) {
							var updatePackageQuery = "UPDATE `bloomy_packages` SET `package_name`=?, `price`=?, `published`=? WHERE `id`=?"
							var updatePackageQueryArgs = JSON.stringify({query: updatePackageQuery, params:[this.packageData.package_name, this.packageData.price, this.packageData.published, packageId]})

							this.$electron.ipcRenderer.sendSync('db-query', updatePackageQueryArgs)
						} else {
							var insertQuery = "INSERT INTO `bloomy_packages` VALUES(NULL, ?, ?, ?)"
							var insertQueryArgs = JSON.stringify({query: insertQuery, params: [this.packageData.package_name, this.packageData.price, this.packageData.published]})

							var insertQueryRes = this.$electron.ipcRenderer.sendSync('db-query', insertQueryArgs)

							packageId = insertQueryRes.insertId
						}

						// delete existing package profiles
						var deleteExistingPackageProfiles = "DELETE FROM `bloomy_package_profile` WHERE `package_id`=?"
						var deleteExistingPackageProfilesArgs = JSON.stringify({query: deleteExistingPackageProfiles, params:[packageId]})
						this.$electron.ipcRenderer.sendSync('db-query', deleteExistingPackageProfilesArgs)

						// insert new package profiles
						var queryParts = []
						this.selectedTestProfiles.forEach(function(v){
							queryParts.push([packageId, v.value])
						})

						var insertPackageProfileQuery = "INSERT INTO `bloomy_package_profile` VALUES ?"
						var insertPackageProfileQueryArgs = JSON.stringify({query: insertPackageProfileQuery, params: [queryParts]})

						this.$electron.ipcRenderer.sendSync('db-query', insertPackageProfileQueryArgs)

						if(this.$route.params.id){
							this.flash('Package updated successfully.', 'success')
						} else {
							this.flash('New Package inserted successfully', 'success')
						}

						this.$router.push({name: 'manage-packages'})
					}
				})
			}
		}
	};
</script>

<style lang="scss">

</style>