<template>
	<div>
		<invoice-preview
				:customerName="customerName"
				:customerPhone="prevCustomerPhone"
				:collectingCenter="prevCollectingCenter"
                :invoice-number="prevInvoiceNumber"
                :invoiceItems="prevInvoiceItems"
                :grossTotal="prevGrossTotal"
                :discount="prevDiscount"
                :netTotal="prevNetTotal"
                :invoiceTime="prevInvoiceTime"
                :payType="prevPayType"
                :payMethod="prevPayMethod"
                :extLab="extLab"
                :advancePayment="prevPaidAmount"
                :labName="labName"
                :labAddress="labAddress"
                :labPhone="labPhone"
                :labEmail="labEmail"
                :labWeb="labWeb"
                :showButton="showButton"
                :isSmall="isSmall"
				:cashier="cashier"
            ></invoice-preview>
	</div>
</template>

<script>
	import InvoicePreview from './InvoicePreview'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'print-invoice',
		components: {
			InvoicePreview
		},
		data() {
			return {
				customerName: null,
				customerPhone: null,
				collectingCenter: null,
				prevCustomerPhone: null,
				prevCollectingCenter: null,
				prevInvoiceNumber: '',
		        prevInvoiceItems: [],
		        prevGrossTotal: 0,
		        prevDiscount: 0,
		        prevNetTotal: 0,
		        prevInvoiceTime: '',
		        prevPayType: 0,
		        prevPayMethod: 0,
		        extLab: null,
		        prevPaidAmount: 0,
		        labName: null,
		        labAddress: null,
		        labPhone: null,
		        labEmail: null,
		        labWeb: null,

		        showButton: false,
				isSmall: false,
				cashier: store.get('isLogedIn') && store.get('user').name,
			}
		},
		methods: {
			formatDate(dateInput, time=false, hrs24=true) {
	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
	            var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = hours + ':' + minutes + ':00';
	            if(!hrs24) {
	                hours = hours % 12;
	                hours = hours ? hours : 12; // the hour '0' should be '12'
	                strTime = hours + ':' + minutes + ' ' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        },
			getInvoiceData: function() {
				var self = this
				var invoiceNo = this.$route.params.invoice_no

				var invoiceDataQuery = "SELECT i.*, exl.`lab_name` as ext_lab_name, c.customer_title, c.`customer_name`, c.`phone`, cc.`center_name` as col_center_name FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON i.`customer_id`=c.`id` LEFT JOIN `bloomy_external_labs` exl ON i.`ext_lab`=exl.id LEFT JOIN `bloomy_collecting_centers` cc ON cc.`id`=i.`collecting_center` WHERE i.`invoice_no` LIKE ?"
				var invoiceDataQueryArgs = JSON.stringify({query: invoiceDataQuery, params: [invoiceNo]})

				var invoiceDataRes = this.$electron.ipcRenderer.sendSync('db-query', invoiceDataQueryArgs)

				var invoiceTestDataQuery = "SELECT p.profile_name as profile_name, p.price as p_price, invt.`package_id` FROM `bloomy_invoice_test` invt, `bloomy_profiles` p WHERE invt.invoice_id=? AND invt.profile_id=p.id"
				var invoiceTestDataQueryArgs = JSON.stringify({query: invoiceTestDataQuery, params: [invoiceDataRes[0].id]})

				if(invoiceDataRes[0].ext_lab > 0) {
					invoiceTestDataQuery = "SELECT p.profile_name as profile_name, exl.price as p_price, invt.`package_id` FROM `bloomy_invoice_test` invt INNER JOIN `bloomy_profiles` p ON invt.`profile_id`=p.`id` LEFT JOIN `bloomy_external_labs_test_price` exl ON exl.profile_id=p.id WHERE invt.invoice_id=? AND exl.`lab_id`=?"
					invoiceTestDataQueryArgs = JSON.stringify({query: invoiceTestDataQuery, params: [invoiceDataRes[0].id, invoiceDataRes[0].ext_lab]})
				}

                var invoiceTestData = this.$electron.ipcRenderer.sendSync('db-query', invoiceTestDataQueryArgs)

				this.prevCustomerPhone = invoiceDataRes[0].phone
				this.prevInvoiceNumber = invoiceDataRes[0].invoice_no
				this.prevCollectingCenter = invoiceDataRes[0].col_center_name
                this.prevInvoiceTime = this.formatDate(invoiceDataRes[0].invoice_time, true, false)
                this.prevInvoiceItems = []
                var packageIdsAdded = []
                invoiceTestData.forEach(function(v){
                	if(v.package_id) {
                        var getPackageQuery = "SELECT * FROM `bloomy_packages` WHERE `id`=?"
                        var getPackageQueryArgs = JSON.stringify({query: getPackageQuery, params: [v.package_id]})
                        var packageDataRes = self.$electron.ipcRenderer.sendSync('db-query', getPackageQueryArgs)

                        if(packageIdsAdded.indexOf(v.package_id) < 0) {
                            self.prevInvoiceItems.push({
                                name: packageDataRes[0].package_name,
                                price: packageDataRes[0].price
                            })
                        }

                        packageIdsAdded.push(v.package_id)
                    } else {
                    	self.prevInvoiceItems.push({
	                        name: v.profile_name,
	                        price: v.p_price
	                    })
                    }                    
                })

                var invoicePrice = invoiceDataRes[0].price

                this.prevGrossTotal = invoicePrice
                this.prevDiscount = invoiceDataRes[0].discount
                this.prevNetTotal = invoicePrice - (invoicePrice*invoiceDataRes[0].discount/100)
                this.prevPayType = invoiceDataRes[0].pay_type
                this.prevPayMethod = invoiceDataRes[0].pay_method
                this.extLab = invoiceDataRes[0].ext_lab_name
                this.prevPaidAmount = invoiceDataRes[0].paid_amount
                this.customerName = invoiceDataRes[0].customer_title + ' ' + invoiceDataRes[0].customer_name

                if(store.has('system_settings')) {
                    var labInfo = store.get('system_settings').lab_info
                    if(labInfo) {
                        this.labName = labInfo.labName
                        this.labAddress = labInfo.labAddress
                        this.labPhone = labInfo.labPhones
                        this.labEmail = labInfo.labEmail
                        this.labWeb = labInfo.labWeb
                    }
                }
			}
		},
		beforeMount() {
			this.getInvoiceData()
		},
		mounted() {
			var pageSize = store.get('system_settings').print_settings.compFormSizeInvoice
			var customSizeWidth = store.get('system_settings').print_settings.invoiceCustomWidth ? parseFloat(store.get('system_settings').print_settings.invoiceCustomWidth) : 0

			//console.log('invoice page size', pageSize)
			this.isSmall = pageSize == 'sheet_A5' || pageSize == 'sheet_B5' || pageSize == 'sheet_B6' || pageSize == 'sheet_B6_landscape'
			if(pageSize == 'custom_size' && customSizeWidth > 0 && customSizeWidth < 8.3) {
				this.isSmall = true
			}
		}
	};
</script>

<style lang="scss"></style>