<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Profile group <small v-once>({{ profileGroupData.group_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Profile group</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-profile-groups'}"><font-awesome-icon :icon='["fas", "link"]' /> Manage Profile groups</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-8">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="group_name" v-model="profileGroupData.group_name" class="form-control form-control-sm" v-validate="'required'" data-vv-as="Group name">
					<div v-show="errors.first('group_name')" class="help-text text-danger">{{ errors.first('group_name') }}</div>
				</div>

				<div class="form-group">
					<label>Profiles for group</label>
					<v-select multiple name="group_profiles" id="group_profiles" :options="groupProfilesOpts" v-model="selectedProfiles" v-validate="'required'" data-vv-as="Profiles for group">
					</v-select>
					<div v-show="errors.first('group_profiles')" class="help-text text-danger">{{ errors.first('group_profiles') }}</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-8">
				<div class="form-group">
					<label>Reference notes</label>
					<div class="help-text important-text">
						Please do not copy entire content from Excel or Word files. If you need a TABLE structure you can create a table easily in this editor and copy the text only from Excel or Word. Do all formatting here.
					</div>
		  			<div class="WYSIWYG-editor-container">
			  			<froala :tag="'textarea'" :config="editorConfig" v-model="profileGroupData.description"></froala>
			  		</div>
		  			<div class="help-text">These notes will be printed under the 'Reference notes' in the report.</div>
				</div>

				<div class="form-group">
					<b-button variant="info" size="sm" @click.prevent="saveProfileGroup">Save Profile group</b-button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import vSelect from 'vue-select'

	var toolbarOptions = [
	  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

	  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
	  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
	  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

	  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown

	  [{ 'align': [] }],

	  ['clean']                                         // remove formatting button
	];

	export default {
		name: 'profile-group-edit',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'voo-loader': VooLoading,
			'v-select': vSelect,
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				profileGroupData: this.getprofileGroupData(),
				editorOption: {
					modules: {
						toolbar: toolbarOptions
					},
					placeholder: 'enter profile group notes here...',
					theme: 'snow'
				},
				selectedProfiles: this.getGroupedProfiles(),
				groupProfilesOpts: this.getGroupedProfileOpts(),
				editorConfig: {
				  placeholderText: 'Enter reference notes here',
				  charCounterCount: false,
				  toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontSize', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertTable', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'undo', 'redo', '|', 'fullscreen', 'html'],
				  toolbarStickyOffset: 55,
				  htmlAllowedStyleProps: ['color', 'width', 'text-align'],
				  htmlIgnoreCSSProperties: ['font-family', 'font-size'],
				  tableStyles: {
				  	'fr-no-table-border': 'No border',
				  	'fr-border-all': 'Border all',
				  	'fr-border-bottom': 'Border bottom'
				  },
				  fontFamily: {
			        "Courier Prime": 'Courier Prime',
			        "Montserrat,sans-serif": 'Montserrat',
			      },
			      fontFamilySelection: true,
			      fontFamilyDefaultSelection: 'Courier Prime',
				  tabSpaces: 4,
				  theme: "light",
				  height: 300
				}
			}
		},
		methods: {
			getprofileGroupData() {
				var groupId = this.$route.params.id
				//console.log('profile group id', groupId)
				if(groupId) {
					var getGroupDataQuery = "SELECT * FROM `bloomy_profile_groups` WHERE `id`=?"
					var groupQueryArgs = JSON.stringify({query: getGroupDataQuery, params: [groupId]})

					var profileGroupRes = this.$electron.ipcRenderer.sendSync('db-query', groupQueryArgs)
					
					return profileGroupRes[0]
				} else {
					return {
						group_name: null,
						description: null,
					}
				}
				
			},
			getGroupedProfileOpts(){
				var selectedProfilesQuery = "SELECT * FROM `bloomy_profiles`"
				var selectedProfilesArgs = JSON.stringify({query: selectedProfilesQuery, params: []})
				var profilesRes = this.$electron.ipcRenderer.sendSync('db-query', selectedProfilesArgs)

				var profileOpts = []
				profilesRes.forEach(function(v){
					profileOpts.push({
						label: v.profile_name,
						value: v.id
					})
				})

				return profileOpts
			},
			getGroupedProfiles() {
				var groupId = this.$route.params.id

				var groupedProfilesArray = []
				if(groupId) {
					var selectGroupedProfilesQuery = "SELECT p.* FROM `bloomy_groups_profiles` gp INNER JOIN `bloomy_profiles` p ON p.`id`=gp.`profile_id` WHERE gp.`group_id`=?"
					var selectGroupedProfilesArgs = JSON.stringify({query: selectGroupedProfilesQuery, params:[groupId]})
					var groupedProfilesRes = this.$electron.ipcRenderer.sendSync('db-query', selectGroupedProfilesArgs)

					groupedProfilesRes.forEach(function(v){
						groupedProfilesArray.push({
							label: v.profile_name,
							value: v.id
						})
					})
				}
				//console.log('pged data', groupedProfilesArray)
				return groupedProfilesArray
				
			},
			saveProfileGroup() {
				var self=this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						if(self.selectedProfiles.length < 2) {
							self.flash('<b>Profile group must contain more than one Test Profile.</b><br/>Please select more Profiles.', 'warning')
							return
						}
						var groupId = self.$route.params.id 

						if(groupId) {
							var updateGroupQuery = "UPDATE `bloomy_profile_groups` SET `group_name`=?, `description`=? WHERE `id`=?"
							var updateGroupQueryArgs = JSON.stringify({query: updateGroupQuery, params:[self.profileGroupData.group_name.trim(), self.profileGroupData.description, groupId]})

							self.$electron.ipcRenderer.sendSync('db-query', updateGroupQueryArgs)
						} else {
							var insertProfileGroupQuery = "INSERT INTO `bloomy_profile_groups` VALUES(NULL,?,?)"
							var insertProfileGroupQueryArgs = JSON.stringify({query: insertProfileGroupQuery, params: [self.profileGroupData.group_name.trim(), self.profileGroupData.description]})

							var insertProfileGroupRes = self.$electron.ipcRenderer.sendSync('db-query', insertProfileGroupQueryArgs)

							groupId = insertProfileGroupRes.insertId
						}

						// delete grouped prfiles for new insertion
						var deletegroupedProfilesQuery = "DELETE FROM `bloomy_groups_profiles` WHERE `group_id`=?"
						var deletegroupedProfilesQueryArgs = JSON.stringify({query: deletegroupedProfilesQuery, params: [groupId]})
						self.$electron.ipcRenderer.sendSync('db-query', deletegroupedProfilesQueryArgs)

						var insertNewGroupedProfilesQuery = "INSERT INTO `bloomy_groups_profiles` VALUES ?"
						var groupedProfilesParams = []

						self.selectedProfiles.forEach(function(gp){
							groupedProfilesParams.push([
									groupId,
									gp.value
								]
							)
						})

						var insertGroupedProfilesArgs = JSON.stringify({query: insertNewGroupedProfilesQuery, params: [groupedProfilesParams]})

						self.$electron.ipcRenderer.sendSync('db-query', insertGroupedProfilesArgs)

						if(self.isNewRecord) {
							self.flash('Profile group inserted', 'success')
						} else {
							self.flash('Profile group updated', 'success')
						}
						
						self.$router.push({name: 'manage-profile-groups'})
					}
				})
			}
		}
	};
</script>

<style lang="scss">
	#description_editor {
		.ql-container {
			.ql-editor {
				height: 200px;
				background: #fff;
			}
		}
	}
</style>