<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Profile groups</h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-profile-group'}"><font-awesome-icon :icon='["fas", "link"]' /> Add new Profile groups</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="profileGroups"></grid-view>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	export default {
		name: 'profile-group',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading
		},
		data(){
			return {
				isLoading: false,
				profileGroups: this.getProfileGroups(),
				columnData: [
					{
						value: 'Name',
						options: {width: '20%'}
					},
					{
						value: 'Profiles'
					}
				],
				searchFeilds: null
			}
		},
		methods: {
			getProfileGroups() {
				var self=this
				var selectProfileGroups = "SELECT * FROM `bloomy_profile_groups`"
				var queryArgs = JSON.stringify({query: selectProfileGroups, params: []})
				var profileGrousRes = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var profileGroupsArray = []
				profileGrousRes.forEach(function(v){
					profileGroupsArray.push({
						id: v.id,
						Name: {
							value: v.group_name
						},
						Profiles: {
							value: self.getGroupProfiles(v.id)
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editProfileGroup.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.deleteProfileGroup.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return profileGroupsArray
			},
			getGroupProfiles(groupId) {
				var self=this
				var getGroupProfilesQuery = "SELECT p.profile_name FROM `bloomy_groups_profiles` gp INNER JOIN `bloomy_profiles` p ON p.`id`=gp.`profile_id` WHERE gp.`group_id`=?"
				var groupProfileQueryArgs = JSON.stringify({query: getGroupProfilesQuery, params: [groupId]})
				var groupProfileRes = this.$electron.ipcRenderer.sendSync('db-query', groupProfileQueryArgs)

				var htmlTem = ""
				groupProfileRes.forEach(function(p){
					htmlTem += '<span class="badge badge-pill badge-primary badge-lg">' + p.profile_name + '</span>'
				})

				return htmlTem
			},
			editProfileGroup(groupId) {
				this.$router.push({name: 'edit-profile-group', params: {id: groupId}})
			},
			deleteProfileGroup(groupId){
				var self=this
				remote.dialog.showMessageBox({
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage Profile groups',
					message: 'Delete Profile group',
					detail: 'Do you really need to delete this Profile group?'
				}, function(btnIndex){
					if(btnIndex==0){
						var deleteProfileGroupQuery = "DELETE FROM `bloomy_profile_groups` WHERE `id`=?"
						var delQueryArgs = JSON.stringify({query: deleteProfileGroupQuery, params: [groupId]})

						self.$electron.ipcRenderer.sendSync('db-query', delQueryArgs)

						self.profileGroups.forEach(function(v, k){
							if(v.id == groupId) {
								self.profileGroups.splice(k, 1)
							}
						})

						self.flash('Profile group deleted', 'success')
					} else {
						return
					}
				})
			}
		}
	};
</script>

<style lang="scss"></style>