<template>
	<div class="splash-container">
		<div class="row text-center">
			<div class="app-title">
				<div class="app-name">BlossomLabs</div>
				<div class="desc">Medical Laboratory Info Systems</div>
			</div>
		</div>
		<div class="status-check-list">
			<div class="row">
				<div :class="['col-4', {'check-item': databaseCheck==2, 'check-item-ok': databaseCheck==1, 'check-item-failed': databaseCheck==0}]">
					<div class="s-icon">
						<font-awesome-icon :class="['animated', {'bounceIn':databaseCheck==1, 'shake':databaseCheck==0}]" :icon="['fas', 'broadcast-tower']" />
					</div>
					<div class="s-title">Connectivity</div>
				</div>
				<div :class="['col-4', {'check-item': comCheck==2, 'check-item-ok': comCheck==1, 'check-item-failed': comCheck==0}]">
					<div class="s-icon">
						<font-awesome-icon :class="['animated', {'bounceIn':comCheck==1, 'shake':comCheck==0}]" :icon="['fas', 'sync-alt']" />
					</div>
					<div class="s-title">Communication</div>
				</div>
				<div :class="['col-4', {'check-item': appCheck==2, 'check-item-ok': appCheck==1, 'check-item-failed': appCheck==0}]">
					<div class="s-icon">
						<font-awesome-icon :class="['animated', {'bounceIn':appCheck==1, 'shake':appCheck==0}]" :icon="['fas', 'cubes']" />
					</div>
					<div class="s-title">Application</div>
				</div>
			</div>
		</div>
		<div class="loading-spiner">
			<div v-show="appIsLoading">
				<div>Preparing for loading...</div>
			</div>
			<div v-show="!appIsLoading && !isAppReady">
					<div class="text-danger"><font-awesome-icon :icon="['fas', 'exclamation-triangle']" />&nbsp;App failed to start</div>
			</div>
			<div v-show="!appIsLoading && isAppReady">
				<div><font-awesome-icon :icon="['fas', 'check-circle']" />&nbsp;Everything looks good</div>
			</div>
			<div v-show="appIsLoading || !isAppReady" class="lds-ellipsis">
				<div></div><div></div><div></div><div></div>
			</div>
		</div>
		<div class="actionBtns" v-show="appHasErrors">
			<b-button variant="secondary" size="sm" class="actionBtn" @click.prevent="quitApp">Quit</b-button>
			<b-button variant="dark" size="sm" class="actionBtn" @click.prevent="retryCon">Retry</b-button>
		</div>
		<div class="system-type">
			<font-awesome-icon v-show="systemType=='client'" :icon="['fas', 'desktop']" />
			<font-awesome-icon v-show="systemType=='server'" :icon="['fas', 'database']" /> 
			&nbsp;{{ systemTypeName }}
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'splash-screen',
		components: {
			FontAwesomeIcon
		},
		data() {
			return {
				databaseCheck: 2,
				comCheck: 2,
				appCheck: 2,
				systemType: elecStore.get('main_config').system_type,
				appIsLoading: true,
				appHasErrors: false,
			}
		},
		computed: {
			appState() {
				if(!elecStore.has('main_config') || !elecStore.get('main_config').setup) {
					return false
				} else {
					return true
				}
			},
			systemTypeName() {
				if(this.appState) {
					if(this.systemType == 'server') {
						return 'Main station'
					} else {
						return 'Sub station'
					}
				} else {
					return 'Preparing for app setup...'
				}
			},
			isAppReady() {
				return (this.databaseCheck == 1 && this.comCheck == 1 && this.appCheck == 1) 
			}			
		},
		watch: {
			isAppReady(status) {
				var _this = this
				if(status) {
					_this.$electron.ipcRenderer.send('app-init-status', true)
				}
			}
		},
		methods: {
			runAppTest() {
				const mysql = require('mysql')

				var _this = this

				this.appIsLoading = true
				this.appHasErrors = false
				this.databaseCheck = 2
				this.comCheck = 2
				this.appCheck = 2

				//var appConStatus = true
				
				var host =  elecStore.get('main_config').server
				var dbName = elecStore.get('main_config').db_name
				var dbUser = elecStore.get('main_config').db_user
				var dbPwd = elecStore.get('main_config').db_pwd

				var mConnection = mysql.createConnection({
                    host     : host,
                    user     : dbUser,
                    password : dbPwd,
                    database : dbName
                })

                setTimeout(function(){
                	mConnection.ping(function (err) {
					  	if (err) {
						  	//appConStatus = false
						  	_this.databaseCheck = 0
						  	_this.appHasErrors = true
						  	//console.log('mysql error', err);
					  	} else {
						  	_this.databaseCheck = 1
						  	_this.appHasErrors = false
						  	//console.log('db con passed')
					  	}
					  
					  	if(_this.databaseCheck === 1) {
					  		// check socketIO connection
						  	setTimeout(function() {
							  	if(elecStore.get('main_config').system_type == 'server') {
							  		_this.comCheck = 1

							  		// check for application stuff. currently there is nothing to check on the code/application
								 	setTimeout(function(){
								 		_this.appCheck = 1
								 		//appConStatus = false
								 		_this.appHasErrors = false
								 		_this.appIsLoading = false
								 	}, 1000)
							 	} else {
							 		const sioc = require("socket.io-client")
									var ioClient = sioc.connect(`http://${host}:3000`)

							 		//console.log('timeout 2 client', ioClient)

							 		// close SocketIO connections on splash window closed
									_this.$electron.ipcRenderer.once('close-socket', (event, args) => {
										if(args === 'closed') {
											ioClient.close()
											//console.log('socket closed')
										}
										
									})
																	
									ioClient.on('connect', () => {
										_this.comCheck = 1

										// check for application stuff. currently there is nothing to check on the code/application
									 	setTimeout(function(){
									 		_this.appCheck = 1
									 		//appConStatus = false
									 		_this.appIsLoading = false
									 	}, 1000)
									})

									ioClient.on('fetch-reply', function(fetchData){
										if(JSON.parse(fetchData).con_test) {
											_this.comCheck = 1
											_this.appHasErrors = false
										}
									})

									ioClient.on('connect_error', (error) => {
										_this.comCheck = 0
										_this.appHasErrors = true
										//appConStatus = false
									})

									ioClient.on('connect_timeout', (timeout) => {
									  	_this.comCheck = 0
									  	_this.appHasErrors = true
										//appConStatus = false
									})

									ioClient.on('reconnect', (attemptNumber) => {
									  	_this.comCheck = 1
									  	_this.appHasErrors = false
									  	//appConStatus = true

									  	// check for application stuff. currently there is nothing to check on the code/application
									 	setTimeout(function(){
									 		_this.appCheck = 1
									 		//appConStatus = false
									 		_this.appHasErrors = false
									 		_this.appIsLoading = false
									 	}, 1000)
									})
							 	}
						  	}, 1000)
					  	}
					})
                }, 1000)
			},
			quitApp() {
				remote.dialog.showMessageBox({
					buttons: ['Quit', 'Cancel'],
					type: 'question',
					title: 'BlossomLabs',
					message: 'Quit from the app',
					detail: 'Do you really want to quit from the app?'
				}, function(btnIndex){
					if(btnIndex==0) {
						remote.app.exit(0)
					} else {
						return
					}
				})
			},
			retryCon() {
				this.runAppTest()
			}
		},
		mounted() {
			this.runAppTest()
		}
	};
</script>

<style lang="scss">
	body {
		overflow: hidden;
		background: linear-gradient(#003d4c, #001827);
	}

	.splash-container {
		padding: 20px;
		color: #abdae6;
		width: 100%;
		height: 90vh;
		overflow: hidden;

		.app-title {
		 	vertical-align: bottom;
		    line-height: 1.8rem;
		    padding-bottom: 0px;
		    margin: 0 auto 20px;

		    .app-name {
			    font-size: 2.2rem;
			    font-family: "Exo 2";
			    font-weight: 900;
			}

		    .desc {
		    	font-size: 0.9rem;
		    }
		}

		.status-check-list {
			margin: 10px auto 0;
			width: 80%;

			.s-icon {
				text-align: center;
				font-size: 2rem;
			}

			.s-title {
				text-align: center;
				font-size: 0.7rem;
			}

			.check-item {
				color: #1d6880;
			}

			.check-item-failed {
				color: #d24848;

				.s-icon {
					filter: drop-shadow(2px 2px 2px #001827);
				}
			}

			.check-item-ok {
				color: #00a9ff;

				.s-icon {
					filter: drop-shadow(2px 2px 2px #001827);
				}

			}
		}

		.actionBtns {
			position: fixed;
			left: 20px;
			bottom: 20px;

			.actionBtn {
				font-size: 0.6rem;
			}
		}

		.loading-spiner {
			text-align: center;
			margin-top: 30px;

			.lds-ellipsis {
			  display: inline-block;
			  position: relative;
			  width: 64px;
			  height: 20px;
			}
			.lds-ellipsis div {
			  position: absolute;
			  top: 10px;
			  width: 7px;
			  height: 7px;
			  border-radius: 50%;
			  background: #37abc8;
			  animation-timing-function: cubic-bezier(0, 1, 1, 0);
			}
			.lds-ellipsis div:nth-child(1) {
			  left: 6px;
			  animation: lds-ellipsis1 0.6s infinite;
			}
			.lds-ellipsis div:nth-child(2) {
			  left: 6px;
			  animation: lds-ellipsis2 0.6s infinite;
			}
			.lds-ellipsis div:nth-child(3) {
			  left: 26px;
			  animation: lds-ellipsis2 0.6s infinite;
			}
			.lds-ellipsis div:nth-child(4) {
			  left: 45px;
			  animation: lds-ellipsis3 0.6s infinite;
			}
			@keyframes lds-ellipsis1 {
			  0% {
			    transform: scale(0);
			  }
			  100% {
			    transform: scale(1);
			  }
			}
			@keyframes lds-ellipsis3 {
			  0% {
			    transform: scale(1);
			  }
			  100% {
			    transform: scale(0);
			  }
			}
			@keyframes lds-ellipsis2 {
			  0% {
			    transform: translate(0, 0);
			  }
			  100% {
			    transform: translate(19px, 0);
			  }
			}
		}

		.system-type {
		    position: fixed;
		    bottom: 20px;
		    text-align: right;
		    padding: 0 20px;
		    right: 10px;
		    font-size: 1rem;
		    font-weight: 500;
		    border: 1px dashed #045;
    		border-radius: 5px;
		}

		.animated {
		  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		}

		/* Bounce Animate */
		@-webkit-keyframes bounceIn {
		  from,
		  20%,
		  40%,
		  60%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  20% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.03, 1.03, 1.03);
		    transform: scale3d(1.03, 1.03, 1.03);
		  }

		  80% {
		    -webkit-transform: scale3d(0.97, 0.97, 0.97);
		    transform: scale3d(0.97, 0.97, 0.97);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		@keyframes bounceIn {
		  from,
		  20%,
		  40%,
		  60%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  20% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.03, 1.03, 1.03);
		    transform: scale3d(1.03, 1.03, 1.03);
		  }

		  80% {
		    -webkit-transform: scale3d(0.97, 0.97, 0.97);
		    transform: scale3d(0.97, 0.97, 0.97);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		.bounceIn {
		  -webkit-animation-duration: 0.75s;
		  animation-duration: 0.75s;
		  -webkit-animation-name: bounceIn;
		  animation-name: bounceIn;
		}

		/* Shake animate */
		@-webkit-keyframes shake {
		  from,
		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  10%,
		  30%,
		  50%,
		  70%,
		  90% {
		    -webkit-transform: translate3d(-10px, 0, 0);
		    transform: translate3d(-10px, 0, 0);
		  }

		  20%,
		  40%,
		  60%,
		  80% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }
		}

		@keyframes shake {
		  from,
		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  10%,
		  30%,
		  50%,
		  70%,
		  90% {
		    -webkit-transform: translate3d(-10px, 0, 0);
		    transform: translate3d(-10px, 0, 0);
		  }

		  20%,
		  40%,
		  60%,
		  80% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }
		}

		.shake {
		  -webkit-animation-name: shake;
		  animation-name: shake;
		}

		@-webkit-keyframes headShake {
		  0% {
		    -webkit-transform: translateX(0);
		    transform: translateX(0);
		  }

		  6.5% {
		    -webkit-transform: translateX(-6px) rotateY(-9deg);
		    transform: translateX(-6px) rotateY(-9deg);
		  }

		  18.5% {
		    -webkit-transform: translateX(5px) rotateY(7deg);
		    transform: translateX(5px) rotateY(7deg);
		  }

		  31.5% {
		    -webkit-transform: translateX(-3px) rotateY(-5deg);
		    transform: translateX(-3px) rotateY(-5deg);
		  }

		  43.5% {
		    -webkit-transform: translateX(2px) rotateY(3deg);
		    transform: translateX(2px) rotateY(3deg);
		  }

		  50% {
		    -webkit-transform: translateX(0);
		    transform: translateX(0);
		  }
		}
	}
</style>