<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Reagents</h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-stock-item'}"><font-awesome-icon :icon='["fas", "eye-dropper"]' /> Add new Reagent</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="stockItems"
			:infiniteScroll="false"
			@grid-search-event="gridSearch"></grid-view>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'

	export default {
		name: 'stock-items',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon,
			VooLoading
		},
		data() {
			return {
				columnData: [
					{
						value: 'Item name',
					},
					{
						value: 'Quantity',
						options: {classes: ['text-center']}
					},
					{
						value: 'Threshold',
						options: {classes: ['text-center']}
					}
				],
				searchFeilds: {
					'Item name': {type: 'textbox', input_id: 'name_search', elOptions: {width: '30%'}},
				},
				stockItems: this.getStockItems(),
				isLoading: false,
			}
		},
		methods: {
			getStockItems(searhcStr=null) {
				var self = this

				var getStockItemsQuery = "SELECT * FROM `bloomy_stock_item` WHERE `id` > 0"

				if(searhcStr) {
					getStockItemsQuery += searhcStr
				}

				var getStockItemsQueryArgs = JSON.stringify({query: getStockItemsQuery, params: []})

				var stockItemsRes = this.$electron.ipcRenderer.sendSync('db-query', getStockItemsQueryArgs)

				var stockItemsArray = []
				stockItemsRes.forEach(function(v){
					stockItemsArray.push({
						id: {
							value: v.id
						},
						'Item name': {
							value: v.item_name
						},
						Quantity: {
							value: self.formatRemainVal(v.remain, v.threshold, v.unit),
							options:{classes: ['text-center']}
						},
						Threshold: {
							value: v.threshold + ' ' + v.unit,
							options: {classes: ['text-center']}
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editStockItem.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.deleteStockItem.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return stockItemsArray
			},
			formatRemainVal(remain, threshold, unit) {
				var remainValTempl = ""
				if(remain < 0) {
					remainValTempl = "<b-badge class='badge-pill badge-danger badge-lg'>" + remain + ' ' + unit + "</b-badge>"
				} else if(remain < threshold) {
					remainValTempl = "<b-badge class='badge-pill badge-warning badge-lg'>" + remain + ' ' + unit + "</b-badge>"
				} else {
					remainValTempl = "<b-badge class='badge-pill badge-success badge-lg'>" + remain + ' ' + unit + "</b-badge>"
				}

				return remainValTempl
			},
			editStockItem(itemId) {
				this.$router.push({name: 'stock-item-edit', params: {id: itemId}})
			},
			deleteStockItem(itemId) {
				var self = this
				remote.dialog.showMessageBox({
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage Stock Items',
					message: 'Delete stock item',
					detail: 'Do you really need to delete this item?'
				}, function(btnInd){
					if(btnInd == 0) {
						var deleteQuery = "DELETE FROM `bloomy_stock_item` WHERE `id`=?"
						var deleteQueryArgs = JSON.stringify({query: deleteQuery, params: [itemId]})

						self.$electron.ipcRenderer.sendSync('db-query', deleteQueryArgs)

						self.stockItems.forEach(function(v, k){
							if(itemId == v.id.value) {
								self.stockItems.splice(k, 1)
							}
						})

						self.flash('Stock item deleted', 'success')
					} else {
						return
					}
					
				})
			},
			gridSearch: function(searchParams) {
				var searchStr = ""
		    	var self = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Item name') {
		    				searchStr += " AND item_name LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    		}
		    	})

		    	this.stockItems = this.getStockItems(searchStr)
			}
		}
	};
</script>

<style lang="scss"></style>