<template>
	<div class="container-fluid">
		<div v-show="!asAPartial" class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Reagent <small v-once>({{ stockItemData.item_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Reagent</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'stock-items'}"><font-awesome-icon :icon='["fas", "eye-dropper"]' /> Manage Reagents</router-link>
				</div>
			</div>
		</div>

		<div class="row">
			<div :class="[{'col-6': !asAPartial, 'col-12': asAPartial}]">
				<div class="form-group">
					<label for="item_name">Item name</label>
					<input type="text" name="item_name" class="form-control form-control-sm" v-model="stockItemData.item_name" v-validate="'required'" data-vv-as="Item name">
					<div v-show="errors.first('item_name')" class="help-text text-danger">{{ errors.first('item_name') }}</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label for="remain">Existing quantity</label>
							<input type="number" name="existing_remain" class="form-control form-control-sm" v-model="stockItemData.remain">
							<div class="help-text">Total new quantity will be this value + New quantity</div>
						</div>
						<div class="col-6">
							<label for="remain">New quantity</label>
							<input type="number" name="remain" class="form-control form-control-sm" v-model="newQuantity">
							<div class="help-text">If this item is not in stock yet, leave this field empty</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="unit">Unit</label>
					<b-button variant="outline-secondary" size="sm" class="float-right btn-xs-text" title="add new unit" @click.prevent="openModal">
						<font-awesome-icon :icon='["fas", "plus"]' />
					</b-button>
					<v-select name="unit" id="unit" :options="unitOps" v-model="stockItemData.unit" v-validate="'required'" data-vv-as="Unit">
						<template slot="option" slot-scope="option">
					        <span v-html="option.value"></span>
					    </template>
					</v-select>
					<div v-show="errors.first('unit')" class="help-text text-danger">{{ errors.first('unit') }}</div>
				</div>

				<div class="form-group">
					<label for="threshold">Threshold</label>
					<input type="number" name="threshold" class="form-control form-control-sm" v-model="stockItemData.threshold" v-validate="'required'" data-vv-as="Threshold">
					<div class="help-text">If amount of units of this item passes the value threshold, system will pop up a warning.</div>
					<div v-show="errors.first('threshold')" class="help-text text-danger">{{ errors.first('threshold') }}</div>
				</div>

				<div class="form-group">
					<button class="btn btn-sm btn-info" @click.prevent="saveItem">Save item</button>
				</div>
			</div>
		</div>

		<vu-modal name="add-unit-modal-reagent"
			:width="300"
			height="auto"
			@before-close="clearModal">

			<div class="bl-modal-title">
	          	<div class="col-12">
	              	<h5>Add new unit</h5>
	            </div>
	        </div>
			<div class="test-unit-modal">
				<div class="form-group">
					<quill-editor id="unit_editor" :content="unitText" v-model="unitText"
		    			:options="editorOption"
		    			@focus="onEditorFocus($event)"
                      	@ready="onEditorReady($event)">
		    			<div id="unit_editor_toolbar" slot="toolbar">
		    				 <!-- Add subscript and superscript buttons -->
				            <button class="ql-script" value="sub"></button>
				            <button class="ql-script" value="super"></button>

				            <button id="unit_mu_btn" @click.prevent="insertGreek('µ')">&mu;</button>
		    			</div>
		  			</quill-editor>
				</div>
				<div class="form-group">
					<button class="btn btn-sm btn-info" @click.prevent="saveNewUnit">Save unit</button>
				</div>
			</div>
		</vu-modal>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import vSelect from 'vue-select'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: "stock-item-edit",
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'voo-loader': VooLoading,
			'v-select': vSelect,
		},
		props: {
			asAPartial: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				stockItemData: this.getStockItemData(),
				unitOps: this.unitOpsList(),
				isNewRecord: !this.$route.params.id,
				editorOption: {
					modules: {
						toolbar: '#unit_editor_toolbar'
					},
					placeholder: 'enter new unit'
				},
				unitText: null,
				newQuantity: 0,
			}
		},
		methods: {
			onEditorFocus(editor) {
		        this.editor = editor
		      },
	      	onEditorReady(editor) {
		        this.editor = editor
	      	},
			insertGreek(greekLetter) {
				var range = this.editor.getSelection();
			  	if (range) {
				    this.editor.insertText(range.index, greekLetter);
			  	}
			},
			getStockItemData() {
				var itemId = this.$route.params.id

				var getStockItemQuery = "SELECT * FROM `bloomy_stock_item` WHERE id=?"
				var getStockItemQueryParams = JSON.stringify({query: getStockItemQuery, params: [itemId]})

				var stockItemRes = this.$electron.ipcRenderer.sendSync('db-query', getStockItemQueryParams)

				if(stockItemRes.length > 0) {
					return {
						item_name: stockItemRes[0].item_name,
						remain: stockItemRes[0].remain,
						unit: {
							label: stockItemRes[0].unit.replace(/<\/?[^>]+(>|$)/g, ""),
							value: stockItemRes[0].unit
						},
						threshold: stockItemRes[0].threshold
					}
				} else {
					return {
						item_name: null,
						remain: null,
						unit: null,
						threshold: null
					}
				}
			},
			unitOpsList() {
				return store.get('app-config').stockItemUnits
			},
			saveItem() {
				var self = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						var itemId = this.$route.params.id

						// check for existance
						var selectExistsQuery = "SELECT COUNT(`id`) as item_count FROM `bloomy_stock_item` WHERE `item_name` LIKE ? AND `id` != ?"
						var selectExistsQueryParams = JSON.stringify({query: selectExistsQuery, params: [self.stockItemData.item_name, itemId]})

						var selectExistsRes = self.$electron.ipcRenderer.sendSync('db-query', selectExistsQueryParams)

						if(selectExistsRes[0].item_count > 0) {
							remote.dialog.showMessageBox({
								buttons: ['OK'],
								type: 'info',
								title: 'Manage Stock items',
								message: 'Item exists',
								detail: 'The name of the item is already taken.'
							}, function(btnIndex){
								return
							})
						} else {
							var quantityVal = self.stockItemData.remain && self.stockItemData.remain > 0 ? (parseFloat(self.stockItemData.remain) + parseFloat(self.newQuantity)) : null

							var insertReagentId = 0

							if(itemId) {
								var updateQuery = "UPDATE `bloomy_stock_item` SET `item_name`=?, `unit`=?, `remain`=?, `threshold`=? WHERE `id`=?"
								var updateQueryArgs = JSON.stringify({query: updateQuery, params: [self.stockItemData.item_name, self.stockItemData.unit.value, quantityVal, self.stockItemData.threshold, itemId]})

								self.$electron.ipcRenderer.sendSync('db-query', updateQueryArgs)
							} else {
								var insertQuery = "INSERT INTO `bloomy_stock_item` VALUES(NULL,?,?,?,?)"
								var insertQueryParams = [self.stockItemData.item_name, self.stockItemData.unit.value, quantityVal, self.stockItemData.threshold]
								//console.log(insertQueryParams)
								var insertQueryArgs = JSON.stringify({query: insertQuery, params: insertQueryParams})

								insertReagentId = self.$electron.ipcRenderer.sendSync('db-query', insertQueryArgs)
							}

							self.$store.dispatch('Watcher/setWatchTrigger')

							if(!self.asAPartial) {
								self.$router.push({name: 'stock-items'})
							} else {
								this.$emit('reagent-saved', {id: insertReagentId.insertId, name: self.stockItemData.item_name, unit: self.stockItemData.unit.value})
							}							

							self.flash('Stock item saved', 'success')
						}
					}
				})
			},
			openModal() {
				this.$modal.show('add-unit-modal-reagent')
			},
			clearModal: function() {
				this.unitText = null
			},
			saveNewUnit() {
				var self = this
				var unitTextForSave = self.unitText.replace('<p>', '').replace('</p>', '')

				var itemUnits = this.unitOps

				var unitExists = false
				itemUnits.forEach(function(v, k){
					if(unitTextForSave == v.value) {
						unitExists = true
					}
				})

				if(unitExists) {
					remote.dialog.showMessageBox({
						buttons: ['OK'],
						type: 'info',
						title: 'Add new Stock Item units',
						message: 'Unit exists',
						detail: 'This unit is already added.'
					}, function(btnIndex){
						return
					})
				} else {
					var unitTextForSaveNoTags = unitTextForSave.replace(/<\/?[^>]+(>|$)/g, "")
					itemUnits.push({
						label: unitTextForSaveNoTags,
						value: unitTextForSave
					})

					store.set('app-config.stockItemUnits', itemUnits)

					this.$modal.hide('add-unit-modal-reagent')

					this.flash('New unit is availabel in the selectbox now.', 'info')
				}
			}
		}
	};
</script>

<style lang="scss">
	#unit_editor {
		.ql-editor {
			font-size: 1.2rem;
		}
	}

	.quill-editor {
		background: #fff;
	}

	.test-unit-modal {
		padding: 15px;
	}

	.v--modal-overlay {
		.v--modal-box {
			background: #efefef;
		}
	}
</style>