<template>
	<div id="settings_page" class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>System Settings</h4>
				</div>
				<div class="col-5 text-right">
					<button class="btn btn-info btn-sm" @click.pervent="saveSettings"><font-awesome-icon :icon="['far', 'save']" ></font-awesome-icon> Save settings</button>
				</div>
			</div>
		</div>	

		<div class="settings-tab-view">
			<b-tabs>
			  	<b-tab title="General" active>
			  		<div id="general_settings">
				  		<div class="row">
							<div class="col-6">
								<h5>Laboratory information</h5>
								<div class="form-group">
									<label for="lab_name">Name of the laboratory</label>
									<input type="text" name="lab_name" id="lab_name" v-model="labName" v-validate="'required'" class="form-control form-control-sm">
									<div v-show="errors.first('lab_name')" class="help-text text-danger">{{ errors.first('lab_name') }}</div>
								</div>

								<div class="form-group">
									<label for="lab_address">Address</label>
									<input type="text" name="lab_address" id="lab_address" v-model="labAddress" v-validate="'required'" class="form-control form-control-sm">
									<div v-show="errors.first('lab_address')" class="help-text text-danger">{{ errors.first('lab_address') }}</div>
								</div>

								<div class="form-group">
									<label for="lab_district">District</label>
									<v-select name="lab_district" id="lab_district" :options="districts" v-model="labDistrict" v-validate="'required'" data-vv-as="District"></v-select>
									<div v-show="errors.first('lab_district')" class="help-text text-danger">{{ errors.first('lab_district') }}</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-6">
											<label for="lab_phone">Phone number(s)</label>
											<input type="text" name="lab_phones" id="lab_phones" v-model="labPhones" v-validate="'required'" class="form-control form-control-sm">
											<div v-show="errors.first('lab_phones')" class="help-text text-danger">{{ errors.first('lab_phones') }}</div>
										</div>
										<div class="col-6">
											<label for="lab_email">Email</label>
											<input type="email" name="lab_email" id="lab_email" v-model="labEmail" v-validate="'email'" class="form-control form-control-sm">
											<div v-show="errors.first('lab_email')" class="help-text text-danger">{{ errors.first('lab_email') }}</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-6">
											<label for="lab_email">Website</label>
											<input type="email" name="lab_web" id="lab_web" v-model="labWeb" placeholder="http://www.yourlab.com" class="form-control form-control-sm" v-validate="'url'">
											<div v-show="errors.first('lab_web')" class="help-text text-danger">{{ errors.first('lab_web') }}</div>
										</div>
										<div class="col-6">
											<label for="lab_email">Company Reg.No</label>
											<input type="text" name="lab_reg_no" id="lab_reg_no" v-model="busRegNo" class="form-control form-control-sm">
										</div>
									</div>
									
								</div>

								<div class="form-group">
									<label for="lab_logo">Logo image</label>
									<div class="row">
										<div class="col-6">
											<input type="file" name="logo_image" id="logo_image" @change="getLogo" v-validate="'image|size:100'" class="form-control form-control-sm">
											<div v-show="errors.first('logo_image')" class="help-text text-danger">{{ errors.first('logo_image') }}</div>
										</div>
										<div class="col-6 text-center">
											<div class="logo_panel" v-if="logoImage">
												<img :src="logoImage" width="100">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<h5>Other settings</h5>
								<div class="form-group">
									<label>Bill number?</label>
									<div>
										<toggle-button
										v-model="enableBillNumber"
										:width="80"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Enable', unchecked: 'Disable'}" />
									</div>
									<div class="help-text">
				  						If you need to maintain manually entered bill number, enable this option. If you use manual bill number you have to use non repeatable pattern. Otherwise search results will not be very accurate.
				  					</div>
								</div>
								<div class="form-group">
									<label>Doctor&apos;s percentage</label>
									<div>
										<toggle-button
										v-model="enableDoctorsPercentage"
										:width="80"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Enable', unchecked: 'Disable'}" />
									</div>
									<div class="help-text">
				  						If your laboratory shares a percenage with referenced doctors, enable this option.
				  					</div>
								</div>
								<div class="form-group">
									<label>Reagent watcher</label>
									<div>
										<toggle-button
										v-model="enableReagentWatcher"
										:width="80"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Enable', unchecked: 'Disable'}" />
									</div>
									<div class="help-text">
				  						If you need to get notificatied when the Reagents are going to be ended, enable this option.
				  					</div>
								</div>
							</div>
						</div>
				  	</div>
			  	</b-tab>

			  	<b-tab title="Print">
			  		<div id="print_settings">
				  		<div class="row">
							<div class="col-6">
				  				<h5>Print settings</h5>
				  				<div class="form-group">
				  					<label for="silent_printing">Enable silent printing</label>
				  					<div>
				  						<span :class="['silent-mode', {'text-success':silentPrinting=='true'}]">
				  							<input type="radio" name="silent_printing" value="true" v-model="silentPrinting" autocomplete="off"> Enable
				  						</span>
				  						<span :class="['silent-mode', {'text-danger':silentPrinting=='false'}]">
				  							<input type="radio" name="silent_printing" value="false" v-model="silentPrinting" autocomplete="off"> Disable
				  						</span>
									</div>
									<div class="help-text">
				  						If you enable this option, print dialog box will not show up. Default printer settings will be used. Make sure that, you have setup your printer and page layout correctly in your computer.
				  					</div>
				  				</div>

				  				<h5>Printer devices <b-button variant="dark" size="sm" class="btn-xs-text" @click.prevent="refreshPrintersList"><font-awesome-icon :icon="['fas', 'undo']"></font-awesome-icon> Refresh</b-button></h5>
				  				<div class="form-group">
				  					<div style="margin-bottom: 5px;">
				  						<input type="radio" name="blPrinterDevice" value="" v-model="blPrinterDevice">&nbsp;Default printer
				  					</div>
				  					<div v-for="printerDevice in printerDevices">
				  						<div style="margin-bottom: 5px;">
				  							<input type="radio" name="blPrinterDevice" :value="printerDevice.name" v-model="blPrinterDevice">&nbsp;{{ printerDevice.name }}
					  						<b-badge variant="success" v-show="printerDevice.isDefault">Default</b-badge>
				  						</div>
				  					</div>
				  					<div class="help-text">
				  						Select your printer device here. Select "Default printer" option to detect Default printer device set by your computer.
				  					</div>
				  				</div>

								<h5>
									Print invoices&nbsp;
				  					<toggle-button
										v-model="printInvoiceInTheSameComputer"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Yes', unchecked: 'No'}" />	
								</h5>
								<div class="form-group">
									<div style="margin-bottom: 5px;">
				  						<input type="radio" name="blInvoicePrinterDevice" value="" v-model="blInvoicePrinterDevice">&nbsp;Default printer
				  					</div>
									<div v-for="printerDevice in printerDevices">
				  						<div style="margin-bottom: 5px;">
				  							<input type="radio" name="blInvoicePrinterDevice" :value="printerDevice.name" v-model="blInvoicePrinterDevice">&nbsp;{{ printerDevice.name }}
					  						<b-badge variant="success" v-show="printerDevice.isDefault">Default</b-badge>
				  						</div>
				  					</div>

									<div class="help-text">
										If you enable this option, you can print your invoices using a second printer attached to this computer. You can select the secode printer from above list.
									</div>
								</div>

				  				
				  				<h5>Page layout settings</h5>
				  				<p>These settings are common print layout settings for all printing jobs. See <i><b>Computer forms layout</b></i> section for specific layout settigns.</p>

				  				<div class="form-group">
				  					<div class="row">
				  						<div class="col-4">
						  					<label>Page size</label>
						  					<select name="page_size" class="form-control form-control-sm" v-model="pageSize">
						  						<option value="sheet_letter">Letter (8.5 x 11 in)</option>
						  						<option value="sheet_letter_landscape">Letter Landscape</option>
						  						<option value="sheet_A4">A4 (8.3 x 11.7 in)</option>
						  						<option value="sheet_A4_landscape">A4 Landscape</option>
						  						<option value="sheet_A5">A5 (5.8 x 8.3 in)</option>
						  						<option value="sheet_A5_landscape">A5 Landscape</option>
				  								<option value="sheet_B5">B5 (6.9 x 9.8 in)</option>
						  						<option value="sheet_B5_landscape">B5 Landscape</option>
						  						<option value="sheet_B6">B6 (4.9 x 6.9 in)</option>
						  						<option value="sheet_B6_landscape">B6 Landscape</option>
						  						<option value="sheet_legal">Legal (8.5 x 14 in)</option>
						  						<option value="sheet_legal_landscape">Legal Landscape</option>
						  					</select>
					  					</div>
					  				</div>
				  				</div>
				  				<div class="form-group">
				  					<div class="row">
				  						<div class="col-3">
				  							<label>Left margin</label>
						  					<div class="input-group input-group-sm">
						  						<input type="number" min="0" name="left_margin" v-model="layoutMarginLeft" class="form-control form-control-sm">
						  						<div class="input-group-append">
						  							<span class="input-group-text">mm</span>
						  						</div>
						  					</div>
				  						</div>
				  						<div class="col-3">
				  							<label>Right margin</label>
						  					<div class="input-group input-group-sm">
						  						<input type="number" min="0" name="right_margin" v-model="layoutMarginRight" class="form-control form-control-sm">
						  						<div class="input-group-append">
						  							<span class="input-group-text">mm</span>
						  						</div>
						  					</div>
				  						</div>
				  						<div class="col-3">
				  							<label>Top margin</label>
						  					<div class="input-group input-group-sm">
						  						<input type="number" min="0" name="top_margin" v-model="layoutMarginTop" class="form-control form-control-sm">
						  						<div class="input-group-append">
						  							<span class="input-group-text">mm</span>
						  						</div>
						  					</div>
				  						</div>
				  						<div class="col-3">
				  							<label>Bottom margin</label>
				  							<div class="input-group input-group-sm">
						  						<input type="number" min="0" name="bot_margin" v-model="layoutMarginBottom" class="form-control form-control-sm">
						  						<div class="input-group-append">
						  							<span class="input-group-text">mm</span>
						  						</div>
						  					</div>
				  						</div>
				  					</div>				  					
				  				</div>

				  				<div class="form-group">
				  					<h5>PDF save path</h5>
				  					<label>Default path is the Desktop</label>
				  					<div class="input-group input-group-sm">
				  						<input type="text" name="report_save_path" v-model="savePath" class="form-control form-control-sm" readonly="readonly" />
				  						<div class="input-group-append">
					  						<b-button variant="dark" size="sm" @click.prevent="selectSavePath">Select path</b-button>
					  					</div>
				  					</div>
				  					<div class="help-text">All the PDF version of the documents will be saved in this directory</div>
				  				</div>
				  			</div>
				  			<div class="col-6">
				  				<h5>Computer form layouts</h5>
				  				<div class="help-text">Computer form layouts are used to print your invoices and medial reports. You can download system generated layout files in JPG format which is suitable for printing your computer forms.</div><br/>
				  				
				  				<h6>
				  					Invoice layout&nbsp;
				  					<toggle-button
										v-model="useComputerForms"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Yes', unchecked: 'No'}" />
				  				</h6>
				  				<div class="form-group">
				  					<div class="row">
				  						<div class="col-6">
				  							<label>Paper size</label>
				  							<div class="input-group input-group-sm">
							  					<select name="layout_page_size" class="form-control form-control-sm" v-model="invoiceLayoutPageSize">
							  						<option value="sheet_letter">Letter (8.5 x 11 in)</option>
							  						<option value="sheet_letter_landscape">Letter Landscape</option>
							  						<option value="sheet_A4">A4 (8.3 x 11.7 in)</option>
							  						<option value="sheet_A4_landscape">A4 Landscape</option>
							  						<option value="sheet_A5">A5 (5.8 x 8.3 in)</option>
							  						<option value="sheet_A5_landscape">A5 Landscape</option>
					  								<option value="sheet_B5">B5 (6.9 x 9.8 in)</option>
							  						<option value="sheet_B5_landscape">B5 Landscape</option>
							  						<option value="sheet_B6">B6 (4.9 x 6.9 in)</option>
							  						<option value="sheet_B6_landscape">B6 Landscape</option>
							  						<option value="sheet_legal">Legal (8.5 x 14 in)</option>
							  						<option value="sheet_legal_landscape">Legal Landscape</option>
							  						<option value="custom_size">Custom size</option>
							  					</select>
							  					<div class="input-group-append">
							  						<b-button variant="info" size="sm" @click.prevent="savePrintLayout('invoice')">View layout</b-button>
							  					</div>				  					
							  				</div>
				  						</div>
				  						<div class="col-6">
				  							<label>Custom size (inches)</label>
				  							<div class="row">
				  								<div class="col-6">
				  									<div class="input-group input-group-sm">
				  										<input type="number" name="invoice_custom_width" v-model="invoiceCustomWidth" class="form-control form-control-sm" :disabled="invoiceLayoutPageSize != 'custom_size'">
				  										<div class="input-group-append">
				  											<div class="input-group-text">in</div>
				  										</div>
				  									</div>
					  							</div>
					  							<div class="col-6">
					  								<div class="input-group input-group-sm">
				  										<input type="number" name="invoice_custom_height" v-model="invoiceCustomHeight" class="form-control form-control-sm" :disabled="invoiceLayoutPageSize != 'custom_size'">
				  										<div class="input-group-append">
				  											<div class="input-group-text">in</div>
				  										</div>
				  									</div>
					  							</div>
				  							</div>
				  						</div>
				  					</div>
				  					<br/>
				  					<div class="row">
				  						<div class="col-12">
				  							<label>Headless mode</label>
				  							<toggle-button
												v-model="headlessModeInvoice"
												:color="toggleButtonColors"
												:value="true"
												:sync="true"
												:labels="{checked: 'Yes', unchecked: 'No'}" />
				  						</div>
				  					</div>
				  					<br/>
				  					<div class="row">
				  						<div class="col-3">
				  							<label>Margin top</label>
							  				<div class="input-group input-group-sm">
							  					<input type="number" min="0" name="invoice_print_margin_top" class="form-control form-control-sm" v-model="compFormInvoicePrintMarginTop">
							  					<div class="input-group-append">
							  						<div class="input-group-text">mm</div>
							  					</div>
							  				</div>	
				  						</div>
				  						<div class="col-3">
				  							<label>Margin bttom</label>
							  				<div class="input-group input-group-sm">
							  					<input type="number" min="0" name="invoice_print_margin_bottom" class="form-control form-control-sm" v-model="compFormInvoicePrintMarginBottom">
							  					<div class="input-group-append">
							  						<div class="input-group-text">mm</div>
							  					</div>
							  				</div>	
				  						</div>
				  						<div class="col-3">
				  							<label>Margin left</label>
							  				<div class="input-group input-group-sm">
							  					<input type="number" min="0" name="invoice_print_margin_left" class="form-control form-control-sm" v-model="compFormInvoicePrintMarginLeft">
							  					<div class="input-group-append">
							  						<div class="input-group-text">mm</div>
							  					</div>
							  				</div>	
				  						</div>
				  						<div class="col-3">
				  							<label>Margin right</label>
							  				<div class="input-group input-group-sm">
							  					<input type="number" min="0" name="invoice_print_margin_right" class="form-control form-control-sm" v-model="compFormInvoicePrintMarginRight">
							  					<div class="input-group-append">
							  						<div class="input-group-text">mm</div>
							  					</div>
							  				</div>	
				  						</div>
				  					</div>
				  				</div>	
				  				<br/>
				  				<h6>
				  					Medical report layout&nbsp;
				  					<toggle-button
										v-model="useComputerFormsMediReports"
										:color="toggleButtonColors"
										:value="true"
										:sync="true"
										:labels="{checked: 'Yes', unchecked: 'No'}" />
				  				</h6>
				  				<div class="form-group">
				  					<div class="row">
				  						<div class="col-6">
				  							<label>Paper size</label>
				  							<div class="input-group input-group-sm">
						  					<select name="layout_page_size_report" class="form-control form-control-sm" v-model="mediReportLayoutPageSize">
						  						<option value="sheet_letter">Letter (8.5 x 11 in)</option>
						  						<option value="sheet_letter_landscape">Letter Landscape</option>
						  						<option value="sheet_A4">A4 (8.3 x 11.7 in)</option>
						  						<option value="sheet_A4_landscape">A4 Landscape</option>
						  						<option value="sheet_legal">Legal (8.5 x 14 in)</option>
						  						<option value="sheet_legal_landscape">Legal Landscape</option>
						  					</select>
						  					<div class="input-group-append">
						  						<b-button variant="info" size="sm" @click.prevent="savePrintLayout('medi_report')">View layout</b-button>
						  					</div>				  					
						  				</div>
				  						</div>
				  						<div class="col-3">
				  							<label>Margin top</label>
							  				<div class="input-group input-group-sm">
							  					<input type="number" min="0" name="medi_report_print_margin_top" class="form-control form-control-sm" v-model="compFormMediReportPrintMarginTop">
							  					<div class="input-group-append">
							  						<div class="input-group-text">mm</div>
							  					</div>
							  				</div>	
				  						</div>
				  					</div>
				  				</div>		  				
				  			</div>
				  		</div>
				  	</div>
			  	</b-tab>

			  	<b-tab title="Medical Reports">
			  		<div id="report_settings">
				  		<p>
				  			These settings are affected on medical reports generated by the system.
				  		</p>

				  		<div class="row">
				  			<div class="col-6">
				  				<h5>Test history</h5>
				  				<div class="form-group">
				  					<label>Include test history in the report</label>
				  					<div>
				  						<toggle-button
											v-model="enableTestHistory"
											:color="toggleButtonColors"
											:value="true"
											:sync="true"
											:labels="{checked: 'Yes', unchecked: 'No'}" />
				  					</div>
				  				</div>

				  				<div class="form-group">
				  					<label>Test history display mode</label>
				  					<div>
				  						<toggle-button
											v-model="displayHistoryUsingCharts"
											:width="60"
											:color="{checked: '#007bff', unchecked: '#343a40'}"
											:value="true"
											:sync="true"
											:labels="{checked: 'Chart', unchecked: 'Text'}" />
				  					</div>
				  					<div class="help-text">Text mode is suitable if you are using low resolution Dot Matrix printer. Make few test prints for both modes and decide what to use.</div>
				  				</div>

				  				<div class="form-group">
				  					<label>Headless mode</label>
				  					<div>
				  						<toggle-button
											v-model="enableHeadlessMode"
											:color="toggleButtonColors"
											:value="true"
											:sync="true"
											:labels="{checked: 'Yes', unchecked: 'No'}" />
				  					</div>
				  					<div class="help-text">If you are using pre designed papers like letter heads, you can enable this option. It'll not included the main title and Laboratory information in the upper area of the report.</div>
				  				</div>

				  			</div>
				  			<div class="col-6">
				  				<h5>Fonts settings</h5>
				  				<div class="form-group">
				  					<div class="row">
				  						<div class="col-6">
				  							<label>Font type</label>
							  				<select name="font_family" v-model="reportFontFamily" class="form-control form-control-sm">
							  					<option value="default">Default</option>
							  					<option value="Courier Prime">Courier Prime (recommended)</option>
							  					<option value="Liberation Mono">Liberation Mono</option>
							  					<option value="Cousine">Cousine</option>
							  					<option value="Roboto Mono">Roboto Mono</option>
							  					<option value="Maison Neue">Maison Neue</option>
							  				</select>
				  						</div>
				  						<div class="col-6">
				  							<label>Font size</label>
				  							<div class="input-group input-group-sm">
				  								<input type="number" min="0" name="report_font_size" v-model="reportFontSize" class="form-control form-control-sm">
				  								<div class="input-group-append">
				  									<div class="input-group-text">pt</div>
				  								</div>
				  							</div>
				  						</div>
				  					</div>
				  				</div>
				  				<h5>Other settings</h5>
				  				<div class="form-group">
	  								<label>Signatory</label>
	  								<div>
				  						<toggle-button
											v-model="enableSignotory"
											:color="toggleButtonColors"
											:value="true"
											:sync="true"
											:labels="{checked: 'Yes', unchecked: 'No'}" />
				  					</div>
				  					<div class="help-text">
					  					Include signatory entry at the end of the reports
					  				</div>
	  							</div>

	  							<div class="form-group">
	  								<label>Enter results for Fully Paid invoices only</label>
	  								<div>
				  						<toggle-button
											v-model="noResultsForAdvancePaidInvoices"
											:color="toggleButtonColors"
											:value="true"
											:sync="true"
											:labels="{checked: 'Yes', unchecked: 'No'}" />
				  					</div>
				  					<div class="help-text">
					  					If you enable this option, test results can be entered for Fully paid invoices only.
					  				</div>
	  							</div>

								<div class="form-group">
	  								<label>Print both Date and Time in the report</label>
	  								<div>
				  						<toggle-button
											v-model="printBothDateAndTime"
											:color="toggleButtonColors"
											:value="true"
											:sync="true"
											:labels="{checked: 'Yes', unchecked: 'No'}" />
				  					</div>
				  					<div class="help-text">
					  					If you enable this option, both Date and Time will be printed in the report. By default it's Date only.
					  				</div>
	  							</div>

								<div class="form-group">
	  								<label>Bold "High" and "Low" results</label>
	  								<div>
				  						<toggle-button
											v-model="boldHighLowResults"
											:color="toggleButtonColors"
											:value="true"
											:sync="true"
											:labels="{checked: 'Yes', unchecked: 'No'}" />
				  					</div>
				  					<div class="help-text">
					  					If you enable this option, "Normal" result values will be printed as <b>bold</b> text.
					  				</div>
	  							</div>
				  			</div>
				  		</div>
				  	</div>
			  	</b-tab>

			  	<b-tab title="Backup &amp; Restore">
			  		<div class="row">
			  			<div class="col-5">
			  				<h5>Backup Reminder</h5>
			  				<div class="form-group">
			  					<toggle-button
									v-model="enableBackupReminder"
									:width="80"
									:color="toggleButtonColors"
									:value="true"
									:sync="true"
									:labels="{checked: 'Enable', unchecked: 'Disable'}" />
			  				</div>
							
			  				<div class="row">
			  					<div class="col-6">
			  						<label>Daily/Weekly</label>
					  				<select class="form-control form-control-sm" v-model="backupReminderWeekly" :disabled="!enableBackupReminder || isMonthReminderSet">
					  					<option value=""></option>
					  					<option value="daily">Daily</option>
					  					<option value="1">Monday</option>
					  					<option value="2">Tuesday</option>
					  					<option value="3">Wednesday</option>
					  					<option value="4">Thursday</option>
					  					<option value="5">Friday</option>
					  					<option value="6">Saturday</option>
					  					<option value="0">Sunday</option>
					  				</select>
			  					</div>
			  					<div class="col-6">
			  						<label>Day of month</label>
			  						<select class="form-control form-control-sm" v-model="backupReminderMonthly" :disabled="!enableBackupReminder || isWeekReminderSet">
					  					<option value=""></option>
					  					<option value="1">1</option>
					  					<option value="2">2</option>
					  					<option value="3">3</option>
					  					<option value="4">4</option>
					  					<option value="5">5</option>
					  					<option value="6">6</option>
					  					<option value="7">7</option>
					  					<option value="8">8</option>
					  					<option value="9">9</option>
					  					<option value="10">10</option>
					  					<option value="11">11</option>
					  					<option value="12">12</option>
					  					<option value="13">13</option>
					  					<option value="14">14</option>
					  					<option value="15">15</option>
					  					<option value="16">16</option>
					  					<option value="17">17</option>
					  					<option value="18">18</option>
					  					<option value="19">19</option>
					  					<option value="20">20</option>
					  					<option value="21">21</option>
					  					<option value="22">22</option>
					  					<option value="23">23</option>
					  					<option value="24">24</option>
					  					<option value="25">25</option>
					  					<option value="26">26</option>
					  					<option value="27">27</option>
					  					<option value="28">28</option>
					  					<option value="29">29</option>
					  					<option value="30">30</option>
					  				</select>
			  					</div>
			  				</div>
			  			</div>
			  		</div>

			  		<br/>
			  		<!--div class="row">
			  			<div class="form-group">
	  						<div class="col-12">
	  							<b-button variant="info" size="sm" @click="setBackupReminder">Set Reminder</b-button>
	  						</div>
	  					</div>
			  		</div -->
			  	</b-tab>	

			  	<b-tab title="Barcode scanner">
			  		<div class="row">
			  			<div class="col-6">
			  				<div class="form-group">
								<label>Enable/Disable?</label>
								<div>
									<toggle-button
									v-model="enableBarcode"
									:width="80"
									:color="toggleButtonColors"
									:value="true"
									:sync="true"
									:labels="{checked: 'Enable', unchecked: 'Disable'}" />
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<label>Vendor ID</label>
										<input type="text" name="bcs_vender_id" class="form-control form-control-sm" :disabled="!enableBarcode" v-model="bcsVendorId">
									</div>
									<div class="col-6">
										<label>Product ID</label>
										<input type="text" name="bcs_product_id" class="form-control form-control-sm" :disabled="!enableBarcode" v-model="bcsProductId">
									</div>
								</div>
								<div class="important-text">
									<strong>IMPORTANT:</strong><br/>1. Connect the barcode scanner to this computer.<br/>2. If you do not know what you are doing, do not change these values. Contact BlossomLabs for assistance.<br/>
									3. There is no effect on 'Save settings' button on Barcode scanner setup. Use following button for that purpose.
								</div>
								<div class="form-group" style="margin-top: 10px;">
									<b-button variant="info" size="sm" :disabled="!enableBarcode" @click.prevent="setupBarcodeDevice"><font-awesome-icon :icon="['fas', 'sun']" /> Setup Barcode scanner</b-button>
								</div>
							</div>
			  			</div>
			  			<div class="col-6"></div>
			  		</div>
			  	</b-tab>

				<b-tab title="Security">
			  		<div class="row">
			  			<div class="col-4">
							  <h5>Security passcode</h5>
			  				<div class="form-group">
								<label>Add/Update your passcode</label>
								<div>
									<input type="password" name="passcode" class="form-control form-control-sm" v-model="securityPasscode">
								</div>
								<div class="form-group" style="margin-top: 10px;">
									<b-button variant="info" size="sm" @click.prevent="askPermission">Seve</b-button>
								</div>
							</div>
			  			</div>
			  			<div class="col-8"></div>
			  		</div>
			  	</b-tab>

			  	<b-tab v-if="for_bladmin" title="Error Logs">
			  		<div style="display: inline-block;">
			  			<b-button variant="warning" size="sm" @click.prevent="clearErrorLogs">Clear error logs</b-button>
			  			<b-button variant="secondary" size="sm" @click.prevent="genKey">Key gen</b-button>
			  		</div>
			  		
			  		<div style="display: inline-block;">
			  			<div class="input-group input-group-sm">
				  			<div class="input-group-append">
				  				<div class="input-group-text">{{ appSerialAppend }}</div>
				  			</div>
				  			<input type="text" name="app_serial" v-model="addSerialValue" class="form-control form-control-sm" placeholder="app serial">
				  			&nbsp;<span>{{ genKeyVal }}</span>
				  		</div>
			  		</div>

			  		<div style="display: inline-block;">
			  			<label>Display errors: </label>
			  			<toggle-button
							v-model="enableDisplayErrors"
							:width="80"
							:color="toggleButtonColors"
							:value="true"
							:sync="true"
							:labels="{checked: 'Enable', unchecked: 'Disable'}" />
			  		</div>
			  		
			  		<div class="error-logs">
			  			<textarea>
			  				{{ error_logs }}
			  			</textarea>			  			
			  		</div>
			  	</b-tab>		  	
			</b-tabs>
		</div>

		<vu-modal name="action-permission-modal"
			width="25%"
			height="auto"
			:scrollable="true"
			:clickToClose="false"
			:classes="['action-permission-modal']"
			@before-close="clearModal">

			<action-permission
				@is-permitted="actionPermitted($event)">
			</action-permission>
		</vu-modal>
		
	</div>
</template>

<script>
	import { remote } from 'electron'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import vSelect from 'vue-select'
	import ActionPermission from './ActionPermission'

	const fs = require('fs')
	const path = require('path')
	const Store = require('electron-store')
	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})
	const usbDetect = require('usb-detection')

	const BL_ADMIN = store.get('app-config').UTYPE_BLOSSOM_ADMIN

	const dictionary = {
  		en: {
  			attributes: {
  				lab_name: 'Laboratory name',
  				lab_address: 'Address',
  				lab_phones: 'Phone number(s)',
  				lab_email: 'Email address',
  				lab_web: 'Website',
  				logo_image: 'Logo image'
  			}
  		}
  	}

  	Validator.localize(dictionary)
	
	export default {
		name:  'system-settings',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			Validator,
			'v-select': vSelect,
			ActionPermission
		},
		data() {
			return {
				labName: null,
				labAddress: null,
				labDistrict: null,
				labPhones: null,
				labEmail: null,
				labWeb: null,
				labLogo: null,
				logoImage: null,
				busRegNo: null,
				enableBillNumber: true,
				enableDoctorsPercentage: false,
				enableReagentWatcher: true,

				enableBarcode: false,
				bcsVendorId: null,
				bcsProductId: null,

				districts: store.get('app-config').districts,

				silentPrinting: 'false',
				printerDevices: this.getPrinters(),
				blPrinterDevice: "",
				blInvoicePrinterDevice: "",
				layoutMarginLeft: 30,
				layoutMarginRight: 30,
				layoutMarginTop: 30,
				layoutMarginBottom: 30,
				themeColorInvoice: {a: 1, r: 0, g: 0, b: 0},
				themeColorMediReport: {a: 1, r: 0, g: 0, b: 0},
				pageSize: 'sheet_A4',
				invoiceLayoutPageSize: 'sheet_A4',
				printInvoiceInTheSameComputer: false,
				invoiceCustomWidth: null,
				invoiceCustomHeight: null,
				compFormInvoicePrintMarginTop: 0,
				compFormInvoicePrintMarginBottom: 0,
				compFormInvoicePrintMarginLeft: 0,
				compFormInvoicePrintMarginRight: 0,
				headlessModeInvoice: true,
				mediReportLayoutPageSize: 'sheet_A4',
				compFormMediReportPrintMarginTop: 0,

				useComputerForms: true,
				useComputerFormsMediReports: true,

				reportFontFamily: 'Courier Prime',
				reportFontSize: '14',
				enableTestHistory: true,
				displayHistoryUsingCharts: true,
				savePath: null,
				enableHeadlessMode: true,
				enableSignotory: true,
				noResultsForAdvancePaidInvoices: true,
				printBothDateAndTime: false,
				boldHighLowResults: true,

				//enableExternalLabs: true,
				toggleButtonColors: {checked: '#28a745', unchecked: '#dc3545'},

				//extLabs: this.getExternalLabs(),
				//testProfiles: this.getTestProfiles(),

				for_bladmin: store.get('isLogedIn') && store.get('user').type === BL_ADMIN,
				error_logs: this.getErrorLogs(),
				genKeyVal: null,
				addSerialValue: null,
				appSerialAppend: this.$moment().format("YY") + '-bl-',
				enableDisplayErrors: false,

				enableBackupReminder: false,
				backupReminderWeekly: null,
				backupReminderMonthly: null,
				securityPasscode: null
			}
		},
		computed: {
			isMonthReminderSet() {
				if(this.backupReminderMonthly && this.backupReminderMonthly != "") {
					return true
				} else {
					return false
				}
			},
			isWeekReminderSet() {
				if(this.backupReminderWeekly && this.backupReminderWeekly != "") {
					return true
				} else {
					return false
				}
			}
		},
		methods: {
			getAppSerial() {
				if(store.get('appSerial') && store.get('appSerial') != "") {
					var appSerialParts = store.get('appSerial').split('-')
					console.log('app serial', appSerialParts)

					this.appSerialAppend = appSerialParts[0] + '-' + appSerialParts[1] + '-'
					this.addSerialValue = appSerialParts[2]
				}				
			},
			getSettings: function() {
				var self = this
				if(store.has('system_settings')) {
					var systemSettings = store.get('system_settings')

					Object.keys(systemSettings).forEach(function(k){
						if(k == 'lab_info'){
							self.labName = systemSettings[k].labName
							self.labAddress = systemSettings[k].labAddress
							self.labDistrict = systemSettings[k].labDistrict
							self.labPhones = systemSettings[k].labPhones
							self.labEmail = systemSettings[k].labEmail
							self.labWeb = systemSettings[k].labWeb
							self.logoImage = systemSettings[k].labLogo
							self.busRegNo = systemSettings[k].busRegNo
							self.enableBillNumber = systemSettings[k].enableBillNumber
							self.enableDoctorsPercentage = systemSettings[k].enableDoctorsPercentage
						}

						if(k == 'print_settings') {
							self.pageSize = systemSettings[k].pageSize
							self.silentPrinting = systemSettings[k].slentMode.toString()
							self.blPrinterDevice = systemSettings[k].blPrinterDevice ? systemSettings[k].blPrinterDevice : ''
							self.blInvoicePrinterDevice = systemSettings[k].blInvoicePrinterDevice ? systemSettings[k].blInvoicePrinterDevice : ''
							self.layoutMarginLeft = systemSettings[k].marginLeft
							self.layoutMarginRight = systemSettings[k].marginRight
							self.layoutMarginTop = systemSettings[k].marginTop
							self.layoutMarginBottom = systemSettings[k].marginBottom
							self.themeColorInvoice = systemSettings[k].themeColorInvoice
							self.themeColorMediReport = systemSettings[k].themeColorMediReport
							self.useComputerForms = systemSettings[k].useComputerForms
							self.useComputerFormsMediReports = systemSettings[k].useComputerFormsMediReports
							self.invoiceLayoutPageSize = systemSettings[k].compFormSizeInvoice
							self.compFormInvoicePrintMarginTop = systemSettings[k].compFormInvoicePrintMarginTop,
							self.compFormInvoicePrintMarginBottom = systemSettings[k].compFormInvoicePrintMarginBottom
							self.compFormInvoicePrintMarginLeft = systemSettings[k].compFormInvoicePrintMarginLeft
							self.compFormInvoicePrintMarginRight = systemSettings[k].compFormInvoicePrintMarginRight
							self.headlessModeInvoice = systemSettings[k].headlessModeInvoice
							self.mediReportLayoutPageSize = systemSettings[k].compFormSizeMediReport
							self.compFormMediReportPrintMarginTop = systemSettings[k].compFormMediReportPrintMarginTop
							self.printInvoiceInTheSameComputer = systemSettings[k].printInvoiceInTheSameComputer

							if(self.invoiceLayoutPageSize == 'custom_size') {
								self.invoiceCustomWidth = systemSettings[k].invoiceCustomWidth ? systemSettings[k].invoiceCustomWidth : null
								self.invoiceCustomHeight = systemSettings[k].invoiceCustomHeight ? systemSettings[k].invoiceCustomHeight : null
							}

							//console.log(self.blPrinterDevice)
						}

						if(k == 'report_settings') {
							self.enableTestHistory = systemSettings[k].testHistory
							self.displayHistoryUsingCharts = systemSettings[k].historyDisplayCharts
							self.savePath = systemSettings[k].savePath
							self.enableHeadlessMode = systemSettings[k].headlessMode
							self.reportFontFamily = systemSettings[k].reportFontFamily ? systemSettings[k].reportFontFamily : 'Courier Prime'
							self.reportFontSize = systemSettings[k].reportFontSize ? systemSettings[k].reportFontSize : 14,
							self.enableSignotory = systemSettings[k].enableSignotory
							self.noResultsForAdvancePaidInvoices = systemSettings[k].noResultsForAdvancePaidInvoices
							self.printBothDateAndTime = systemSettings[k].printBothDateAndTime
							self.boldHighLowResults = systemSettings[k].boldHighLowResults
						}

						if(k == 'exteralLabSettings') {
							self.enableExternalLabs = systemSettings[k].enabled
						}

						if(k == 'barcode_settings') {
							self.enableBarcode = systemSettings[k].enableBarcode
							self.bcsVendorId = systemSettings[k].vendorId
							self.bcsProductId = systemSettings[k].productId
						}

						if(k == 'bl_settings') {
							self.enableDisplayErrors = systemSettings[k].enableDisplayErrors
							self.enableReagentWatcher = systemSettings[k].enableReagentWatcher
						}

						if(k == 'backup_settings') {
							self.enableBackupReminder = systemSettings[k].enableBackupReminder

							if(systemSettings[k].frequency == 'daily') {
								self.backupReminderMonthly = null
								self.backupReminderWeekly = 'daily'
							} else if(systemSettings[k].frequency == 'monthly') {
								self.backupReminderWeekly = null
								self.backupReminderMonthly = systemSettings[k].value
							} else if(systemSettings[k].frequency == 'weekly') {
								self.backupReminderMonthly = null
								self.backupReminderWeekly = systemSettings[k].value
							}
						}
					})
				}
			},
			getLogo: function(event) {
				this.labLogo = event.target.files[0]
			},
			selectSavePath() {
				var self = this
				remote.dialog.showOpenDialog({
					properties: ['openDirectory', 'createDirectory']
				}, function(dirPath){
					if(!dirPath) {
						return
					} else {
						//console.log(dirPath)
						self.savePath = dirPath[0]
					}
				})
			},
			setupBarcodeDevice() {
				var self = this
				// check barcode device info
				usbDetect.find(function(err, devices) { 
					if(err) {
						//console.log('USB error', err)
						self.$store.dispatch('AppState/setBcsState', false)
					} else {
						var bcsDeviceFound = false
						devices.forEach(function(d){
							if(d.vendorId == self.bcsVendorId && d.productId == self.bcsProductId) {
								bcsDeviceFound = true
							}
						})
						if(bcsDeviceFound) {
							//self.barcodeDeviceController('start')
							self.$store.dispatch('AppState/setBcsState', true)

							var barcodeObj = {
								enableBarcode: self.enableBarcode,
								vendorId: self.bcsVendorId,
								productId: self.bcsProductId
							}

							store.set('system_settings.barcode_settings', barcodeObj)

							remote.dialog.showMessageBox({
								buttons: ['Restart now'],
								type: 'info',
								title: 'Barcode scanner setup',
								message: 'Barcode scanner setup successful',
								detail: 'You must restart the app for using the device.'
							}, function(btn){
								remote.app.relaunch()
								remote.app.exit(0)
							})
						} else {
							self.$store.dispatch('AppState/setBcsState', false)
							
							self.flash('<b>Barcode scanner setup failed</b><br/>Please make sure that, the Barcode scanner is connected and<br/>check vendor ID and product ID again.', 'warning', {
								timeout: 5000
							})
						}
					}
				})
			},
			saveSettings: function() {
				var self = this
				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						var invoiceCustomWidthVal = null
						var invoiceCustomHeightVal = null

						if(self.invoiceLayoutPageSize == 'custom_size') {
							invoiceCustomWidthVal = self.invoiceCustomWidth
							invoiceCustomHeightVal = self.invoiceCustomHeight

							if(!invoiceCustomWidthVal || invoiceCustomWidthVal == "" || invoiceCustomWidthVal == 0 || !invoiceCustomHeightVal || invoiceCustomHeightVal == "" || invoiceCustomHeightVal == 0) {
								remote.dialog.showMessageBox({
									buttons: ['OK'],
									title: 'Print settings',
									type: 'warning',
									message: 'Enter custom size for Invoice',
									detail: 'Please enter both custom width and height for Invoice layout in Print section'
								}, function(btnIndex){
									return
								})

								return
							}
						}

						var logoDataUrl = self.logoImage

						if(self.labLogo) {
							//console.log(self.labLogo)
							var prefix = `data:${self.labLogo.type};base64,`
							logoDataUrl = prefix + fs.readFileSync(self.labLogo.path, 'base64')
						}

						//console.log(prefix + logoDataUrl)
						var labInfoObj = {
							labName: self.labName,
							labAddress: self.labAddress,
							labDistrict: self.labDistrict,
							labPhones: self.labPhones,
							labEmail: self.labEmail,
							labWeb: self.labWeb,
							labLogo: logoDataUrl,
							busRegNo: self.busRegNo,
							enableBillNumber: self.enableBillNumber,
							enableDoctorsPercentage: self.enableDoctorsPercentage
						}
						store.set('system_settings.lab_info', labInfoObj)
						var printSettingsObj = {
							slentMode: self.silentPrinting === 'true',
							blPrinterDevice: self.blPrinterDevice,
							pageSize: self.pageSize,
							marginLeft: self.layoutMarginLeft,
							marginRight: self.layoutMarginRight,
							marginTop: self.layoutMarginTop,
							marginBottom: self.layoutMarginBottom,
							themeColorInvoice: self.themeColorInvoice,
							themeColorMediReport: self.themeColorMediReport,
							useComputerForms: self.useComputerForms,
							useComputerFormsMediReports: self.useComputerFormsMediReports,
							compFormSizeInvoice: self.invoiceLayoutPageSize,
							invoiceCustomWidth: invoiceCustomWidthVal,
							invoiceCustomHeight: invoiceCustomHeightVal,
							compFormInvoicePrintMarginTop: self.compFormInvoicePrintMarginTop,
							compFormInvoicePrintMarginBottom: self.compFormInvoicePrintMarginBottom,
							compFormInvoicePrintMarginLeft: self.compFormInvoicePrintMarginLeft,
							compFormInvoicePrintMarginRight: self.compFormInvoicePrintMarginRight,
							headlessModeInvoice: self.headlessModeInvoice,
							compFormSizeMediReport: self.mediReportLayoutPageSize,
							compFormMediReportPrintMarginTop: self.compFormMediReportPrintMarginTop,
							printInvoiceInTheSameComputer: self.printInvoiceInTheSameComputer,
							blInvoicePrinterDevice: self.blInvoicePrinterDevice
						}
						store.set('system_settings.print_settings', printSettingsObj)
								
						var reportSettingsObj = {
							testHistory: self.enableTestHistory,
							historyDisplayCharts: self.displayHistoryUsingCharts,
							savePath: self.savePath,
							headlessMode: self.enableHeadlessMode,
							reportFontFamily: self.reportFontFamily,
							reportFontSize: self.reportFontSize,
							enableSignotory: self.enableSignotory,
							noResultsForAdvancePaidInvoices: self.noResultsForAdvancePaidInvoices,
							printBothDateAndTime: self.printBothDateAndTime,
							boldHighLowResults: self.boldHighLowResults
						}
						store.set('system_settings.report_settings', reportSettingsObj)

						var blSettingsObj = {
							enableDisplayErrors: self.enableDisplayErrors,
							enableReagentWatcher: self.enableReagentWatcher
						}

						store.set('system_settings.bl_settings', blSettingsObj)

						var exteralLabSettingsObj = {
							enabled: self.enableExternalLabs
						}
						store.set('system_settings.exteralLabSettings', exteralLabSettingsObj)	

						var backupReminderFreq = 'daily'
						var backupReminderVal = null
						if(self.backupReminderWeekly && self.backupReminderWeekly != "" && self.backupReminderWeekly != 'daily') {
							backupReminderFreq = 'weekly'
							backupReminderVal = self.backupReminderWeekly
						}

						if(self.backupReminderMonthly && self.backupReminderMonthly != "") {
							backupReminderFreq = 'monthly'
							backupReminderVal = self.backupReminderMonthly
						}

						var backupSettingsObj = {
							enableBackupReminder: self.enableBackupReminder,
							frequency: backupReminderFreq,
							value: backupReminderVal
						}	
						store.set('system_settings.backup_settings', backupSettingsObj)

						self.flash('Settings saved successfully', 'success')

						self.logoImage = logoDataUrl
					}

					this.$store.dispatch('SettingChanged/settingChanged')
				})
			},
			savePrintLayout(layoutType) {
				if(store.get('main_config').system_type != 'server') {
					remote.dialog.showMessageBox({
						buttons: ['OK'],
						type: 'info',
						title: 'BlossomLabs settings',
						message: 'Use Main Station',
						detail: 'Please use Main Station computer for arrange and save computer form layouts.'
					})

					return
				}

				var pageSize = this.invoiceLayoutPageSize
				if(layoutType == 'medi_report') {
					pageSize = this.mediReportLayoutPageSize
				}
				var layoutParams = JSON.stringify({
					layoutType: layoutType,
					pageSize: pageSize
				})

				this.$electron.ipcRenderer.send('save-print-layout', layoutParams)
			},
			getErrorLogs() {
				var errorLogsPath = path.join(remote.app.getPath('userData'), 'logs', 'error_log.txt')
				if(fs.existsSync(errorLogsPath)){
					return fs.readFileSync(errorLogsPath, 'utf-8')
				} else {
					return 'no errors found'
				}
			},
			clearErrorLogs() {
				var _this = this
				var errorLogsPath = path.join(remote.app.getPath('userData'), 'logs', 'error_log.txt')

				if(!fs.existsSync(errorLogsPath)){
					return
				}

				remote.dialog.showMessageBox({
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'BlossomLabs Error Logs',
					message: 'Clear error logs?',
					detail: 'Do you want to clear error logs?'
				}, function(btnIndex){
					if(btnIndex == 0){
						fs.writeFile(errorLogsPath, '', function(){
							_this.error_logs = _this.getErrorLogs()
						})						
					} else {
						return
					}
				})
			},
			genKey() {
				if(!this.addSerialValue || this.addSerialValue == "") {
					this.flash('Enter app serial', 'warning')
				} else {
					var keyVal = Math.random().toString(36).substr(2, 7)
					var cryptoKey = this.tempSecret(keyVal)
					store.set('activationCode', cryptoKey)
					store.set('appSerial', this.appSerialAppend + '' + this.addSerialValue)
					this.genKeyVal = keyVal
				}
			},
			tempSecret(tempStr) {
				const crypto = require('crypto')

				const salt = "asdf*gjutue2%darqe3sd@1s3"
				const hash = crypto.createHash('sha256')
				return hash.update(tempStr + salt).digest('hex')
			},
			getPrinters() {
				return remote.getCurrentWindow().webContents.getPrinters()
				//console.log(this.printerDevices)
			},
			refreshPrintersList() {
				this.printerDevices = remote.getCurrentWindow().webContents.getPrinters()
			},
			setupPasscode() {
				var _this = this
				if(_this.securityPasscode == null || _this.securityPasscode == "") {
					_this.flash("Passcode cannot be empty", "error")
				} else {
					var SecuritySettingsObj = {
						passcode: self.securityPasscode
					}
					store.set('system_settings.securitySettings', SecuritySettingsObj)
					_this.securityPasscode = null
					_this.flash("Passcode setup completed", "success")
				}
				
			},
			askPermission() {
				this.$modal.show('action-permission-modal')
			},
			actionPermitted(isPermitted) {
				var self = this
				if(isPermitted) {
					self.$modal.hide('action-permission-modal')
					self.setupPasscode()
				}
			},
			clearModal: function() {

			}
		},
		beforeMount() {
			this.getSettings()
			this.getAppSerial()
		}
	};
</script>

<style lang="scss">
	#settings_page {
		.tab-content {
			padding: 20px;
		    background: #fff;
		    border: 1px solid #ddd;
		    border-top: none;
		}

		.nav-tabs {
			.nav-item {
				.nav-link {
				    color: inherit;
    				font-weight: 500;
				}
			}
		}

		.silent-mode {
			display: inline-block;
			padding: 5px 10px;
			border-radius: 5px;
		}

		.text-success, .text-danger {
			font-weight: 500;
		}

		.external-labs {
			.scroll-panel {
				overflow-y: auto;
			}

			.form-control-xm {
				padding: 3px 5px;
	    		font-size: 0.7rem;
			}

			table {
				thead {
					tr {
						th {
							font-weight: 500;
    						font-size: 0.8rem;
						}
					}
				}

				tbody {
					td.danger {
						input {
							border: 1px dashed #dc3545;
							background: #ffeaea;
						}						
					}
				}
			}
		}
		.error-logs {
			margin-top: 10px;
			textarea {
				width: 100%;
				height: 62vh;
				font-size: 14px;
				font-family: 'Courier Prime'
			}
		}
	}
</style>