<template>
	<div class="container-fluid">
		<div id="setup-app-content">
			<div class="page-title">
				<div class="row">
					<div class="col-7">
						<h4>Welcome to <span class="app-name">BlossomLabs</span></h4>
						<h5>One time application setup</h5>
					</div>
					<div class="col-5 text-right app-logo">
						<img src="@/assets/images/logo.png">
					</div>
				</div>
			</div>	

			<div class="setup-info">Please provide valid information and fill the form carefully.<br/>If you are unconfortable with this setup process, please contact BlossomLabs for assistance.</div>

			<div class="row">
				<div class="col-6">
					<h6>System configurations</h6>
					<div class="form-group">
						<label>System type</label>
						<select v-model="systemType" class="form-control form-control-sm">
							<option value="server">Main station</option>
							<option value="client">Sub station</option>
						</select>
					</div>

					<div class="form-group">
						<label>Main station host/IP address&nbsp;
							<span v-show="ipPassed != null">
								<font-awesome-icon v-if="ipPassed" :icon="['fas', 'check-circle']" class="text-success" />
								<font-awesome-icon v-else :icon="['far', 'times-circle']" class="text-danger" />
							</span>&nbsp;
							<span v-show="isConnecting">
								<font-awesome-icon :icon="['fas', 'sync']" pulse />&nbsp;<small>searching...</small>
							</span>
						</label>
						<input type="text" name="main_ip" v-model="mainStationIP" class="form-control form-control-sm" v-validate="'required'" data-vv-as="Main station IP" v-on:blur="fetchFromMainStation">
						<div class="help-text">Please make sure the Main station is up and running and the network is connected.</div>
						<div v-show="errors.first('main_ip')" class="help-text text-danger">{{ errors.first('main_ip') }}</div>
					</div>

					<div class="form-group">
						<label>Database name&nbsp;
							<span v-show="dbPassed != null">
								<font-awesome-icon v-if="dbPassed" :icon="['fas', 'check-circle']" class="text-success" />
								<font-awesome-icon v-else :icon="['far', 'times-circle']" class="text-danger" />
							</span>
						</label>
						<input type="text" name="db_name" v-model="dbName" class="form-control form-control-sm" v-validate="'required'" data-vv-as="Database name">
						<div v-show="errors.first('db_name')" class="help-text text-danger">{{ errors.first('db_name') }}</div>
					</div>

					<div class="form-group">
						<label>Database user&nbsp;
							<span v-show="dbPassed != null">
								<font-awesome-icon v-if="dbPassed" :icon="['fas', 'check-circle']" class="text-success" />
								<font-awesome-icon v-else :icon="['far', 'times-circle']" class="text-danger" />
							</span>
						</label>
						<input type="text" name="db_user" v-model="dbUser" class="form-control form-control-sm" v-validate="'required'" data-vv-as="Database user">
						<div v-show="errors.first('db_user')" class="help-text text-danger">{{ errors.first('db_user') }}</div>
					</div>

					<div class="form-group">
						<label>Database password&nbsp;
							<span v-show="dbPassed != null">
								<font-awesome-icon v-if="dbPassed" :icon="['fas', 'check-circle']" class="text-success" />
								<font-awesome-icon v-else :icon="['far', 'times-circle']" class="text-danger" />
							</span>
						</label>
						<input type="password" name="db_pwd" v-model="dbPwd" class="form-control form-control-sm" v-validate="'required'" data-vv-as="Database password">
						<div v-show="errors.first('db_pwd')" class="help-text text-danger">{{ errors.first('db_pwd') }}</div>
					</div>
				</div>

				<div class="col-6">
					<h6>Laboratory information</h6>
					<div v-show="systemType=='client'">Following information will be fetched from the Main station.</div>
					<div class="form-group">
						<label for="lab_name">Name of the laboratory</label>
						<input type="text" name="lab_name" id="lab_name" v-model="labName" v-validate="'required'" class="form-control form-control-sm" placeholder="required">
						<div v-show="errors.first('lab_name')" class="help-text text-danger">{{ errors.first('lab_name') }}</div>
					</div>

					<div class="form-group">
						<label for="lab_address">Address</label>
						<input type="text" name="lab_address" id="lab_address" v-model="labAddress" v-validate="'required'" class="form-control form-control-sm" placeholder="required">
						<div v-show="errors.first('lab_address')" class="help-text text-danger">{{ errors.first('lab_address') }}</div>
					</div>

					<div class="form-group">
						<label for="lab_district">District</label>
						<v-select name="lab_district" id="lab_district" :options="districts" v-model="labDistrict" v-validate="'required'" data-vv-as="District" maxHeight="200px" placeholder="required"></v-select>
						<div v-show="errors.first('lab_district')" class="help-text text-danger">{{ errors.first('lab_district') }}</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-6">
								<label for="lab_phone">Phone number(s)</label>
								<input type="text" name="lab_phones" id="lab_phones" v-model="labPhones" class="form-control form-control-sm">
							</div>
							<div class="col-6">
								<label for="lab_email">Email</label>
								<input type="email" name="lab_email" id="lab_email" v-model="labEmail" v-validate="'email'" class="form-control form-control-sm">
								<div v-show="errors.first('lab_email')" class="help-text text-danger">{{ errors.first('lab_email') }}</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lab_email">Website</label>
						<input type="email" name="lab_web" id="lab_web" v-model="labWeb" placeholder="http://www.yourlab.com" class="form-control form-control-sm" v-validate="'url'">
						<div v-show="errors.first('lab_web')" class="help-text text-danger">{{ errors.first('lab_web') }}</div>
					</div>
				</div>
			</div>
			<div class="form-group text-right">
				<b-button variant="secondary" size="sm" @click.prevent="quitApp">Quit setup</b-button>
				<b-button variant="dark" size="sm" @click.prevent="setupApp">Start setup <font-awesome-icon :icon="['fas', 'angle-double-right']" /></b-button>
			</div>
		</div>

		<voo-loading :isLoading="isLoading"></voo-loading>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import VooLoading from './VooLoading.vue'
	import vSelect from 'vue-select'

	const mysql = require('mysql')

	const Store = require('electron-store')
	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'app-setup',
		components: {
			FontAwesomeIcon,
			'voo-loading': VooLoading,
			'v-select': vSelect
		},
		data() {
			return {
				isLoading: false,
				labName: null,
				labAddress: null,
				labDistrict: null,
				labPhones: null,
				labEmail: null,
				labWeb: null,
				districts: store.get('app-config').districts,
				systemType: 'server',
				mainStationIP: null,
				dbName: 'bloomy_labs',
				dbUser: 'bloomylabs',
				dbPwd: 'bloomy',

				isConnecting: false,

				ipPassed: null,
				dbPassed: null,
			}
		},
		methods: {
			quitApp() {
				remote.dialog.showMessageBox({
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'BlossomLabs setup',
					message: 'Quit from app setup',
					detail: 'Do you really want to quit from app setup now?'
				}, function(btnIndex) {
					if(btnIndex == 0) {
						remote.app.exit(0)
					} else {
						return
					}
				})
			},
			fetchFromMainStation() {
				var self = this
				//console.log('type: ', this.systemType)
				this.ipPassed = null
				if(this.systemType == 'client') {
					this.$validator.validate('main_ip', this.mainStationIP).then(result => {
						if(!result) {
							return
						} else {
							self.isConnecting = false
							// fetch lab info from Main station
							const sioc = require("socket.io-client")
				            var ioClient = sioc.connect(`http://${this.mainStationIP}:3000`)

				            ioClient.on('connect_timeout', (timeout) => {
				            	self.ipPassed = false
							  	self.isConnecting = true
							})

				            ioClient.on('connect_error', (error) => {
							 	if(error) {
							 		self.ipPassed = false
									self.isConnecting = true
							 	}
							})

				            ioClient.on('fetch-reply', function(labData){
				            	self.ipPassed = true
				            	self.isConnecting = false

				            	self.labName = labData.labName
								self.labAddress = labData.labAddress
								self.labDistrict = labData.labDistrict
								self.labPhones = labData.labPhones
								self.labEmail = labData.labEmail
								self.labWeb = labData.labWeb
				            })

				            ioClient.emit('fetch-details', 'lab-info')
						}
					})
	            }
			},
			setupApp() {
				var self = this
				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						self.dbPassed = null

						/*if(self.systemType == 'server') {
							self.mainStationIP = 'localhost'
						}*/

						// setup mysql connection for testing
						var pool = mysql.createPool({
					        host     : self.mainStationIP,
					        user     : self.dbUser,
					        password : self.dbPwd,
					        database : self.dbName
					    })

					    var testQuery = "SHOW TABLES"

					    pool.getConnection(function(err, connection) {
				            if(err) {
				            	console.log('db er 1', err)
				            	self.flash('Database connection failed!', 'error')
				                self.dbPassed = false
				                return
				            }

				            // Use the connection
				            connection.query(testQuery, [], function (error, results, fields) {
				                // And done with the connection.
				                connection.release();

				                // Handle error after the release.
				                if (error) {
				                	console.log('db er 2', error)
				                    self.dbPassed = false					                    
				                    return
				                }

				                // Don't use the connection here, it has been returned to the pool.
				                if(results.length > 0) {
				                	self.dbPassed = true
				                } else {
				                	self.dbPassed = true
				                	self.flash('<b>Database is empty!</b><br/>Please import the database now.', 'warning')
				                }

				                // save settings
				                var settingsObj = {
									lab_info: {
										labName: self.labName,
										labAddress: self.labAddress,
										labDistrict: self.labDistrict,
										labPhones: self.labPhones,
										labEmail: self.labEmail,
										labWeb: self.labWeb,
										labLogo: null,
										labInfoOnPrints: true,
										enableBillNumber: false,
										enableDoctorsPercentage: false
									},
									print_settings: {
										slentMode: true,
										marginLeft: 20,
										marginRight: 20,
										marginTop: 20,
										marginBottom: 20,
										pageSize: 'sheet_A4',
										useComputerFormsMediReports: true,
										compFormSizeMediReport: 'sheet_A4',
										compFormMediReportPrintMarginTop: 40
									},
									report_settings: {
										testHistory: true,
										savePath: remote.app.getPath('desktop'),
										historyDisplayCharts: false,
										headlessMode: true,
										reportFontFamily: 'Courier Prime',
										reportFontSize: 14,
										enableSignotory: true,
										noResultsForAdvancePaidInvoices: true
									},
									exteralLabSettings: {
										enabled: false
									},
									barcode_settings: {
										vendorId: null,
										productId: null
									}
								}

								store.set('system_settings', settingsObj)

								// setup main config values
								var mainConfigbj = {
									setup: true,
									app_serial: null,
									app_key: null,
									system_type: self.systemType,
									server: self.mainStationIP,
									db_name: self.dbName,
									db_user: self.dbUser,
									db_pwd: self.dbPwd
								}

								store.set('main_config', mainConfigbj)

								remote.dialog.showMessageBox({
									buttons: ['Restart BlossomLabs'],
									type: 'info',
									title: 'BlossomLab setup',
									message: 'Setup completed',
									detail: 'Application setup is completed successfully.\nNow you may restart the application.'
								}, function(btnIndex){
									remote.app.relaunch()
									remote.app.exit(0)
								})
				            })
				        })
					}
				})
			}
		}
	};
</script>

<style lang="scss">
	#setup-app-content {
	    margin-top: 20px !important;
	    width: 75%;
	    margin: 20px auto;
	    padding: 10px 20px;
	    background: #e6e6e6;
	    border: 1px dashed #171717;
	    box-shadow: 0px 0px 21px -5px #2f2f2f;
	    border-radius: 10px;
	    color: #1b1b1b;
	    /* text-shadow: 1px 1px 6px #525252; */

		.page-title {
			margin-bottom: 10px;
		    /* padding-bottom: 10px; */
		    border-bottom: 1px solid #cacaca;
		    /* color: #1b1b1b; */
		    /* text-shadow: 1px 1px 6px #525252; */

		    h4 {
		    	font-size: 1.8rem;
		    	
		    	.app-name {
			    	font-family: 'Exo 2';
			    	font-weight: bold;
			    }
		    }
			h5 {
				font-weight: normal;
			}

			.app-logo {
				img {
					width: 70px;
					height: auto;
				}
			}
		}

		.setup-info {
			font-size: 0.9rem;
			margin-bottom: 20px;
		}
	}
</style>