<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>Manage Test Profiles&nbsp;|&nbsp;<small><b-badge pill variant="primary">{{ totalRecords }}</b-badge></small></h4>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'add-test-profile'}"><font-awesome-icon :icon='["fas", "notes-medical"]' /> Add test profile</router-link>
				</div>
			</div>
		</div>	

		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="medTestProfiles"
			:infiniteScroll="true"
			@grid-search-event="gridSearch"></grid-view>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	
	export default {
		name: 'test-profile',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon
		},
		data() {
			return {
				columnData: [
					{
						value: 'Profile name',
						options: {width: '25%'}
					}, 
					{
						value: 'Fluid type'
					}, 
					{
						value: 'Tests'
					}, 
					{
						value: 'Price',
						options: {width: '10%', classes: ['text-right']}
					}
				],
				searchFeilds: {
					'Profile name': {type: 'textbox', input_id: 'profile_name_search', elOptions: {width: '20%'}},
					'Fluid type': {type: 'selectbox', input_id: 'fluid_type_search', options: this.fluidTypes(), elOptions: {width: '10%'}}
				},
				medTestProfiles: [],
				totalRecords: 0,
				queryLimit: 50,
				queryOffset: 0,
				filterData: null
			}
		},
		methods: {
			fluidTypes: function() {
				var fluidTypesQuery = "SELECT * FROM bloomy_fluid_types"
				var fluidTypeQueryArgs = JSON.stringify({query: fluidTypesQuery, params: []})

				var fluidTypesArray = this.$electron.ipcRenderer.sendSync('db-query', fluidTypeQueryArgs)

				var fluidTypeOptions = {}

				fluidTypesArray.forEach(function(v){
					fluidTypeOptions[v.id] = v.fluid_type_name
				})

				return fluidTypeOptions
			},
			getTestProfiles: function(searchStr=null) {
				this.queryLimit = this.queryLimit ? this.queryLimit : 50
				this.queryOffset = this.queryOffset ? this.queryOffset : 0

				var limit = ` LIMIT ${this.queryLimit} OFFSET ${this.queryOffset}`

				var testProfileQuery = "SELECT * FROM bloomy_profiles WHERE id > 0 "
				var totalRecordsQuery = testProfileQuery

				if(searchStr) {
					testProfileQuery += searchStr + limit
					totalRecordsQuery += searchStr
				} else {
					testProfileQuery = testProfileQuery + limit
				}

				var totalRecordsQueryArgs = JSON.stringify({query: totalRecordsQuery, params: []})
				var totalRecordsRes = this.$electron.ipcRenderer.sendSync('db-query', totalRecordsQueryArgs)
				this.totalRecords = totalRecordsRes.length

				var testProfileQueryArgs = JSON.stringify({query: testProfileQuery, prams: []})

				var testProfileData = this.$electron.ipcRenderer.sendSync('db-query', testProfileQueryArgs)

				var testProfiles = []

				var self = this
				testProfileData.forEach(function(v) {
					testProfiles.push({
						id: {
							value: v.id
						},
						'Profile name': {
							value: v.profile_name
						},
						'Fluid type': {
							value: self.fluidTypes()[v.fluid_type]
						},
						'Tests': {
							value: self.profileTests(v.id, 'html')
						},
						'Price': {
							value: 'Rs. ' + v.price.toFixed(2),
							options: {classes: ['text-right']}
						},
						'acBtns': [
							{btnclass: 'btn-outline-dark', onClickFn: self.editTestProfile.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
							{btnclass: 'btn-outline-danger', onClickFn: self.deleteTestProfile.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
						]
					})
				})

				return testProfiles
			},
			profileTests: function(profileId, outFormat=null) {
				var profileTestsQuery = "SELECT t.test_name as test_name, tp.calc_formula as calculation FROM bloomy_tests t, bloomy_tests_profiles tp WHERE tp.profile_id=? AND t.id=tp.test_id"

				var profileTestsQueryArgs = JSON.stringify({query: profileTestsQuery, params: [profileId]})

				var profilesTestsData = this.$electron.ipcRenderer.sendSync('db-query', profileTestsQueryArgs)

				var htmlTem = ""
				var objOut = []
				profilesTestsData.forEach(function(v) {
					if(outFormat == 'html') {
						if(v.calculation) {
							htmlTem += '<span class="badge badge-pill badge-primary badge-lg">' + v.test_name + ' <span class="badge badge-warning inner-badge">calc</span></span>'
						} else {
							htmlTem += '<span class="badge badge-pill badge-primary badge-lg">' + v.test_name + '</span>'
						}
					} else {
						objOut.push({
							test_name: v.test_name,
							calc: v.calculation
						})
					}
				})

				if(outFormat == 'html') {
					return htmlTem
				} else {
					return objOut
				}
				
			},
			editTestProfile: function(profId) {
				this.$router.push({name: 'edit-test-profile', params: {id: profId}})
			},
			deleteTestProfile: function(profId) {
				//console.log('delete clicked')
				var self = this
				remote.dialog.showMessageBox({
					buttons: ['Yes', 'No'],
					type: 'question',
					title: 'Manage Test Profiles',
					message: 'Delete Test Profile',
					detail: 'Do you really want to delete this Test Profile?'
				}, function(btnInd){
					if(btnInd == 0) {
						var deleteTestProfileQuery = "DELETE FROM bloomy_profiles WHERE id=?"
						var queryArgs = JSON.stringify({query: deleteTestProfileQuery, params: [profId]})

						self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

						// delete relevant profile tests
						var deleteProfTestsQuery = "DELETE FROM bloomy_tests_profiles WHERE profile_id=?"
						var queryArgs2 = JSON.stringify({query: deleteProfTestsQuery, params: [profId]})

						self.$electron.ipcRenderer.sendSync('db-query', queryArgs2)

						self.medTestProfiles.forEach(function(v, k){
							if(v.id.value == profId) {
								self.medTestProfiles.splice(k, 1)
							}
						})

						self.flash('Test Profile deleted successfully', 'success')
					} else {
						return
					}
				})
			},
			gridSearch: function(searchParams) {
				this.queryOffset = 0

				var searchStr = ""
		    	var self = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Profile name') {
		    				searchStr += " AND profile_name LIKE '%" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Fluid type') {
		    				searchStr += " AND fluid_type=" + searchParams[colKey.value]
		    			}
		    		}
		    	})

		    	this.filterData = searchStr

		    	this.medTestProfiles = this.getTestProfiles(searchStr)
			},
			loadMore: function() {
				this.queryOffset = this.queryOffset + this.queryLimit
				var moreTestProfs = this.getTestProfiles(this.filterData)
				if(moreTestProfs.length == 0) {
					return false
				} else {
					this.medTestProfiles = this.medTestProfiles.concat(moreTestProfs)
					return true
				}
			}
		},
		beforeMount() {
			this.medTestProfiles = this.getTestProfiles()
			this.queryLimit = 50
			this.queryOffset = 0
		}
	};
</script>

<style lang="scss">
</style>