<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit Test Profile <small v-once>({{ profileData.profile_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new Test Profile</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<router-link class="btn btn-sm btn-info" :to="{name: 'manage-test-profiles'}"><font-awesome-icon :icon='["fas", "notes-medical"]' /> Manage Test Profiles</router-link>
				</div>
			</div>
		</div>

		<div>Test profile data will be included in the report. Double check the <b>tests list</b> and the <b>calculations</b> before you finalize and saving the profile.</div>
		<br/>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="profile_name">Profile name</label>
					<input type="text" name="profile_name" class="form-control form-control-sm" v-model="profileData.profile_name" v-validate="'required'">
					<div v-show="errors.first('profile_name')" class="help-text text-danger">{{ errors.first('profile_name') }}</div>
				</div>

				<div class="form-group">
					<label for="description">Reference notes</label>
					<div class="help-text important-text">
						Please do not copy entire content from Excel or Word files. If you need a TABLE structure you can create a table easily in this editor and copy the text only from Excel or Word. Do all formatting here.
					</div>
		  			<div class="WYSIWYG-editor-container">
			  			<froala :tag="'textarea'" :config="editorConfig" v-model="profileData.description"></froala>
			  		</div>
		  			<div class="help-text">These notes will be printed under the 'Reference notes' in the report.</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<label for="fluid_type">Fluid type</label>
							<button class="btn btn-sm btn-outline-secondary float-right btn-xs-text btn-rounded" type="button" title="add new Fluid type" @click.prevent="openAddFluidTypeModal"><font-awesome-icon :icon='["fas", "plus"]' /></button>
							<select name="fluid_type" v-model="profileData.fluid_type" class="form-control form-control-sm" v-validate="'required'">
								<option v-for="(fluid, index) in fluidTypesOpts" :value="fluid.value">{{ fluid.text }}</option>
							</select>
							<div v-show="errors.first('fluid_type')" class="help-text text-danger">{{ errors.first('fluid_type') }}</div>
						</div>
						<div class="col-4">
							<label for="price">Price</label>
							<input type="number" min="0" name="price" v-model="profileData.price" class="form-control form-control-sm" v-validate="'required|min_value:1'">
							<div v-show="errors.first('price')" class="help-text text-danger">{{ errors.first('price') }}</div>
						</div>
						<div class="col-4">
							<label>Include Antibiotics?</label>
							<div>
								<toggle-button
									v-model="profileData.antibiotics"
									:color="toggleButtonColors"
									:value="profileData.antibiotics===1"
									:sync="true"
									:labels="{checked: 'Yes', unchecked: 'No'}" />
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-4">
							<label>Report layout</label>
							<select name="report_layout" v-model="profileData.report_layout" class="form-control form-control-sm">
								<option value="col">5 Columns</option>
								<option value="row">2 Columns</option>
							</select>
						</div>
						<div class="col-8">
							<label><span v-if="profileData.report_layout=='col'">5</span><span v-else>2</span> Columns layout sample</label>
							<div class="text-secondary">
								<img v-show="profileData.report_layout=='col'" src="@/assets/images/report_normal.png" width="100%" />
								<img v-show="profileData.report_layout=='row'" src="@/assets/images/report_normal_rows.png" width="100%" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label>Tests/Items in the profile</label>
					<v-select multiple name="profile_tests" id="profile_tests" :options="profileTestOps" v-model="selectedTests" :onChange="addTestToTheList" v-validate="'required'">
					</v-select>
					<div v-show="errors.first('profile_tests')" class="help-text text-danger">{{ errors.first('profile_tests') }}</div>
				</div>

				<div class="form-group">
					<div class="guidelines">
						<h6><font-awesome-icon class="text-primary" :icon="['fas', 'info-circle']" />&nbsp;Guidelines for special calculation formulas</h6>
						<p>For the calculation formulas, use the hash code (#1#, #2#, ... , #10#, ...) for representing the test values.</p>
						<p>
							<b>eg: </b> 
							<ul>
								<li>( #2# + #4# ) * 5&nbsp;&nbsp;&nbsp;&nbsp;a simple caclation</li>
								<li>power((#20#-#10#), 3)&nbsp;&nbsp;&nbsp;&nbsp;power of a value. Here 3 is the power</li>
							</ul>
						</p>
						<div>Test hash code can be found in front of each test names in the list.</div>
						<div><font-awesome-icon :icon="['fas', 'arrows-alt-v']" />&nbsp;You can re-arrange tests list by dragging them up and down.</div>
					</div>
					<label>Profile tests and calculation formulas</label>
					<div class="row">
						<div class="col-5 heading-div"><strong>Test/Item name</strong></div>
						<div class="col-7 heading-div"><strong>Calculation</strong></div>
					</div>
					<div class="row" v-show="profileTestsList.length == 0">
						<div class="col-12 text-center no-data-label">
							No tests selected yet
						</div>
					</div>
					<draggable v-model="profileTestsList" @start="startDrag">
						<transition-group name="list" tag="div">
							<div class="row tests-list" v-for="(pt, index) in profileTestsList" :key="'pt-'+index">
								<div class="col-5">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text drag-cursor">#{{ pt.value }}#</span>
										</div>
										<div class="form-control form-control-sm">{{ pt.label }}</div>
									</div>
								</div>
								<div class="col-7">
									<input type="text" v-model="pt.calculation" class="form-control form-control-sm">
								</div>
							</div>
						</transition-group>
					</draggable>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group text-right">
					<button class="btn btn-sm btn-info" @click.prevent="savetestProfile(false)">Save Test Profile</button>
					<button v-show="isNewRecord" class="btn btn-warning btn-sm" @click.prevent="savetestProfile(true)">Save and Add new</button>
				</div>
			</div>
		</div>
		<vu-modal name="add-fluid-type-modal-profile"
			:width="300"
			height="auto">
			<div class="bl-modal-title">
	          	<div class="col-12">
	              	<h5>Add new Fluid type</h5>
	            </div>
	        </div>
			<div class="add-new-items-form">
				<add-fluid-type
					:asAPartial="true"
					@fluid-type-saved="addFluidTypeToTheList" />
			</div>
		</vu-modal>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import vSelect from 'vue-select'
	import draggable from 'vuedraggable'
	import AddFluidType from './FluidTypes'

	const dictionary = {
  		en: {
  			attributes: {
  				profile_name: 'Profile name',
  				fluid_type: 'Fluid type',
  				price: 'Price',
  				profile_tests: 'Profile tests'
  			}
  		}
  	}

  	Validator.localize(dictionary)

  	var toolbarOptions = [
	  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

	  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
	  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
	  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

	  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown

	  [{ 'align': [] }],

	  ['clean']                                         // remove formatting button
	];


	export default {
		name: 'test-profile-edit',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon,
			'v-select': vSelect,
			draggable,
			'add-fluid-type': AddFluidType,
		},
		data() {
			return {
				isNewRecord: !this.$route.params.id,
				profileData: this.getProfileData(),
				editorOption: {
					modules: {
						toolbar: toolbarOptions
					},
					placeholder: 'enter profile notes here...',
					theme: 'snow'
				},
				profileTestsList: this.getProfileTests().selProfTests,
				profileTestOps: this.getTestOps(),
				selectedTests: this.getProfileTests().selTests,
				editorConfig: {
				  placeholderText: 'Enter reference notes here',
				  charCounterCount: false,
				  toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontSize', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertTable', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'undo', 'redo', '|', 'fullscreen', 'html'],
				  tableStyles: {
				  	'fr-no-table-border': 'No border',
				  	'fr-border-all': 'Border all',
				  	'fr-border-bottom': 'Border bottom'
				  },
				  toolbarStickyOffset: 55,
				  htmlAllowedStyleProps: ['color', 'width', 'text-align'],
				  htmlIgnoreCSSProperties: ['font-family', 'font-size'],
				  fontFamily: {
			        "Courier Prime": 'Courier Prime',
			        "Montserrat,sans-serif": 'Montserrat',
			      },
			      fontFamilySelection: true,
			      fontFamilyDefaultSelection: 'Courier Prime',
				  tabSpaces: 4,
				  theme: "light",
				  height: 300
				},
				fluidTypesOpts: this.fluidTypes(),
				toggleButtonColors: {checked: '#28a745', unchecked: '#dc3545'},
			}
		},
		methods: {
			getProfileData: function() {
				var profileId = this.$route.params.id ? this.$route.params.id : 0

				if(profileId) {
					var profileDataQuery = "SELECT * FROM `bloomy_profiles` WHERE id=?"
					var profileDataQueryArgs = JSON.stringify({query: profileDataQuery, params: [profileId]})

					var profileDataArray = this.$electron.ipcRenderer.sendSync('db-query', profileDataQueryArgs)

					profileDataArray[0].antibiotics = profileDataArray[0].antibiotics === 1 // set antibiotics as a Boolean

					return profileDataArray[0]
				} else {
					return {
						profile_name: null,
						description: '',
						price: 0,
						fluid_type: 1,
						antibiotics: false,
						report_layout: 'col'
					}
				}
				
			},
			fluidTypes: function() {
				var fluidTypesQuery = "SELECT * FROM bloomy_fluid_types"
				var fluidTypeQueryArgs = JSON.stringify({query: fluidTypesQuery, params: []})

				var fluidTypesArray = this.$electron.ipcRenderer.sendSync('db-query', fluidTypeQueryArgs)

				var fluidTypeOptions = []

				fluidTypesArray.forEach(function(v){
					fluidTypeOptions.push({
						value: v.id,
						text: v.fluid_type_name
					})
				})

				return fluidTypeOptions
			},
			getTestOps: function() {
				var getTestsQuery = "SELECT * FROM bloomy_tests"
				var testQueryArgs = JSON.stringify({query: getTestsQuery, params: []})

				var profileTestsData = this.$electron.ipcRenderer.sendSync('db-query', testQueryArgs)

				var profileTestOpts = []
				profileTestsData.forEach(function(v){
					profileTestOpts.push({
						label: v.test_name,
						value: v.id
					})
				})

				return profileTestOpts
			},
			getProfileTests: function() {
				var profId = this.$route.params.id ? this.$route.params.id : 0

				var self = this
				if(profId > 0) {
					var profTestQuery = "SELECT tp.*, t.test_name as test_name FROM bloomy_tests_profiles tp, bloomy_tests t WHERE tp.test_id=t.id AND tp.profile_id=?"
					var profTestQueryArgs = JSON.stringify({query: profTestQuery, params: [profId]})

					var profTestData = self.$electron.ipcRenderer.sendSync('db-query', profTestQueryArgs)

					var selectedTestsArray = []
					var selectedProfTestsCals = []
					profTestData.forEach(function(v){
						selectedTestsArray.push({
							label: v.test_name,
							value: v.test_id
						})
						selectedProfTestsCals.push({
							label: v.test_name,
							value: v.test_id,
							calculation: v.calc_formula
						})
					})

					return {selTests: selectedTestsArray, selProfTests: selectedProfTestsCals}
				} else {
					return {selTests: [], selProfTests: []}
				}
			},
			addTestToTheList: function(selectedObj) {
				var self = this
				
				var selectedTestsArray = self.selectedTests

				//console.log('selected tests', self.selectedTests)
				
				if(selectedObj.length > self.profileTestsList.length) {
					selectedObj.forEach(function(v){
						var exists = false

						self.profileTestsList.forEach(function(vex){
							if(vex.value == v.value) {
								exists = true
							}
						})

						if(!exists) {
							self.profileTestsList.push({
								label: v.label,
								value: v.value,
								calculation: ''
							})
						}
					})
				} else {
					self.profileTestsList.forEach(function(v, k) {
						var exists = false
						selectedObj.forEach(function(vl){
							if(v.value == vl.value) {
								exists = true
							}
						})

						if(!exists) {
							self.profileTestsList.splice(k, 1)
						}
					})
				}
				
			},
			savetestProfile: function(addNew) {
				var self = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						var profId = self.$route.params.id ? self.$route.params.id : 0

						if(profId == 0) {
							var saveProfileQuery = "INSERT INTO bloomy_profiles(`profile_name`, `description`, `price`, `fluid_type`, `antibiotics`, `report_layout`) VALUES(?,?,?,?,?,?)"
							var savetestProfileParams = [self.profileData.profile_name.trim(), self.profileData.description, self.profileData.price, self.profileData.fluid_type, self.profileData.antibiotics, self.profileData.report_layout]
							var queryArgs = JSON.stringify({query: saveProfileQuery, params: savetestProfileParams})

							var saveProfileQueryRes = self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

							var maxProfId = saveProfileQueryRes.insertId

							var queryParams2 = []
							self.profileTestsList.forEach(function(v, k){
								queryParams2.push([
									maxProfId,
									v.value,
									v.calculation,
									k
								])
							})

							var insertProfTestsQuery = "INSERT INTO bloomy_tests_profiles(`profile_id`, `test_id`, `calc_formula`, `item_order`) VALUES ?"
							var queryArgs2 = JSON.stringify({query: insertProfTestsQuery, params: [queryParams2]})

							self.$electron.ipcRenderer.sendSync('db-query', queryArgs2)

							self.flash('Test Profile saved successfully', 'success')
						} else {
							// update test profile
							var updateProfQuery = "UPDATE bloomy_profiles SET `profile_name`=?, `description`=?, `price`=?, `fluid_type`=?, `antibiotics`=?, `report_layout`=? WHERE `id`=?"
							var updateProfQueryParams = [self.profileData.profile_name.trim(), self.profileData.description, self.profileData.price, self.profileData.fluid_type, self.profileData.antibiotics, self.profileData.report_layout, profId]
							var queryArgs = JSON.stringify({query: updateProfQuery, params: updateProfQueryParams})

							self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

							var queryParams2 = []
							self.profileTestsList.forEach(function(v, k){
								queryParams2.push([
									profId,
									v.value,
									v.calculation,
									k
								])
							})

							// delete and insert new Profile Tests data
							var deleteProfTestsQuery = "DELETE FROM `bloomy_tests_profiles` WHERE `profile_id`=?"
							var deleteProfTestsQueryArgs = JSON.stringify({query: deleteProfTestsQuery, params: [profId]})

							self.$electron.ipcRenderer.sendSync('db-query', deleteProfTestsQueryArgs)

							var insertProfTestsQuery = "INSERT INTO bloomy_tests_profiles(`profile_id`, `test_id`, `calc_formula`, `item_order`) VALUES ?"
							var queryArgs2 = JSON.stringify({query: insertProfTestsQuery, params: [queryParams2]})

							self.$electron.ipcRenderer.sendSync('db-query', queryArgs2)

							self.flash('Test Profile updated successfully', 'success')
						}

						if(!addNew) {
							self.$router.push({name: 'manage-test-profiles'})
						} else {
							self.resetForm()
						}
					}
				})
			},
			resetForm() {
				this.$nextTick().then(() => {
					this.$validator.errors.clear()
				})
				this.profileData = this.getProfileData()
				this.profileTestsList = this.getProfileTests().selProfTests
				this.selectedTests = this.getProfileTests().selTests
			},
			addFluidTypeToTheList(newFluidType) {
				this.fluidTypesOpts.push({
					value: newFluidType.id,
					text: newFluidType.name
				})
				this.profileData.fluid_type = newFluidType.id
				
				this.$modal.hide('add-fluid-type-modal-profile')
			},
			openAddFluidTypeModal() {
				this.$modal.show('add-fluid-type-modal-profile')
			},
			startDrag: function(evt) {
				console.log(evt)
			}
		}
	};
</script>

<style lang="scss">
	#description_editor {
		.ql-container {
			.ql-editor {
				height: 200px;
				background: #fff;
			}
		}
	}

	.add-new-items-form, {
		padding-top: 10px;
	}
	
	.drag-cursor {
		cursor: -webkit-grab; 
		cursor: grab;
	}

	.tests-list {
		margin-bottom: 3px;
	}
</style>