<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<span v-if="!isNewRecord">
						<h4>Edit user <small v-once>({{ userData.f_name }} {{ userData.l_name }})</small></h4>
					</span>
					<span v-else>
						<h4>Add new user</h4>
					</span>
				</div>
				<div class="col-5 text-right">
					<button v-show="isAdmin" class="btn btn-sm btn-info" @click.prevent="goToManageUsers"><font-awesome-icon :icon='["fas", "users"]' /> Manage users</button>
				</div>
			</div>
		</div>			
		<form>
			<div class="row">
				<div class="col-6">
					<h6>Personal info</h6>
					<div class="form-group">
						<div class="row">
							<div class="col-6">
								<label for="f_name">First name</label>
								<input type="text" name="f_name" id="f_name" class="form-control form-control-sm" v-model="userData.f_name" v-validate="'required'">
								<div v-show="errors.first('f_name')" class="help-text text-danger">{{ errors.first('f_name') }}</div>
							</div>
							<div class="col-6">
								<label for="l_name">Last name</label>
								<input type="text" name="l_name" id="l_name" class="form-control form-control-sm" v-model="userData.l_name">
								<!--div v-show="errors.first('l_name')" class="help-text text-danger">{{ errors.first('l_name') }}</div -->
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-6" v-if="isAdmin">
								<label for="user_type">User type</label>
								<select name="user_type" id="user_type" class="form-control form-control-sm" v-model="userData.user_type">
									<option v-for="(utype, key) in userTypes" :value="key">{{ utype }}</option>
								</select>
							</div>
							<div class="col-6" v-else>
								<label for="user_type">User type</label>
								<div class="form-control form-control-sm">{{ userTypes[userData.user_type] }}</div>
							</div>
							<div class="col-6">
								<label for="slmc_reg_no">SLMC Reg. No.</label>
								<input type="text" name="slmc_reg_no" class="form-control form-control-sm" v-model="userData.slmc_reg_no">								
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-6">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" class="form-control form-control-sm" v-model="userData.email" v-validate="'email'">
								<div v-show="errors.first('email')" class="help-text text-danger">{{ errors.first('email') }}</div>
							</div>
							<div class="col-6">
								<label for="phone">Phone</label>
								<input type="text" name="phone" id="phone" class="form-control form-control-sm" v-model="userData.phone">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-6">
								<label for="is_active">Is active</label>
								<div>
									<input type="radio" name="is_active" id="active_yes" value="1" v-model="userData.is_active">
									Active&nbsp;&nbsp;&nbsp;
									<input type="radio" name="is_active" id="active_no" value="0" v-model="userData.is_active">
									Inactive
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<h6>Use this section if you need to change user's login info</h6>
						<label for="username">Username</label>
						<input type="text" name="username" id="username" class="form-control form-control-sm" v-model="userData.username" v-validate="'required|alpha_num'">
						<div v-show="errors.first('username')" class="help-text text-danger">{{ errors.first('username') }}</div>
					</div>
					<div class="form-group">
						<label for="pwd">Password</label>
						<input type="password" name="pwd" id="pwd" class="form-control form-control-sm" v-model="newPwd">
					</div>
					<div class="form-group">
						<label for="pwd">Confirm password</label>
						<input type="password" name="conf_pwd" id="conf_pwd" class="form-control form-control-sm" v-model="confirmPwd">
						<div class="help-text" v-show="newPwd != ''" :class="{'text-danger': !pwd_matched, 'text-success': pwd_matched}"><span v-if="pwd_matched">Passwords matched.</span><span v-else>Passwords not matched. New password will not be saved until you confirm it.</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button class="btn btn-info" @click.prevent="saveUserData">Save</button>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import { Validator } from 'vee-validate'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})
  	const crypto = require('crypto')

  	const dictionary = {
  		en: {
  			attributes: {
  				f_name: 'First name',
  				l_name: 'Last name',
  				email: 'Email address',
  				username: 'Username'
  			}
  		}
  	}

  	Validator.localize(dictionary)

  	const LAB_TECH = store.get('app-config').UTYPE_LAB_TECH
	const SYS_ADMIN = store.get('app-config').UTYPE_SYS_ADMIN
	const CASHIER = store.get('app-config').UTYPE_CAHIER
	const BL_ADMIN = store.get('app-config').UTYPE_BLOSSOM_ADMIN

	export default {
		name: 'edit-user',
		components: {
			//'navbar-com': NavBarCom,
			FontAwesomeIcon
		},
		data() {
			return {
				isAdmin: store.get('isLogedIn') && store.get('user').type == SYS_ADMIN,

				isNewRecord: !this.$route.params.id,
				userData: this.getUserData(),
				userTypes: this.getUserTypes(),
				newPwd: '',
				confirmPwd: '',
				isConfirmed: false,

				userTypeMLT: store.get('app-config').UTYPE_LAB_TECH,
			}
		},
		computed: {
			pwd_matched: function() {
				if(this.confirmPwd != '' && this.newPwd != '') {
					return this.isConfirmed = this.confirmPwd == this.newPwd
				}
			}
		},
		methods: {
			getUserTypes: function() {
				var _this = this
				var userTypesObj = store.get('app-config').userTypes

				var userTypesOpts = {}
				Object.keys(userTypesObj).forEach(function(k){
					if(store.get('user').type === BL_ADMIN) {
						userTypesOpts[k] = userTypesObj[k]
					} else if(k!=BL_ADMIN){
						userTypesOpts[k] = userTypesObj[k]
					}
				})
				//console.log('utype', store.get('user').type, BL_ADMIN)
				return userTypesOpts
			},
			getUserData: function() {
				var uid = this.$route.params.id ? this.$route.params.id : null

				if(uid) {
					var query = "SELECT * FROM bloomy_user WHERE id=?"
					var queryArgs = JSON.stringify({query: query, params: [uid]})
					var userObj = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)
					//console.log(userObj[0].f_name)
					return userObj[0]
				} else {
					return {
						f_name: null,
						l_name: null,
						username: null,
						pwd: null,
						user_type: store.get('app-config').UTYPE_LAB_TECH,
						slmc_reg_no: null,
						email: null,
						phone: null,
						is_active: 1
					}
				}
				
			},
			goToManageUsers: function() {
				this.$router.push({name: 'manage-users'})
			},
			tempSecret(pwdStr) {
		        const salt = "asduerqe32%dasd@f*gjut1s3"
		        const hash = crypto.createHash('sha256')
		        return hash.update(pwdStr + salt).digest('hex')
	      	},
			saveUserData: function() {
				if(this.$validator.errors.items.length > 0) {
					remote.dialog.showMessageBox({
						buttons: ['OK'],
						type: 'warning',
						title: 'Edit User',
						message: 'Validation failed',
						detail: 'Please fill the form wirh valid information.'
					})

					return
				} else {
					if(this.$route.params.id) {
						var query = "UPDATE bloomy_user SET f_name=?, l_name=?, username=?, user_type=?, slmc_reg_no=?, email=?, phone=?, is_active=? WHERE id=?"
						var queryParams = [this.userData.f_name, this.userData.l_name, this.userData.username, this.userData.user_type, this.userData.slmc_reg_no, this.userData.email, this.userData.phone, this.userData.is_active, this.$route.params.id]

						if(this.newPwd != '' && this.isConfirmed) {
							this.userData.pwd = this.tempSecret(this.newPwd)

							query = "UPDATE bloomy_user SET f_name=?, l_name=?, username=?, pwd=?, user_type=?, slmc_reg_no=?, email=?, phone=?, is_active=? WHERE id=?"
							queryParams = [this.userData.f_name, this.userData.l_name, this.userData.username, this.userData.pwd, this.userData.user_type, this.userData.slmc_reg_no, this.userData.email, this.userData.phone, this.userData.is_active, this.$route.params.id]
						}

						var queryArgs = JSON.stringify({query: query, params: queryParams})
						this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

						if(this.isAdmin) {
							this.$router.push({name: 'manage-users'})
						} else {
							this.$router.push({name: 'landing-page'})
						}
						
						this.flash('User updated successfully', 'success')
					} else {
						if(this.newPwd == '' || this.isConfirmed == '') {
							remote.dialog.showMessageBox({
								buttons: ['OK'],
								type: 'info',
								title: 'Add new user',
								message: 'Missing information',
								detail: 'You must provide user\'s login details.'
							})
						} else {
							this.userData.pwd = this.tempSecret(this.newPwd)
							this.create_date = this.formatDate(new Date())

							var insertQuery = "INSERT INTO bloomy_user(`f_name`, `l_name`, `username`, `pwd`, `user_type`, `slmc_reg_no`, `email`, `phone`, `is_active`, `create_date`) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
							var queryParams = [
								this.userData.f_name,
								this.userData.l_name, 
								this.userData.username, 
								this.userData.pwd, 
								this.userData.user_type, 
								this.userData.slmc_reg_no,
								this.userData.email, 
								this.userData.phone, 
								this.userData.is_active,
								this.create_date
							]

							var queryArgs = JSON.stringify({query: insertQuery, params: queryParams})
							this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

							if(this.isAdmin) {
								this.$router.push({name: 'manage-users'})
							} else {
								this.$router.push({name: 'landing-page'})
							}
							
							this.flash('User added successfully', 'success')
						}
					}
					
				}
				//console.log('validator ers', this.$validator.errors.items.length)
			},
			formatDate(dateString, time=false, hrs24=true) {
				var date = new Date(dateString);
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ':00';
				if(!hrs24) {
					hours = hours % 12;
					hours = hours ? hours : 12; // the hour '0' should be '12'
					strTime = hours + ':' + minutes + ' ' + ampm;
				}
				
				var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
				var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
				if(time) {
					return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
				} else {
					return date.getFullYear() + "-" + monthVal + "-" + dayVal;
				}
				
			},
		}
	};
</script>

<style lang="scss">
	
</style>