<template>
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-7">
					<h4>User manager</h4>
				</div>
				<div class="col-5 text-right">
					<button class="btn btn-sm btn-info pull-right" @click="addUser"><font-awesome-icon :icon='["fas", "user-plus"]' /> Add new user</button>
				</div>
			</div>
		</div>
		
		<grid-view
			width="100%"
			:columns="columnData"
			:searchfeilds="searchFeilds"
			:data="users"
			@grid-search-event="gridSearch"></grid-view>
	</div>
</template>

<script>
	import { remote } from 'electron'
	//import NavBarCom from './NavBar.vue'
	import GridView from './GridView'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

  	const USER_TYPE_ADMIN = store.get('app-config').UTYPE_SYS_ADMIN
  	const USER_TYPE_BLADMIN = store.get('app-config').UTYPE_BLOSSOM_ADMIN

	export default {
		name: 'manage-users',
		components: {
			//'navbar-com': NavBarCom,
			GridView,
			FontAwesomeIcon
		},
		data() {
			return {
				columnData: [
					{
						value: 'Name'
					}, 
					{
						value: 'User type'
					}, 
					{
						value: 'Phone',
						options: {classes: ['text-center']}
					}, 
					{
						value: 'Email'
					}, 
					{
						value: 'Created date'
					}, 
					{
						value: 'Is active',
						options: {classes: ['text-center']}
					}, 
					{
						value: 'Last login'
					}
				],
				searchFeilds: {
					'Name': {type: 'textbox', input_id: 'name_search'},
					'User type': {type: 'selectbox', input_id: 'user_type_search', options: this.userTypes()},
					'Phone': {type: 'textbox', input_id: 'phone_search', elOptions: {width: 120}},
					'Email': {type: 'textbox', input_id: 'email_search'},
					'Created date': {type: 'date-range', input_id: 'create_date_search', elOptions: {width: 190}},
					'Is active': {type: 'selectbox', input_id: 'is_active_search', options: {0: 'Inactive', 1: 'Active'}},
					'Last login': {type: 'date-range', input_id: 'last_login_search', elOptions: {width: 190}}
				},
				users: this.getUsers()
			}
		},
		methods: {
			getUsers(searchStr=null) {
				var query = 'SELECT * FROM bloomy_user WHERE  `user_type` != ' + USER_TYPE_BLADMIN
				if(searchStr) {
					query = 'SELECT * FROM `bloomy_user` WHERE `id` > 0 AND `user_type` != ' + USER_TYPE_BLADMIN + ' ' + searchStr
				}
				var queryArgs = JSON.stringify({query: query, params: []})
				var usresList = this.$electron.ipcRenderer.sendSync('db-query', queryArgs)

				var self = this

				var userObj = []
				usresList.forEach(function(v, k){
					var actionButtons = [
						{btnclass: 'btn-outline-dark', onClickFn: self.editUser.bind(self, v.id), title: 'edit', icon: ['far', 'edit']},
						{btnclass: 'btn-outline-danger', onClickFn: self.deleteUser.bind(self, v.id), title: 'delete', icon: ['far', 'trash-alt']}
					]

					if(v.user_type == USER_TYPE_ADMIN) {
						actionButtons = [
							{btnclass: 'btn-outline-dark', onClickFn: self.editUser.bind(self, v.id), title: 'edit', icon: ['far', 'edit']}
						]
					}

					var user_name = v.f_name
					if(v.l_name && v.l_name != "") {
						user_name += " " + v.l_name
					}

					userObj.push({
						id: {
							value: v.id
						},
						Name: {
							value: user_name
						}, 
						'User type': {
							value: self.userType(v.user_type)
						}, 
						Phone: {
							value: v.phone && v.phone != "" ? v.phone : 'n/a',
							options: {classes: ['text-center']}
						}, 
						Email: {
							value: v.email && v.email != "" ? v.email : 'n/a'
						}, 
						'Created date': {
							value: self.formatDate(v.create_date)
						}, 
						'Is active': {
							value: v.is_active == 1 ? '<span class="badge badge-pill badge-lg badge-success">Active</span>' : '<span class="badge badge-pill badge-lg badge-danger">Inactive</span>',
							options: {classes: ['text-center']}
						}, 
						'Last login': {
							value: v.last_login ? self.$moment(v.last_login).format("YYYY-MM-DD hh:mm a") : 'never'
						},
						'acBtns': actionButtons
					})
				})
				//console.log(userObj)
				return userObj
			},
			userTypes() {
				var userTypesObj = store.get('app-config').userTypes

				var userTypesOpts = {}
				Object.keys(userTypesObj).forEach(function(k){
					if(k!=9){
						userTypesOpts[k] = userTypesObj[k]
					}
				})

				return userTypesOpts
			},
			userType(utype){
				var userTypesObj = this.userTypes()

				return userTypesObj[utype]
			},
			formatDate(dateString) {
				var date = new Date(dateString);
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
				hours = hours % 12;
				hours = hours ? hours : 12; // the hour '0' should be '12'
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ' ' + ampm;
				var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
				var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
				return date.getFullYear() + "-" + monthVal + "-" + dayVal;
			},
			editUser: function(uid) {
		    	//console.log('edit user clicked', uid)
		    	this.$router.push({name: 'edit-user', params: {id: uid}})
		    },
		    deleteUser: function(uid) {
		    	var self = this
		    	remote.dialog.showMessageBox({
		    		buttons: ['Yes', 'No'],
		    		type: 'question',
		    		title: 'Manage users',
		    		message: 'Delete user',
		    		detail: 'Do you want to delete this user?'
		    	}, function(btnIndex){
		    		if(btnIndex == 0) {
		    			var deleteQuery = 'DELETE FROM bloomy_user WHERE id=?'
		    			var queryParams = [uid]

		    			var queryArgs = JSON.stringify({query: deleteQuery, params: queryParams})
						self.$electron.ipcRenderer.sendSync('db-query', queryArgs)

						self.users.forEach(function(userItem, index){
							if(userItem.id.value == uid) {
								self.users.splice(index, 1)
							}
						})

						self.flash('User deleted successfully', 'success')
		    		} else {
		    			return
		    		}
		    	})
		    },
		    gridSearch: function(searchParams) {
		    	//console.log('grid search', searchParams)
		    	var searchStr = ""
		    	var self = this
		    	this.columnData.forEach(function(colKey){
		    		if(Object.keys(searchParams).indexOf(colKey.value) > -1 && searchParams[colKey.value]) {
		    			if(colKey.value == 'Name') {
		    				searchStr += " AND (f_name LIKE '" + searchParams[colKey.value] + "%' OR l_name LIKE '" + searchParams[colKey.value] + "%')"
		    			}
		    			if(colKey.value == 'User type') {
		    				searchStr += " AND user_type = " + searchParams[colKey.value]
		    			}
		    			if(colKey.value == 'Phone') {
		    				searchStr += " AND phone LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			if(colKey.value == 'Email') {
		    				searchStr += " AND email LIKE '" + searchParams[colKey.value] + "%'"
		    			}
		    			//console.log(typeof searchParams[colKey.value])
		    			if(colKey.value == 'Created date' && typeof searchParams[colKey.value] == 'object') {
		    				var fromDate = self.formatDate(searchParams[colKey.value][0])
		    				var toDate = self.formatDate(searchParams[colKey.value][1])
		    				
		    				searchStr += " AND (create_date BETWEEN '" + fromDate + " 00:00:00' AND '" + toDate + " 00:00:00')"
		    			}
		    			if(colKey.value == 'Is active') {
		    				searchStr += " AND is_active = " + searchParams[colKey.value]
		    			}
		    			if(colKey.value == 'Last login') {
		    				var fromDate = self.formatDate(searchParams[colKey.value][0])
		    				var toDate = self.formatDate(searchParams[colKey.value][1])
		    				
		    				searchStr += " AND (last_login BETWEEN '" + fromDate + " 00:00:00' AND '" + toDate + " 00:00:00')"
		    			}
		    		}
		    	})

		    	this.users = this.getUsers(searchStr)
		    },
		    addUser: function() {
		    	this.$router.push({name: 'add-user'})
		    }
		},
	    beforeMount() {
	    	if(!store.get('isLogedIn') || store.get('user').type != USER_TYPE_ADMIN) {
	    		this.flash('Access denied!', 'error')
	    		this.$router.push({name: 'landing-page'})
	    	}
	    }
	};
</script>