<template>
	<div id="voo-loader" v-show="isLoading">
		<div class="loader">
			<span>
				<div class="lds-dual-ring"></div>
			</span>
			<span>
				<div class="loading-text">Processing</div>
			</span>
		</div>
	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'voo-loading',
		components: {
			FontAwesomeIcon
		},
		props: {
			isLoading: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				
			}
		}
	};
</script>

<style lang="scss">
	#voo-loader {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,0.1);
	    z-index: 10011;

	    .loader {
	    	position: absolute;
	    	bottom: 10rem;
		    width: 300px;
		    height: auto;
		    padding: 20px;
		    text-align: center;
		    left: 50%;
		    margin-left: -150px;
		    background: #fff;
		    box-shadow: 0 0 50px -5px #555;
		    border-radius: 10px;

		    .loading-text {
				font-size: 18px;
			}

			.lds-dual-ring {
			  display: inline-block;
			  width: 42px;
	    		height: 42px;
			}
			.lds-dual-ring:after {
			  content: " ";
			  display: block;
			  width: 40px;
			  height: 40px;
			  margin: 1px;
			  border-radius: 50%;
			  border: 5px solid #007bff;
			  border-color: #007bff transparent #007bff transparent;
			  animation: lds-dual-ring 0.7s linear infinite;
			}
	    }

	    .close-btn {
			position: absolute;
			right: 5px;
			top: 5px;
		}
		
		@keyframes lds-dual-ring {
		  0% {
		    transform: rotate(0deg);
		  }
		  100% {
		    transform: rotate(360deg);
		  }
		}
	}
</style>