<template>
	<div class="invoie-preview-panel" :style="'color:' + textColor">
		<div class="invoice-header" :style="'background:' + bgColor +'; border-top: 2px solid; border-color:' + borderColor">
			<div class="row">
				<div class="col-6">
					<h4 class="invoice-main-title">Medical Laboratory Invoice</h4>
				</div>
				<div class="col-6 text-right">
					<div style="width: 150pt; display: inline-block; vertical-align: middle;" class="placeholder-box"></div>&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="placeholder-box text-center" style="width: 75pt; display: inline-block;">Original</div>&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<div class="invoice-sub-info">
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div class="col-auto" style="padding-right: 1.5pt;" v-if="labLogo"><img :src="labLogo" width="50"></div>
							<div class="col">
								<div class="header-lab-name">{{ labName }}</div>
				        		<div v-show="labAddress" class="header-sub-info-l1">{{ labAddress }}</div>
							</div>
						</div>
		        		<div class="row">
		        			<div class="col-md-auto">
		        				<div v-show="labPhone" class="header-sub-info"><strong>Tel:</strong>&nbsp;&nbsp;{{ labPhone }}</div>		        				
		        			</div>
		        			<div class="col">
		        				<div v-show="labEmail" class="header-sub-info"><strong>Email:</strong>&nbsp;&nbsp;{{ labEmail }}</div>
		        			</div>
		        			<div class="col">		        				
								<div v-show="labWeb" class="header-sub-info"><strong>Web:</strong>&nbsp;&nbsp;{{ labWeb }}</div>
		        			</div>
		        		</div>
		        		<div class="row">
		        			<div class="col">
		        				<span v-show="busRegNo" class="header-sub-info"><strong>Reg.No:</strong>&nbsp;&nbsp;{{ busRegNo }}</span>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-6 text-right">
		        		<div class="header-placeholders">
		        			<div class="item"><div class="item-title"><strong>Invoice to:</strong></div><div class="placeholder-box"></div></div>
		        			<div class="item"><div class="item-title"><strong>Invoice No:</strong></div><div class="placeholder-box"></div></div>
		        			<div class="item"><div class="item-title"><strong>Invoice time:</strong></div><div class="placeholder-box"></div></div>
		        			<div class="header-sub-info">[Currency unit: Sri Lankan Rupees (LKR)]</div>
		        		</div>
		        	</div> 
				</div>
	        </div>
		</div>

        <table width="100%">
            <thead :style="'background:' + textColor">
                <tr>
                	<th width="15pt" class="text-center">#</th>
                    <th width="80%">Item name</th>
                    <th class="text-right">Price</th>
                </tr>
            </thead>
            
        </table>
		<div class="print-footer" :style="'border-color:' + borderColor">
    		Medical Laboratory Software Solution by BlossomLabs.lk
        </div>
        <div v-if="showButton" class="control-button-panel">
        	<div class="control-item">
        		<div class="form-group">
        			<div class="row">
        				<div class="col-6">
        					<label>Theme color</label><input type="text" v-model="themeColorHex" class="form-control form-control-sm">
        				</div>
        				<div class="col-6">
        					<label>Background color?</label>
        					<div>
		  						<toggle-button
									v-model="applyBackgroundColor"
									:width="50"
									:color="{checked: '#28a745', unchecked: '#dc3545'}"
									:value="true"
									:sync="true"
									:labels="{checked: 'Yes', unchecked: 'No'}" />
		  					</div>
        				</div>
        			</div>
        		</div>
        		
        		<compact-picker :value="themeColor" v-model="themeColor" @input="applyColor"></compact-picker>
        	</div>  
        	<div class="control-item text-right">      	
	        	<!--b-button variant="info" size="sm" @click.prevent="savePrintLayout">Save as PNG</b-button-->
	        	<b-button variant="info" size="sm" @click.prevent="saveAsJPG">Save as JPG</b-button>
	        </div>
        </div>
    </div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import { Compact } from 'vue-color'
	import domtoimage from 'dom-to-image'

	const pngToJpeg = require('png-to-jpeg')
	const dataUriToBuffer = require('data-uri-to-buffer')

	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

  	let labInfo = elecStore.get('system_settings') ? elecStore.get('system_settings').lab_info : {}

	export default {
		name: 'print-layout-invoice',
		components: {
			FontAwesomeIcon,
			'compact-picker': Compact,
			domtoimage
		},
		data() {
			return {
				labName: labInfo.labName,
				labAddress: labInfo.labAddress,
				labPhone: labInfo.labPhones,
				labEmail: labInfo.labEmail,
				labWeb: labInfo.labWeb,
				labLogo: labInfo.labLogo,
				busRegNo: labInfo.busRegNo,

				themeColor: elecStore.get('system_settings').print_settings.themColorInvoice ? elecStore.get('system_settings').print_settings.themColorInvoice : { r: 0, g: 0, b: 0, a: 1 },
				themeColorHex: '#000',
				lightness: 0,
				applyBackgroundColor: true,

				showButton: true
			}
		},
		computed: {
			textColor() {
				if(this.lightness >= 0.6) {
					return '#404040'
				} else {
					return 'rgba(' + this.themeColor.r + ', ' + this.themeColor.g + ', ' + this.themeColor.b + ', 1)'
				}
				
			},
			bgColor() {
				if(this.applyBackgroundColor) {
					return 'rgba(' + this.themeColor.r + ', ' + this.themeColor.g + ', ' + this.themeColor.b + ', 0.1)'
				} else {
					return 'transparent'
				}
			},
			borderColor() {
				return this.textColor
			}
		},
		methods: {
			savePrintLayout() {
				var _this = this
				this.showButton = false
				var fileName = this.$route.params.layout_type + '_' + this.$route.params.page_size + '.png'
				setTimeout(function(){
					domtoimage.toPng(document.getElementById('app'))
				    .then(function (dataUrl) {
				        var link = document.createElement('a');
				        link.download = fileName;
				        link.href = dataUrl;
				        link.click();

				        _this.showButton = true
				    })
				    .catch(function (error) {
				        console.error('oops, something went wrong!', error);
				    });
				}, 300)
			},
			saveAsJPG(){
				var _this = this
				this.showButton = false
				var fileName = this.$route.params.layout_type + '_' + this.$route.params.page_size + '.jpg'
				setTimeout(function(){
					var node = document.getElementById('app')

					domtoimage.toPng(node)
				    .then(function (dataUrl) {
				    	var imgBuffer = dataUriToBuffer(dataUrl)
				        pngToJpeg({quality: 95})(imgBuffer).then(output => {
							//console.log('data:image/jpeg;base64,'+output.toString('base64'))
							var link = document.createElement('a')
					        link.download = fileName;
					        link.href = 'data:image/jpeg;base64,'+output.toString('base64')
					        link.click()

					        elecStore.set('system_settings.print_settings.compFormSizeInvoice', _this.$route.params.page_size)
					        _this.showButton = true
						})

				    })
				    .catch(function (error) {
				        console.error('oops, something went wrong!', error);
				    });
				}, 300)
			},
			applyColor(color) {
				//console.log('L', color.hsl.l)
				//console.log('H', color.hsl.h)
				this.lightness = color.hsl.l
				this.themeColorHex = color.hex
				this.themeColor = color.rgba

				elecStore.set('system_settings.print_settings.themColorInvoice', color.rgba)
			}
		}
	};
</script>

<style lang="scss">
	body {
		background: #fff;
	}

	#app {
		height: 100%;
		background: #fff;

		.invoie-preview-panel {
			min-height: 100%;
			padding: 7.5pt;

			strong {
	        	font-weight: 600;
	        }

	        .print-footer {
				position: absolute;
				bottom: 0;
				width: 98%;
				padding: 3.75pt 0;
				border-top: 0.75pt solid #ddd;
				font-size: 9pt;
			}

			.invoice-header {
				margin-bottom: 3.5pt;
	    		padding: 10px;

				.invoice-main-title {
					font-size: 17pt;
					margin-bottom: 7.5pt;
					font-weight: 600;
					height: 20.25pt;
				}

				.header-lab-name {
					font-size: 13.5pt;
					font-weight: 500;
				}

				.header-sub-info-l1 {
					font-size: 10.5pt;
				}

				.header-sub-info {
					font-size: 9.5pt;
					margin-top: 1.5pt;
				}
			}

			.placeholder-box {
				background: #fff;
				border: 0.75pt solid #ddd;
				border-radius: 2.25pt;
				height: 18.75pt;
				width: auto;
				padding: 0 3.75pt;
			}

			span.placeholder-box {
				    padding: 2.75pt 7.5pt;
				    display: inline-block;
				    height: auto;
			}

			.invoice-sub-info {
				font-size: 9.75pt;
				font-weight: 400;
				margin: 1.5pt 0;

				.header-placeholders {
					.item {
						margin-bottom: 1.5pt;

						div {
							height: 18.75pt;
						}
						.item-title {
							display: inline-block;
							margin-right: 13.75pt;

							strong {
								vertical-align: -webkit-baseline-middle;
							}
						}

						.placeholder-box {
							display: inline-block;
							float: right;
							width: 175pt;
						}
					}
				}
			}

			table {
				thead {
					background: #656565;
	    			color: #fff;

					th {
						border: 0.75pt solid #fff;
						font-weight: 600;
						padding: 2.25pt 7.5pt;
					}
				}
			}
		}

		.control-button-panel {
			position: fixed;
			bottom: 5px;
			right: 10px;
			padding: 10px;
		    box-shadow: 0 0 25px -7px #000;
		    background: #f7f5f5;
		    border: 2px dashed #c3c3c3;
		    border-radius: 5px;

			.control-item {
				margin-right: 20px;
				margin-bottom: 10px;
			}
		}
	}

	

	@media print {
		$lightBorderColor: #999999;

		.invoie-preview-panel {
			padding: 15pt;
			font-size: 12pt;
			overflow: hidden;

			strong {
	        	font-weight: 600;
	        }

			.invoice-header {
				padding-bottom: 15pt;

				.invoice-main-title {
					font-size: 19.5pt;
					margin-bottom: 0;
				}

				.header-lab-name {
					font-size: 15pt;
					font-weight: 500;
				}

				.header-sub-info-l1 {
					font-size: 10.5pt;
				}

				.header-sub-info {
					font-size: 9.5pt;
					margin-top: 1.5pt;
				}
			}

			.invoice-sub-info {
				font-size: 12pt;
				font-weight: 400;
				margin: 1.5pt 0;
			}

			table {
				thead {
					border: 0.75pt solid $lightBorderColor;

					th {
						border-right: 0.75pt solid $lightBorderColor;
						font-weight: 600;
						padding: 2.25pt 7.5pt;
					}
				}

				tbody {
					border: 0.75pt solid $lightBorderColor;

					tr.invoice-row {
						td {
				            padding: 2.25pt 7.5pt;
						    font-size: 12pt;
						    border-right: 0.75pt solid $lightBorderColor;
				        }
					}

					tr.invoice-notes-area {
						height: 150pt;
					}
				}

				tfoot {
					.invoice-footer {
				        th {
				            padding: 2.25pt 7.5pt;
				            font-size: 13.5pt;
				        }

				        td {
				            padding: 0 7.5pt;
				            font-size: 12pt;
				        }
				    }

				    .invoice-footer:nth-child(1) {
				    	td {
				    		padding: 2.25pt 7.5pt;
				    	}
				    }
				}
			}
		}
	}
</style>