<template>
	<div class="medi-report-layout" :style="'color:' + textColor">
		<div class="report-header" :style="'background:' + bgColor +'; border-color:' + borderColor + '; border-bottom-color:' + borderBottomColor">
			<h5 class="main-title">Confidential Medical Laboratory Report</h5>
			<print-head :showBorder="false" />
		</div>

		<div class="print-footer" :style="'border-color:' + borderBottomColor">
    		Medical Laboratory Software Solution by BlossomLabs.lk
        </div>
        <div v-if="showButton" class="control-button-panel">
        	<div class="control-item">
        		<div class="form-group">
        			<div class="row">
        				<div class="col-6">
        					<label>Theme color</label><input type="text" v-model="themeColorHex" class="form-control form-control-sm">
        				</div>
        				<div class="col-6">
        					<label>Background color?</label>
        					<div>
		  						<toggle-button
									v-model="applyBackgroundColor"
									:width="50"
									:color="{checked: '#28a745', unchecked: '#dc3545'}"
									:value="true"
									:sync="true"
									:labels="{checked: 'Yes', unchecked: 'No'}" />
		  					</div>
        				</div>
        			</div>
        		</div>
        		
        		<compact-picker :value="themeColor" v-model="themeColor" @input="applyColor"></compact-picker>
        	</div>  
        	<div class="control-item text-right">      	
	        	<!--b-button variant="info" size="sm" @click.prevent="savePrintLayout">Save as PNG</b-button-->
	        	<b-button variant="info" size="sm" @click.prevent="saveAsJPG">Save as JPG</b-button>
	        </div>
        </div>
	</div>
</template>

<script>
	import PrintHead from '../Header'
	import { Compact } from 'vue-color'
	import domtoimage from 'dom-to-image'

	const pngToJpeg = require('png-to-jpeg')
	const dataUriToBuffer = require('data-uri-to-buffer')

	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

  	//let labInfo = elecStore.get('system_settings') ? elecStore.get('system_settings').lab_info : {}

	export default {
		name: 'print-layout-report',
		components: {
			'print-head': PrintHead,
			'compact-picker': Compact,
			domtoimage
		},
		data() {
			return {
				themeColor: elecStore.get('system_settings').print_settings.themColorInvoice ? elecStore.get('system_settings').print_settings.themColorInvoice : { r: 0, g: 0, b: 0, a: 1 },
				themeColorHex: '#000',
				lightness: 0,
				applyBackgroundColor: true,

				showButton: true
			}
		},
		computed: {
			textColor() {
				if(this.lightness >= 0.6) {
					return 'rgba(64,64,64,1)'
				} else {
					return 'rgba(' + this.themeColor.r + ', ' + this.themeColor.g + ', ' + this.themeColor.b + ', 1)'
				}
				
			},
			bgColor() {
				if(this.applyBackgroundColor) {
					return 'rgba(' + this.themeColor.r + ', ' + this.themeColor.g + ', ' + this.themeColor.b + ', 0.1)'
				} else {
					return 'transparent'
				}				
			},
			borderColor() {
				return this.textColor
			},
			borderBottomColor() {
				if(this.lightness >= 0.6) {
					return 'rgba(64,64,64,0.5)'
				} else {
					return 'rgba(' + this.themeColor.r + ', ' + this.themeColor.g + ', ' + this.themeColor.b + ', 0.5)'
				}
			}
		},
		methods: {
			savePrintLayout() {
				var _this = this
				this.showButton = false
				var fileName = this.$route.params.layout_type + '_' + this.$route.params.page_size + '.png'
				setTimeout(function(){
					domtoimage.toPng(document.getElementById('app'))
				    .then(function (dataUrl) {
				        var link = document.createElement('a');
				        link.download = fileName;
				        link.href = dataUrl;
				        link.click();

				        _this.showButton = true
				    })
				    .catch(function (error) {
				    	_this.flash('Process failed!', 'error')
				        console.error('oops, something went wrong!', error);
				    });
				}, 300)
			},
			saveAsJPG(){
				var _this = this
				this.showButton = false
				var fileName = this.$route.params.layout_type + '_' + this.$route.params.page_size + '.jpg'
				setTimeout(function(){
					var node = document.getElementById('app')

					domtoimage.toPng(node)
				    .then(function (dataUrl) {
				    	var imgBuffer = dataUriToBuffer(dataUrl)
				        pngToJpeg({quality: 95})(imgBuffer).then(output => {
							//console.log('data:image/jpeg;base64,'+output.toString('base64'))
							var link = document.createElement('a')
					        link.download = fileName;
					        link.href = 'data:image/jpeg;base64,'+output.toString('base64')
					        link.click()

					        elecStore.set('system_settings.print_settings.compFormSizeMediReport', _this.$route.params.page_size)
					        _this.showButton = true
						})

				    })
				    .catch(function (error) {
				    	_this.flash('Process failed!', 'error')
				        console.error('oops, something went wrong!', error);
				    });
				}, 300)
			},
			applyColor(color) {
				//console.log('L', color.hsl.l)
				//console.log('H', color.hsl.h)
				this.lightness = color.hsl.l
				this.themeColorHex = color.hex
				this.themeColor = color.rgba

				elecStore.set('system_settings.print_settings.themeColorMediReport', color.rgba)
			}
		}
	};
</script>

<style lang="scss">
	body {
		background: #fff;
	}

	#app {
		height: 100%;
		background: #fff;

		.medi-report-layout {
			background: #fff;
			padding: 3.75pt;

			.report-header {
				padding: 7.5pt;
				padding-bottom: 3.75pt;
				border-bottom:  3pt solid;

				.main-title {
					font-size: 16.5pt;
					font-weight: 600;
				}
			}

			.print-footer {
				position: absolute;
				bottom: 0;
				width: 98%;
				padding: 3.75pt 0;
				border-top: 0.75pt solid #ddd;
				font-size: 9pt;
			}
		}

		.control-button-panel {
			position: fixed;
			bottom: 5px;
			right: 10px;
			padding: 10px;
		    box-shadow: 0 0 25px -7px #000;
		    background: #f7f5f5;
		    border: 2px dashed #c3c3c3;
		    border-radius: 5px;

			.control-item {
				margin-right: 20px;
				margin-bottom: 10px;
			}
		}
	}
</style>