<template>
	<div class="test-result-tab-data">
		<table width="100%" class="tab-view-table">
			<thead>
				<tr v-if="reportLayout==='col'">
					<th width="40%">Description</th>
					<th width="20%">Result</th>
					<th width="15%" class="text-center">Unit</th>
					<th width="15%">Reference Range</th>
					<th width="10%" class="text-center">Remarks</th>
				</tr>
				<tr v-else>
					<th width="40%">Description</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(ptest, ind) in profileTests" :class="['trow', {'odd': ind%2==0}]" :key="'prof_test_res'+ind">
					<td>
						{{ ptest.test_name }}
						<span v-show="ptest.calc_formula && ptest.calc_formula != ''" class="badge badge-warning">calc</span>
					</td>
					<td>
						<div v-if="ptest.calc_formula && ptest.calc_formula != ''" class="form-control form-control-sm calc-input-div">{{ dataCollectionObj[parentIndex][ptest.test_id]['result'] }}&nbsp;</div>

						<v-select v-else-if="!ptest.isRefAvailable && ptest.non_ref_remarks && ptest.non_ref_remarks!=''" taggable push-tags :name="'result_'+parentIndex+'_'+ptest.test_id" class="non-ref-remorks-select" :options="ptest.non_ref_remarks" v-model="dataCollectionObj[parentIndex][ptest.test_id]['refRangeSelected']" :value.sync="dataCollectionObj[parentIndex][ptest.test_id]['refRangeSelected']" :onChange="setRemarkFromSelect(parentIndex, ptest.test_id)" v-validate="'required'" data-vv-as="result">
                  		</v-select>
                  		
                  		<input v-else-if="!ptest.isRefAvailable && (!ptest.non_ref_remarks || ptest.non_ref_remarks=='')" type="text" name="'result_'+parentIndex+'_'+ptest.test_id" v-model="dataCollectionObj[parentIndex][ptest.test_id]['result']" class="form-control form-control-sm" @blur.prevent="setRemarkAndCalc(parentIndex, ptest.test_id)" v-validate="'required'" data-vv-as="result">

						<input :name="'result_'+parentIndex+'_'+ptest.test_id" v-else type="number" v-model="dataCollectionObj[parentIndex][ptest.test_id]['result']" :class="['form-control form-control-sm']" @blur.prevent="setRemarkAndCalc(parentIndex, ptest.test_id)" v-validate="{required: true, resultValidation: ptest.test_id}" data-vv-as="result">
						<div v-show="errors.first('result_'+parentIndex+'_'+ptest.test_id)" class="help-text text-danger">{{ errors.first('result_'+parentIndex+'_'+ptest.test_id) }}</div>
					</td>
					<td class="text-center"><span v-html="ptest.unit"></span></td>
					<td v-show="reportLayout==='col'">
						<span v-if="ptest.isRefAvailable && Object.keys(ptest.refRanges).length == 0" class="badge badge-danger badge-lg blink">No Ref. Range!</span>
						<div v-else-if="!ptest.isRefAvailable">n/a</div>
						<div v-else>
							{{ ptest.refRanges.refRange }}
							<input type="hidden" v-model="dataCollectionObj[parentIndex][ptest.test_id]['refRangeValue']">
						</div>
					</td>
					<td :class="['text-center', {'text-danger text-bold': (dataCollectionObj[parentIndex][ptest.test_id]['calculatedRemark'] == 'HIGH' || dataCollectionObj[parentIndex][ptest.test_id]['calculatedRemark'] == 'LOW'), 'text-success': dataCollectionObj[parentIndex][ptest.test_id]['calculatedRemark'] == 'NORMAL'}]" v-show="reportLayout==='col'">
						{{ dataCollectionObj[parentIndex][ptest.test_id]['calculatedRemark'] }}
					</td>
				</tr>
			</tbody>
		</table>

		<div class="antibitics-list" v-show="isAB">
			<div class="row">
				<div class="col-6">
					<table width="100%" class="tab-view-table">
						<thead>
							<tr>
								<th>First Line Antibiotics</th>
								<th>Sensitivity</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(fl, index) in antibiotics.firstLine" :class="['trow', {'odd': index%2==0}]" :key="'flab-'+fl.value">
								<td width="60%">{{ fl.label }}</td>
								<td>
									<select class="form-control form-control-sm" v-model="dataCollectionObj[parentIndex]['ab'][fl.value]">
										<option value=""></option>
										<option :value="s.value" v-for="(s, senind) in sensitivityValues" v-bind:key="'senVal'+senind">{{ s.label }}</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-6">
					<table width="100%" class="tab-view-table">
						<thead>
							<tr>
								<th>Second Line Antibiotics</th>
								<th>Sensitivity</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(sl, index) in antibiotics.secondLine" :key="'flab-'+sl.value" :class="['trow', {'odd': index%2==0}]">
								<td width="60%">{{ sl.label }}</td>
								<td>
									<select class="form-control form-control-sm" v-model="dataCollectionObj[parentIndex]['ab'][sl.value]">
										<option value=""></option>
										<option :value="s.value" v-for="(s, senind) in sensitivityValues" v-bind:key="'senval'+senind">{{ s.label }}</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		

		<div class="add-comments">
			<label>Additional comments</label>
			<div class="WYSIWYG-editor-container">
	  			<froala :tag="'textarea'" :config="editorConfig" v-model="dataCollectionObj[parentIndex]['comments']"></froala>
	  		</div>
		</div>
		
		<div class="from-group button-panel">
			<div v-show="groupId" style="display:inline;" class="help-text help-text-lg">This is a Profile Group. <b>SAVE</b> all profile results before start printing. <font-awesome-icon :icon="['far', 'hand-point-right']" /></div>
  			<button class="btn btn-sm btn-primary" @click.prevent="saveTestResult(invoiceTestId)"><font-awesome-icon :icon="['far', 'save']" />&nbsp;Save</button>
  			<button class="btn btn-sm btn-success" @click.prevent="saveTestResult(invoiceTestId, groupId, true, 'direct_print')"><font-awesome-icon :icon="['fas', 'print']"></font-awesome-icon> Save &amp; Print</button>
  			<button class="btn btn-sm btn-dark" @click.prevent="saveTestResult(invoiceTestId, groupId, true, 'pdf')"><font-awesome-icon :icon="['far', 'file-pdf']"></font-awesome-icon> Save as PDF</button>
  			<button class="btn btn-sm btn-danger" @click.prevent="closeEnterResultView"><font-awesome-icon :icon="['fas', 'times']" /> Close</button>
  		</div>

  		<vu-modal name="test-report-print-prev"
            width="70%"
            height="auto"
            :scrollable="true">

            <test-report-print
            	:customerData="customerData"
            	:testIds="testIds"
            	:testResults="testResults"
            	:profleData="profileData"
            />

        </vu-modal>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import { Validator } from 'vee-validate'
	import TestReport from '../Print/TestReport'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import vSelect from 'vue-select'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

  	const INVOICE_STATUS_PENDING = store.get('app-config').INVOICE_STATUS_PENDING
  	const INVOICE_STATUS_TEST_DONE = store.get('app-config').INVOICE_STATUS_TEST_DONE
  	const INVOICE_STATUS_PRINTED = store.get('app-config').INVOICE_STATUS_PRINTED

	export default {
		name: 'inner-tests',
		components: {
			'test-report-print': TestReport,
			FontAwesomeIcon,
			'v-select': vSelect
		},
		props: {
			profileTests: Array,
			profileName: String,
			profileDesc: String,
			comments: String,
			isAB: {
				type: Boolean,
				default: false
			},
			antibioticResults: Array,
			reportLayout: {
				type: String,
				default: 'col'
			},
			fluidType: Number,
			parentIndex: Number,
			invoiceTestId: Number,
			invoiceId: Number,
			profileId: Number,
			tpStatus: {
				type: Number,
				default: INVOICE_STATUS_PENDING
			},
			groupId: {
				type: Number,
				default: null
			},
			customerData: Object,
		},
		data() {
			return {
				dataCollectionObj: {},
				calculationsHolder: {},
				calculationTestIdsHolder: {},

				testIds: [],
				testResults: {},
				profileData: {},
				antibiotics: null,

				editorConfig: {
				  placeholderText: 'Enter additional comments here',
				  charCounterCount: false,
				  toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'specialCharacters', 'clearFormatting', '|', 'undo', 'redo'],
				  tabSpaces: 4,
				  theme: "light",
				  height: 100
				},

				sensitivityValues: [
					{
						value: 0,
						label: 'Resistant'
					},
					{
						value: 1,
						label: 'Moderately Sensitive'
					},
					{
						value: 2,
						label: 'Sensitive'
					}
				],
				abStatusColors: {'0': 'text-danger', '1': 'text-warning', '2': 'text-success'}
			}
		},
		created() {
	      var _this = this
	      this.$validator.extend('resultValidation', {
	        getMessage: (field, params, data) => {
	        	//console.log('msg args', data)
	        	return data.message
	        },
	        validate: (value, args) => {
	          var minMaxRule = _this.dataCollectionObj[_this.parentIndex][args[0]] && _this.dataCollectionObj[_this.parentIndex][args[0]]['minMax'] ? JSON.parse(_this.dataCollectionObj[_this.parentIndex][args[0]]['minMax'].toString()) : null
	          //console.log('value', typeof value, minMaxRule)
	          if(minMaxRule && minMaxRule.min && parseFloat(value) < parseFloat(minMaxRule.min)) {
	          	//console.log('min', parseFloat(minMaxRule.min))
	          	return {valid: false, data: {message: 'Minimum value is ' + minMaxRule.min}}
	          } else if(minMaxRule && minMaxRule.max && parseFloat(value) > parseFloat(minMaxRule.max)) {
	          	//console.log('max', parseFloat(minMaxRule.max))
	          	return {valid: false, data: {message: 'Maximum value is ' + minMaxRule.max}}
	          } else {
	          	return true
	          }
	        }
	      })
	    },
		methods: {
			initTestList: function() {
				var self = this

				// get existing result
				var existingResultQuery = "SELECT * FROM `bloomy_invoice_test_result` WHERE `invoice_test_id`=?"
				var existingResultQueryArgs = JSON.stringify({query: existingResultQuery, params:[this.invoiceTestId]})
				var existingResultRes = this.$electron.ipcRenderer.sendSync('db-query', existingResultQueryArgs)


				var dataObj = {}
				dataObj[self.parentIndex] = {}
				//console.log(this.profileTests)
				this.profileTests.forEach(function(v, k){
					//console.log(self.parentIndex, k)

					var testResult = null
					var refRangeSel = null
					var calcRemarks = null
					var remarkKey = null
					existingResultRes.forEach(function(tr){
						if(tr.test_id == v.test_id) {
							testResult = tr.result							

							if((!tr.ref_range || tr.ref_range == '-') && v.non_ref_remarks && v.non_ref_remarks.length > 0 ) {
								refRangeSel = tr.result
							}

							calcRemarks = tr.remark
							remarkKey = tr.remark_key
						}
					})

					dataObj[self.parentIndex][v.test_id] = {}
					dataObj[self.parentIndex][v.test_id]['testName'] = v.test_name
					dataObj[self.parentIndex][v.test_id]['unit'] = v.unit
					dataObj[self.parentIndex][v.test_id]['result'] = testResult
					dataObj[self.parentIndex][v.test_id]['refRangeSelected'] = refRangeSel
					dataObj[self.parentIndex][v.test_id]['refRangeValue'] = v.refRanges.refRange
					dataObj[self.parentIndex][v.test_id]['remarkValues'] = v.remark_values
					dataObj[self.parentIndex][v.test_id]['calculatedRemark'] = calcRemarks
					dataObj[self.parentIndex][v.test_id]['remarkKey'] = remarkKey
					dataObj[self.parentIndex][v.test_id]['calcFormula'] = v.calc_formula,
					dataObj[self.parentIndex][v.test_id]['minMax'] = v.min_max
				})

				dataObj[self.parentIndex]['comments'] = self.comments

				this.dataCollectionObj = dataObj

				this.antibiotics = this.getAntibiotic()
			},
			setRemarkAndCalc: function(parInd, testId) {
				var self = this

				this.setRemarks(parInd, testId)

				
				// calculations
				/**
				* Calculation Logic
				* -----------------
				* Each test result enter event, collect calculated test result Ids into an array   calculationTestIdsHolder.
				* Iterate on that array and pickup relevent test results from entered test results models.
				* Use eval() function to calculate the actual result for calculated test result.
				*/
				this.profileTests.forEach(function(v, k){
					if(v.calc_formula && v.calc_formula != "") {
						var calcHolderInd = parInd + "_" + v.test_id

						if(!self.calculationTestIdsHolder[calcHolderInd]) {
							self.calculationTestIdsHolder[calcHolderInd] = []
						}

						self.profileTests.forEach(function(vv, kk){
							if(self.dataCollectionObj[parInd][v.test_id]['calcFormula'].indexOf('#' + vv.test_id + '#') >= 0) {
								if(self.calculationTestIdsHolder[calcHolderInd].indexOf(vv.test_id) < 0) {
									self.calculationTestIdsHolder[calcHolderInd].push(vv.test_id)
								}
							}
						})
					}
				})

				//console.log('calc ids', self.calculationTestIdsHolder)

				this.profileTests.forEach(function(v, k){
					if(v.calc_formula && v.calc_formula != "") {
						var calcHolderInd = parInd + "_" + v.test_id

						if(!self.calculationsHolder[calcHolderInd]) {
							self.calculationsHolder[calcHolderInd] = self.dataCollectionObj[parInd][v.test_id]['calcFormula']
						}

						var self2 = self
						self.calculationTestIdsHolder[calcHolderInd].forEach(function(tcId) {
							if(self2.dataCollectionObj[parInd][tcId]['result'] && self2.calculationsHolder[calcHolderInd]) {
								self2.calculationsHolder[calcHolderInd] = self2.calculationsHolder[calcHolderInd].replace('#' + tcId + '#', parseFloat(self2.dataCollectionObj[parInd][tcId]['result'])).replace('power', 'Math.pow')
							}					
						})

						//console.log('final calc', self2.calculationsHolder[calcHolderInd])

						if(self2.calculationsHolder[calcHolderInd] && self2.calculationsHolder[calcHolderInd].indexOf("#") < 0) {
							try {
								var finalCalcResult = eval(self2.calculationsHolder[calcHolderInd])
								self2.dataCollectionObj[parInd][v.test_id]['result'] =  typeof finalCalcResult == 'number' ? finalCalcResult.toFixed(2) : finalCalcResult
							} catch (e) {
								remote.dialog.showMessageBox({
									buttons: ['OK'],
									type: 'error',
									title: 'Enter Test Results',
									message: 'Result Calculation Error!',
									detail: 'Error occurred on result calculation!\nPlease check the Test Calculation of the Test "' + self.dataCollectionObj[parInd][v.test_id]['testName'] + '" in this Profile again'
								})

								return
							}						

							self2.setRemarks(parInd, v.test_id)

							self2.calculationsHolder[calcHolderInd] = null
						} else {
							self2.dataCollectionObj[parInd][v.test_id]['result'] = null
						}
					}
				})
			},
			setRemarkFromSelect: function(parInd, testId) {
				var selectedValue = this.dataCollectionObj[parInd][testId]['refRangeSelected']

				if(selectedValue && typeof selectedValue == 'object') {
					this.dataCollectionObj[parInd][testId]['result'] = selectedValue.label
				}

				this.dataCollectionObj[parInd][testId]['calculatedRemark'] = null
				//console.log('sel remark', selectedValue)		
			},
			setRemarks: function(parInd, testId) {
				var _this = this

				var referenceRange = this.dataCollectionObj[parInd][testId].refRangeValue
				var resultValue = parseFloat(this.dataCollectionObj[parInd][testId].result)
				var remarkValuesObj = JSON.parse(this.dataCollectionObj[parInd][testId].remarkValues)

				//console.log('ref ragnge', referenceRange, referenceRange.replace(/[^\d.-<>=]/g, ''))
				if(referenceRange) {
					if(resultValue !== 0 && (!resultValue || resultValue=="")) {
						this.dataCollectionObj[parInd][testId]['calculatedRemark'] = null
					} else {
						// check the range for a range
						var refRangeArray = referenceRange.split("-")
						//console.log(refRangeArray, resultValue)
						if(refRangeArray.length === 2 && refRangeArray[0].trim() !== "") {
							//console.log('c 1')
							// it's a range with two positive numbers
							if(resultValue >= parseFloat(refRangeArray[0].replace(/[^\d.-]/g, '')) && resultValue	 <= parseFloat(refRangeArray[1].replace(/[^\d.-]/g, ''))) {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.in_range
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'in_range'
							} else if(resultValue < parseFloat(refRangeArray[0].replace(/[^\d.-]/g, ''))) {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.low
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'low'
							} else {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.high
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'high'
							}
						} else if(refRangeArray.length === 3 && refRangeArray[0].trim() === "") {
							//console.log('c 2')
							// it's between negetive value and positive value
							if(resultValue >= parseFloat('-' + refRangeArray[1].replace(/[^\d.-]/g, '')) && resultValue	 <= parseFloat(refRangeArray[2].replace(/[^\d.-]/g, ''))) {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.in_range
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'in_range'
							} else if(resultValue < parseFloat('-' + refRangeArray[1].replace(/[^\d.-]/g, ''))) {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.low
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'low'
							} else {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.high
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'high'
							}
						} else if(refRangeArray.length === 4 && refRangeArray[0].trim() === "" && refRangeArray[2].trim() === "") {
							//console.log('c 3')
							// it's between two negetive values
							//console.log(refRangeArray)
							if(resultValue >= parseFloat('-' + refRangeArray[1].replace(/[^\d.-]/g, '')) && resultValue	 <= parseFloat('-' + refRangeArray[3].replace(/[^\d.-]/g, ''))) {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.in_range
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'in_range'
							} else if(resultValue < parseFloat('-' + refRangeArray[1].replace(/[^\d.-]/g, ''))) {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.low
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'low'
							} else {
								this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.high
								this.dataCollectionObj[parInd][testId]['remarkKey'] = 'high'
							}
						} else if(eval(resultValue + referenceRange.replace(/[^\d.-<>=]/g, ''))) {
							// less than/greater than ref ranges							
							//console.log('c 4', resultValue + referenceRange.replace(/[^\d.-<>=]/g, ''))
							this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.low
							this.dataCollectionObj[parInd][testId]['remarkKey'] = 'low'
						} else if(!eval((resultValue + referenceRange.replace(/[^\d.-<>=]/g, '')))) {
							//console.log('c 5')
							this.dataCollectionObj[parInd][testId]['calculatedRemark'] = remarkValuesObj.high
							this.dataCollectionObj[parInd][testId]['remarkKey'] = 'high'
						} else {
							remote.dialog.showMessageBox({
								buttons: ['OK'],
								type: 'warning',
								title: 'Add Test Results',
								message: 'Reference range error',
								detail: 'Please check the reference range for the test "' + _this.dataCollectionObj[parInd][testId]['testName'] + '"'
							})

							return
						}
					}
				}
			},
			saveTestResult: function(invoiceTestId, groupId=null, print=false, printMode='direct_print') {
				var self = this

				this.$validator.validate().then(result => {
					if(!result) {
						return
					} else {
						// get profile id from invoice_test table
						var selectTestIdsQuery = "SELECT `test_id` FROM `bloomy_tests_profiles` WHERE `profile_id`=? ORDER BY `item_order` ASC"
						var selectTestIdsQueryArgs = JSON.stringify({query: selectTestIdsQuery, params: [self.profileId]})
						var testIdsRes = self.$electron.ipcRenderer.sendSync('db-query', selectTestIdsQueryArgs)

						var customerAndInvoiceData = self.customerData

						var profileDataObj = {
							name: self.profileName,
							description: self.profileDesc,
							fluidType: self.fluidType
						}

						self.profileData = profileDataObj

						var testIdsArray = []
						testIdsRes.forEach(function(v){
							testIdsArray.push(v.test_id)
						})
						
						self.testIds = testIdsArray

						var self_ = self
						var testDataObj = {}
						var insertQueryParams = []
						testIdsRes.forEach(function(v) {
							testDataObj[v.test_id] = {
								testName: self_.dataCollectionObj[self.parentIndex][v.test_id].testName,
								result: self_.dataCollectionObj[self.parentIndex][v.test_id].result,
								unit: self_.dataCollectionObj[self.parentIndex][v.test_id].unit,
								refRange: self_.dataCollectionObj[self.parentIndex][v.test_id].refRangeValue,
								remark: self_.dataCollectionObj[self.parentIndex][v.test_id].calculatedRemark
							}

							insertQueryParams.push([
								invoiceTestId,
								v.test_id,
								self_.dataCollectionObj[self.parentIndex][v.test_id].result,
								self_.dataCollectionObj[self.parentIndex][v.test_id].refRangeValue,
								self_.dataCollectionObj[self.parentIndex][v.test_id].calculatedRemark,
								self_.dataCollectionObj[self.parentIndex][v.test_id].remarkKey
							])
						})
						
						self.testResults = testDataObj

						// save test results
						var deleteExistingQuery = "DELETE FROM `bloomy_invoice_test_result` WHERE `invoice_test_id`=?"
						var deleteExistingQueryArgs = JSON.stringify({query: deleteExistingQuery, params: [invoiceTestId]})
						self.$electron.ipcRenderer.sendSync('db-query', deleteExistingQueryArgs)

						var saveTestResultsQuery ="INSERT INTO `bloomy_invoice_test_result` VALUES ?"
						var saveTestResultArgs = JSON.stringify({query:saveTestResultsQuery, params: [insertQueryParams]})

						self.$electron.ipcRenderer.sendSync('db-query', saveTestResultArgs)

						if(this.tpStatus < INVOICE_STATUS_PRINTED) {
							// set status to Test Done in invoice_test table
							var setStatusQuery = "UPDATE `bloomy_invoice_test` SET `add_comments`=?, `status`=?, `report_date`=?, `user_id`=? WHERE `id`=?"
							var setStatusQueryParams = JSON.stringify({query: setStatusQuery, params: [self.dataCollectionObj[self.parentIndex]['comments'], INVOICE_STATUS_TEST_DONE, self.formatDate(new Date(), true, true), store.get('user').id, invoiceTestId]})
							self.$electron.ipcRenderer.sendSync('db-query', setStatusQueryParams)
						} else {
							// set comments
							var setStatusQuery = "UPDATE `bloomy_invoice_test` SET `add_comments`=?, `user_id`=? WHERE `id`=?"
							var setStatusQueryParams = JSON.stringify({query: setStatusQuery, params: [self.dataCollectionObj[self.parentIndex]['comments'], store.get('user').id, invoiceTestId]})
							self.$electron.ipcRenderer.sendSync('db-query', setStatusQueryParams)
						}

						// save ANTIBIOTIC data
						var deleteABdataQuery = "DELETE FROM `bloomy_invoice_test_antibiotic` WHERE `invoice_test_id`=?"
						var deleteABdataQueryArgs = JSON.stringify({query: deleteABdataQuery, params: [invoiceTestId]})
						self.$electron.ipcRenderer.sendSync('db-query', deleteABdataQueryArgs)

						if(self.isAB) {
							var abParams = []
							var antibioticsArray = self.antibiotics.firstLine.concat(self.antibiotics.secondLine
								)
							//console.log('full AB array', antibioticsArray)
							antibioticsArray.forEach(function(ab){
								if(self_.dataCollectionObj[self_.parentIndex]['ab'][ab.value] !== null && parseInt(self_.dataCollectionObj[self_.parentIndex]['ab'][ab.value]) >= 0) {
									abParams.push([
										invoiceTestId,
										ab.value,
										self_.dataCollectionObj[self_.parentIndex]['ab'][ab.value]
									])
								}
								
							})
							//console.log('AB to save', self_.dataCollectionObj[self_.parentIndex]['ab'], abParams)
							if(abParams.length > 0) {
								var insertABdataQuery = "INSERT INTO `bloomy_invoice_test_antibiotic` VALUES ?"
								var insertABdataQueryArgs = JSON.stringify({query: insertABdataQuery, params: [abParams]})

								self.$electron.ipcRenderer.sendSync('db-query', insertABdataQueryArgs)
							}							
						}
						
						//self.$modal.show('test-report-print-prev')

						// check for profile group
						var groupName = null
						var groupedProfIds = []
						if(groupId) {
							var selectedGroupProfileStatusQuery = "SELECT it.`status`, it.`profile_id` as profId, g.`group_name` FROM `bloomy_invoice_test` it LEFT JOIN `bloomy_profile_groups` g ON g.`id`=it.`group_id` WHERE it.`invoice_id`=? AND it.`group_id`=?"
							var groupProfileStatusArgs = JSON.stringify({query: selectedGroupProfileStatusQuery, params: [self.invoiceId, groupId]})
							var groupProfileStatusRes = self.$electron.ipcRenderer.sendSync('db-query', groupProfileStatusArgs)

							var gpStatusCount = 0
							groupProfileStatusRes.forEach(function(gp){
								if(gp.status > INVOICE_STATUS_PENDING) {
									gpStatusCount++
								}

								groupName = gp.group_name

								groupedProfIds.push(gp.profId)
							})

							var remainingNoOfGroupProfiles = (groupProfileStatusRes.length - gpStatusCount)

							if(gpStatusCount < groupProfileStatusRes.length) {
								self.flash(`<b>un-saved results ditected in this Profile Group.</b><br/>There are ${remainingNoOfGroupProfiles} unsaved profiles in the group.<br/>Save all results and proceed to Print`, 'warning')
								return
							}
						}

						if(print) {
							self.$store.dispatch('AppState/setAppState', 'printing')

							var printParams = JSON.stringify({
								printDoc: 'test_report',
	                            printMode: printMode, //direct_print
	                            printData: {
	                                invoice_test_id: invoiceTestId,
	                                group_id: groupId,
	                                group_name: groupName,
	                                invoice_id: self.invoiceId,
	                                profile_name: self.profileName,
	                                invoice_no: self.customerData.invoiceNo	                                
	                            }
							})
							var printStatus = self.$electron.ipcRenderer.sendSync('print-job', printParams)

							if(printStatus) {
								// set status to completed
								var setReportStatusQuery = "UPDATE `bloomy_invoice_test` SET `status`=? WHERE `id`=?"
								var setReportStatusQueryArgs = JSON.stringify({query: setReportStatusQuery, params: [INVOICE_STATUS_PRINTED, invoiceTestId]})

								if(groupId) {
									setReportStatusQuery = "UPDATE `bloomy_invoice_test` SET `status`=? WHERE `invoice_id`=? AND `group_id`=?"
									setReportStatusQueryArgs = JSON.stringify({query: setReportStatusQuery, params: [INVOICE_STATUS_PRINTED, self.invoiceId, groupId]})
								}								

								self.$electron.ipcRenderer.sendSync('db-query', setReportStatusQueryArgs)

								if(groupedProfIds.length > 0) {
									self.$emit('saveresults', groupedProfIds)
								} else {
									self.$emit('saveresults', [self.profileId])
								}								

								if(printMode == 'direct_print') {
									self.flash('Printing completed', 'success')
								} else {
									self.flash('PDF file saved', 'success')
								}								

								self.$store.dispatch('AppState/setAppState', 'ready')
							} else {
								self.$store.dispatch('AppState/setAppState', 'ready')
								self.flash('Process failed for some reason. Please try again.', 'error')
							}
						} else {
							self.flash('Test results saved', 'success')
							self.$store.dispatch('AppState/setAppState', 'ready')
						}
						
					}
				})
				//console.log('inv test id', invoiceTestId, 'print', print)
			},
			getAntibiotic() {
				var _this = this

				var selectAntibiotisQuery = "SELECT * FROM `bloomy_antibiotics`"
				var selectAntibiotisArgs = JSON.stringify({query: selectAntibiotisQuery, params: []})
				var antibioticsRes = this.$electron.ipcRenderer.sendSync('db-query', selectAntibiotisArgs)

				var firstLine = []
				var secondLine = []

				this.dataCollectionObj[this.parentIndex]['ab'] = {}
				//this.dataCollectionObj[this.parentIndex]['abClass'] = {}

				//console.log('existing ABs', this.antibioticResults)

				antibioticsRes.forEach(function(v) {
					_this.dataCollectionObj[_this.parentIndex]['ab'][v.id] = null
					//_this.dataCollectionObj[_this.parentIndex]['abClass'][v.id] = null

					_this.antibioticResults.forEach(function(a){
						if(a.antibiotic_id === v.id) {
							_this.dataCollectionObj[_this.parentIndex]['ab'][v.id] = a.sensitive_level
							//_this.dataCollectionObj[_this.parentIndex]['abClass'][v.id] = _this.abStatusColors[a.sensitive_level]
						}
					})
					

					if(v.line_number === 1) {
						firstLine.push({
							value: v.id,
							label: v.antibiotic_name
						})
					} else if(v.line_number === 2) {
						secondLine.push({
							value: v.id,
							label: v.antibiotic_name
						})
					}
				})

				return {
					firstLine: firstLine,
					secondLine: secondLine
				}
			},
			formatDate(dateInput, time=false, hrs24=true) {
				if(!dateInput) {
					return null
				}
	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
	            var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = hours + ':' + minutes + ':00';
	            if(!hrs24) {
	                hours = hours % 12;
	                hours = hours ? hours : 12; // the hour '0' should be '12'
	                strTime = hours + ':' + minutes + ' ' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        },
	        closeEnterResultView() {
	        	this.$emit('close-modal-view')
	        }
		},
		beforeMount: function() {
			this.initTestList()
		}
	};
</script>

<style lang="scss">
	.tab-view-table {
		td, th {
			padding: 5px 3px;
		}

		.odd {
			background: #e7ecec;
		}

		.calc-input-div {
			font-size: 0.8rem;
		}
	}

	.non-ref-remorks-select {
		.dropdown-toggle {
			input {
				max-width: 90px;
			}
		}
	}

	.add-comments, .antibitics-list {
		margin-top: 20px;
	}

	tr.trow {
		td {
			padding: 3px 5px;
		}
	}

	.text-bold {
		font-weight: bold;
	}
</style>