<template>
	<div id="test_results_enter_panel">		
		<div v-if="testProfiles.length === 0" class="no-data-label">No Data found!</div>
		<div class="test-tab-panel" v-else>
			<div class="customer-info">
				<div class="row">
					<div class="col-md-auto">
						<label>Invoice No:</label>
						{{ customerData.invoiceNo }}						
					</div>
					<div class="col-md-auto" v-if="customerData.billNo">
						<label>Bill No:</label>
						{{ customerData.billNo }}
					</div>
					<div class="col-md-auto">
						<label>Name:</label>
						{{ customerData.customerTitle + ' ' + customerData.customerName }}
					</div>
					<div class="col">
						<label>Age:</label> 
						<span v-show="customerData.ageNormal && parseInt(customerData.ageNormal.years) > 0">
							{{ customerData.ageNormal ? customerData.ageNormal.years : '0' }} years
						</span>
						<span v-show="customerData.ageNormal && parseInt(customerData.ageNormal.months) > 0 && parseInt(customerData.ageNormal.years) < 12">
							{{ customerData.ageNormal ? customerData.ageNormal.months : '0' }} months 
						</span>
						<span v-show="customerData.ageNormal && parseInt(customerData.ageNormal.days) > 0 && parseInt(customerData.ageNormal.years) < 12">
							{{ customerData.ageNormal ? customerData.ageNormal.days : '0' }} days
						</span>
					</div>
				</div>
			</div>
			<b-tabs>
			  	<b-tab :active="index==0" v-for="(tprof, index) in testProfiles" :key="'test_tab'+index">
			  		<template slot="title">
			  			<font-awesome-icon v-show="tprof.status == 2" class="text-success" :icon="['fas', 'check-circle']"></font-awesome-icon> <font-awesome-icon v-show="tprof.group_id" :icon="['fas', 'link']"></font-awesome-icon> {{ tprof.profile_name }}
			  		</template>
			  		<inner-tests
			  			:profileTests="tprof.profileTests"
			  			:profileId="tprof.profile_id"
			  			:profileName="tprof.profile_name"
			  			:profileDesc="tprof.profile_desc"
			  			:comments="tprof.add_comments"
			  			:fluidType="tprof.fluid_type"
			  			:isAB="tprof.antibiotics"
			  			:antibioticResults="tprof.antibiotic_results"
			  			:reportLayout="tprof.report_layout"
			  			:invoiceTestId="tprof.invoice_test_id"
			  			:invoiceId="tprof.invoice_id"
			  			:groupId="tprof.group_id"
			  			:tpStatus="tprof.status"
			  			:parentIndex="index"
			  			:customerData="customerData"
			  			@saveresults="checkForStatus"
			  			@close-modal-view="closeModalView" />
			  	</b-tab>
			</b-tabs>
		</div>
	</div>
</template>

<script>
	import { remote } from 'electron'
	import InnerTestList from './InnerTestList'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

  	const INVOICE_STATUS_TEST_DONE = store.get('app-config').INVOICE_STATUS_TEST_DONE
  	const INVOICE_STATUS_PRINTED = store.get('app-config').INVOICE_STATUS_PRINTED

	export default {
		name: 'test-list',
		components: {
			'inner-tests': InnerTestList,
			FontAwesomeIcon
		},
		props: {
			invoiceId: {
				type: Number,
				default: 0
			}
		},
		data() {
			return {
				testProfiles: null,
				customerData: null
			}
		},
		methods: {
			getTestData: function() {
				var self = this
	        	var invoiceTestsQuery = "SELECT tp.*, i.`invoice_no`, it.`id` as invoice_test_id, it.`invoice_id` as invoice_id, it.`profile_id` as profile_id, it.`group_id`, it.`status` as status, it.add_comments FROM `bloomy_invoice_test` it INNER JOIN `bloomy_profiles` tp ON tp.id=it.profile_id INNER JOIN `bloomy_invoice` i ON i.id=it.invoice_id WHERE it.invoice_id=?"

	        	var invoiceTestsQueryArgs = JSON.stringify({query: invoiceTestsQuery, params:[this.invoiceId]})

	        	var invoiceTestsQueryRes = this.$electron.ipcRenderer.sendSync('db-query', invoiceTestsQueryArgs)

	        	var profilesArray = []
	        	invoiceTestsQueryRes.forEach(function(v){
	        		var profileTestsArray = []
	        		var groupTestsArray = []

	        		var profileTestsQuery = "SELECT tpp.*, t.*, u.`unit` as unit_html FROM `bloomy_tests_profiles` tpp, `bloomy_tests` t LEFT JOIN `bloomy_units` u ON u.`id`=t.`unit` WHERE t.id=tpp.test_id AND tpp.profile_id=? ORDER BY `item_order` ASC"
	        		var profileTestsQueryArgs = JSON.stringify({query: profileTestsQuery, params: [v.profile_id]})

	        		var profileTestsQueryRes = self.$electron.ipcRenderer.sendSync('db-query', profileTestsQueryArgs)
	        		//console.log('prof tests', profileTestsQueryRes)
	        		
	        		profileTestsQueryRes.forEach(function(pt) {
	        			var isRefRageAvailableQuery = "SELECT COUNT(`id`) as ref_count FROM `bloomy_ref_ranges` WHERE `test_id`=?"
	        			var isRefRageAvailableQueryArgs = JSON.stringify({query: isRefRageAvailableQuery, params: [pt.id]})
	        			var isRefRageAvailableQueryRes = self.$electron.ipcRenderer.sendSync('db-query', isRefRageAvailableQueryArgs)

						var isRefAvailable = isRefRageAvailableQueryRes[0].ref_count > 0

	        			//console.log(isRefRageAvailableQueryRes, isRefRageAvailableQueryRes[0].ref_count)

	        			var refRangeQuery = "SELECT * FROM `bloomy_ref_ranges` WHERE `test_id`=? AND (`sex` LIKE ? OR `sex` LIKE 'any')"
        				var refRangeQueryArgs = JSON.stringify({query: refRangeQuery, params: [pt.id, self.customerData.sex]})
        				var refRangeQueryRes = self.$electron.ipcRenderer.sendSync('db-query', refRangeQueryArgs)


	        			var refRangesArray = {}
	        			refRangeQueryRes.forEach(function(ref) {

	        				var ageInRange = false
	        				var logicString = ""

	        				if(!ageInRange && ref.age_limit.replace(/ /g, "") == 'any' || ref.age_limit.replace(/ /g, "") == "") {
	        					ageInRange = true
	        				} else {
	        					var refAgeLimitInDays = self.getRefAgeInDays(ref.age_limit)
	        					//console.log('cust in days', self.customerData.age, refAgeLimitInDays)
		        				if(typeof refAgeLimitInDays === 'object' && refAgeLimitInDays.length == 2) {
		        					logicString = refAgeLimitInDays[0] + '<=' + self.customerData.age + ' && ' + self.customerData.age + '<=' + refAgeLimitInDays[1]
		        					//console.log(logicString)
		        					if(!ageInRange && eval(logicString)) {
		        						ageInRange = true
		        					}
		        				} else if(typeof refAgeLimitInDays == 'string') {
		        					logicString =  self.customerData.age + refAgeLimitInDays
		        					if(!ageInRange && eval(logicString)) {
		        						ageInRange = true
		        					}
		        				} else {
		        					remote.dialog.showMessageBox({
		        						buttons: ['OK'],
		        						type: 'warning',
		        						title: 'Enter test results',
		        						message: 'Problem with age ranges',
		        						detail: 'There is a problem with age ranges of the test ' + pt.test_name + '\nProbably there is no range for the age ' + self.customerData.ageNormal.years + 'Yrs ' + self.customerData.ageNormal.months + 'Months ' + self.customerData.ageNormal.days + 'Days' + '\nPlease correct it and come back.'
		        					})

		        					return
		        				}
	        				}
	        				
	        				if(ageInRange) {
	        					refRangesArray = {
		        					sex: ref.sex,
		        					ageLimit: ref.age_limit,
		        					refRange: ref.ref_range
		        				}
	        				}
	        				
	        			})

	        			var nonRefRemarksObj = []
	        			if(pt.non_ref_remarks) {
	        				pt.non_ref_remarks.split(",").forEach(function(nrr){
	        					nonRefRemarksObj.push({
	        						label: nrr,
	        						value: nrr
	        					})
	        				})
	        			}

        				profileTestsArray.push({
	        				test_id: pt.id,
	        				test_name: pt.test_name,
	        				unit: pt.unit_html,
	        				remark_values: pt.remark_values,
	        				non_ref_remarks: nonRefRemarksObj,
	        				min_max: pt.min_max,
	        				calc_formula: pt.calc_formula,
	        				isRefAvailable: isRefAvailable,
							refRanges: refRangesArray						
	        			})        			
	        			
	        			//self.resultsObj[v.profile_name] = {}
	        			//self.resultsObj[v.profile_name][pt.test_name] = {result: null}
	        		})

	        		// get ANTIBIOTICS
	        		var antibioticResults = []
	        		if(v.antibiotics == 1) {
	        			var selectABresultsQuery = "SELECT * FROM `bloomy_invoice_test_antibiotic` WHERE `invoice_test_id`=?"
	        			var abResultArgs = JSON.stringify({query: selectABresultsQuery, params: [v.invoice_test_id]})
	        			antibioticResults = self.$electron.ipcRenderer.sendSync('db-query', abResultArgs)
	        		}

	        		profilesArray.push({
	        			invoice_id: v.invoice_id,
	        			invoic_no: v.invoice_no,
	        			invoice_test_id: v.invoice_test_id,
	        			group_id: v.group_id,
	        			profile_id: v.profile_id,
	        			profile_name: v.profile_name,
	        			profile_desc: v.description,
	        			add_comments: v.add_comments,
	        			fluid_type: v.fluid_type,
	        			antibiotics: v.antibiotics === 1,
	        			antibiotic_results: antibioticResults,
	        			report_layout: v.report_layout,
	        			profileTests: profileTestsArray,
	        			status: v.status
	        		})
	        	})
				console.log('profile data array', profilesArray)
	        	return profilesArray
			},
			getCustomerData: function() {
				var customerDataQuery = "SELECT i.*, c.customer_title, c.customer_name, c.sex, c.blood_type FROM `bloomy_invoice` i, `bloomy_customer` c WHERE c.id=i.customer_id AND i.id=?"
				var customerDataQueryArgs = JSON.stringify({query: customerDataQuery, params: [this.invoiceId]})

				var customerDataRes = this.$electron.ipcRenderer.sendSync('db-query', customerDataQueryArgs)

				if(customerDataRes.length == 0) {
					return {}
				} else {
					var custAgeObj = JSON.parse(customerDataRes[0].customer_age.toString())
					//console.log('cust age obj', custAgeObj)
					var ageInDays = this.getAgeInDays(custAgeObj.years, custAgeObj.months, custAgeObj.days)
					return {
						invoiceNo: customerDataRes[0].invoice_no,
						billNo: customerDataRes[0].bill_no,
						collectDate: this.formatDate(customerDataRes[0].colleted_date),
						reportDate: this.formatDate(customerDataRes[0].report_date),
						customerTitle: customerDataRes[0].customer_title,
						customerName: customerDataRes[0].customer_name,
						age: ageInDays,
						ageNormal: custAgeObj,
						sex: customerDataRes[0].sex,
						refDoc: customerDataRes[0].ref_doctor,
						bloodType: customerDataRes[0].blood_type,
						height: customerDataRes[0].customer_height,
						weight: customerDataRes[0].customer_weight,
						bmi: customerDataRes[0].bmi
					}
				}
			},
			getAgeInDays: function(years, months, days) {
				return (parseInt(years)*365 + parseInt(months)*30 + parseInt(days))
			},
			getRefAgeInDays: function(refAgeLimit) {
				var refAgeRange = refAgeLimit.replace(" ", "").split("-")
				var refAgeRangeInDays = []
				if(refAgeRange.length > 1) {
					refAgeRangeInDays.push(
						refAgeRange[0].toLowerCase().replace("d", "*1").replace("m", "*30").replace("y", "*365"),
						refAgeRange[1].toLowerCase().replace("d", "*1").replace("m", "*30").replace("y", "*365")
					)

					return refAgeRangeInDays
				} else {
					return refAgeLimit.toLowerCase().replace(" ","").replace("d", "*1").replace("m", "*30").replace("y", "*365")
				}				
			},
			checkForStatus: function(profIds) {
				var self = this
				console.log('status check profIds', profIds)
				this.testProfiles.forEach(function(v, k){
					if(profIds.indexOf(v.profile_id) >= 0) {
						self.$set(self.testProfiles[k], 'status', INVOICE_STATUS_PRINTED)
					}
				})
			},
			formatDate: function(dateInput, time=false, hrs24=true) {
				if(!dateInput) {
					return null
				}
	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
	            var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = hours + ':' + minutes + ':00';
	            if(!hrs24) {
	                hours = hours % 12;
	                hours = hours ? hours : 12; // the hour '0' should be '12'
	                strTime = hours + ':' + minutes + ' ' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        },
	        closeModalView() {
	        	this.$emit('close-enter-result-view')
	        }
		},
		beforeMount() {
			this.customerData = this.getCustomerData()
			this.testProfiles = this.getTestData()
		}
	};
</script>

<style lang="scss">
	#test_results_enter_panel {
		padding: 20px;
		color: #212121;

		.customer-info {
			padding: 0 0 10px;
    		font-size: 0.8rem;

    		.bit-large {
			    font-size: 1.1rem;
    			font-weight: 500;
    		}
		}

		.nav-tabs {
			.nav-link {
				background: #d2d2d2;
    			margin: 1px;
			    color: #545454;
			}
		}

		.nav-item {
			a {
				color: inherit;
				font-size: 12px;
    			font-weight: 500;
			}

			.nav-link.active {
				background-color: #f4f6f7;
    			border-bottom: 2px solid #007bff;
    			color: #252525;
			}
		}

		.test-tab-panel {
			.tab-content {
			    padding: 10px;
			    border: 1px solid #ddd;
			    border-top: none;
			    min-height: 490px;
			    font-size: 0.8rem;
		        background: #f4f6f7;

			    input, select {
			    	font-size: 0.8rem;
			    }
			}
		}

		.button-panel {
			margin-top: 20px;
			text-align: right
		}
	}
</style>