<template>
	<div>
		<footer></footer>
	    <div class="footer-print-area">
    		<div style="float: left; width: 45%;">Medical Laboratory Software Solution by BlossomLabs.lk</div>
    		<div style="float: right; width: 45%;">{{ footerText }}</div>
	    </div>
	</div>
</template>

<script>
	export default {
		name: 'print-footer',
		props: {
			footerText: {
				type: String,
				default: null
			}
		},
		data() {
			return {
				
			}
		}
	};
</script>

<script lang="scss">
	
</script>