<template>
	<div :class="['print-header', {'header-border': showBorder}]">
		<div class="row">
			<div class="col-9">
				<div class="header-lab-name">{{ labInfo.labName }}</div>
				<div class="row">
					<div class="col-12">
						<div v-show="labInfo.labAddress" class="header-sub-info-l1">{{ labInfo.labAddress }}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-auto no-right-padding">
						<div v-show="labInfo.labPhones" class="header-sub-info"><strong>Tel:</strong>&nbsp;&nbsp;{{ labInfo.labPhones }}</div>
					</div>
					<div class="col-auto no-right-padding">
						<div v-show="labInfo.labEmail" class="header-sub-info"><strong>Email:</strong>&nbsp;&nbsp;{{ labInfo.labEmail }}</div>
					</div>
					<div class="col no-right-padding">
						<div v-show="labInfo.labWeb" class="header-sub-info"><strong>Web:</strong>&nbsp;&nbsp;{{ labInfo.labWeb }}</div>
					</div>
				</div>
				<div class="row">
        			<div class="col">
        				<span v-show="labInfo.busRegNo" class="header-sub-info"><strong>Reg.No:</strong>&nbsp;&nbsp;{{ labInfo.busRegNo }}</span>
        			</div>
        		</div>
			</div>
			<div class="col-3 lab-logo">
				<img :src="labInfo.labLogo" />
			</div>
		</div>
	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'print-header',
		props: {
			showBorder: {
				type: Boolean,
				default: true
			}
		},
		data: function() {
			return {
				labInfo: this.getLabInfo()
			}
		},
		components: {
			FontAwesomeIcon
		},
		methods: {
			getLabInfo: function() {
				var labInfoObj = store.get('system_settings') ? store.get('system_settings').lab_info : {}
				//console.log(labInfoObj)
				return labInfoObj
			}
		}
	};
</script>

<style lang="scss">
	$textColor: #374548;
	$borderColor: #6c757d;

	.print-header.header-border {
		border-bottom: 0.75pt solid $borderColor;
		padding-bottom: 7.5pt;
	}

	.no-right-padding {
		padding-right: 0;
	}

	.print-header {
		margin-bottom: 7.5pt;

		strong {
			font-weight: 500;
		}

		.header-lab-name {
			font-size: 15pt;
			font-weight: 500;
		}

		.header-sub-info-l1 {
			font-size: 12pt;
		}

		.header-sub-info {
			font-size: 10pt;
		}

		.lab-logo {
			text-align: right;
			max-height: 60pt;

			img {
				height: 100%;
				width: auto;
			}
		}
	}
</style>