<template>
	<div class="invoie-preview-panel no-print">
		<div class="invoice-header">
			<div class="row">
				<div class="col-6">
					<h4 class="invoice-main-title">Medical Laboratory Invoice</h4>
				</div>
				<div class="col-6 text-right">
					<div style="width: 150pt; display: inline-block; vertical-align: middle;" class="placeholder-box printable text-center"><strong>{{ paymentMethods[payMethod] }}</strong></div>&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="placeholder-box text-center" style="width: 75pt; display: inline-block;">Original</div>&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<div class="invoice-sub-info">
				<div class="row" v-if="headlessModeInvoice">
					<div class="col-6">
						<div class="header-placeholders">
		        			<div class="item"><div class="item-title"><strong>Invoice to:</strong></div><div class="placeholder-box printable text-left text-truncate">{{ customerName }}</div></div>
		        			<div class="item"><div class="item-title"><strong>Invoice No:</strong></div><div class="placeholder-box printable text-left">{{ prevInvoiceNumber }}</div></div>
		        		</div>
					</div>
					<div class="col-6">
						<div class="header-placeholders">
		        			<div class="item"><div class="item-title"><strong>Invoice time:</strong></div><div class="placeholder-box printable text-left">{{ prevInvoiceTime }}</div></div>
		        			<div class="header-sub-info">[Currency: Sri Lankan Rupees (LKR)]</div>
		        		</div>
					</div>
					
				</div>
				<div class="row" v-else>
					<div class="col-md-auto">
						<div class="row">
							<div class="col-auto" v-if="labLogo" style="padding-right: 1.5pt;"><img :src="labLogo" width="50"></div>
							<div class="col">
								<div class="header-lab-name">{{ labName }}</div>
				        		<div v-show="labAddress" class="header-sub-info-l1">{{ labAddress }}</div>
							</div>
						</div>
		        		<div class="row">
		        			<div class="col-md-auto">
		        				<div v-show="labPhone" class="header-sub-info"><strong>Tel:</strong>&nbsp;&nbsp;{{ labPhone }}</div>		        				
		        			</div>
		        			<div class="col">		        				
								<div v-show="labEmail" class="header-sub-info"><strong>Email:</strong>&nbsp;&nbsp;{{ labEmail }}</div>
		        			</div>
		        			<div class="col">		        				
								<div v-show="labWeb" class="header-sub-info"><strong>Web:</strong>&nbsp;&nbsp;{{ labWeb }}</div>
		        			</div>
		        		</div>
		        		<div class="row">
		        			<div class="col">
		        				<span v-show="busRegNo" class="header-sub-info"><strong>Company Reg.No:</strong>&nbsp;&nbsp;{{ busRegNo }}</span>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col text-right">
		        		<div class="header-placeholders">
		        			<div class="item"><div class="item-title"><strong>Invoice to:</strong></div><div class="placeholder-box printable text-left text-truncate">{{ customerName }}</div></div>
		        			<div class="item"><div class="item-title"><strong>Invoice No:</strong></div><div class="placeholder-box printable text-left">{{ prevInvoiceNumber }}</div></div>
		        			<div class="item"><div class="item-title"><strong>Invoice time:</strong></div><div class="placeholder-box printable text-left">{{ prevInvoiceTime }}</div></div>
		        			<div class="header-sub-info">[Currency unit: Sri Lankan Rupees (LKR)]</div>
		        		</div>
		        	</div> 
				</div>
	        </div>
		</div>

        <table width="100%">
            <thead>
                <tr>
                	<th width="15pt" class="text-center">#</th>
                    <th width="80%">Item name</th>
                    <th class="text-right">Price</th>
                </tr>
            </thead>
            <tbody class="printable">
        	<tr class="invoice-row" v-for="(item, index) in prevInvoiceItems">
        		<td class="text-center">{{ index + 1 }}</td>
        		<td>{{ item.name }}</td>
        		<td class="text-right">{{ item.price.toFixed(2) }}</td>
        	</tr>
        	<tr class="invoice-row invoice-notes-area">
        		<td></td>
        		<td colspan="2">
        			<div v-show="extLab">Notes: The samples sent to {{ extLab }}</div>
        		</td>
        	</tr>
        </tbody>
        <tfoot class="printable">
        	<tr class="invoice-footer">
    			<td></td>
                <td class="text-right"><strong>Gross total</strong></td>
                <td class="text-right">{{ prevGrossTotal.toFixed(2) }}</td>
            </tr>
            <tr class="invoice-footer">
            	<td></td>
                <td class="text-right"><strong>Discount</strong> ({{ prevDiscount.toFixed(2) }}%)</td>
                <td class="text-right">-{{ discountedAmount }}</td>
            </tr>
            <tr class="invoice-footer">
            	<th></th>
                <th class="text-right">Total</th>
                <th class="text-right">{{ prevNetTotal.toFixed(2) }}</th>
            </tr>
            <tr class="invoice-footer">
            	<td></td>
                <td class="text-right" colspan="2"><strong>{{ paymentMethods[payMethod] }}</strong></td>
            </tr>
            <tr v-show="prevPayType == PAY_TYPE_FULL" class="invoice-footer">
            	<td></td>
                <td class="text-right" colspan="2"><strong>Fully Paid</strong></td>
            </tr>
            <tr v-show="prevPayType == PAY_TYPE_ADVANCE" class="invoice-footer">
            	<td></td>
            	<td class="text-right"><strong>Advance payment</strong></td>
            	<td class="text-right">{{ prevPaidAmount.toFixed(2) }}</td>
            </tr>
            <tr v-show="prevPayType == PAY_TYPE_ADVANCE" class="invoice-footer">
            	<th></th>
            	<th class="text-right"><strong>Balance</strong></th>
            	<th class="text-right">{{ balance }}</th>
            </tr>
        </tfoot>
        </table>
		<div class="print-footer">
    		Medical Laboratory Software Solution by BlossomLabs.lk
        </div>
    </div>
</template>

<script>
	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	let labInfo = elecStore.get('system_settings') ? elecStore.get('system_settings').lab_info : {}

	export default {
		name: 'invoice-printables',
		components: {
			
		},
		data() {
			return {
				labName: labInfo.labName,
				labAddress: labInfo.labAddress,
				labPhone: labInfo.labPhones,
				labEmail: labInfo.labEmail,
				labWeb: labInfo.labWeb,
				labLogo: labInfo.labLogo,
				busRegNo: labInfo.busRegNo,

				themeColor: elecStore.get('system_settings').print_settings.themColorInvoice ? elecStore.get('system_settings').print_settings.themColorInvoice : { r: 0, g: 0, b: 0, a: 1 },
				themeColorHex: '#000',
				lightness: 0,

				PAY_TYPE_FULL: 1,
				PAY_TYPE_ADVANCE: 0,
				paymentMethods: elecStore.get('app-config').Payment_methods,
				enableBarcode: elecStore.get('system_settings') && elecStore.get('system_settings').barcode_settings ?elecStore.get('system_settings').barcode_settings.enableBarcode : 0,

				customerName: null,
				prevInvoiceNumber: '',
		        prevInvoiceItems: [],
		        prevGrossTotal: 0,
		        prevDiscount: 0,
		        prevNetTotal: 0,
		        prevInvoiceTime: '',
		        prevPayType: 0,
		        payMethod: 0,
		        extLab: null,
		        prevPaidAmount: 0,

		        headlessModeInvoice: elecStore.get('system_settings') && elecStore.get('system_settings').print_settings && !elecStore.get('system_settings').print_settings.useComputerForms && elecStore.get('system_settings').print_settings.headlessModeInvoice ? elecStore.get('system_settings').print_settings.headlessModeInvoice : false,
			}
		},
		computed: {
			balance: function() {
				return (parseFloat(this.prevNetTotal) - parseFloat(this.prevPaidAmount)).toFixed(2)
			},
			showLabInfo: function() {
				return elecStore.get('system_settings').lab_info.labInfoOnPrints
			},
			discountedAmount: function() {
	            var grossTot = this.prevGrossTotal

	            return (grossTot*this.prevDiscount/100).toFixed(2)
	        }
		},
		methods: {
			formatDate(dateInput, time=false, hrs24=true) {
	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
	            var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = hours + ':' + minutes + ':00';
	            if(!hrs24) {
	                hours = hours % 12;
	                hours = hours ? hours : 12; // the hour '0' should be '12'
	                strTime = hours + ':' + minutes + ' ' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        },
			getInvoiceData: function() {
				var self = this
				var invoiceNo = this.$route.params.invoice_no

				var invoiceDataQuery = "SELECT i.*, exl.`lab_name` as ext_lab_name, c.customer_title, c.`customer_name` FROM `bloomy_invoice` i INNER JOIN `bloomy_customer` c ON i.`customer_id`=c.`id` LEFT JOIN `bloomy_external_labs` exl ON i.`ext_lab`=exl.id WHERE i.`invoice_no` LIKE ?"
				var invoiceDataQueryArgs = JSON.stringify({query: invoiceDataQuery, params: [invoiceNo]})

				var invoiceDataRes = this.$electron.ipcRenderer.sendSync('db-query', invoiceDataQueryArgs)

				var invoiceTestDataQuery = "SELECT p.profile_name as profile_name, p.price as p_price, invt.`package_id` FROM `bloomy_invoice_test` invt, `bloomy_profiles` p WHERE invt.invoice_id=? AND invt.profile_id=p.id"
				var invoiceTestDataQueryArgs = JSON.stringify({query: invoiceTestDataQuery, params: [invoiceDataRes[0].id]})

				if(invoiceDataRes[0].ext_lab > 0) {
					invoiceTestDataQuery = "SELECT p.profile_name as profile_name, exl.price as p_price, invt.`package_id` FROM `bloomy_invoice_test` invt INNER JOIN `bloomy_profiles` p ON invt.`profile_id`=p.`id` LEFT JOIN `bloomy_external_labs_test_price` exl ON exl.profile_id=p.id WHERE invt.invoice_id=? AND exl.`lab_id`=?"
					invoiceTestDataQueryArgs = JSON.stringify({query: invoiceTestDataQuery, params: [invoiceDataRes[0].id, invoiceDataRes[0].ext_lab]})
				}

                var invoiceTestData = this.$electron.ipcRenderer.sendSync('db-query', invoiceTestDataQueryArgs)

                this.prevInvoiceNumber = invoiceDataRes[0].invoice_no
                this.prevInvoiceTime = this.formatDate(invoiceDataRes[0].invoice_time, true, false)
                this.prevInvoiceItems = []
                var packageIdsAdded = []
                invoiceTestData.forEach(function(v){
                	if(v.package_id) {
                        var getPackageQuery = "SELECT * FROM `bloomy_packages` WHERE `id`=?"
                        var getPackageQueryArgs = JSON.stringify({query: getPackageQuery, params: [v.package_id]})
                        var packageDataRes = self.$electron.ipcRenderer.sendSync('db-query', getPackageQueryArgs)

                        if(packageIdsAdded.indexOf(v.package_id) < 0) {
                            self.prevInvoiceItems.push({
                                name: packageDataRes[0].package_name,
                                price: packageDataRes[0].price
                            })
                        }

                        packageIdsAdded.push(v.package_id)
                    } else {
                    	self.prevInvoiceItems.push({
	                        name: v.profile_name,
	                        price: v.p_price
	                    })
                    }                    
                })

                var invoicePrice = invoiceDataRes[0].price

                this.prevGrossTotal = invoicePrice
                this.prevDiscount = invoiceDataRes[0].discount
                this.prevNetTotal = invoicePrice - (invoicePrice*invoiceDataRes[0].discount/100)
                this.prevPayType = invoiceDataRes[0].pay_type
                this.payMethod = invoiceDataRes[0].pay_method
                this.extLab = invoiceDataRes[0].ext_lab_name
                this.prevPaidAmount = invoiceDataRes[0].paid_amount
                this.customerName = invoiceDataRes[0].customer_title + ' ' + invoiceDataRes[0].customer_name

                /*if(elecStore.has('system_settings')) {
                    var labInfo = elecStore.get('system_settings').lab_info
                    if(labInfo) {
                        this.labName = labInfo.labName
                        this.labAddress = labInfo.labAddress
                        this.labPhone = labInfo.labPhones
                        this.labEmail = labInfo.labEmail
                        this.labWeb = labInfo.labWeb
                    }
                }*/
			}
		},
		beforeMount() {
			this.getInvoiceData()

			console.log('headless mode invoice', this.headlessModeInvoice)
		}
	};
</script>

<style lang="scss">
	/* .no-print * {
		color: transparent;
		background: transparent !important;
		border-color: transparent !important;

		img {
			opacity: 0;
		}
	} */

	.printable, .printable * {
		color: #000 !important;
		font-family: 'Courier Prime';
		font-size: 11.5pt;
	}

	body {
		background: #fff;
	}

	#app {
		height: 100%;
		background: #fff;

		.invoie-preview-panel {
			min-height: 100%;
			padding: 7.5pt;

			strong {
	        	font-weight: 600;
	        }

	        .print-footer {
				position: absolute;
				bottom: 0;
				width: 98%;
				padding: 3.75pt 0;
				border-top: 0.75pt solid #ddd;
				font-size: 9pt;
			}

			.invoice-header {
				margin-bottom: 3.5pt;
	    		padding: 10px;

				.invoice-main-title {
					font-size: 17pt;
					margin-bottom: 7.5pt;
					font-weight: 600;
					height: 20.25pt;
				}

				.header-lab-name {
					font-size: 13.5pt;
					font-weight: 500;
				}

				.header-sub-info-l1 {
					font-size: 10.5pt;
				}

				.header-sub-info {
					font-size: 9.5pt;
					margin-top: 1.5pt;
				}
			}

			.placeholder-box {
				background: #fff;
				border: 0.75pt solid #ddd;
				border-radius: 2.25pt;
				height: 18.75pt;
				width: auto;
				padding: 0 3.75pt;
			}

			span.placeholder-box {
			    padding: 2.75pt 7.5pt;
			    display: inline-block;
			    height: auto;
			}

			.invoice-sub-info {
				font-size: 9.75pt;
				font-weight: 400;
				margin: 1.5pt 0;

				.header-placeholders {
					.item {
						margin-bottom: 1.5pt;

						div {
							height: 18.75pt;
						}
						.item-title {
							display: inline-block;
							margin-right: 13.75pt;

							strong {
								vertical-align: -webkit-baseline-middle;
							}
						}

						.placeholder-box {
							display: inline-block;
							float: right;
							width: 175pt;
						}
					}
				}
			}

			table {
				thead {
					background: #656565;
	    			color: #fff;

					th {
						border: 0.75pt solid #fff;
						font-weight: 600;
						padding: 2.25pt 7.5pt;
					}
				}
				tbody {
					border-bottom: 1.5pt dashed #000;

					tr.invoice-row {
						td {
				            padding: 2.25pt 7.5pt;
				        }
					}

					tr.invoice-notes-area {
						height: 150pt;

						td {
							padding-top: 37.5pt;
						}
					}
				}

				tfoot {
					.invoice-footer {
				        th {
				            padding: 2.25pt 7.5pt;
				        }

				        td {
				            padding: 0 7.5pt;
				        }
				    }

				    .invoice-footer:nth-child(1) {
				    	td {
				    		padding: 2.25pt 7.5pt;
				    	}
				    }
				}
			}
		}

		.control-button-panel {
			position: fixed;
			bottom: 5px;
			right: 10px;
			padding: 10px;
		    box-shadow: 0 0 25px -7px #000;
		    background: #f7f5f5;
		    border: 2px dashed #c3c3c3;
		    border-radius: 5px;

			.control-item {
				margin-right: 20px;
				margin-bottom: 10px;
			}
		}
	}

@media print {
	body {
		background: #fff;
		padding-bottom: 35px;
	}

	#app {
		height: 100%;
		background: #fff;

		.no-print * {
			color: transparent;
			background: transparent !important;
			border-color: transparent;
		} 

		.no-print {
			.placeholder-box {
				border-color: transparent !important;
			}

			.print-footer {
				border-color: transparent !important;
			}

			img {
				opacity: 0;
			}

			.printable, .printable * {
				color: #000 !important;
				font-family: 'Liberation Mono';
				font-size: 11.5pt;
			}
		}

		.invoie-preview-panel {
			min-height: 100%;
			padding: 7.5pt;

			strong {
	        	font-weight: 600;
	        }

	        .print-footer {
				position: absolute;
				bottom: 0;
				width: 98%;
				padding: 3.75pt 0;
				border-top: 0.75pt solid #ddd;
				font-size: 9pt;
			}

			.invoice-header {
				margin-bottom: 3.5pt;
	    		padding: 10px;

				.invoice-main-title {
					font-size: 17pt;
					margin-bottom: 7.5pt;
					font-weight: 600;
					height: 20.25pt;
				}

				.header-lab-name {
					font-size: 13.5pt;
					font-weight: 500;
				}

				.header-sub-info-l1 {
					font-size: 10.5pt;
				}

				.header-sub-info {
					font-size: 9.5pt;
					margin-top: 1.5pt;
				}
			}

			.placeholder-box {
				background: #fff;
				border: 0.75pt solid #ddd;
				border-radius: 2.25pt;
				height: 18.75pt;
				width: auto;
				padding: 0 3.75pt;
			}

			span.placeholder-box {
			    padding: 2.75pt 7.5pt;
			    display: inline-block;
			    height: auto;
			}

			.invoice-sub-info {
				font-size: 9.75pt;
				font-weight: 400;
				margin: 1.5pt 0;

				.header-placeholders {
					.item {
						margin-bottom: 1.5pt;

						div {
							height: 18.75pt;
						}
						.item-title {
							display: inline-block;
							margin-right: 13.75pt;

							strong {
								vertical-align: -webkit-baseline-middle;
							}
						}

						.placeholder-box {
							display: inline-block;
							float: right;
							width: 175pt;
						}
					}
				}
			}

			table {
				thead {
					background: #656565;
	    			color: #fff;

					th {
						border: 0.75pt solid #fff;
						font-weight: 600;
						padding: 2.25pt 7.5pt;
					}
				}
				tbody {
					border-bottom: 1.5pt dashed #000;

					tr.invoice-row {
						td {
				            padding: 2.25pt 7.5pt;
				        }
					}

					tr.invoice-notes-area {
						height: 150pt;

						td {
							padding-top: 37.5pt;
						}
					}
				}

				tfoot {
					.invoice-footer {
				        th {
				            padding: 2.25pt 7.5pt;
				        }

				        td {
				            padding: 0 7.5pt;
				        }
				    }

				    .invoice-footer:nth-child(1) {
				    	td {
				    		padding: 2.25pt 7.5pt;
				    	}
				    }
				}
			}
		}

		.control-button-panel {
			position: fixed;
			bottom: 5px;
			right: 10px;
			padding: 10px;
		    box-shadow: 0 0 25px -7px #000;
		    background: #f7f5f5;
		    border: 2px dashed #c3c3c3;
		    border-radius: 5px;

			.control-item {
				margin-right: 20px;
				margin-bottom: 10px;
			}
		}
	}
}
</style>