<template>
	<div class="lab-worksheet">
		<div class="invoice-header">
			<div class="row">
				<div class="col-7">
					<h4 class="invoice-main-title">Laboratory Worksheet</h4>
				</div>
				<div class="col-5 text-right">
					<div v-if="enableBarcode">
						<barcode
	        				:value="'R-'+invoiceNumber" 
	        				format="CODE128" 
	        				:width="1.25"
	        				:height="30" 
	        				:displayValue="false"
	        				:fontSize="12"
	        				:margin="0">
						  {{ invoiceNumber }}
						</barcode>
					</div>
				</div>
			</div>
			<div class="invoice-sub-info">
				<div class="row">
					<div class="col-7">
						<div>
							<strong>Invoice number:</strong> {{ invoiceNumber }}<br/>
		        			<strong v-show="customerName">Customer name:</strong> {{ customerName }}<br/>
							<strong>Age:</strong>&nbsp;
							<span v-show="customerAge && parseInt(customerAge.years) > 0">
								{{ customerAge ? customerAge.years : '0' }} years
							</span>
							<span v-show="customerAge && parseInt(customerAge.months) > 0 && parseInt(customerAge.years) < 12">
								{{ customerAge ? customerAge.months : '0' }} months 
							</span>
							<span v-show="customerAge && parseInt(customerAge.days) > 0 && parseInt(customerAge.years) < 12">
								{{ customerAge ? customerAge.days : '0' }} days
							</span>
							<br/>
		        			<strong>Invoice time:</strong> {{ invoiceTime }}<br/>
		        		</div>
		        	</div>
		        	<div class="col-5 text-right">
		        		
		        	</div> 
				</div>
	        </div>
		</div>

		<div class="row worksheet-row" v-for="(item, index) in testItemsArray" :key="'war'+index">
			<div class="col-12">
				<div class="test-profile-name">{{ item.title }}</div>
			</div>
			<div class="col-12 test-item-box">
				<!--table width="100%">
					<tr v-for="(test, tind) in item.tests" :key="'test'+tind">
						<td class="test-item-box">
							{{ test.test_name }} <span v-show="test.unit">(<span v-html="test.unit"></span>)</span>
						</td>
						<td class="test-item-box"></td>
					</tr>
				</table-->
			</div>
		</div>
	</div>
</template>

<script>
	import VueBarcode from 'vue-barcode'

	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'lab-worksheet',
		components: {
			'barcode': VueBarcode
		},
		data() {
			return {
				enableBarcode: elecStore.get('system_settings') && elecStore.get('system_settings').barcode_settings ? elecStore.get('system_settings').barcode_settings.enableBarcode : false,
				customerName: null,
				customerAge: null,
				invoiceNumber: null,
				invoiceTime: null,
				testItemsArray: []
			}
		},
		methods: {
			printWorksheet() {
				var _this = this
				
				var invoiceId = this.$route.params.invoice_id
				console.log('invoice id', invoiceId)
				var invoiceTestQuery = "SELECT it.*, p.`profile_name`, i.`invoice_no`, i.`invoice_time`, i.`customer_age`, c.`customer_title`, c.`customer_name` FROM `bloomy_invoice_test` it INNER JOIN `bloomy_profiles` p ON p.`id`=it.`profile_id` INNER JOIN `bloomy_invoice` i ON i.`id`=it.`invoice_id` INNER JOIN `bloomy_customer` c ON c.`id`=i.`customer_id` WHERE it.`invoice_id`=?"

				var invoiceQueryArgs = JSON.stringify({query: invoiceTestQuery, params: [invoiceId]})

				var invoiceTestDataRes = this.$electron.ipcRenderer.sendSync('db-query', invoiceQueryArgs)

				console.log('invice test data', invoiceTestDataRes)

				var profileTests = []
				invoiceTestDataRes.forEach(function(v){
					var profileTestsQuery = "SELECT tp.*, t.`test_name`, t.`unit` FROM `bloomy_tests_profiles` tp INNER JOIN `bloomy_tests` t ON t.`id`=tp.`test_id` WHERE tp.`profile_id`=? ORDER BY tp.`item_order` DESC"

					var profileTestsArgs = JSON.stringify({query: profileTestsQuery, params: [v.profile_id]})

					var profileTestsRes = _this.$electron.ipcRenderer.sendSync('db-query', profileTestsArgs)

					var testsArray = []

					profileTestsRes.forEach(function(t){
						testsArray.push({
							test_name: t.test_name,
							unit: t.unit,
							calc: t.calc_formula && t.calc_formula != "" ? true : false
						})
					})

					profileTests.push({
						title: v.profile_name,
						tests: testsArray
					})
				})

				//console.log('profile tests', profileTests)

				if(invoiceTestDataRes.length > 0) {
					this.customerName = invoiceTestDataRes[0].customer_title + ' ' + invoiceTestDataRes[0].customer_name
					this.customerAge = JSON.parse(invoiceTestDataRes[0].customer_age.toString())
					this.invoiceNumber = invoiceTestDataRes[0].invoice_no
					this.invoiceTime = this.$moment(invoiceTestDataRes[0].invoice_time).format('YYYY-MM-DD hh:mm a')
					this.testItemsArray = profileTests
				}
			}
		},
		beforeMount() {
			this.printWorksheet()
		}
	};
</script>

<style lang="scss">
	$borderColor: #6c757d;

	.lab-worksheet {
		padding: 20px;

		strong {
        	font-weight: 600;
        }

		.invoice-header {
			padding-bottom: 20px;

			.invoice-main-title {
				font-size: 20pt;
				margin-bottom: 0px;
			}

			.header-sub-info {
				font-size: 11pt;
				margin: 2px 0;
			}
		}

		.invoice-sub-info {
			font-size: 12pt;
			font-weight: 400;
			margin: 2px 0;
		}

		.worksheet-row {
			margin-bottom: 20px;
		}

		.test-profile-name {
			font-size: 11pt;
			font-weight: 500;
			padding-bottom: 5px
		}

		.test-item-box {
			height: 50px;
			vertical-align: top;
			padding-top: 5px;
		}
	}
</style>