<template>
	<sys-report
		:timePeriodMode="timePeriodModeVal"
		:reportTimePeriod="reportTimePeriod"
    	:reportTimePeriodPrev="reportTimePeriodPrevious"
    	:chartColors="{main: chartColorMain, secondary: chartColorSecondary}"
    	:printerFriendly="checkPrnterFriendly"
    	:numberOfInvoices="sysReportInvoicesReportData"
    	:invoicesVsExtLabs="sysReportReportsVsExtLabsData"
    	:reportsVsMLTs="sysReportReportVsMLTsData"
    	:docRefs="sysReportRefDoctorsData"
    	:specimenVsColCenter="sysReportSpecimenVsCollectingCenterData"
    	:reportsVsProfile="sysReportReportsVsProfileData"
    	:revenueReport="sysReportRevenueReportData" />
</template>

<script>
	import SystemReport from './SystemReport'

	const pattern = require('patternomaly')
	const path = require('path')

	export default {
		name: 'print-sys-report',
		components: {
			'sys-report': SystemReport
		},
		data() {
			return {
				monthlyReportYear: this.$moment().format('YYYY').toString(),
				monthlyReportMonth: this.$moment().format('MM').toString(),
				annualReportYear: this.$moment().format('YYYY').toString(),
				systemYears: this.getSystemYears(),
				reportMonths: this.getReportMonths(),

				checkNumberOfInvoices: true,
				checkReportsVsMLT: true,
				checkReportsVsDoc: true,
				checkReportsVsColCenters: true,
				checkReportsVsProfile: true,
				checkRevenueReport: true,
				checkReportComparison: true,
				checkReultsVsTests: false,
				checkReportsVsExtLabs: true,

				timePeriodModeVal: null,
				reportTimePeriod: null,
				reportTimePeriodPrevious: null,
				chartColorMain: null,
				chartColorSecondary: null,
				chartColorPrinterFriendly: null,
				checkPrnterFriendly: false,
				borderDash: [10, 5],
				lightBg: '#6c757d',
				chartPatternBg: pattern.draw('cross', this.lightBg),

				sysReportInvoicesReportData: null,
				sysReportReportVsMLTsData: null,
				sysReportRefDoctorsData: null,
				sysReportSpecimenVsCollectingCenterData: null,
				sysReportReportsVsProfileData: null,
				sysReportRevenueReportData: null,
				sysReportReportsVsExtLabsData: null,
			}
		},
		methods: {
			getSystemYears() {
				var self = this
				var selectSystemYearsQuery = "SELECT `invoice_time` FROM `bloomy_invoice` ORDER BY `id` DESC"
				var selectSystemYearsQueryArgs = JSON.stringify({query: selectSystemYearsQuery, params:[]})
				var systemYearsRes = this.$electron.ipcRenderer.sendSync('db-query', selectSystemYearsQueryArgs)

				var systemYearsArray = []
				systemYearsRes.forEach(function(v){
					var yearVal = self.$moment(v).format('YYYY')
					if(systemYearsArray.indexOf(yearVal) == -1) {
						systemYearsArray.push(yearVal)
					}					
				})
				return systemYearsArray
			},
			getReportMonths() {
				return [
					{label: 'January', value: '01'},
					{label: 'February', value: '02'},
					{label: 'March', value: '03'},
					{label: 'April', value: '04'},
					{label: 'May', value: '05'},
					{label: 'June', value: '06'},
					{label: 'July', value: '07'},
					{label: 'August', value: '08'},
					{label: 'September', value: '09'},
					{label: 'October', value: '10'},
					{label: 'November', value: '11'},
					{label: 'December', value: '12'}
				]
			},
			genSystemReport() {
				var self = this

				// chart data
				var decodedUrlString = decodeURIComponent(this.$route.params.chart_data)

				var paramsObj = JSON.parse(decodedUrlString)

				this.checkNumberOfInvoices = paramsObj.checkNumberOfInvoices
				this.checkReportsVsMLT = paramsObj.checkReportsVsMLT
				this.checkReportsVsDoc = paramsObj.checkReportsVsDoc
				this.checkReportsVsColCenters = paramsObj.checkReportsVsColCenters
				this.checkReportsVsProfile = paramsObj.checkReportsVsProfile
				this.checkRevenueReport = paramsObj.checkRevenueReport
				this.checkReportComparison = paramsObj.checkReportComparison
				this.checkReultsVsTests = paramsObj.checkReultsVsTests

				this.reportTimePeriod = paramsObj.reportTimePeriod
				this.reportTimePeriodPrevious = paramsObj.reportTimePeriodPrevious
				this.chartColorMain = paramsObj.chartColorMain
				this.chartColorSecondary = paramsObj.chartColorSecondary
				this.chartColorPrinterFriendly = paramsObj.chartColorPrinterFriendly
				this.checkPrnterFriendly = paramsObj.checkPrnterFriendly

				var timePeriod = paramsObj.timePeriodMode

				this.timePeriodModeVal = timePeriod

				var reportTime = ""
				var daysMonthsChartLabels = []
				var daysMonthsForQuery = []
				var daysMonthsForQueryPrevious = []
				var monthYearPrevious = ""
				var dateForLabel = ""
				var dateForLabelPrevious = ""
				if(timePeriod == 'monthly') {
					reportTime = this.monthlyReportYear + '-' + this.monthlyReportMonth
					var daysOfMonth = this.$moment(reportTime, 'YYYY-MM').daysInMonth()
					var monthLable = this.$moment(reportTime, 'YYYY-MM').format('MMM')
					monthYearPrevious = this.$moment(reportTime, 'YYYY-MM').subtract(1, 'months').format('YYYY-MM')
					dateForLabel = this.$moment(reportTime, 'YYYY-MM').format('MMMM, YYYY')
					dateForLabelPrevious = this.$moment(monthYearPrevious, "YYYY-MM").format('MMM, YYYY')
					for(var d = 1; d <= daysOfMonth; d++) {
						var dayVal = d < 10 ? '0'+d : d.toString()
						daysMonthsChartLabels.push(monthLable + ' ' + dayVal)
						daysMonthsForQuery.push(reportTime + '-' + dayVal)
						daysMonthsForQueryPrevious.push(monthYearPrevious + '-' + dayVal)
					}
					//console.log(daysMonthsChartLabels, daysMonthsForQuery)
				} else if(timePeriod == 'annual') {
					reportTime = this.annualReportYear
					dateForLabel = this.annualReportYear
					monthYearPrevious = this.$moment(reportTime, 'YYYY').subtract(1, 'years').format('YYYY')
					dateForLabelPrevious = monthYearPrevious
					for(var m = 1; m < 13; m++) {
						var monthVal = m < 10 ? '0'+m : m.toString()
						daysMonthsChartLabels.push(this.getReportMonths()[m-1].label.substr(0,3))
						daysMonthsForQuery.push(reportTime + '-' + monthVal)
						daysMonthsForQueryPrevious.push(monthYearPrevious + '-' + monthVal)
					}
				}

				this.reportTimePeriod = dateForLabel.toString()
				this.reportTimePeriodPrevious = dateForLabelPrevious.toString()

				////////////////// NUMBER OF INVOICES REPORT DATA //////////////
				if(this.checkNumberOfInvoices) {
					var numberOfInvoicesChartData = null
					var invoiceChartDatasets = []

					var countQueryParts = []
					daysMonthsForQuery.forEach(function(v, k){
						var countQueryPart = "COUNT(CASE WHEN `invoice_time` LIKE '" + v + "%' THEN 1 END) AS count" + k
						countQueryParts.push(countQueryPart)
					})
				 	var numberOfInvoicesQuery = "SELECT " + countQueryParts.join(',') + " FROM `bloomy_invoice`"
				 	var numberOfInvoicesQueryArgs = JSON.stringify({query: numberOfInvoicesQuery, params:[]})
				 
				 	var chartDataArray = []
				 	var numberOfInvoicesQueryRes = this.$electron.ipcRenderer.sendSync('db-query', numberOfInvoicesQueryArgs)

				 	var numberOfInvoicesQueryResObj = numberOfInvoicesQueryRes[0]
				 	
				 	Object.keys(numberOfInvoicesQueryResObj).forEach(function(v){
				 		chartDataArray.push(numberOfInvoicesQueryResObj[v])
				 	})

				 	invoiceChartDatasets.push({
				        	label: dateForLabel,
				        	backgroundColor: 'rgba(0,0,0,0)',
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
				         	borderWidth: this.checkPrnterFriendly ? 1 : 2,
				          	lineTension: 0,
				          	data: chartDataArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         align: this.checkPrnterFriendly ? 'end' : 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
						      }
				        }
				    )

				 	var chartDataPrev = []
				 	var comparisonDataObj = {}
				 	if(this.checkReportComparison) {
				 		var countQueryPartsPrev = []
				 		daysMonthsForQueryPrevious.forEach(function(v, k){
				 			var countQueryPart = "COUNT(CASE WHEN `invoice_time` LIKE '" + v + "%' THEN 1 END) AS count" + k
						countQueryPartsPrev.push(countQueryPart)
				 		})

				 		var numberOfInvoicesQueryPrev = "SELECT " + countQueryPartsPrev.join(',') + " FROM `bloomy_invoice`"
				 		var numberOfInvoicesQueryPrevArgs = JSON.stringify({query: numberOfInvoicesQueryPrev, params:[]})
				 		var numberOfInvoicesPrevRes = this.$electron.ipcRenderer.sendSync('db-query', numberOfInvoicesQueryPrevArgs)

				 		
				 		var numberOfInvoicesPrevResObj = numberOfInvoicesPrevRes[0]
				 		Object.keys(numberOfInvoicesPrevResObj).forEach(function(v){
				 			chartDataPrev.push(numberOfInvoicesPrevResObj[v])
				 		})

				 		var maxInvoicesPrev = 0
				 		var minInvoicesPrev = 0
				 		var totalInvoicesPrev = 0
				 		var avgInvoicesPrev = 0

				 		if(chartDataPrev.length > 0) {
				 			maxInvoicesPrev = Math.max.apply(Math, chartDataPrev)
				 			minInvoicesPrev = Math.min.apply(Math, chartDataPrev)
				 			totalInvoicesPrev = chartDataPrev.reduce(function(acc, val) { return acc + val; })
				 			avgInvoicesPrev = Math.round(totalInvoicesPrev/chartDataPrev.length)
				 		}

				 		comparisonDataObj = {
							reportPeriodLabel: dateForLabelPrevious,
							totalNumber: totalInvoicesPrev,
							maxNumber: maxInvoicesPrev,
							minNumber: minInvoicesPrev,
							averageNumber: avgInvoicesPrev
						}

				 		invoiceChartDatasets.push({
				 			label: 'Invoices - ' + dateForLabelPrevious,
				        	backgroundColor: 'rgba(0,0,0,0)',
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				         	borderWidth: this.checkPrnterFriendly ? 1 : 2,
				         	borderDash: this.checkPrnterFriendly ? this.borderDash : [],
				          	lineTension: 0,
				          	data: chartDataPrev,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorSecondary,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         align: this.checkPrnterFriendly ? 'end' : 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
					      	}
				 		})
				 	}

				 	var maxInvoices = 0
				 	var minInvoices = 0
				 	var totalInvoices = 0
				 	var avgInvoices = 0
				 	if(chartDataArray.length > 0) {
				 		maxInvoices = Math.max.apply(Math, chartDataArray)
				 		minInvoices = Math.min.apply(Math, chartDataArray)
				 		totalInvoices = chartDataArray.reduce(function(acc, val) { return acc + val; })
				 		avgInvoices = Math.round(totalInvoices/chartDataArray.length)
				 	}

				 	numberOfInvoicesChartData = {
						id: 'sys_report_noof_invoices_chart',
				      	labels: daysMonthsChartLabels,
				      	datasets: invoiceChartDatasets
				    }	

				    this.sysReportInvoicesReportData = {
						repChartData: {
							chartData: numberOfInvoicesChartData,
							options: {
								animation: false,
								responsive: false
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalInvoices,
						maxNumber: maxInvoices,
						minNumber: minInvoices,
						averageNumber: avgInvoices,
						comparisonData: comparisonDataObj
					}
				} else {
					this.sysReportInvoicesReportData = null
				}

				/////////////// NUMBER OF INVOICES VS EXTERNAL LABS ///////////////////
				if(this.checkReportsVsExtLabs) {
					var extLabsReportChartData = null
					var extLabsReportChartDatasets = []

					var countQueryParts = []
					daysMonthsForQuery.forEach(function(v, k){
						var countQueryPart = "COUNT(CASE WHEN `invoice_time` LIKE '" + v + "%' AND `ext_lab` > 0 THEN 1 END) AS count" + k
						countQueryParts.push(countQueryPart)
					})
				 	var numberOfInvoicesQuery = "SELECT " + countQueryParts.join(',') + " FROM `bloomy_invoice`"
				 	var numberOfInvoicesQueryArgs = JSON.stringify({query: numberOfInvoicesQuery, params:[]})

				 	var chartDataArray = []
				 	var numberOfInvoicesQueryRes = this.$electron.ipcRenderer.sendSync('db-query', numberOfInvoicesQueryArgs)

				 	var numberOfInvoicesQueryResObj = numberOfInvoicesQueryRes[0]
				 	
				 	Object.keys(numberOfInvoicesQueryResObj).forEach(function(v){
				 		chartDataArray.push(numberOfInvoicesQueryResObj[v])
				 	})

				 	extLabsReportChartDatasets.push({
				        	label: dateForLabel,
				        	backgroundColor: 'rgba(0,0,0,0)',
				          	borderColor:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
				         	borderWidth:  this.checkPrnterFriendly ? 1 : 2,
				          	lineTension: 0,
				          	data: chartDataArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor:  this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
						         borderRadius: 5,
						         color:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         align:  this.checkPrnterFriendly ? 'end' : 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
						      }
				        }
				    )

				 	var chartDataPrev = []
				 	var comparisonDataObj = {}
				 	if(this.checkReportComparison) {
				 		var countQueryPartsPrev = []
				 		daysMonthsForQueryPrevious.forEach(function(v, k){
				 			var countQueryPart = "COUNT(CASE WHEN `invoice_time` LIKE '" + v + "%' AND `ext_lab` > 0 THEN 1 END) AS count" + k
							countQueryPartsPrev.push(countQueryPart)
				 		})

				 		var numberOfInvoicesQueryPrev = "SELECT " + countQueryPartsPrev.join(',') + " FROM `bloomy_invoice`"
				 		var numberOfInvoicesQueryPrevArgs = JSON.stringify({query: numberOfInvoicesQueryPrev, params:[]})
				 		var numberOfInvoicesPrevRes = this.$electron.ipcRenderer.sendSync('db-query', numberOfInvoicesQueryPrevArgs)

				 		
				 		var numberOfInvoicesPrevResObj = numberOfInvoicesPrevRes[0]
				 		Object.keys(numberOfInvoicesPrevResObj).forEach(function(v){
				 			chartDataPrev.push(numberOfInvoicesPrevResObj[v])
				 		})

				 		var maxInvoicesPrev = 0
				 		var minInvoicesPrev = 0
				 		var totalInvoicesPrev = 0
				 		var avgInvoicesPrev = 0

				 		if(chartDataPrev.length > 0) {
				 			maxInvoicesPrev = Math.max.apply(Math, chartDataPrev)
				 			minInvoicesPrev = Math.min.apply(Math, chartDataPrev)
				 			totalInvoicesPrev = chartDataPrev.reduce(function(acc, val) { return acc + val; })
				 			avgInvoicesPrev = Math.round(totalInvoicesPrev/chartDataPrev.length)
				 		}

				 		comparisonDataObj = {
							reportPeriodLabel: dateForLabelPrevious,
							totalNumber: totalInvoicesPrev,
							maxNumber: maxInvoicesPrev,
							minNumber: minInvoicesPrev,
							averageNumber: avgInvoicesPrev
						}

				 		extLabsReportChartDatasets.push({
				 			label: 'Invoices - ' + dateForLabelPrevious,
				        	backgroundColor: 'rgba(0,0,0,0)',
				          	borderColor:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				         	borderWidth:  this.checkPrnterFriendly ? 1 : 2,
				         	borderDash:  this.checkPrnterFriendly ? this.borderDash : [],
				          	lineTension: 0,
				          	data: chartDataPrev,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor:  this.checkPrnterFriendly ? 'rgba(0,0,0,0)' :  this.chartColorSecondary,
						         borderRadius: 5,
						         color:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         align:  this.checkPrnterFriendly ? 'end' : 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
					      	}
				 		})
				 	}

				 	var maxInvoices = 0
				 	var minInvoices = 0
				 	var totalInvoices = 0
				 	var avgInvoices = 0
				 	if(chartDataArray.length > 0) {
				 		maxInvoices = Math.max.apply(Math, chartDataArray)
				 		minInvoices = Math.min.apply(Math, chartDataArray)
				 		totalInvoices = chartDataArray.reduce(function(acc, val) { return acc + val; })
				 		avgInvoices = Math.round(totalInvoices/chartDataArray.length)
				 	}

				 	extLabsReportChartData = {
						id: 'sys_report_noof_invoices_chart',
				      	labels: daysMonthsChartLabels,
				      	datasets: extLabsReportChartDatasets
				    }	

				    this.sysReportReportsVsExtLabsData = {
						repChartData: {
							chartData: extLabsReportChartData,
							options: {
								animation: false,
								responsive: false
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalInvoices,
						maxNumber: maxInvoices,
						minNumber: minInvoices,
						averageNumber: avgInvoices,
						comparisonData: comparisonDataObj
					}

				} else {
					this.sysReportReportsVsExtLabsData = null
				}

				////////////// REPORTS VS MLTs REPORT DATA ///////////////////
				if(this.checkReportsVsMLT) {
					var reportsVsMLTsChartData = null
					var reportVsMLTschartDatasets = []

					var usersMLTQuery = "SELECT `id`, `f_name`, `l_name` FROM `bloomy_user` WHERE `user_type` < ?"
					var usersMLTQueryArgs = JSON.stringify({query: usersMLTQuery, params: [2]})
					var usersMLTRes = this.$electron.ipcRenderer.sendSync('db-query', usersMLTQueryArgs)

					var chartLabels = []
					var queryCountParts = []
					usersMLTRes.forEach(function(u, k){
						var reportLabelText = u.f_name
						if(u.l_name && u.l_name != "") {
							reportLabelText += " " + u.l_name[0].toUpperCase()
						}
						chartLabels.push(reportLabelText)
						var countQueryPart = "COUNT(CASE WHEN `user_id` = '" + u.id + "' AND `report_date` LIKE '" + reportTime + "%' THEN 1 END) AS count" + k
						queryCountParts.push(countQueryPart)
					})

					var testsVsMLTQuery = "SELECT " + queryCountParts.join(",") + " FROM `bloomy_invoice_test`"
					var testsVsMLTQueryArgs = JSON.stringify({query: testsVsMLTQuery, params:[]})
					var testsVsMLTRes = this.$electron.ipcRenderer.sendSync('db-query', testsVsMLTQueryArgs)
					var testsVsMLTResObj = testsVsMLTRes[0]

					var chartDataArray = []
					Object.keys(testsVsMLTResObj).forEach(function(r){
						chartDataArray.push(testsVsMLTResObj[r])
					})

					var totalReports = 0
					if(chartDataArray.length > 0) {
						totalReports = chartDataArray.reduce(function(acc, val) { return acc + val; })
					}

					reportVsMLTschartDatasets.push({
						label: dateForLabel,
			        	backgroundColor:  this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
			          	borderColor:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
			          	borderWidth: this.checkPrnterFriendly ? 1 : 0,
			          	data: chartDataArray,
			          	datalabels: {
					         display: function(context) {
					         	var index = context.dataIndex
							    var value = context.dataset.data[index]
							    return value > 0
					         },
					         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
					         borderRadius: 5,
					         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
					         anchor: 'center',
					         font: {
					         	size: '10',
					         	weight: '500'
					         }
				      	}
					})

					var chartDataPrev = []
				 	var comparisonDataObj = {}
				 	if(this.checkReportComparison) {
				 		var chartLabels = []
						var queryCountPartsPrev = []
						usersMLTRes.forEach(function(u, k){
							var reportLabelText = u.f_name
							if(u.l_name && u.l_name != "") {
								reportLabelText += " " + u.l_name[0].toUpperCase()
							}
							chartLabels.push(reportLabelText)
							var countQueryPart = "COUNT(CASE WHEN `user_id` = '" + u.id + "' AND `report_date` LIKE '" + monthYearPrevious + "%' THEN 1 END) AS count" + k
							queryCountPartsPrev.push(countQueryPart)
						})

						var testsVsMLTQueryPrev = "SELECT " + queryCountPartsPrev.join(",") + " FROM `bloomy_invoice_test`"
						var testsVsMLTQueryPrevArgs = JSON.stringify({query: testsVsMLTQueryPrev, params:[]})
						var testsVsMLTPrevRes = this.$electron.ipcRenderer.sendSync('db-query', testsVsMLTQueryPrevArgs)
						var testsVsMLTPrevResObj = testsVsMLTPrevRes[0]

						var chartDataPrevArray = []
						Object.keys(testsVsMLTPrevResObj).forEach(function(r){
							chartDataPrevArray.push(testsVsMLTPrevResObj[r])
						})

						var totalReportsPrev = 0

						if(chartDataPrevArray.length > 0) {
							totalReportsPrev = chartDataPrevArray.reduce(function(acc, val) { return acc + val; })
						}

						comparisonDataObj = {
							reportPeriodLabel: dateForLabelPrevious,
							totalNumber: totalReportsPrev
						}

						reportVsMLTschartDatasets.push({
							label: dateForLabelPrevious,
				        	backgroundColor:  this.checkPrnterFriendly ? this.chartPatternBg : this.chartColorSecondary,
				          	borderColor:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				          	borderWidth:  this.checkPrnterFriendly ? 1 : 0,
				          	data: chartDataPrevArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor:  this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorSecondary,
						         borderRadius: 5,
						         color:  this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         anchor: 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
					      	}
						})
				 	}

					reportsVsMLTsChartData = {
						id: 'sys_report_reports_vs_mlts_chart',
				      	labels: chartLabels,
				      	datasets: reportVsMLTschartDatasets
				    }	

					this.sysReportReportVsMLTsData = {
						repChartData: {
							chartData: reportsVsMLTsChartData,
							options: {
								animation: false,
								responsive: false,
								scales: {
							        yAxes: [{
							            ticks: {
							            	beginAtZero: true,
							                min: 0
							            }
							        }],
							        xAxes: [{
							        	ticks: {
							        		autoSkip: false
							        	}
							        }]
							    }
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalReports,
						comparisonData: comparisonDataObj
					}

				} else {
					this.sysReportReportVsMLTsData = null
				}

				/////////// REPORTS VS REF.DOCTOR REPORT //////////////
				if(this.checkReportsVsDoc) {
					var reportRefDoctorsChartData = null
					var reportRefDoctorschartDatasets = []

					var refDoctorsQuery = "SELECT * FROM `bloomy_ref_doctors`"
					var refDoctorsQueryArgs = JSON.stringify({query: refDoctorsQuery, params: []})

					var refDoctorRes = this.$electron.ipcRenderer.sendSync('db-query', refDoctorsQueryArgs)

					var chartLabels = []
					var docNames = []
					var countQueryParts = []
					refDoctorRes.forEach(function(v, k){
						var docName = (v.doc_title + '.' + v.doc_name).substr(0, 12)
						chartLabels.push(docName)

						docNames.push(v.doc_title + '.' + v.doc_name)

						var countQueryPart = "COUNT(CASE WHEN `ref_doctor` = '" + v.id + "' AND `invoice_time` LIKE '" + reportTime + "%' THEN 1 END) AS count" + k
						countQueryParts.push(countQueryPart)
					})

					countQueryParts.push("COUNT(CASE WHEN `ref_doctor` IS NULL AND `invoice_time` LIKE '" + reportTime + "%' THEN 1 END) AS count_null")
					chartLabels.push('unknown')

					var reportDataQuery = "SELECT " + countQueryParts.join(",") + " FROM `bloomy_invoice`"
					var reportDataQueryArgs = JSON.stringify({query: reportDataQuery, params: []})
					var refDoctorReportDaraRes = this.$electron.ipcRenderer.sendSync('db-query', reportDataQueryArgs)

					var reportDataResObj = refDoctorReportDaraRes[0]
					var chartDataArray = []
					var chartDataKnown = []
					Object.keys(reportDataResObj).forEach(function(r){
						chartDataArray.push(reportDataResObj[r])
						if(r != 'count_null') {
							chartDataKnown.push(reportDataResObj[r])
						}
					})

					var totalReferences = 0
					var maxReferences = 0
					var maxRefDoctors = []
					if(chartDataArray.length > 0) {
						totalReferences = chartDataArray.reduce(function(acc, val) { return acc + val; })
					}

					if(chartDataKnown.length > 0) {
						maxReferences = Math.max.apply(Math, chartDataKnown)
						chartDataKnown.forEach(function(v, k) {
							if(maxReferences > 0 && v == maxReferences) {
								maxRefDoctors.push(docNames[k])
							}
						})
					}

					reportRefDoctorschartDatasets.push({
						label: dateForLabel,
			        	backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
			          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
			          	borderWidth: this.checkPrnterFriendly ? 1 : 0,
			          	data: chartDataArray,
			          	datalabels: {
					         display: function(context) {
					         	var index = context.dataIndex
							    var value = context.dataset.data[index]
							    return value > 0
					         },
					         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
					         borderRadius: 5,
					         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
					         align: 'center',
					         anchor: 'center',
					         font: {
					         	size: '10',
					         	weight: '500'
					         }
				      	}
					}) 

					var comparisonDataObj = {}
					if(this.checkReportComparison) {
						var countQueryPartsPrev = []

						refDoctorRes.forEach(function(v, k){
							var countQueryPart = "COUNT(CASE WHEN `ref_doctor` = '" + v.id + "' AND `invoice_time` LIKE '" + monthYearPrevious + "%' THEN 1 END) AS count" + k
							countQueryPartsPrev.push(countQueryPart)
						})

						countQueryPartsPrev.push("COUNT(CASE WHEN `ref_doctor` IS NULL AND `invoice_time` LIKE '" + monthYearPrevious + "%' THEN 1 END) AS count_null")

						var reportDataQueryPrev = "SELECT " + countQueryPartsPrev.join(",") + " FROM `bloomy_invoice`"
						var reportDataQueryPrevArgs = JSON.stringify({query: reportDataQueryPrev, params: []})
						var refDoctorReportDataPrevRes = this.$electron.ipcRenderer.sendSync('db-query', reportDataQueryPrevArgs) 

						var refDoctorReportDataPrevResObj = refDoctorReportDataPrevRes[0]
						var chartDataPrev = []
						var chartDataKnownPrev = []
						Object.keys(refDoctorReportDataPrevResObj).forEach(function(r) {
							chartDataPrev.push(refDoctorReportDataPrevResObj[r])

							if(r != 'count_null') {
								chartDataKnownPrev.push(refDoctorReportDataPrevResObj[r])
							}
						})

						var totalReferencesPrev = 0
						var maxReferencesPrev = 0
						var maxRefDoctorsPrev = []
						if(chartDataPrev.length > 0) {
							totalReferencesPrev = chartDataPrev.reduce(function(acc, val) { return acc + val; })
						}

						if(chartDataKnownPrev.length > 0) {
							maxReferencesPrev = Math.max.apply(Math, chartDataKnownPrev)
							chartDataKnownPrev.forEach(function(v, k) {
								if(maxReferencesPrev > 0 && v == maxReferencesPrev) {
									maxRefDoctorsPrev.push(docNames[k])
								}
							})
						}

						comparisonDataObj = {
							totalNumber: totalReferencesPrev,
							maxNumber: maxReferencesPrev,
							maxRefDoctors: maxRefDoctorsPrev
						} 

						reportRefDoctorschartDatasets.push({
							label: dateForLabelPrevious,
				        	backgroundColor: this.checkPrnterFriendly ? this.chartPatternBg : this.chartColorSecondary,
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				          	borderWidth: this.checkPrnterFriendly ? 1 : 0,
				          	data: chartDataPrev,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorSecondary,
						         borderWidth: this.checkPrnterFriendly ? 1 : 0,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         anchor: 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
					      	}
						})
					}

					reportRefDoctorsChartData = {
						id: 'sys_report_ref_doctors_chart',
				      	labels: chartLabels,
				      	datasets: reportRefDoctorschartDatasets
				    }

				    this.sysReportRefDoctorsData = {
				    	repChartData: {
							chartData: reportRefDoctorsChartData,
							options: {
								animation: false,
								responsive: false,
								scales: {
							        yAxes: [{
							            ticks: {
							            	beginAtZero: true,
							                min: 0
							            }
							        }],
							        xAxes: [{
							        	ticks: {
							        		autoSkip: false
							        	}
							        }]
							    }
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalReferences,
						maxNumber: maxReferences,
						maxRefDoctors: maxRefDoctors,
						comparisonData: comparisonDataObj
				    }

				} else {
					this.sysReportRefDoctorsData = null
				}

				//////////// SPECIMENS VS COLLECTING CENTERS REPORT /////////////////
				if(this.checkReportsVsColCenters) {
					var reportSpecimenVsColCenterChartData = null
					var reportSpecimenVsColCenterchartDatasets = []

					var selColCentersQuery = "SELECT `id`, `center_name` FROM `bloomy_collecting_centers` WHERE `published`=?"
					var selColCentersQueryArgs = JSON.stringify({query: selColCentersQuery, params: [1]})
					var colCenteresRes = this.$electron.ipcRenderer.sendSync('db-query', selColCentersQueryArgs)

					var chartLabels = []
					var colCenterNames = []
					var countQueryParts = []
					colCenteresRes.forEach(function(v, k){
						chartLabels.push(v.center_name.length < 10 ? v.center_name : v.center_name.substr(0, 10) + '...')
						colCenterNames.push(v.center_name)
						var countQueryPart = "COUNT(CASE WHEN `collecting_center` = '" + v.id + "' AND `invoice_time` LIKE '" + reportTime + "%' THEN 1 END) AS count" + k
						countQueryParts.push(countQueryPart)
					})

					var chartDataQuery = "SELECT " + countQueryParts.join(",") + " FROM `bloomy_invoice`"
					var chartDataQueryArgs = JSON.stringify({query: chartDataQuery, params: []})
					var chartDataRes = this.$electron.ipcRenderer.sendSync('db-query', chartDataQueryArgs)

					var chartDataResObj = chartDataRes[0]
					var chartDataArray = []
					Object.keys(chartDataResObj).forEach(function(r){
						chartDataArray.push(chartDataResObj[r])
					})

					var totalSpecimes = 0
					var maxSpecimens = 0
					var maxColCenters = []

					if(chartDataArray.length > 0) {
						totalSpecimes = chartDataArray.reduce(function(acc, val) { return acc + val; })
						maxSpecimens = Math.max.apply(Math, chartDataArray)

						chartDataArray.forEach(function(m, k){
							if(maxSpecimens > 0 && maxSpecimens == m) {
								maxColCenters.push(colCenterNames[k])
							}
						})
					}

					reportSpecimenVsColCenterchartDatasets.push({
						label: dateForLabel,
			        	backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
			        	borderWidth: this.checkPrnterFriendly ? 1 : 0,
			          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
			          	data: chartDataArray,
			          	datalabels: {
					         display: function(context) {
					         	var index = context.dataIndex
							    var value = context.dataset.data[index]
							    return value > 0
					         },
					         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
					         borderRadius: 5,
					         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
					         anchor: 'center',
					         font: {
					         	size: '10',
					         	weight: '500'
					         }
				      	}
					}) 

					var comparisonDataObj = {}
					if(this.checkReportComparison) {
						var countQueryPartsPrev = []

						colCenteresRes.forEach(function(v, k){
							var countQueryPart = "COUNT(CASE WHEN `collecting_center` = '" + v.id + "' AND `invoice_time` LIKE '" + monthYearPrevious + "%' THEN 1 END) AS count" + k
							countQueryPartsPrev.push(countQueryPart)
						})

						var countPrevQuery = "SELECT " + countQueryPartsPrev.join(",") + " FROM `bloomy_invoice`"
						var countPrevQueryArgs = JSON.stringify({query: countPrevQuery, params: []})
						var countPrevRes = this.$electron.ipcRenderer.sendSync('db-query', countPrevQueryArgs)

						var countPrevResObj = countPrevRes[0]
						var chartDataPrevArray = []
						Object.keys(countPrevResObj).forEach(function(r){
							chartDataPrevArray.push(countPrevResObj[r])
						})

						var totalSpecimesPrev = 0
						var maxSpecimensPrev = 0
						var maxColCentersPrev = []

						if(chartDataPrevArray.length > 0) {
							totalSpecimesPrev = chartDataPrevArray.reduce(function(acc, val) { return acc + val; })
							maxSpecimensPrev = Math.max.apply(Math, chartDataPrevArray)
							chartDataPrevArray.forEach(function(m, k){
								if(maxSpecimensPrev > 0 && maxSpecimensPrev == m) {
									maxColCentersPrev.push(colCenterNames[k])
								}
							})
						}

						comparisonDataObj = {
							totalNumber: totalSpecimesPrev,
							maxNumber: maxSpecimensPrev,
							maxColCenters: maxColCentersPrev
						}

						reportSpecimenVsColCenterchartDatasets.push({
							label: dateForLabelPrevious,
				        	backgroundColor: this.checkPrnterFriendly ? this.chartPatternBg : this.chartColorSecondary,
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				          	borderWidth: this.checkPrnterFriendly ? 1 : 0,
				          	data: chartDataPrevArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' :this.chartColorSecondary,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly :'#fff',
						         anchor: 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
					      	}
						}) 
					}

					reportSpecimenVsColCenterChartData = {
						id: 'sys_report_specimen_col_center_chart',
				      	labels: chartLabels,
				      	datasets: reportSpecimenVsColCenterchartDatasets
				    }

				    this.sysReportSpecimenVsCollectingCenterData = {
				    	repChartData: {
							chartData: reportSpecimenVsColCenterChartData,
							options: {
								animation: false,
								responsive: false,
								scales: {
							        yAxes: [{
							            ticks: {
							            	beginAtZero: true,
							                min: 0
							            }
							        }],
							        xAxes: [{
							        	ticks: {
							        		autoSkip: false
							        	}
							        }]
							    }
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalSpecimes,
						maxNumber: maxSpecimens,
						maxColCenters: maxColCenters,
						comparisonData: comparisonDataObj
				    }


				} else {
					this.sysReportSpecimenVsCollectingCenterData = null
				}

				////////////////// REPORTS VS TEST PROFILES REPORT //////////////////////
				if(this.checkReportsVsProfile) {
					var reportTestVsProfilesChartData = null
					var reportTestVsProfilesChartDataSet = []

					var selTestProfilesQuery = "SELECT * FROM `bloomy_profiles`"
					var selTestProfilesQueryArgs = JSON.stringify({query: selTestProfilesQuery, params: []})
					var testProfilesRes = this.$electron.ipcRenderer.sendSync('db-query', selTestProfilesQueryArgs)

					var countQueryParts = []
					var chartLabels = []
					var profileNames = []
					testProfilesRes.forEach(function(v, k){
						var profileNameShort = v.profile_name.length > 10 ? v.profile_name.substr(0,10) + '...' : v.profile_name
						chartLabels.push(profileNameShort)
						profileNames.push(v.profile_name)

						var countQueryPart = "COUNT(CASE WHEN `profile_id` = '" + v.id + "' AND `report_date` LIKE '" + reportTime + "%' THEN 1 END) AS count" + k
						countQueryParts.push(countQueryPart)
					})

					var chartDataQuery = "SELECT " + countQueryParts.join(",") + " FROM `bloomy_invoice_test`"
					var chartDataQueryArgs = JSON.stringify({query: chartDataQuery, params: []})
					var chartDataRes = this.$electron.ipcRenderer.sendSync('db-query', chartDataQueryArgs)

					var chartDataResObj = chartDataRes[0]
					var chartDataArray = []
					Object.keys(chartDataResObj).forEach(function(r){
						chartDataArray.push(chartDataResObj[r])
					})

					var totalTests = 0
					var maxTests = 0

					if(chartDataArray.length > 0) {
						totalTests = chartDataArray.reduce(function(acc, val) { return acc + val; })
						maxTests = Math.max.apply(Math, chartDataArray)
					}

					reportTestVsProfilesChartDataSet.push({
						label: dateForLabel,
			        	backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
			        	borderWidth: this.checkPrnterFriendly ? 1 : 0,
			          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
			          	data: chartDataArray,
			          	datalabels: {
					         display: function(context) {
					         	var index = context.dataIndex
							    var value = context.dataset.data[index]
							    return value > 0
					         },
					         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
					         borderRadius: 5,
					         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
					         anchor: 'center',
					         font: {
					         	size: '10',
					         	weight: '500'
					         }
				      	}
					})

					var comparisonDataObj = {}
					if(this.checkReportComparison) {
						var countQueryPartsPrev = []

						testProfilesRes.forEach(function(v, k){
							var countQueryPart = "COUNT(CASE WHEN `profile_id` = '" + v.id + "' AND `report_date` LIKE '" + monthYearPrevious + "%' THEN 1 END) AS count" + k
							countQueryPartsPrev.push(countQueryPart)
						})

						var chartDataPrevQuery = "SELECT " + countQueryPartsPrev.join(",") + " FROM `bloomy_invoice_test`"
						var chartDataPrevQueryArgs = JSON.stringify({query: chartDataPrevQuery, params: []})
						var chartDataPrevRes = this.$electron.ipcRenderer.sendSync('db-query', chartDataPrevQueryArgs)

						var chartDataPrevResObj = chartDataPrevRes[0]
						var chartDataPrevArray = []
						Object.keys(chartDataPrevResObj).forEach(function(r){
							chartDataPrevArray.push(chartDataPrevResObj[r])
						})

						var totalTestsPrev = 0
						var maxTestsPrev = 0

						if(chartDataPrevArray.length > 0) {
							totalTestsPrev = chartDataPrevArray.reduce(function(acc, val) { return acc + val; })
							maxTestsPrev = Math.max.apply(Math, chartDataPrevArray)
						}

						comparisonDataObj = {
							totalNumber: totalTestsPrev,
							maxNumber: maxTestsPrev
						}

						reportTestVsProfilesChartDataSet.push({
							label: dateForLabelPrevious,
				        	backgroundColor: this.checkPrnterFriendly ? this.chartPatternBg : this.chartColorSecondary,
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				          	borderWidth: this.checkPrnterFriendly ? 1 : 0,
				          	data: chartDataPrevArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorSecondary,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         anchor: 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
					      	}
						})
					}

					reportTestVsProfilesChartData = {
						id: 'sys_report_test_vs_profiles_chart',
				      	labels: chartLabels,
				      	datasets: reportTestVsProfilesChartDataSet
				    }

				    this.sysReportReportsVsProfileData = {
				    	repChartData: {
							chartData: reportTestVsProfilesChartData,
							options: {
								animation: false,
								responsive: false,
								scales: {
							        yAxes: [{
							            ticks: {
							            	beginAtZero: true,
							                min: 0
							            }
							        }],
							        xAxes: [{
							        	ticks: {
							        		autoSkip: false
							        	}
							        }]
							    }
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalTests,
						maxNumber: maxTests,
						comparisonData: comparisonDataObj
					}

				} else {
					this.sysReportReportsVsProfileData = null
				}

				/////////////// REVENUE REPORT ///////////////
				if(this.checkRevenueReport) {
					var revenueReportChartData = null
					var revenueReportChartDatasets = []

					var countQueryParts = []
					daysMonthsForQuery.forEach(function(v, k){
						var countQueryPart = "SUM(CASE WHEN `invoice_time` LIKE '" + v + "%' THEN ROUND(`price`-(`price`*`discount`/100), 2) ELSE 0 END) AS price" + k
						countQueryParts.push(countQueryPart)
					})
				 	var revenueQuery = "SELECT " + countQueryParts.join(',') + " FROM `bloomy_invoice`"
				 	var revenueQueryArgs = JSON.stringify({query: revenueQuery, params:[]})
				 	//console.log(revenueQuery)
				 	var revenueQueryRes = this.$electron.ipcRenderer.sendSync('db-query', revenueQueryArgs)

				 	var revenueQueryResObj = revenueQueryRes[0]
				 	var chartDataArray = []
				 	Object.keys(revenueQueryResObj).forEach(function(r){
				 		chartDataArray.push(Math.round(revenueQueryResObj[r]))
				 	})

				 	var totalRevenue = 0
				 	var maxRevenue = 0
				 	var minRevenue = 0
				 	var avgRevenue = 0

				 	if(chartDataArray.length > 0) {
				 		totalRevenue = chartDataArray.reduce(function(acc, val) { return acc + val; }).toFixed(2)
						maxRevenue = Math.max.apply(Math, chartDataArray).toFixed(2)
						minRevenue = Math.min.apply(Math, chartDataArray).toFixed(2)
						avgRevenue = (totalRevenue/daysMonthsForQuery.length).toFixed(2)
				 	}

				 	revenueReportChartDatasets.push({
				        	label: dateForLabel,
				        	backgroundColor: 'rgba(0,0,0,0)',
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorMain,
				         	borderWidth: this.checkPrnterFriendly ? 1 : 2,
				          	lineTension: 0,
				          	data: chartDataArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorMain,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         align: this.checkPrnterFriendly ? 'end' : 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
						      }
				        }
				    )

				    var comparisonDataObj = {}
				    if(this.checkReportComparison) {
				    	var countQueryPartsPrev = []

				    	daysMonthsForQueryPrevious.forEach(function(v, k){
							var countQueryPart = "SUM(CASE WHEN `invoice_time` LIKE '" + v + "%' THEN ROUND(`price`-(`price`*`discount`/100), 2) ELSE 0 END) AS price" + k
							countQueryPartsPrev.push(countQueryPart)
						})

						var revenuePrevQuery = "SELECT " + countQueryPartsPrev.join(",") + " FROM `bloomy_invoice`"
						var revenuePrevQueryArgs = JSON.stringify({query: revenuePrevQuery, params: []})
						var revenuePrevRes = this.$electron.ipcRenderer.sendSync('db-query', revenuePrevQueryArgs)

						var revenuePrevResObj = revenuePrevRes[0]
						var chartDataPrevArray = []
						Object.keys(revenuePrevResObj).forEach(function(r){
							chartDataPrevArray.push(revenuePrevResObj[r])
						})

						var totalRevenuePrev = 0
					 	var maxRevenuePrev = 0
					 	var minRevenuePrev = 0
					 	var avgRevenuePrev = 0

					 	if(chartDataPrevArray.length > 0) {
					 		totalRevenuePrev = chartDataPrevArray.reduce(function(acc, val) { return acc + val; }).toFixed(2)
							maxRevenuePrev = Math.max.apply(Math, chartDataPrevArray).toFixed(2)
							minRevenuePrev = Math.min.apply(Math, chartDataPrevArray).toFixed(2)
							avgRevenuePrev = (totalRevenuePrev/daysMonthsForQuery.length).toFixed(2)
					 	}

					 	comparisonDataObj = {
					 		totalNumber: totalRevenuePrev,
							maxNumber: maxRevenuePrev,
							minNumber: minRevenuePrev,
							averageNumber: avgRevenuePrev,
					 	}

					 	revenueReportChartDatasets.push({
				        	label: dateForLabelPrevious,
				        	backgroundColor: 'rgba(0,0,0,0)',
				          	borderColor: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : this.chartColorSecondary,
				         	borderWidth: this.checkPrnterFriendly ? 1 : 2,
				         	borderDash: this.checkPrnterFriendly ? this.borderDash : [],
				          	lineTension: 0,
				          	data: chartDataPrevArray,
				          	datalabels: {
						         display: function(context) {
						         	var index = context.dataIndex
								    var value = context.dataset.data[index]
								    return value > 0
						         },
						         backgroundColor: this.checkPrnterFriendly ? 'rgba(0,0,0,0)' : this.chartColorSecondary,
						         borderRadius: 5,
						         color: this.checkPrnterFriendly ? this.chartColorPrinterFriendly : '#fff',
						         align: this.checkPrnterFriendly ? 'end' : 'center',
						         font: {
						         	size: '10',
						         	weight: '500'
						         }
						      }
				        }
				    )

				    }

				    revenueReportChartData = {
				    	id: 'sys_report_revenue_report_chart',
				      	labels: daysMonthsChartLabels,
				      	datasets: revenueReportChartDatasets
				    }

				    this.sysReportRevenueReportData = {
						repChartData: {
							chartData: revenueReportChartData,
							options: {
								animation: false,
								responsive: false
							}
						},
						reportPeriodLabel: dateForLabel,
						timePeriod: timePeriod,
						totalNumber: totalRevenue,
						maxNumber: maxRevenue,
						minNumber: minRevenue,
						averageNumber: avgRevenue,
						comparisonData: comparisonDataObj
					}

				} else {
					this.sysReportRevenueReportData = null
				}
			}
		},
		beforeMount() {
			this.genSystemReport()
		}
	};
</script>

<style lang='scss'></style>