<template>
	<div class="container-fluid sys-report-outer">
		<div class="report-front-page  force-page-break-after">
			<div class="report-title">
				<h1>{{ timePeriodModeVal }} Report</h1>
				<h3>{{ reportTimePeriod }}</h3>
			</div>
			<div class="report-lab-info">
				<div v-show="labLogo"><img :src="labLogo" width="120"></div>
				<div class="title">{{ labName }}</div>
				<div class="sub-title">{{ labAddress }}</div>
				<div class="sub-title-small" v-show="labEmail">{{ labEmail }}</div>
				<div class="sub-title-small" v-show="labPhone">{{ labPhone }}</div>
				<div class="sub-title-small" v-show="labWebsite">{{ labWebsite }}</div>
			</div>
		</div>
		<div v-if="numberOfInvoices">
			<h5>Number of invoices</h5>
			<div class="row content-row">
				<div class="col-6">
					<line-chart
						:chart-id="numberOfInvoices.repChartData.id"
						:chartData="numberOfInvoices.repChartData.chartData"
						:options="numberOfInvoices.repChartData.options"
						:height="chartHeight"
						 />
				</div>
				<div class="col-6">
					<p>The chart shows the number if invoices generated over the <span v-if="numberOfInvoices.timePeriod=='monthly'">month</span><span v-else-if="numberOfInvoices.timePeriod=='annual'"></span><span v-else>period of time</span> <b>{{numberOfInvoices.reportPeriodLabel}}</b>.

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Max invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.maxNumber }}
								</div>
							</div>
						</div>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Min invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.minNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Average invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.averageNumber }}
								</div>
							</div>
						</div>

						<div v-show="Object.keys(numberOfInvoices.comparisonData).length > 0">
							Comparing with previous time period ({{ numberOfInvoices.comparisonData.reportPeriodLabel }}), the total number of invoices <span v-if="numberOfInvoices.totalNumber > numberOfInvoices.comparisonData.totalNumber" class="text-success"><b>increased by {{ numberOfInvoices.totalNumber - numberOfInvoices.comparisonData.totalNumber }}</b></span><span v-else-if="numberOfInvoices.totalNumber < numberOfInvoices.comparisonData.totalNumber" class="text-danger"><b>decreased by {{ numberOfInvoices.comparisonData.totalNumber -  numberOfInvoices.totalNumber}}</b></span><span v-else>remains unchanged ({{ numberOfInvoices.comparisonData.totalNumber }})</span>.
						</div>
					</p>
					<div v-show="Object.keys(numberOfInvoices.comparisonData).length > 0">
						<h6>Data comparison with previous time period {{ numberOfInvoices.comparisonData.reportPeriodLabel }}</h6>
						<p>In the previous time period. invoices have been generated as follows.</p>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Max invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.comparisonData.maxNumber }}
								</div>
							</div>
						</div>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Min invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.comparisonData.minNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Average invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.comparisonData.averageNumber }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-if="invoicesVsExtLabs">
			<h5>Number of invoices vs External Laboratories</h5>
			<div class="row content-row">
				<div class="col-6">
					<p>The chart shows the number if invoices generated for external laboratory testing, over the <span v-if="invoicesVsExtLabs.timePeriod=='monthly'">month</span><span v-else-if="invoicesVsExtLabs.timePeriod=='annual'"></span><span v-else>period of time</span> <b>{{invoicesVsExtLabs.reportPeriodLabel}}</b>.

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Max invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.maxNumber }}
								</div>
							</div>
						</div>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Min invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.minNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Average invoices</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.averageNumber }}
								</div>
							</div>
						</div>

						<div v-show="Object.keys(invoicesVsExtLabs.comparisonData).length > 0">
							Comparing with previous time period ({{ invoicesVsExtLabs.comparisonData.reportPeriodLabel }}), the total number of invoices <span v-if="invoicesVsExtLabs.totalNumber > invoicesVsExtLabs.comparisonData.totalNumber" class="text-success"><b>increased by {{ invoicesVsExtLabs.totalNumber - invoicesVsExtLabs.comparisonData.totalNumber }}</b></span><span v-else-if="invoicesVsExtLabs.totalNumber < invoicesVsExtLabs.comparisonData.totalNumber" class="text-danger"><b>decreased by {{ invoicesVsExtLabs.comparisonData.totalNumber -  invoicesVsExtLabs.totalNumber}}</b></span><span v-else>remains unchanged ({{ invoicesVsExtLabs.comparisonData.totalNumber }})</span>.
						</div>
					</p>
					<div v-show="Object.keys(invoicesVsExtLabs.comparisonData).length > 0">
						<div class="content-block">
							<h6>Data comparison with previous time period {{ invoicesVsExtLabs.comparisonData.reportPeriodLabel }}</h6>
							<p>In the previous time period. invoices have been generated as follows.</p>
						</div>
						
						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Max invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.comparisonData.maxNumber }}
								</div>
							</div>
						</div>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Min invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ invoicesVsExtLabs.comparisonData.minNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Average invoices</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ numberOfInvoices.comparisonData.averageNumber }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<line-chart
						:chart-id="invoicesVsExtLabs.repChartData.id"
						:chartData="invoicesVsExtLabs.repChartData.chartData"
						:options="invoicesVsExtLabs.repChartData.options"
						:height="chartHeight"
						 />
				</div>
			</div>
		</div>

		<div v-if="reportsVsMLTs" class=" force-page-break-after">
			<h5>Reports Vs MLTs</h5>
			<div class="row content-row">
				<div class="col-6">
					<bar-chart
						:chartData="reportsVsMLTs.repChartData.chartData"
						:options="reportsVsMLTs.repChartData.options"
						:height="chartHeight"
						 />
				</div>
				<div class="col-6">
					<p>
						The number of reports done by each Medical Laboratory Technologist in the lab, within the period of <span v-if="reportsVsMLTs.timePeriod=='monthly'">month</span><span v-else-if="reportsVsMLTs.timePeriod=='annual'">year</span><span v-else>time</span> <b>{{ reportsVsMLTs.reportPeriodLabel }}</b>.
					</p>
					<div class="row content-row">
						<div class="col-6 content-block">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total reports</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								{{ reportsVsMLTs.totalNumber }}
							</div>
						</div>
						<div class="col-6">
							
						</div>
					</div>

					<div v-if="Object.keys(reportsVsMLTs.comparisonData).length > 0">
						<div class="content-block">
							<h6>Data comparison with previous time period {{ reportTimePeriodPrev }}</h6>
							<p>
								As a comparison, in {{ reportTimePeriodPrev }} reports were done by medical laboratory technologist as follows.
							</p>
						</div>
						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total reports</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ reportsVsMLTs.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-if="docRefs">
			<h5>Doctor references</h5>
			<div class="row content-row">
				<div class="col-6">
					<p>
						This chart shows how many invoices generated for the persons who referred by each doctor listed in the system. If there is no reference doctor record for an invoice, that is counted in 'unknown' category.
					</p>
					<div class="row content-row">
						<div class="col-6 content-block">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total doctor references</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								{{ docRefs.totalNumber }}
							</div>
						</div>
						<div class="col-6 content-block">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Max doctor references</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'no-round-corners': docRefs.maxRefDoctors.length > 0, 'print': printerFriendly}]">
								{{ docRefs.maxNumber }}
							</div>
							<div v-if="docRefs.maxRefDoctors.length > 0" :class="['summary-number-panel', 'main', 'extra-data-panel', {'print': printerFriendly}]">
								<div v-for="(maxDoc, index) in docRefs.maxRefDoctors" :key="'maxdoc'+index">{{maxDoc}}</div>
							</div>
						</div>
					</div>
						
					<div v-if="Object.keys(docRefs.comparisonData).length > 0">
						<h6>Data comparison with previous time period {{ reportTimePeriodPrev }}</h6>
						<p>In the previous time period {{reportTimePeriodPrev}}, doctor references have been recorded as follows. Comparison can be seen in the report.</p>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total doctor references</div>
								<div :class="['summary-number-panel', 'secondary value-panel', {'print': printerFriendly}]">
									{{ docRefs.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Max doctor references</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'no-round-corners': docRefs.comparisonData.maxRefDoctors.length > 0, 'print': printerFriendly}]">
									{{ docRefs.comparisonData.maxNumber }}
								</div>
								<div v-if="docRefs.comparisonData.maxRefDoctors.length > 0" :class="['summary-number-panel', 'secondary', 'extra-data-panel', {'print': printerFriendly}]">
									<div v-for="(maxDoc, index) in docRefs.comparisonData.maxRefDoctors" :key="'maxdocPrev'+index">{{maxDoc}}</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="col-6">
					<bar-chart
						:chartData="docRefs.repChartData.chartData"
						:options="docRefs.repChartData.options"
						:height="chartHeight"
						 />					
				</div>
			</div>
		</div>

		<div v-if="specimenVsColCenter">
			<h5>Specimen Vs Collecting center</h5>
			<div class="row content-row">
				<div class="col-6">
					<bar-chart
						:chartData="specimenVsColCenter.repChartData.chartData"
						:options="specimenVsColCenter.repChartData.options"
						:height="chartHeight"
						 />
				</div>
				<div class="col-6">
					<p>The chart shows how many specimens collected from each active collecting center listed in the system, for the time period <b>{{ reportTimePeriod }}</b>.</p>
					
					<div class="row content-row">
						<div class="col-6 content-block">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total specimens</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								{{ specimenVsColCenter.totalNumber }}
							</div>
						</div>
						<div class="col-6 content-block">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Max specimens</div>
							<div :class="['summary-number-panel', 'main value-panel', {'no-round-corners': specimenVsColCenter.maxColCenters.length > 0, 'print': printerFriendly}]">
								{{ specimenVsColCenter.maxNumber }}
							</div>
							<div v-if="specimenVsColCenter.maxColCenters.length > 0" :class="['summary-number-panel', 'main', 'extra-data-panel', {'print': printerFriendly}]">
								<div v-for="(maxCenter, index) in specimenVsColCenter.maxColCenters" :key="'maxCenter'+index">{{maxCenter}}</div>
							</div>
						</div>
					</div>
					
					
					<div v-if="Object.keys(specimenVsColCenter.comparisonData).length > 0">
						<div class="content-block">
							<h6>Data comparison with previous time period {{ reportTimePeriodPrev }}</h6>
							<p>As a comparison the chart shows previous time period ({{ reportTimePeriodPrev }}) data and we can summarize it as follows.</p>
						</div>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total specimens</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ specimenVsColCenter.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Max specimens</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'no-round-corners': specimenVsColCenter.comparisonData.maxColCenters.length > 0, 'print': printerFriendly}]">
									{{ specimenVsColCenter.comparisonData.maxNumber }}
								</div>
								<div v-if="specimenVsColCenter.comparisonData.maxColCenters.length > 0" :class="['summary-number-panel', 'secondary', 'extra-data-panel', {'print': printerFriendly}]">
									<div v-for="(maxCenter, index) in specimenVsColCenter.comparisonData.maxColCenters" :key="'maxCenterPrev'+index">{{maxCenter}}</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>

		<div v-if="reportsVsProfile" class=" force-page-break-after">
			<h5>Reports Vs Test profiles</h5>
			<div class="row content-row">
				<div class="col-6">
					<p>This section shows that, how many reports are generated for each Test profile listed in the system, for the time period <b>{{ reportTimePeriod }}</b>.

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total reports</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ reportsVsProfile.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Max reports</div>
								<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
									{{ reportsVsProfile.maxNumber }}
								</div>
							</div>
						</div>
					</p>

					<div v-if="Object.keys(reportsVsProfile.comparisonData).length > 0">
						<div class="content-block">
							<h6>Data comparison with previous time period {{ reportTimePeriodPrev }}</h6>
							<p>When comparing to the previous time period the medical reports are generated for each Test profile as follows.</p>
						</div>

						<div class="row content-row">
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total reports</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ reportsVsProfile.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6 content-block">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Max reports</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									{{ reportsVsProfile.comparisonData.maxNumber }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<bar-chart
						:chartData="reportsVsProfile.repChartData.chartData"
						:options="reportsVsProfile.repChartData.options"
						:height="chartHeight"
						 />					
				</div>
			</div>
		</div>

		<div v-if="revenueReport">
			<h5>Revenue report</h5>
			<div class="row content-row">
				<div class="col-6">
					<line-chart
						:chartData="revenueReport.repChartData.chartData"
						:options="revenueReport.repChartData.options"
						:height="chartHeight" />					
				</div>
				<div class="col-6">
					<p>
						This chart shows the ups and downs of revenue of each <span v-if="revenueReport.timePeriod == 'monthly'">day</span><span v-if="revenueReport.timePeriod == 'annual'">month</span> in <b>{{ reportTimePeriod }}</b>.
					</p>

					<div class="row content-row">
						<div class="col-6">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Total revenue</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								Rs. {{ revenueReport.comparisonData.totalNumber }}
							</div>
						</div>
						<div class="col-6">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Max revenue</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								Rs. {{ revenueReport.maxNumber }}
							</div>
						</div>
					</div>

					<div class="row content-row">
						<div class="col-6">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Min revenue</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								Rs. {{ revenueReport.minNumber }}
							</div>
						</div>
						<div class="col-6">
							<div :class="['summary-number-panel', 'main', {'print': printerFriendly}]">Average revenue</div>
							<div :class="['summary-number-panel', 'main', 'value-panel', {'print': printerFriendly}]">
								Rs. {{ revenueReport.averageNumber }}
							</div>
						</div>
					</div>

					<div v-if="Object.keys(revenueReport.comparisonData).length > 0">
						<div class="content-block">
							<h6>Data comparison with previous time period {{ reportTimePeriodPrev }}</h6>
							<p>
								Revenue comparison with previous time period {{reportTimePeriodPrev}} can be summarize as follows. It shows that the revenue <span v-if="revenueUpOrDown.went == 'up'" class="text-success"><b>has increased by Rs. {{ revenueUpOrDown.amount }}</b></span><span v-else-if="revenueUpOrDown.went == 'down'" class="text-danger"><b>has decreased by {{ revenueUpOrDown.amount }}</b></span><span v-else>remains unchanged</span> compared to previous time period data.
							</p>
						</div>

						<div class="row content-row">
							<div class="col-6">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Total revenue</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									Rs. {{ revenueReport.comparisonData.totalNumber }}
								</div>
							</div>
							<div class="col-6">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Max revenue</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									Rs. {{ revenueReport.comparisonData.maxNumber }}
								</div>
							</div>
						</div>

						<div class="row content-row">
							<div class="col-6">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Min revenue</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									Rs. {{ revenueReport.comparisonData.minNumber }}
								</div>
							</div>
							<div class="col-6">
								<div :class="['summary-number-panel', 'secondary', {'print': printerFriendly}]">Average revenue</div>
								<div :class="['summary-number-panel', 'secondary', 'value-panel', {'print': printerFriendly}]">
									Rs. {{ revenueReport.comparisonData.averageNumber }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h6 class="text-center">-- End of the Report --</h6>

		<footer></footer>
	    <div class="footer-print-area">
	    	<div style="float: left; width: 45%;">Medical Laboratory Software Solution by BlossomLabs.lk</div>
			<div style="float: right; width: 48%; text-align: right;">{{ footerText }}</div>
	    </div>
	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
	import BarChart from '../Charts/BarChartPrint'
	import LineChart from '../Charts/LineChartPrint'
	import Footer from './Footer'

	const Store = require('electron-store')
  	const elecStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'system-report',
		components: {
			'bar-chart': BarChart,
			'line-chart': LineChart,
			FontAwesomeIcon,
			'print-footer': Footer
		},
		props: {
			timePeriodMode: {
				type: String,
				default: null
			},
			reportTimePeriod: {
				type: String,
				default: null
			},
			reportTimePeriodPrev: {
				type: String,
				default: null
			},
			chartColors: {
				type: Object,
				default: null
			},
			printerFriendly: {
				type: Boolean,
				default: false
			},
			numberOfInvoices: {
				type: Object,
				default: null
			},
			invoicesVsExtLabs: {
				type: Object,
				default: null
			},
			reportsVsMLTs: {
				type: Object,
				default: null
			},
			docRefs: {
				type: Object,
				default: null
			},
			specimenVsColCenter: {
				type: Object,
				default: null
			},
			reportsVsProfile: {
				type: Object,
				default: null
			},
			revenueReport: {
				type: Object,
				default: null
			}
		},
		data() {
			return {
				pageNumberCount: 0,
				chartHeight: 350,

				labName: elecStore.get('system_settings').lab_info.labName,
				labAddress: elecStore.get('system_settings').lab_info.labAddress,
				labLogo: elecStore.get('system_settings').lab_info.labLogo,
				labPhone: elecStore.get('system_settings').lab_info.labPhones,
				labEmail: elecStore.get('system_settings').lab_info.labEmail,
				labWebsite: elecStore.get('system_settings').lab_info.labWeb,
			}
		},
		computed: {
			revenueUpOrDown() {
				if(Object.keys(this.revenueReport.comparisonData).length > 0) {
					var revenueDifference = this.revenueReport.totalNumber - this.revenueReport.comparisonData.totalNumber
					var revenueVarying = null
					if(revenueDifference > 0) {
						revenueVarying = {
							went: 'up',
							amount: Math.round(revenueDifference)
						}
					} else if(revenueDifference < 0) {
						revenueVarying = {
							went: 'down',
							amount: Math.round(Math.abs(revenueDifference))
						}
					} else {
						revenueVarying = {
							went: 'none',
							amount: 0
						}
					}
				}

				return revenueVarying			
			},
			timePeriodModeVal() {
				return this.timePeriodMode.charAt(0).toUpperCase() + this.timePeriodMode.slice(1)
			},
			footerText() {
				return `${this.timePeriodModeVal} Report - ${this.reportTimePeriod} | Report generated on ${this.$moment().format("DD MMMM, YYYY hh:mm a")}`
			},
			pageNumber() {
				var newPageNumber = this.pageNumberCount + 1
				return newPageNumber
			}
		}
	};
</script>

<style lang="scss">
	.sys-report-outer {
		padding: 20px;
		font-size: 14px;

		.report-front-page {
			text-align: center;

			.report-title {
				margin-top: 300px;
				font-size: 24px;
				margin-bottom: 200px;
			}

			.report-lab-info {
				div {
					margin: 5px 0;
				}

				.title {
					font-size: 20px;
					font-weight: 500;
				}

				.sub-title {
					font-size: 16px;
					font-weight: normal;
				}

				.sub-title-small {
					font-size: 14px;
				}
			}
		}

		.content-row {
			margin-bottom: 20px;
		}

		td.chart-summary-title {
			font-size: 14px;
			font-weight: 500;
			text-align: right;
			padding: 10px 20px;
			width: 35%;
		}

		.extra-data {
			font-size: 12px;
		}

		.summary-number-panel {
			width: 100%;
			padding: 3px 10px;
			font-size: 12px;
			text-align: center;
		}

		.summary-number-panel.main {
			border: 1px dashed #17a2b8;
			border-radius: 10px 10px 0 0;
			font-weight: 500;
		}

		.summary-number-panel.main.value-panel {
			background: #17a2b8;
			color: #fff;
			border-radius: 0 0 10px 10px;
			font-weight: 600;
		}

		.summary-number-panel.main.extra-data-panel {
			border: 1px dashed #17a2b8;
			border-radius: 0 0 10px 10px;
			font-weight: normal;
			font-size: 12px;
		}

		.summary-number-panel.secondary {
			border: 1px dashed #ffc107;
			border-radius: 10px 10px 0 0;
			font-weight: 500;
		}

		.summary-number-panel.secondary.value-panel {
			background: #ffc107;
			color: #fff;
			border-radius: 0 0 10px 10px;
			font-weight: 600;
		}

		.summary-number-panel.secondary.extra-data-panel {
			border: 1px dashed #ffc107;
			border-radius: 0 0 10px 10px;
			font-weight: normal;
			font-size: 12px;
		}

		.summary-number-panel.print {
			border-color: #6c757d !important;
			color: #343a40 !important;
		}

		.no-round-corners {
			border-radius: 0 !important;
		}
	}
</style>