<template>
	<div class="medi-report-layout" :style="customFontFamily">
		<div class="report-header">
			<div class="header-ref-data printable">
				<div class="row">
		    		<div class="col-7" :style="customFontSize">
						<table width="100%">
							<tr>
								<td class="report-label">Patient Name</td>
								<td>{{ customerData.customerName }}</td>
							</tr>
							<tr>
								<td class="report-label">Gender</td>
								<td>{{ customerData.sex == 'M' ? 'Male' : 'Female' }}</td>
							</tr>
							<tr>
								<td class="report-label">Age</td>
								<td>
									<span v-show="parseInt(customerData.ageNormal.years) > 0">
										{{ customerData.ageNormal.years }}Y
									</span>
									<span v-show="parseInt(customerData.ageNormal.months) > 0 && parseInt(customerData.ageNormal.years) < 12">
										{{ customerData.ageNormal.months }}M 
									</span>
									<span v-show="parseInt(customerData.ageNormal.days) > 0 && parseInt(customerData.ageNormal.years) < 12">
										{{ customerData.ageNormal.days }}D
									</span>
								</td>
							</tr>
							<tr>
								<td class="report-label">Referred by</td>
								<td>{{ invoiceData.refDoc }}</td>
							</tr>
						</table>
					</div>
					<div class="col-5" :style="customFontSize">
						<table class="float-right">
							<tr>
								<td class="report-label">Specimen</td>
								<td>{{ profileData.fluidType }}</td>
							</tr>
							<tr v-if="invoiceData.billNo">
								<td class="report-label">Bill No</td>
								<td>{{ invoiceData.billNo }}</td>
							</tr>
							<tr v-else>
								<td class="report-label">Invoice No</td>
								<td>{{ invoiceData.invoiceNo }}</td>
							</tr>
							<tr>
								<td class="report-label">Collect time</td>
								<td>{{ invoiceData.collectDate }}</td>
							</tr>
							<tr>
								<td class="report-label">{{ reportDateTimeLabel }}</td>
								<td>{{ profileData.reportDate }}</td>
							</tr>
						</table>
					</div>
		    	</div>
			</div>
		</div>

		<div class="bmi-data text-right" :style="customFontFamily" v-show="customerData.bmi">
			<div :style="customFontSize">
				<strong>BMI:&nbsp;</strong>{{ customerData.bmi }}&nbsp;-&nbsp;Height:{{ customerData.height }}cm&nbsp;&nbsp;Weight:{{ customerData.weight }}kg
			</div>
		</div>

		<div class="row report-body printable" :style="customFontSize">
			<div class="col-12">
				<div class="report-profile-title report-data" :style="titleFontSize">{{ profileData.profileName }}</div>
				<table width="100%" class="report-data">
					<thead>	
						<tr v-if="profileData.reportLayout=='col'">
							<th style="max-width: 40%; min-width: 20%; width: auto;">Description</th>
							<th style="max-width: 15%; min-width: 10%; width: auto;" class="text-center">Result</th>
							<th style="max-width: 15%; min-width: 10%; width: auto;" class="text-center">Unit</th>
							<th style="max-width: 20%; min-width: 12%; width: auto;" class="text-center">Ref. range</th>
							<th style="max-width: 15%; min-width: 10%; width: auto;" class="text-center">Remark</th>
						</tr>
					</thead>
					
					<tbody>
						<tr v-for="tres in testResults">
							<td>{{ tres.test_name }}</td>
							<td :class="{'text-center': profileData.reportLayout=='col', 'text-bold': boldHighLowResults && tres.remark && tres.remark != 'NORMAL'}">
								<span v-if="(tres.test_name === 'Rheumatoid Factor' ||  tres.test_name === 'CRP CONCENTRATION') && tres.remark == 'NORMAL'">{{ tres.ref_range }}</span>
								<span v-else>
									{{ tres.result ? tres.result : '' }}<span v-show="profileData.reportLayout=='row' && tres.unit">&nbsp;<span v-html="tres.unit"></span></span>
								</span>	
							</td>
							<td v-show="profileData.reportLayout=='col'" class="text-center"><span v-show="tres.unit" v-html="tres.unit"></span></td>
							<td v-show="profileData.reportLayout=='col'" class="text-center">{{ tres.ref_range ? tres.ref_range : '' }}</td>
							<td v-show="profileData.reportLayout=='col'" :class="['text-center', {'text-bold': boldHighLowResults && tres.remark && tres.remark != 'NORMAL'}]">
								<span v-if="tres.remark_key" :style="{color: JSON.parse(tres.remark_colors)[tres.remark_key]}">
									{{ tres.remark ? tres.remark : '' }}
								</span>
								<span v-else>
									{{ tres.remark ? tres.remark : '' }}
								</span>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="ref-notes" v-show="profileData.isAB && (abResults.firstLine.length > 0 || abResults.secondLine.length > 0)">
					<div class="row">
						<div class="col-6" v-show="abResults.firstLine.length > 0">
							<div class="report-profile-title" :style="titleFontSize">First Line Antibiotic</div>
							<table width="100%" :style="customFontSize">
								<tr :class="{'text-bold': fl.value==2}" v-for="fl in abResults.firstLine">
									<td>{{ fl.name }}</td>
									<td>{{ abSensitivity[fl.value] }}</td>
								</tr>
							</table>
						</div>
						<div class="col-6" v-show="abResults.secondLine.length > 0">
							<div class="report-profile-title" :style="titleFontSize">Second Line Antibiotic</div>
							<table width="100%" :style="customFontSize">
								<tr :class="{'text-bold': sl.value==2}" v-for="sl in abResults.secondLine">
									<td>{{ sl.name }}</td>
									<td>{{ abSensitivity[sl.value] }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="ref-notes" v-show="commentsText && commentsText != ''">
					<div class="profile-description" v-html="profileData.comments"></div>
				</div>

				<div v-if="testHistoryEnabled && isHistoryAvail" class="test-history-data">
					<div class="report-profile-title" :style="titleFontSize">
						Patient's test history 
					</div>
					<div class="header-sub-info" style="margin-bottom: 7.5pt;">
						The test history is based on previous 5 tests results including current result
					</div>
					<div class="row report-data">
						<div v-if="chartModeHistory" class="col-4 chart-panel test-history-box" v-for="(c, index) in testHistory.chartObjs" :key="'hisChart'+index">
							<div class="test-name">{{ c.testName }} (<span v-html="c.testUnit"></span>)</div>
							<div class="chart-div">
								<line-chart
									:chartData="c.chartData"
									:options="c.options"
									:width="400"
									:height="200"
									 />
							</div>
						</div>

						<div v-if="!chartModeHistory" class="col-4 test-history-box" v-for="(t, index) in testHistory.textModeData.textModeTestNames" :key="'hisTxt'+index">
							<div class="test-name">{{ t.name }} (<span v-html="t.unit"></span>)</div>
							<table width="100%">
								<tbody>
									<tr v-if="testHistory.textModeData.chartDates.length > 1 && testHistory.textModeData.historyChartData[d][t.name] && testHistory.textModeData.historyChartData[d][t.name] != ''" class="row-bottom-border" v-for="(d, ind) in testHistory.textModeData.chartDates" :key="'tdate'+ind">
										<td>{{ d }}</td>
										<td class="text-right">
											<span v-if="isPDF && testHistory.testResltObj[d][t.name].remark_key" :style="{color: JSON.parse(testHistory.testInfo[t.name].remark_colors)[testHistory.testResltObj[d][t.name].remark_key]}">
												{{ testHistory.textModeData.historyChartData[d][t.name][0] }}
											</span>
											<span v-else>
												{{ testHistory.textModeData.historyChartData[d][t.name][0] }}
											</span>
										</td>
									</tr>
									<tr v-else>
										<td colspan="2">No history data</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-4 test-history-box" v-for="(t, tInd) in testHistory.nonChartData.nonChartTestNames" :key="'tKey'+tInd">
							<div class="test-name">{{ t.name }} (<span v-html="t.unit"></span>)</div>
							<table width="100%">
								<tbody>
									<tr v-if="testHistory.nonChartData.chartDates.length > 1 && testHistory.nonChartData.nonChartTestResults[d][t.name] && testHistory.nonChartData.nonChartTestResults[d][t.name] != ''" class="row-bottom-border" v-for="(d, ind) in testHistory.nonChartData.chartDates" :key="'tdate'+ind">
										<td>{{ d }}</td>
										<td class="text-right">
											<span v-if="testHistory.testResltObj[d][t.name].remark_key" :style="{color: JSON.parse(testHistory.testInfo[t.name].remark_colors)[testHistory.testResltObj[d][t.name].remark_key]}">
												{{ testHistory.nonChartData.nonChartTestResults[d][t.name] }}
											</span>
											<span v-else>
												{{ testHistory.nonChartData.nonChartTestResults[d][t.name] }}
											</span>
										</td>
									</tr>
									<tr v-else>
										<td colspan="2">No history data</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="ref-notes" v-show="refNoteText && refNoteText != ''">
					<div class="report-profile-title" :style="titleFontSize">{{ reportFooterTitle }}</div>
					<div class="profile-description" v-html="profileData.description"></div>
				</div>
			</div>
		</div>

		<div v-show="isEnableSignotory" class="row report-footer printable" :style="customFontSize">
			<div class="col-12">
				<div v-show="isEnableSignotory" class="col-4 offset-8 signatory text-center">
					<div class="report-label">{{ signatory.name }}</div>
					<div>Medical Laboratory Technologist</div>
					<div v-show="signatory.slmcRegNo">(SLMC Reg No: {{ signatory.slmcRegNo }})</div>
				</div>
			</div>
		</div>
		
	</div>
</template>

<script>
	import LineChart from '../Charts/LineChartPrint'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default{
		name: 'print-test-report-bl',
		components: {
			'line-chart': LineChart,
		},
		data() {
			return {
				isPDF: this.$route.params.print_mode === 'pdf',
				testResults: null, //this.getData().testResults,
				testHistory: null, //this.getData().testHistory,
				profileData: null, //this.getData().profileData,
				invoiceData: null, //this.getData().invoiceData,
				customerData: null, //this.getData().customerData,

				reportFooterTitle: 'Reference Notes',
				signatory: this.getSignatory(),

				isHistoryAvail: false,
				testHistoryEnabled: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.testHistory : true,
				chartModeHistory: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.historyDisplayCharts : true,
				isEnableSignotory: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.enableSignotory : true,
				printBothDateAndTime: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.printBothDateAndTime : false,
				boldHighLowResults: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.boldHighLowResults : true,

				historyAvailable: false,

				abSensitivity: {
					'0': 'Resistant',
					'1': 'Moderately Sensitive',
					'2': 'Sensitive'
				},
				abResults: this.getAntibiotic()
			}
		},	
		computed: {
			customFontFamily() {
				var reportFontFamily = store.get('system_settings').report_settings.reportFontFamily && store.get('system_settings').report_settings.reportFontFamily != 'default' ? store.get('system_settings').report_settings.reportFontFamily : null
				if(reportFontFamily) {
					return "font-family: '" + reportFontFamily + "' !important;"
				} else {
					return "font-family: 'Courier Prime' !important;"
				}
			},
			customFontSize() {
				var reportFontSize = store.get('system_settings').report_settings.reportFontSize ? store.get('system_settings').report_settings.reportFontSize : null
				if(reportFontSize) {
					return 'font-size: ' + reportFontSize + 'pt !important;'
				} else {
					return 'font-size: 15pt;'
				}
			},
			titleFontSize() {
				var reportFontSize = store.get('system_settings').report_settings.reportFontSize ? store.get('system_settings').report_settings.reportFontSize : null
				if(reportFontSize) {
					return 'font-size: ' + (parseFloat(reportFontSize) + 2) + 'pt !important;'
				} else {
					return 'font-size: 16pt;'
				}
			},
			refNoteText() {
				var html = this.profileData.description
				var div = document.createElement("div");
				div.innerHTML = html
				var text = div.textContent || div.innerText || ""
				//console.log('striped text', text.trim())
				return text.trim()
			},
			commentsText() {
				var html = this.profileData.comments
				var div = document.createElement("div");
				div.innerHTML = html
				var text = div.textContent || div.innerText || ""
				//console.log('striped text', text.trim())
				return text.trim()
			},
			reportDateTimeLabel() {
				return this.printBothDateAndTime ? "Report time" : "Report date"
			} 
		},
		methods: {
			getSignatory: function() {
				var user = store.get('user')
				var appConfig = store.get('app-config')
				var singatoryObj = {
					name: user.name,
					type: appConfig.userTypes[user.type],
					slmcRegNo: user.slmc_reg_no ? user.slmc_reg_no : null
				}

				return singatoryObj
			},
			getData: function() {
				var self = this
				var invoiceTestId = this.$route.params.invoice_test_id

				//console.log('invoice test id', invoiceTestId)

				// get profile data
				var profileDataQuery = "SELECT p.*, p.`id` as prof_id, i.*, i.`id` as inv_id, it.report_date, it.add_comments FROM `bloomy_profiles` p, `bloomy_invoice` i, `bloomy_invoice_test` it WHERE p.id=it.profile_id AND it.invoice_id=i.id AND it.id=?"

				var profileDataArgs = JSON.stringify({query: profileDataQuery, params: [invoiceTestId]})
				var profileDataRes = this.$electron.ipcRenderer.sendSync('db-query', profileDataArgs)

				// get results
				var getTestResult = "SELECT itr.*, t.test_name as test_name, t.`remark_colors` as remark_colors, u.`unit` as unit FROM `bloomy_invoice_test_result` itr INNER JOIN `bloomy_tests` t ON t.id=itr.test_id LEFT JOIN `bloomy_units` u ON u.`id`=t.`unit` WHERE itr.`invoice_test_id`=?"
				var testResultArgs = JSON.stringify({query: getTestResult, params: [invoiceTestId]})

				var testResultsRes = this.$electron.ipcRenderer.sendSync('db-query', testResultArgs)

				//console.log('testResultsRes', testResultsRes)

				// customer data
				var selectCustomerQuery = "SELECT * FROM `bloomy_customer` WHERE `id`=?"
				var selectCustomerArgs = JSON.stringify({query: selectCustomerQuery, params: [profileDataRes[0].customer_id]})
				var selectCustomerRes = this.$electron.ipcRenderer.sendSync('db-query', selectCustomerArgs)

				// ref doctor name
				var docName = "-"
				var docId = profileDataRes[0].ref_doctor
				if(docId) {
					var selectDocQuery = "SELECT * FROM `bloomy_ref_doctors` WHERE `id`=?"
					var selectDocQueryArgs = JSON.stringify({query: selectDocQuery, params: [docId]})
					var selectDocRes = this.$electron.ipcRenderer.sendSync('db-query', selectDocQueryArgs)

					docName = selectDocRes[0].doc_title + " " + selectDocRes[0].doc_name
				}

				// fluid type name
				var flTypeName = null
				var fluidId = profileDataRes[0].fluid_type
				var fluidTypeQuery = "SELECT `fluid_type_name` FROM `bloomy_fluid_types` WHERE `id`=?"
				var fluidTypeQueryArgs = JSON.stringify({query: fluidTypeQuery, params: [fluidId]})
				var fluidTypeRes = this.$electron.ipcRenderer.sendSync('db-query', fluidTypeQueryArgs)

				// test history
				var selectPreviousProfilesQuery = "SELECT it.* FROM `bloomy_invoice_test` it INNER JOIN `bloomy_invoice` i ON i.`id`=it.`invoice_id` WHERE it.`status`>0 AND i.`customer_id`=? AND it.`profile_id`=? AND i.`id` <= ? ORDER BY i.`id` DESC LIMIT 6"
				var previousProfileQueryArgs = JSON.stringify({query: selectPreviousProfilesQuery, params:[profileDataRes[0].customer_id, profileDataRes[0].prof_id, profileDataRes[0].inv_id]})
				var previousProfileRes = this.$electron.ipcRenderer.sendSync('db-query', previousProfileQueryArgs)
				
				if(previousProfileRes.length > 0) {
					this.historyAvailable = true
				}

				var historyChartDates = []
				var historyChartData = {}
				var historyNonChartData = {}
				var testNames = []
				var nonChartTestNames = []
				var ncTemp = []
				var textModeTestNames = []
				var tmTemp = []
				var testInfo = {}
				var testResltObj = {}
				previousProfileRes.forEach(function(h){
					var formatedDate = self.$moment(h.report_date).format("YYYY-MM-DD")

					if(historyChartDates.indexOf(formatedDate) < 0) {
						historyChartDates.push(formatedDate)
					}					

					var getHistoryResult = "SELECT r.*, t.`test_name`, t.`remark_colors`, u.`unit` as unit FROM `bloomy_invoice_test_result` r INNER JOIN `bloomy_tests` t ON r.`test_id`=t.`id` LEFT JOIN `bloomy_units` u ON u.`id`=t.`unit` WHERE r.`invoice_test_id`=?"
					var historyResultArgs = JSON.stringify({query: getHistoryResult, params:[h.id]})
					var historyResultRes = self.$electron.ipcRenderer.sendSync('db-query', historyResultArgs)

					if(historyResultRes.length > 0) {
						testResltObj[formatedDate] = {}
						historyChartData[formatedDate]= {}
						historyNonChartData[formatedDate] = {}
											
						historyResultRes.forEach(function(r){
							if(testNames.indexOf(r.test_name) < 0) {
								testNames.push(r.test_name)
							}

							testInfo[r.test_name] = {}
							testInfo[r.test_name].unit = r.unit
							testInfo[r.test_name].remark_colors = r.remark_colors

							testResltObj[formatedDate][r.test_name] = {}
							testResltObj[formatedDate][r.test_name] = {
								result: r.result,
								remark: r.remark,
								unit: r.unit,
								remark_key: r.remark_key
							}

							if(r.result) {
								if(tmTemp.indexOf(r.test_name) < 0) {
									tmTemp.push(r.test_name)
									textModeTestNames.push({name:r.test_name, unit:r.unit})
								}

								if(isNaN(parseFloat(r.result))) {
									historyNonChartData[formatedDate][r.test_name] = []
									historyNonChartData[formatedDate][r.test_name] = r.result
								} else {
									historyChartData[formatedDate][r.test_name] = []
									historyChartData[formatedDate][r.test_name].push(parseFloat(r.result))
								}
							} else {
								if(ncTemp.indexOf(r.test_name) < 0) {
									ncTemp.push(r.test_name)
									nonChartTestNames.push({name:r.test_name, unit:r.unit})
								}
								historyNonChartData[formatedDate][r.test_name] = []
								historyNonChartData[formatedDate][r.test_name] = r.remark
							}
							
						})
					}
				})

				historyChartDates.sort()

				var historyChartObjArray = []
				testNames.forEach(function(t){
					var chartDataArray = []
					historyChartDates.forEach(function(d){
						if(historyChartData[d][t] && historyChartData[d][t] != undefined) {
							chartDataArray.push(historyChartData[d][t])
						}
					})

					if(chartDataArray.length > 1) {
						historyChartObjArray.push({
							chartData: {
								id: 'history_chart_' + t.replace(" ", "_"),
						      	labels: historyChartDates,
						      	datasets: [{
						 			label: t,
						        	backgroundColor: 'rgba(0,0,0,0)',
						          	borderColor: '#000',
						         	borderWidth: 2,
						          	lineTension: 0,
						          	data: chartDataArray,
						          	datalabels: {
								         backgroundColor: 'rgba(0,0,0,0)',
								         borderRadius: 0,
								         /*borderWidth: function(context) {
										    var index = context.dataIndex;
										    if(index==context.dataset.data.length-1) {
										    	return 1
										    } else {
										    	return 0
										    }
										},*/
								         borderColor: '#000',
								         color: '#000',
								         anchor: 'end',
								         align: 'end',
								         font: {
								         	size: '15',
								         	weight: '500'
								         }
							      	}
						    	}]
				 			},
							options: {
								animation: false,
								responsive: false,
								layout: {
						            padding: {
						                left: 0,
						                right: 150,
						                top: 30,
						                bottom: 0
						            }
						        },
						         title: {
						            display: false,
						            text: t,
						            fontSize: 16,
						            padding: 20
						        },
						        elements: {
						        	point: {
							        	radius: 2,
							        	borderWidth: 2,
							        	borderColor: '#000'
							        },
						        },
								scales: {
							        xAxes: [{
							        	ticks: {
							        		autoSkip: false,
							        		fontColor: '#000',
							        		fontSize: '15',
							        		callback: function(value, index, values) {
							        			var shortLabel = value.substr(2, value.length)
						                        return shortLabel
						                    }
							        	},
							        	gridLines: {
							        		display: false,
							        		zeroLineWidth: 2,
							        		zeroLineColor: '#000'
							        	}
							        }],
							        yAxes: [{
							        	ticks: {
							        		display: false
							        	},
							        	gridLines: {
							        		display: false,
							        		zeroLineWidth: 2,
							        		zeroLineColor: '#000'
							        	}
							        }]
							    },
							    legend: {
							    	display: false
							    }
							},
							testName: t,
							testUnit: testInfo[t].unit
						})
					}
					
				})

				if(historyChartObjArray.length > 0) {
					self.isHistoryAvail = true
				}

				if(self.abResults.firstLine.length > 0 || self.abResults.secondLine.length > 0) {
					self.isHistoryAvail = false
				}

				if(fluidTypeRes && fluidTypeRes.length > 0) {
					flTypeName = fluidTypeRes[0].fluid_type_name 
				}

				//console.log('text mode tests', textModeTestNames)

				var dataObj = {
					testResults: testResultsRes,
					profileData: {
						profileName: profileDataRes[0].profile_name,
						reportDate: this.printBothDateAndTime ? this.formatDate(profileDataRes[0].report_date, true, false) : this.formatDate(profileDataRes[0].report_date, false, false),
						description: profileDataRes[0].description,
						comments: profileDataRes[0].add_comments,
						fluidType: flTypeName,
						isAB: profileDataRes[0].antibiotics === 1,
						reportLayout: profileDataRes[0].report_layout
					},
					customerData: {
						customerName: selectCustomerRes[0].customer_title + ' ' + selectCustomerRes[0].customer_name,
						sex: selectCustomerRes[0].sex,
						ageNormal: JSON.parse(profileDataRes[0].customer_age),
						height: profileDataRes[0].customer_height,
						weight: profileDataRes[0].customer_weight,
						bmi: profileDataRes[0].bmi
					},
					invoiceData: {
						invoiceNo: profileDataRes[0].invoice_no,
						billNo: profileDataRes[0].bill_no,
						collectDate: this.formatDate(profileDataRes[0].colleted_date, true, false),
						refDoc: docName
					},
					testHistory: {
						chartObjs: historyChartObjArray,
						testInfo: testInfo,
						testResltObj: testResltObj,
						textModeData: {
							chartDates: historyChartDates,
							textModeTestNames: textModeTestNames,
							historyChartData: historyChartData,
						},
						nonChartData: {
							chartDates: historyChartDates,
							nonChartTestNames: nonChartTestNames,
							nonChartTestResults: historyNonChartData,
						}
					}
				}

				this.testResults = dataObj.testResults
				this.testHistory = dataObj.testHistory
				this.profileData = dataObj.profileData
				this.invoiceData = dataObj.invoiceData
				this.customerData = dataObj.customerData
				//return dataObj
			},
			getAntibiotic() {
				var _this = this

				var selectAntibiotisQuery = "SELECT * FROM `bloomy_antibiotics`"
				var selectAntibiotisArgs = JSON.stringify({query: selectAntibiotisQuery, params: []})
				var antibioticsRes = this.$electron.ipcRenderer.sendSync('db-query', selectAntibiotisArgs)

				// get saved antibiotics
				var savedABsQuery = "SELECT * FROM `bloomy_invoice_test_antibiotic` WHERE `invoice_test_id`=?"
				var savedAbsQueryArgs = JSON.stringify({query: savedABsQuery, params: [this.$route.params.invoice_test_id]})
				var savedAbsRes = this.$electron.ipcRenderer.sendSync('db-query', savedAbsQueryArgs)

				var firstLine = []
				var secondLine = []

				antibioticsRes.forEach(function(v) {
					savedAbsRes.forEach(function(a){
						if(a.antibiotic_id === v.id) {
							if(v.line_number === 1) {
								firstLine.push({
									name: v.antibiotic_name,
									value: a.sensitive_level
								})
							} else if(v.line_number === 2) {
								secondLine.push({
									name: v.antibiotic_name,
									value: a.sensitive_level
								})
							}
						}
					})
				})

				return {
					firstLine: firstLine,
					secondLine: secondLine
				}
			},
			formatDate(dateInput, time=false, hrs24=true) {
				if(!dateInput) {
					return null
				}

	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = "";
	            if(!hrs24) {
	                hours = hours % 12;
					hours = hours ? hours : 12; // the hour '0' should be '12'
					hours = hours < 10 ? '0'+hours : hours;
	                strTime = hours + ':' + minutes + '' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        }
		},
		beforeMount() {
			this.getData()
		}
	};
</script>

<style lang="scss">
	$textColor: #000;
	$lightBorderColor: #000;

	/* .no-print * {
		color: transparent;
		background: transparent !important;
		border-color: transparent !important;

		img {
			opacity: 0;
		}
	} */

	.printable, .printable * {
		color: #000 !important;
		/*font-family: 'Liberation Mono';
		font-size: 11.5pt;*/
	}

	body {
		background: #fff;
		padding-bottom: 35px;
	}

	#app {
		height: 100%;
		background: #fff;

		.medi-report-layout {
			background: #fff;
			padding: 3.75pt;

			sup {
				top: 2pt !important;
			}

			.report-header {
				.header-ref-data {
					padding: 3.75pt 0;
    				margin-bottom: 22.5pt;
					/*font-size: 12pt;*/
					border-bottom: 1.5pt solid $lightBorderColor;

					.report-label {
						width: 125pt;
						font-weight: bold;
					}
				}
			}

			.report-profile-title {
				/*font-size: 15pt;*/
				font-weight: 600;
				margin-bottom: 7.5pt;

				.header-sub-info {
					/*font-size: 11pt;*/
					font-weight: normal;
				}
			}

			.report-body {
				margin-bottom: 15pt;

				.report-data {
					/*font-family: 'Liberation Mono';
					letter-spacing: -0.3.75pt;*/
				}
				
				table.report-data {
					/*font-size: 12pt;*/

					thead {
						tr{
							border-bottom: 0.75pt solid $lightBorderColor;

							th {
								font-weight: 600;
								padding-bottom: 7.5pt;
							}
						}
					}

					tbody {
						tr {
							/*border-bottom: 0.75pt dashed $lightBorderColor;*/

							td{
								padding: 5.25pt 0;
								vertical-align: top;
							}
						}
					}
				}

				.test-history-data {
					margin-top: 15pt;
					/*font-size: 11pt;*/

					.test-name {
						/*font-size: 13pt;*/
						font-weight: bold;
						margin-bottom: 3.75pt;
					}
				}

				.ref-notes {
					margin-top: 15pt;
					/*font-size: 12pt;*/
					width: 100%;
					line-height: 1.5;

					.profile-description {
						p {
							margin-bottom: 3.75pt;
						}
						
					}
				}
			}

			.report-footer {
				margin: 50px 0 15pt 0;

				.signatory {
					border-top: 0.75pt dashed $textColor;
					padding-top: 7.5pt;
					margin-top: 22.5pt;
					/*font-size: 12pt*/
				}
			}

			.content-row {
				margin-top: 15pt;
			}

			tr.row-bottom-border {
				border-bottom: 0.75pt dashed $lightBorderColor;
			}

		}
	}

	.text-bold {
		font-weight: bold;
	}

	.bmi-data {
		margin-bottom: 7.5pt;
	}

	.test-history-box {
		margin-bottom: 7.5pt;
	}

	@media print {
		.medi-report-layout * {
			vertical-align: top;
		}
	
		.no-print * {
			color: transparent;
			background: transparent !important;
			border-color: transparent;

			img {
				opacity: 0;
			}
		}

		.printable, .printable * {
			color: #000 !important;
			/*font-family: 'Liberation Mono';*/
			/*font-size: 11.5pt;*/
		}

		body {
			background: #fff;
			padding-bottom: 26.5pt;
			margin: 0;
		}

		#app {
			height: 100%;
			background: #fff;

			.medi-report-layout {
				background: #fff;
				padding: 3.75pt;

				sup {
					top: -1pt !important;
		    		vertical-align: super !important;
				}

				sub {
					bottom: -5pt;
		    		vertical-align: baseline !important;
				}

				.report-header {
					.header-ref-data {
						padding: 3.75pt 0;
    					margin-bottom: 22.5pt;
						/*font-size: 12pt;*/

						.report-label {
							min-width: 125pt;
							font-weight: bold;
						}
					}
				}

				.report-profile-title {
					/*font-size: 15pt;*/
					font-weight: 600;
					margin-bottom: 7.5pt;

					.header-sub-info {
						/*font-size: 11pt;*/
						font-weight: normal;
					}
				}

				.report-body {
					margin-bottom: 15pt;

					.report-data {
						/*font-family: 'Liberation Mono';
						letter-spacing: -0.3.75pt;*/
					}
					
					table {
						/*font-size: 12pt;*/

						thead {
							tr{
								border-bottom: 0.75pt solid $lightBorderColor;

								th {
									font-weight: 600;
									padding-bottom: 5.25pt;
								}
							}
						}

						tbody {
							tr {
								/*border-bottom: 0.75pt dashed $lightBorderColor;*/

								td{
									padding: 5.25pt 0;
									vertical-align: top;
								}
							}
						}
					}

					.test-history-data {
						margin-top: 15pt;
						/*font-size: 11pt;*/

						.test-name {
							/*font-size: 13pt;*/
							font-weight: 500;
							margin-bottom: 3.75pt;
						}
					}

					.ref-notes {
						margin-top: 15pt;
						/*font-size: 12pt;*/
						line-height: 1.5;

						.profile-description {
							p {
								margin-bottom: 3.75pt;
							}
							
						}
					}
				}

				.report-footer {
					margin: 50px 0 15pt 0;

					.signatory {
						border-top: 0.75pt dashed $textColor;
						padding-top: 7.5pt;
						margin-top: 22.5pt;
						/*font-size: 12pt*/
					}
				}

				.content-row {
					margin-top: 15pt;
				}

				tr.row-bottom-border {
					border-bottom: 0.75pt dashed $lightBorderColor;
				}
			}
		}
	}
	
</style>