<template>
	<div class="test-report-data">
		<div class="report-header">
			<div class="row" v-show="!headlessMode">
				<div class="col-12">
					<h4>Medical Laboratory Report</h4>
					<print-header />
				</div>
			</div>
			<div class="header-ref-data" :style="customFontFamily">
				<div class="row">
		    		<div class="col-7" :style="customFontSize">
						<table width="100%">
							<tr>
								<td class="report-label">Patient Name</td>
								<td>{{ customerData.customerName }}</td>
							</tr>
							<tr>
								<td class="report-label">Gender</td>
								<td>{{ customerData.sex == 'M' ? 'Male' : 'Female' }}</td>
							</tr>
							<tr>
								<td class="report-label">Age</td>
								<td>
									<span v-show="parseInt(customerData.ageNormal.years) > 0">
										{{ customerData.ageNormal.years }}Y
									</span>
									<span v-show="parseInt(customerData.ageNormal.months) > 0 && parseInt(customerData.ageNormal.years) < 12">
										{{ customerData.ageNormal.months }}M 
									</span>
									<span v-show="parseInt(customerData.ageNormal.days) > 0 && parseInt(customerData.ageNormal.years) < 12">
										{{ customerData.ageNormal.days }}D
									</span>
								</td>
							</tr>
							<tr>
								<td class="report-label">Referred by</td>
								<td>{{ invoiceData.refDoc }}</td>
							</tr>
						</table>
					</div>
					<div class="col-5" :style="customFontSize">
						<table class="float-right">
							<tr>
								<td class="report-label">Specimen</td>
								<td>
									{{ typeof profileData.fluidType === 'object' ? profileData.fluidType.join("/") : profileData.fluidType }}
								</td>
							</tr>
							<tr v-if="invoiceData.billNo">
								<td class="report-label">Bill No</td>
								<td>{{ invoiceData.billNo }}</td>
							</tr>
							<tr v-else>
								<td class="report-label">Invoice No</td>
								<td>{{ invoiceData.invoiceNo }}</td>
							</tr>
							<tr>
								<td class="report-label">Collect date</td>
								<td>{{ invoiceData.collectDate }}</td>
							</tr>
							<tr>
								<td class="report-label">{{ reportDateTimeLabel }}</td>
								<td>{{ profileData.reportDate }}</td>
							</tr>
						</table>
					</div>
		    	</div>
			</div>	    	
		</div>

		<div class="bmi-data text-right" :style="customFontFamily" v-show="customerData.bmi">
			<div :style="customFontSize">
				<strong>BMI:&nbsp;</strong>{{ customerData.bmi }}&nbsp;-&nbsp;Height:{{ customerData.height }}cm&nbsp;&nbsp;Weight:{{ customerData.weight }}kg
			</div>
		</div>

		<div class="row report-body" :style="customFontFamily">
			<div class="col-12" :style="customFontSize">
				<table width="100%" class="report-data">
					<thead>	
						<tr>
							<th style="max-width: 40%; min-width: 20%; width: auto;">Description</th>
							<th style="max-width: 15%; min-width: 10%; width: auto;" class="text-center">Result</th>
							<th style="max-width: 15%; min-width: 10%; width: auto;" class="text-center">Unit</th>
							<th style="max-width: 20%; min-width: 12%; width: auto;" class="text-center">Ref. range</th>
							<th style="max-width: 15%; min-width: 10%; width: auto;" class="text-center">Remark</th>
						</tr>
					</thead>
					
					<tbody>
						<template v-for="(gp, gindex) in groupProfileData">
							<tr class="report-profile-title" v-bind:key="gindex">
								<td colspan="5" :style="titleFontSize">
									{{ gp.profile_name }}
								</td>
							</tr>							
							<tr v-if="gp.reportLayout=='col'" v-for="(tres, gpIndex) in gp.testResults" v-bind:key="gpIndex">
								<td>{{ tres.test_name }}</td>
								<td :class="['text-center', {'text-bold': boldHighLowResults && tres.remark && tres.remark != 'NORMAL'}]">
									<span v-if="(tres.test_name === 'Rheumatoid Factor' ||  tres.test_name === 'CRP CONCENTRATION') && tres.remark == 'NORMAL'">{{ tres.ref_range }}</span>
									<span v-else>
									{{ tres.result ? tres.result : '' }}
									</span>
								</td>
								<td class="text-center"><span v-show="tres.unit" v-html="tres.unit"></span></td>
								<td class="text-center">{{ tres.ref_range ? tres.ref_range : '' }}</td>
								<td :class="['text-center', {'text-bold': boldHighLowResults && tres.remark && tres.remark != 'NORMAL'}]">
									<span v-if="tres.remark_key" :style="{color: JSON.parse(tres.remark_colors)[tres.remark_key]}">
										{{ tres.remark ? tres.remark : '' }}
									</span>
									<span v-else>
										{{ tres.remark ? tres.remark : '' }}
									</span>
								</td>
							</tr>
							<tr v-else v-for="(tres, index) in gp.testResults" v-bind:key="index">
								<td>{{ tres.test_name }}</td>
								<td colspan="4">{{ tres.result ? tres.result : '' }}<span v-show="tres.unit">&nbsp;<span v-html="tres.unit"></span></span></td>
							</tr>
							<tr v-show="isCommentsAvail(gp.comments)">
								<td colspan="5">
									<div v-html="gp.comments"></div>
								</td>
							</tr>
							<tr v-show="gp.isAB && (gp.firstLine.length > 0 || gp.secondLine.length > 0)">
								<td colspan="5">
									<div class="ref-notes">
										<div class="row">
											<div class="col-6" v-show="gp.abResults.firstLine.length > 0">
												<div class="report-profile-title" :style="titleFontSize">First Line Antibiotic</div>
												<table width="100%" :style="customFontSize">
													<tr :class="['ab-result', {'text-bold': fl.value==2}]" v-for="fl in gp.abResults.firstLine">
														<td>{{ fl.name }}</td>
														<td>{{ abSensitivity[fl.value] }}</td>
													</tr>
												</table>
											</div>
											<div class="col-6" v-show="gp.abResults.secondLine.length > 0">
												<div class="report-profile-title" :style="titleFontSize">Second Line Antibiotic</div>
												<table width="100%" :style="customFontSize">
													<tr :class="['ab-result', {'text-bold': sl.value==2}]" v-for="sl in gp.abResults.secondLine">
														<td>{{ sl.name }}</td>
														<td>{{ abSensitivity[sl.value] }}</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</template>
					</tbody>
				</table>

				<div v-if="testHistoryEnabled && isHistoryAvail" class="test-history-data">
					<div class="report-profile-title" :style="titleFontSize">
						Patient's test history 						
					</div>
					<div class="header-sub-info" style="margin-bottom: 7.5pt;">The test history is based on previous 5 tests results including current result</div>

					<div v-for="(history, thIndex) in testHistoryData" :key="'throw'+thIndex" class="report-data">
						<div class="row content-row">
							<div v-if="chartModeHistory" class="col-4 chart-panel test-history-box" v-for="(c, index) in history.chartObjs" :key="'hisChart'+index">
								<div class="test-name">{{ c.testName }} (<span v-html="c.testUnit"></span>)</div>
								<div class="chart-div">
									<line-chart
										:chartData="c.chartData"
										:options="c.options"
										:height="200"
										 />
								</div>
							</div>

							<div v-if="!chartModeHistory" class="col-4 test-history-box" v-for="(t, index) in history.textModeData.textModeTestNames" :key="'hisTxt'+index">
								<div class="test-name">{{ t.name }} (<span v-html="t.unit"></span>)</div>
								<table width="100%">
									<tbody>
										<tr v-if="history.textModeData.chartDates.length > 1 && history.textModeData.historyChartData[d][t.name] && history.textModeData.historyChartData[d][t.name] != ''" class="row-bottom-border" v-for="(d, ind) in history.textModeData.chartDates" :key="'tdate'+ind">
											<td>{{ d }}</td>
											<td class="text-right">
												<span v-if="isPDF && history.testResltObj[d][t.name].remark_key" :style="{color: JSON.parse(history.testInfo[t.name].remark_colors)[history.testResltObj[d][t.name].remark_key]}">
													{{ history.textModeData.historyChartData[d][t.name][0] }}
												</span>
												<span v-else>
													{{ history.textModeData.historyChartData[d][t.name][0] }}
												</span>
											</td>
										</tr>
										<tr v-else>
											<td colspan="2">No history data</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-4 test-history-box" v-for="(t, tInd) in history.nonChartData.nonChartTestNames" :key="'tKey'+tInd">
								<div class="test-name">{{ t.name }} (<span v-html="t.unit"></span>)</div>
								<table width="100%">
									<tbody>
										<tr v-if="history.nonChartData.chartDates.length > 0 && history.nonChartData.nonChartTestResults[d][t.name] && history.nonChartData.nonChartTestResults[d][t.name] != ''" class="row-bottom-border" v-for="(d, ind) in history.nonChartData.chartDates" :key="'tdate'+ind">
											<td>{{ d }}</td>
											<td>
												<span v-if="isPDF && history.testResltObj[d][t.name].remark_key" :style="{color: JSON.parse(history.testInfo[t.name].remark_colors)[history.testResltObj[d][t.name].remark_key]}">
													{{ history.nonChartData.nonChartTestResults[d][t.name] }}
												</span>
												<span v-else>
													{{ history.nonChartData.nonChartTestResults[d][t.name] }}
												</span>
											</td>
										</tr>
										<tr v-else>
											<td colspan="2">No history data</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="ref-notes" v-show="refNoteText && refNoteText != ''">
					<div class="report-profile-title" :style="titleFontSize">{{ reportFooterTitle }}</div>
					<div class="profile-description" v-html="groupDescription"></div>
				</div>
			</div>
		</div>

		<div class="row report-footer" :style="customFontSize">
			<div class="col-12">
				<div v-show="isEnableSignotory" class="col-4 offset-8 signatory text-center">
					<div class="report-label">{{ signatory.name }}</div>
					<div>Medical Laboratory Technologist</div>
					<div v-show="signatory.slmcRegNo">(SLMC Reg No: {{ signatory.slmcRegNo }})</div>
				</div>
			</div>
		</div>

		<footer></footer>
		<!--div class="footer-print-area">
	    	<div style="float: left; width: 45%;">Medical Laboratory Software Solution by BlossomLabs.lk</div>
			<div style="float: right; width: 48%; text-align: right;">{{ footerText }}</div>
	    </div-->
	</div>
</template>

<script>
	import Header from './Header'
	import Footer from './Footer'
	import LineChart from '../Charts/LineChartPrint'

	const Store = require('electron-store')
  	const store = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	export default {
		name: 'test-report-print',
		components: {
			'print-header': Header,
			'print-footer': Footer,
			'line-chart': LineChart,
		},
		data() {
			return {
				isPDF: this.$route.params.print_mode === 'pdf',
				groupProfileData: null,
				testHistoryData: null,
				profileData: null,
				invoiceData: null,
				customerData: null,
				groupDescription: null,

				isHistoryAvail: false,
				testHistoryEnabled: store.get('system_settings').report_settings.testHistory,
				chartModeHistory: store.get('system_settings').report_settings.historyDisplayCharts,
				printBothDateAndTime: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.printBothDateAndTime : false,
				boldHighLowResults: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.boldHighLowResults : true,

				headlessMode: store.get('system_settings').report_settings.headlessMode,

				reportFooterTitle: 'Reference Notes',
				signatory: this.getSignatory(),
				isEnableSignotory: store.get('system_settings') && store.get('system_settings').report_settings ? store.get('system_settings').report_settings.enableSignotory : true,

				abSensitivity: {
					'0': 'Resistant',
					'1': 'Moderately Sensitive',
					'2': 'Sensitive'
				},

				//footerText: `Medical Report | Report generated on ${this.$moment().format("DD MMMM, YYYY hh:mm a")}`,
			}
		},	
		computed: {
			customFontFamily() {
				var reportFontFamily = store.get('system_settings').report_settings.reportFontFamily && store.get('system_settings').report_settings.reportFontFamily != 'default' ? store.get('system_settings').report_settings.reportFontFamily : null
				if(reportFontFamily) {
					return "font-family: '" + reportFontFamily + "' !important;"
				} else {
					return "font-family: 'Courier Prime' !important;"
				}
			},
			customFontSize() {
				var reportFontSize = store.get('system_settings').report_settings.reportFontSize ? store.get('system_settings').report_settings.reportFontSize : null
				if(reportFontSize) {
					return 'font-size: ' + reportFontSize + 'pt;'
				} else {
					return 'font-size: 15pt;'
				}
			},
			titleFontSize() {
				var reportFontSize = store.get('system_settings').report_settings.reportFontSize ? store.get('system_settings').report_settings.reportFontSize : null
				if(reportFontSize) {
					return 'font-size: ' + (parseFloat(reportFontSize) + 2) + 'pt;'
				} else {
					return 'font-size: 16pt;'
				}
			},
			refNoteText() {
				var html = this.groupDescription
				var div = document.createElement("div");
				div.innerHTML = html
				var text = div.textContent || div.innerText || ""
				//console.log('striped text', text.trim())
				return text.trim()
			},
			reportDateTimeLabel() {
				return this.printBothDateAndTime ? "Report time" : "Report date"
			} 
		},	
		methods: {
			isCommentsAvail(html) {
				//var html = this.profileData.comments
				var div = document.createElement("div");
				div.innerHTML = html
				var text = div.textContent || div.innerText || ""
				//console.log('striped text', text.trim())
				return text.trim()
			},
			getSignatory: function() {
				var user = store.get('user')
				var appConfig = store.get('app-config')
				var singatoryObj = {
					name: user.name,
					type: appConfig.userTypes[user.type],
					slmcRegNo: user.slmc_reg_no ? user.slmc_reg_no : null
				}

				return singatoryObj
			},
			getData: function() {
				var self = this
				var invoiceId = this.$route.params.invoice_id
				var groupId = this.$route.params.group_id
				//console.log('invoice test id', invoiceTestId)

				// get profile data
				var profileGroupDataQuery = "SELECT p.*, p.`id` as prof_id, i.*, i.`id` as inv_id, g.`group_name`, g.`description` as group_desc, it.`id` as it_id, it.report_date, it.add_comments, fd.`fluid_type_name` FROM `bloomy_profiles` p INNER JOIN `bloomy_invoice_test` it ON p.`id`=it.`profile_id` INNER JOIN `bloomy_invoice` i ON it.`invoice_id`=i.`id` INNER JOIN `bloomy_profile_groups` g ON g.`id`=it.`group_id` INNER JOIN `bloomy_fluid_types` fd ON p.`fluid_type`=fd.`id` WHERE it.`invoice_id`=? AND it.`group_id`=?"

				var profileGroupDataArgs = JSON.stringify({query: profileGroupDataQuery, params: [invoiceId, groupId]})
				var profileGropDataRes = this.$electron.ipcRenderer.sendSync('db-query', profileGroupDataArgs)

				var profileGroupDataArray = []
				var testHistoryDataArray = []
				var fluidTypesArray = []
				profileGropDataRes.forEach(function(g) {
					// get results
					var getTestResult = "SELECT itr.*, t.test_name as test_name, t.`remark_colors` as remark_colors, u.`unit` as unit FROM `bloomy_invoice_test_result` itr INNER JOIN `bloomy_tests` t ON t.id=itr.test_id LEFT JOIN `bloomy_units` u ON u.`id`=t.`unit` WHERE itr.`invoice_test_id`=?"
					var testResultArgs = JSON.stringify({query: getTestResult, params: [g.it_id]})

					var testResultsRes = self.$electron.ipcRenderer.sendSync('db-query', testResultArgs)

					// Antibiotic results
					var abResults = self.getAntibiotic(g.it_id)

					if(fluidTypesArray.indexOf(g.fluid_type_name) < 0) {
						fluidTypesArray.push(g.fluid_type_name)
					}
					
					profileGroupDataArray.push({
						profile_name: g.profile_name,
						fluid_type: g.fluid_type_name,
						testResults: testResultsRes,
						comments: g.add_comments,
						isAB: g.antibiotics === 1,
						reportLayout: g.report_layout,
						abResults: abResults,
					})

					// test history
					var selectPreviousProfilesQuery = "SELECT it.* FROM `bloomy_invoice_test` it INNER JOIN `bloomy_invoice` i ON i.`id`=it.`invoice_id` WHERE it.`status`>0 AND i.`customer_id`=? AND it.`profile_id`=? AND i.`id` <= ? ORDER BY i.`id` DESC LIMIT 6"
					var previousProfileQueryArgs = JSON.stringify({query: selectPreviousProfilesQuery, params:[g.customer_id, g.prof_id, g.inv_id]})
					var previousProfileRes = self.$electron.ipcRenderer.sendSync('db-query', previousProfileQueryArgs)

					var historyChartDates = []
					var historyChartData = {}
					var historyNonChartData = {}
					var testNames = []
					var nonChartTestNames = []
					var ncTemp = []
					var textModeTestNames = []
					var tmTemp = []
					var testInfo = {}
					var testResltObj = {}
					previousProfileRes.forEach(function(h){
						var formatedDate = self.$moment(h.report_date).format("YYYY-MM-DD")

						if(historyChartDates.indexOf(formatedDate) < 0) {
							historyChartDates.push(formatedDate)
						}						
						
						var getHistoryResult = "SELECT r.*, t.`test_name`, t.`remark_colors`, u.`unit` as unit FROM `bloomy_invoice_test_result` r INNER JOIN `bloomy_tests` t ON r.`test_id`=t.`id` LEFT JOIN `bloomy_units` u ON u.`id`=t.`unit` WHERE r.`invoice_test_id`=?"
						var historyResultArgs = JSON.stringify({query: getHistoryResult, params:[h.id]})
						var historyResultRes = self.$electron.ipcRenderer.sendSync('db-query', historyResultArgs)

						if(historyResultRes.length > 0) {
							testResltObj[formatedDate] = {}
							historyChartData[formatedDate]= {}
							historyNonChartData[formatedDate] = {}
												
							historyResultRes.forEach(function(r){
								if(testNames.indexOf(r.test_name) < 0) {
									testNames.push(r.test_name)
								}

								testInfo[r.test_name] = {}
								testInfo[r.test_name].unit = r.unit
								testInfo[r.test_name].remark_colors = r.remark_colors

								testResltObj[formatedDate][r.test_name] = {}
								testResltObj[formatedDate][r.test_name] = {
									result: r.result,
									remark: r.remark,
									unit: r.unit,
									remark_key: r.remark_key
								}

								if(r.result) {
									if(tmTemp.indexOf(r.test_name) < 0) {
										tmTemp.push(r.test_name)
										textModeTestNames.push({name:r.test_name, unit: r.unit})
									}

									if(isNaN(parseFloat(r.result))) {
										historyNonChartData[formatedDate][r.test_name] = []
										historyNonChartData[formatedDate][r.test_name] = r.result
									} else {
										historyChartData[formatedDate][r.test_name] = []
										historyChartData[formatedDate][r.test_name].push(parseFloat(r.result))
									}
								} else {
									if(ncTemp.indexOf(r.test_name) < 0) {
										ncTemp.push(r.test_name)
										nonChartTestNames.push({name:r.test_name, unit: r.unit})
									}
									historyNonChartData[formatedDate][r.test_name] = []
									historyNonChartData[formatedDate][r.test_name] = r.remark
								}
								
							})
						}
					})

					historyChartDates.sort()

					var historyChartObjArray = []
					testNames.forEach(function(t){
						var chartDataArray = []
						historyChartDates.forEach(function(d){
							if(historyChartData[d][t] && historyChartData[d][t] != undefined) {
								chartDataArray.push(historyChartData[d][t])
							}
						})

						if(chartDataArray.length > 1) {
							historyChartObjArray.push({
								chartData: {
									id: 'history_chart_' + t.replace(" ", "_"),
							      	labels: historyChartDates,
							      	datasets: [{
							 			label: t,
							        	backgroundColor: 'rgba(0,0,0,0)',
							          	borderColor: '#343a40',
							         	borderWidth: 2,
							          	lineTension: 0,
							          	data: chartDataArray,
							          	datalabels: {
									         backgroundColor: 'rgba(0,0,0,0)',
									         borderRadius: 0,
									         /*borderWidth: function(context) {
											    var index = context.dataIndex;
											    if(index==context.dataset.data.length-1) {
											    	return 1
											    } else {
											    	return 0
											    }
											},*/
									         borderColor: '#000',
									         color: '#000',
									         anchor: 'end',
									         align: 'end',
									         font: {
									         	size: '15',
									         	weight: '500'
									         }
								      	}
							    	}]
					 			},
								options: {
									animation: false,
									responsive: false,
									layout: {
							            padding: {
							                left: 0,
							                right: 150,
							                top: 30,
							                bottom: 0
							            }
							        },
							         title: {
							            display: false,
							            text: t,
							            fontSize: 16,
							            padding: 20
							        },
									scales: {
								        xAxes: [{
								        	ticks: {
								        		autoSkip: false,
								        		fontColor: '#000',
								        		fontSize: '15',
								        		callback: function(value, index, values) {
								        			var shortLabel = value.substr(2, value.length)
							                        return shortLabel
							                    }
								        	},
								        	gridLines: {
								        		display: false,
								        		zeroLineWidth: 2,
								        		zeroLineColor: '#000'
								        	}								        	
								        }],
								        yAxes: [{
								        	ticks: {
								        		display: false
								        	},
								        	gridLines: {
								        		display: false,
								        		zeroLineWidth: 2,
								        		zeroLineColor: '#000'
								        	}
								        }]
								    },
								    legend: {
								    	display: false
								    }
								},
								testName: t,
								testUnit: testInfo[t].unit
							})
						}
						
					})

					if(historyChartObjArray.length > 0) {
						self.isHistoryAvail = true
					}

					if(abResults.firstLine.length > 0 || abResults.secondLine.length > 0) {
						self.isHistoryAvail = false
					}

					testHistoryDataArray.push({
						chartObjs: historyChartObjArray,
						testInfo: testInfo,
						testResltObj: testResltObj,
						textModeData: {
							chartDates: historyChartDates,
							textModeTestNames: textModeTestNames,
							historyChartData: historyChartData,
						},
						nonChartData: {
							chartDates: historyChartDates,
							nonChartTestNames: nonChartTestNames,
							nonChartTestResults: historyNonChartData,
						}
					})
				})
				

				//console.log('testResultsRes', testResultsRes)

				// customer data
				var selectCustomerQuery = "SELECT * FROM `bloomy_customer` WHERE `id`=?"
				var selectCustomerArgs = JSON.stringify({query: selectCustomerQuery, params: [profileGropDataRes[0].customer_id]})
				var selectCustomerRes = this.$electron.ipcRenderer.sendSync('db-query', selectCustomerArgs)

				// ref doctor name
				var docName = "-"
				var docId = profileGropDataRes[0].ref_doctor
				if(docId) {
					var selectDocQuery = "SELECT * FROM `bloomy_ref_doctors` WHERE `id`=?"
					var selectDocQueryArgs = JSON.stringify({query: selectDocQuery, params: [docId]})
					var selectDocRes = this.$electron.ipcRenderer.sendSync('db-query', selectDocQueryArgs)

					docName = selectDocRes[0].doc_title + " " + selectDocRes[0].doc_name
				}

				/*// fluid type name
				var flTypeName = null
				var fluidId = profileGropDataRes[0].fluid_type
				var fluidTypeQuery = "SELECT `fluid_type_name` FROM `bloomy_fluid_types` WHERE `id`=?"
				var fluidTypeQueryArgs = JSON.stringify({query: fluidTypeQuery, params: [fluidId]})
				var fluidTypeRes = this.$electron.ipcRenderer.sendSync('db-query', fluidTypeQueryArgs)

				
				if(fluidTypeRes && fluidTypeRes.length > 0) {
					flTypeName = fluidTypeRes[0].fluid_type_name 
				}*/

				var dataObj = {
					groupProfileData: profileGroupDataArray,
					groupDescription: profileGropDataRes[0].group_desc,
					profileData: {
						profileName: profileGropDataRes[0].profile_name,
						reportDate: this.printBothDateAndTime ? this.formatDate(profileGropDataRes[0].report_date, true, false) : this.formatDate(profileGropDataRes[0].report_date, false, false),
						description: profileGropDataRes[0].description,
						fluidType: fluidTypesArray
					},
					customerData: {
						customerName: selectCustomerRes[0].customer_title + ' ' + selectCustomerRes[0].customer_name,
						sex: selectCustomerRes[0].sex,
						ageNormal: JSON.parse(profileGropDataRes[0].customer_age),
						height: profileGropDataRes[0].customer_height,
						weight: profileGropDataRes[0].customer_weight,
						bmi: profileGropDataRes[0].bmi
					},
					invoiceData: {
						invoiceNo: profileGropDataRes[0].invoice_no,
						billNo: profileGropDataRes[0].bill_no,
						collectDate: this.formatDate(profileGropDataRes[0].colleted_date, true, false),
						refDoc: docName
					},
					testHistoryData: testHistoryDataArray
				}
				//console.log('g chart data', dataObj.testHistoryData)
				this.groupProfileData = dataObj.groupProfileData
				this.testHistoryData = dataObj.testHistoryData
				this.profileData = dataObj.profileData
				this.invoiceData = dataObj.invoiceData
				this.customerData = dataObj.customerData
				this.groupDescription = dataObj.groupDescription

				//return dataObj
			},
			getAntibiotic(invoiceTestId) {
				var _this = this

				var selectAntibiotisQuery = "SELECT * FROM `bloomy_antibiotics`"
				var selectAntibiotisArgs = JSON.stringify({query: selectAntibiotisQuery, params: []})
				var antibioticsRes = this.$electron.ipcRenderer.sendSync('db-query', selectAntibiotisArgs)

				// get saved antibiotics
				var savedABsQuery = "SELECT * FROM `bloomy_invoice_test_antibiotic` WHERE `invoice_test_id`=?"
				var savedAbsQueryArgs = JSON.stringify({query: savedABsQuery, params: [invoiceTestId]})
				var savedAbsRes = this.$electron.ipcRenderer.sendSync('db-query', savedAbsQueryArgs)

				var firstLine = []
				var secondLine = []

				antibioticsRes.forEach(function(v) {
					savedAbsRes.forEach(function(a){
						if(a.antibiotic_id === v.id) {
							if(v.line_number === 1) {
								firstLine.push({
									name: v.antibiotic_name,
									value: a.sensitive_level
								})
							} else if(v.line_number === 2) {
								secondLine.push({
									name: v.antibiotic_name,
									value: a.sensitive_level
								})
							}
						}
					})
				})

				return {
					firstLine: firstLine,
					secondLine: secondLine
				}
			},
			formatDate(dateInput, time=false, hrs24=true) {
				if(!dateInput) {
					return null
				}

	            var date = dateInput;
	            if(typeof dateInput === 'string') {
	                date = new Date(dateInput);
	            }
	            
	            var hours = date.getHours();
	            var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
	            minutes = minutes < 10 ? '0'+minutes : minutes;
	            var strTime = "";
	            if(!hrs24) {
	                hours = hours % 12;
					hours = hours ? hours : 12; // the hour '0' should be '12'
					hours = hours < 10 ? '0'+hours : hours;
	                strTime = hours + ':' + minutes + '' + ampm;
	            }
	            
	            var dayVal = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
	            var monthVal = date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
	            if(time) {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal + ' ' + strTime;
	            } else {
	                return date.getFullYear() + "-" + monthVal + "-" + dayVal;
	            }
	            
	        },
		},
		beforeMount() {
			this.getData()
		}
	};
</script>

<style lang="scss">
	$textColor: #000;
	$lightBorderColor: #000;

	.test-report-data * {
		vertical-align: top;
	}

	.test-report-data {
		width: 100%;
		padding: 0;

		sup {
			top: -1pt !important;
    		vertical-align: super !important;
		}

		sub {
			bottom: -5pt;
    		vertical-align: baseline !important;
		}

		.report-label {
			font-weight: 500;
		}

		.report-header {
			.header-ref-data {
				padding: 3.75pt 0;
				margin-bottom: 22.5pt;
				/*font-size: 12pt;*/
				border-bottom: 1.5pt solid $lightBorderColor;

				.report-label {
					width: 125pt;
					font-weight: bold;
				}
			}

		}

		tr.report-profile-title {
			border-bottom: none !important;

			td {
				padding: 15px 0 0 0 !important;
			}			
		}

		.report-profile-title {
			/*font-size: 15pt;*/
			font-weight: 600;
			margin-bottom: 10px;

			.header-sub-info {
				/*font-size: 11pt;*/
				font-weight: normal;
			}
		}

		.report-body {
			margin-bottom: 20px;

			.report-data {
				/*font-family: 'Liberation Mono';
				letter-spacing: -0.5px;*/
			}
			
			table.report-data {
				/*font-size: 12pt;*/

				thead {
					tr{
						border-bottom: 1px solid $lightBorderColor;

						th {
							font-weight: 600;
							padding-bottom: 5.25pt;
						}
					}
				}

				tbody {
					tr {
						/*border-bottom: 1px dashed $lightBorderColor;*/

						td{
							padding: 7px 0;
							vertical-align: top;
						}
					}
				}
			}

			.test-history-data {
				margin-top: 20px;
				/*font-size: 11pt;*/

				.test-name {
					/*font-size: 13pt;*/
					font-weight: bold;
					margin-bottom: 5px;
				}
			}

			.ref-notes {
				margin-top: 15pt;
				/*font-size: 12pt;*/
				width: 100%;
				line-height: 1.5;

				.profile-description {
					p {
						margin-bottom: 3.75pt;
					}
					
				}
			}
		}

		.report-footer {
			margin: 50px 0 20px 0;

			.signatory {
				border-top: 1px dashed $textColor;
				padding-top: 10px;
				margin-top: 30px;
				/*font-size: 12pt*/
			}
		}

		.content-row {
			margin-top: 20px;
		}

		tr.row-bottom-border {
			border-bottom: 1px dashed $lightBorderColor;
		}

		.text-bold {
			font-weight: bold;
		}

		tr.ab-result {
			border: none !important;
		}

		.bmi-data {
			margin-bottom: 7.5pt;
		}

		.test-history-box {
			margin-bottom: 7.5pt;
		}
	}

	@media print {
		body {
			background: #fff;
			padding-bottom: 26.5pt;
			margin: 0;
		}
	}
</style>