<template>
  <div id="app" :class="[{'full-height': !appReady, 'margin-top-70': appReady}]">
  	<bl-navbar v-if="appReady" :refreshNav="loggedIn" v-show="loggedIn"></bl-navbar>
  	<router-view :key="$route.fullPath"></router-view>
    <flash-message :outerClass="'flash-msg-wraper'" transitionName='slide-fade'></flash-message>
    <bl-footer
    	v-if="appReady"></bl-footer>

    	<div v-html="printPageHtml"></div>
    	<div v-html="layoutPageCss"></div>
  </div>
</template>

<script>
	import Footer from './components/Footer.vue'
	import NavBarCom from './components/NavBar'

	const path = require('path')

	const trialPeriod = 86400000*30; // 30 days
	const anYearPeriod = 86400000*365; // 30 days

	const Store = require('electron-store')
	const electronStore = new Store({encryptionKey: 'asdiuher%A*sda2@sdfj*(sd#asdlknvh'})

	const customSizeWidth = electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.invoiceCustomWidth*25.4 : 210
	const customSizeHeight = electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.invoiceCustomWidth*2.4 : 296

  	export default {
    	name: 'blossom-labs',
    	data() {
    		return {
    			isActive: false,
    			loggedIn: false,
    			printPageMarginTop: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.marginTop : 0,
    			printPageMarginBottom: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.marginBottom : 0,
    			printPageMarginLeft: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.marginLeft : 0,
    			printPageMarginRight: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.marginRight : 0,
    			currentAppState: 'ready',
    			watcherItems: {},
    			isSplashScreen: this.$route.name == 'splash-page',
    			isPrintPages: this.$route.name == 'print-invoice' || this.$route.name == 'print-invoice-sm' || this.$route.name == 'print-test-report' || this.$route.name == 'print-test-report-group' || this.$route.name == 'print-sys-report' || this.$route.name == 'print-worksheet',

    			isPrintLayout: this.$route.name === 'save-print-layout' || this.$route.name === 'save-print-layout-medi-report',
    			isPrintPreview: this.$route.name === 'print-invoice-bl' || this.$route.name === 'print-test-report-bl' || this.$route.name === 'print-test-report-group-bl',

					pageSizeCssObj: {
    				'sheet_A4': {width: 'width: 210mm !important;', height: 'height: 296mm !important;'},
    				'sheet_A4_landscape': {width: 'width: 297mm !important;', height: 'height: 209mm !important;'},
    				'sheet_A5': {width: 'width: 148mm !important;', height: 'height: 209mm !important;'},
    				'sheet_A5_landscape': {width: 'width: 210mm !important;', height: 'height: 147mm !important;'},
    				'sheet_letter': {width: 'width: 216mm !important;', height: 'height: 279mm !important;'},
    				'sheet_letter_landscape': {width: 'width: 280mm !important;', height: 'height: 215mm !important;'},
    				'sheet_legal': {width: 'width: 216mm !important;', height: 'height: 356mm !important;'},
    				'sheet_legal_landscape': {width: 'width: 357mm !important;', height: 'height: 215mm !important;'},
    				'sheet_B5': {width: 'width: 176mm !important;', height: 'height: 249mm !important;'},
    				'sheet_B5_landscape': {width: 'width: 250mm !important;', height: 'height: 175mm !important;'},
    				'sheet_B6': {width: 'width: 125mm !important;', height: 'height: 175mm !important;'},
    				'sheet_B6_landscape': {width: 'width: 176mm !important;', height: 'height: 124mm !important;'},
						'custom_size': {width: 'width: ' + customSizeWidth + 'mm !important;', height: 'height: ' + customSizeHeight + 'mm !important;'}
    			},

    			comFormMediReportMarginTop: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && electronStore.get('system_settings').print_settings.compFormMediReportPrintMarginTop ? electronStore.get('system_settings').print_settings.compFormMediReportPrintMarginTop : 0,

					compFormInvoicePrintMarginTop: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && !electronStore.get('system_settings').print_settings.useComputerForms && electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginTop ? electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginTop : 0,
					
					compFormInvoicePrintMarginBottom: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && !electronStore.get('system_settings').print_settings.useComputerForms && electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginBottom ? electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginBottom : 0,

					compFormInvoicePrintMarginLeft: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && !electronStore.get('system_settings').print_settings.useComputerForms && electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginLeft ? electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginLeft : 0,

					compFormInvoicePrintMarginRight: electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && !electronStore.get('system_settings').print_settings.useComputerForms && electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginRight ? electronStore.get('system_settings').print_settings.compFormInvoicePrintMarginRight : 0,
    		}
    	},
    	components: {
    		'bl-footer': Footer,
    		'bl-navbar': NavBarCom,
    	},
    	computed: {
    		appReady() {
    			return (electronStore.has('main_config') && electronStore.get('main_config').setup && this.loggedIn && !this.isSplashScreen && !this.isPrintPages && !this.isPrintLayout && !this.isPrintPreview && this.isActive !== false)
    		},
    		pageSize() {
    			var printPageSize = electronStore.get('system_settings') && electronStore.get('system_settings').print_settings ? electronStore.get('system_settings').print_settings.pageSize : 'sheet_A4'

    			if(this.$route.name === 'print-invoice-bl') {
    				printPageSize =  electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && electronStore.get('system_settings').print_settings.compFormSizeInvoice ? electronStore.get('system_settings').print_settings.compFormSizeInvoice : 'sheet_A4'
    			} else if(this.$route.name === 'print-invoice' || this.$route.name === 'print-invoice-sm') {
    				printPageSize =  electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && electronStore.get('system_settings').print_settings.compFormSizeInvoice ? electronStore.get('system_settings').print_settings.compFormSizeInvoice : 'sheet_A4'
    			} else if(this.$route.name === 'print-test-report-bl' || this.$route.name === 'print-test-report-group-bl') {
    				printPageSize =  electronStore.get('system_settings') && electronStore.get('system_settings').print_settings && electronStore.get('system_settings').print_settings.compFormSizeMediReport ? electronStore.get('system_settings').print_settings.compFormSizeMediReport : 'sheet_A4'
    			}

    			return printPageSize
    			
				},
    		printPageHtml: function() {
    			var pageWidthCSS = "";

    			var styleStr = "<style>"
    			styleStr += "@page {"
    			if(this.pageSize == 'sheet_A4') {
    				styleStr += 'size: A4;'
    			} else if(this.pageSize == 'sheet_A4_landscape') {
    				styleStr += 'size: A4 landscape;'
    			} else if(this.pageSize == 'sheet_A5') {
    				styleStr += 'size: A5;'
    			} else if(this.pageSize == 'sheet_A5_landscape') {
    				styleStr += 'size: A5 landscape;'
    			} else if(this.pageSize == 'sheet_letter') {
    				styleStr += 'size: letter;'
    			} else if(this.pageSize == 'sheet_letter_landscape') {
    				styleStr += 'size: letter landscape;'
    			} else if(this.pageSize == 'sheet_legal') {
    				styleStr += 'size: legal;'
    			} else if(this.pageSize == 'sheet_legal_landscape') {
    				styleStr += 'size: legal landscape;'
    			} else if(this.pageSize == 'sheet_B5') {
    				styleStr += 'size: B5;'
    			} else if(this.pageSize == 'sheet_B5_landscape') {
    				styleStr += 'size: B5 landscape;'
    			} else if(this.pageSize == 'sheet_B6') {
    				styleStr += 'size: B6;'
    			} else if(this.pageSize == 'sheet_B6_landscape') {
    				styleStr += 'size: B6 landscape;'
    			} else if(this.pageSize == 'custom_size') {
                    styleStr += ''
                } else {
    				styleStr += 'size: A4;'
    			}

    			if(this.$route.name == 'print-sys-report' || this.$route.name == 'print-invoice' || this.$route.name == 'print-invoice-sm' || this.$route.name == 'print-worksheet') {
    				styleStr += "margin-bottom: 10mm;"
    			} else if(this.$route.name === 'print-invoice-bl') {
					styleStr += "padding: 0; margin: 0 3.75pt;"
				} else if(this.$route.name === 'print-test-report-bl' || this.$route.name === 'print-test-report-group-bl') {
					styleStr += "padding: 0 37.5pt;"
					styleStr += "margin-top: " + this.comFormMediReportMarginTop + "mm;"
					styleStr += "margin-bottom: 20mm;"
				} else {
					if((this.$route.name === 'print-test-report' || this.$route.name === 'print-test-report-group') && !this.headlessPrinting) {
						styleStr += "margin-top: 37.5pt;"
						styleStr += "margin-bottom: 26.5pt;"
					} else {
						if(this.printPageMarginTop > 0) {
							styleStr += "margin-top: " + this.printPageMarginTop + "mm;"
						}
						if(this.printPageMarginBottom > 0) {
							styleStr += "margin-bottom: " + this.printPageMarginBottom + "mm;"
						}
					}
					
					if(this.printPageMarginLeft > 0) {
						styleStr += "padding-left: " + this.printPageMarginLeft + "mm;"
					}
					if(this.printPageMarginRight > 0) {
						styleStr += "padding-right: " + this.printPageMarginRight + "mm;"
					}
				}

				//styleStr += "@bottom-right {content: element(pageFooter);}"
				//styleStr += "p.page-count::after {content: ' | ' counter(page);}"				

    			styleStr += "}"
    			styleStr += "@media print{"
    			styleStr += "body {"

                if(this.$route.name == 'print-invoice' || this.$route.name == 'print-invoice-sm') {
                    if(this.compFormInvoicePrintMarginTop > 0) {
                        styleStr += "margin-top: " + this.compFormInvoicePrintMarginTop + "mm;"
                    }
                    if(this.compFormInvoicePrintMarginBottom > 0) {
                        styleStr += "margin-bottom: " + this.compFormInvoicePrintMarginBottom + "mm;"
                    }
                    if(this.compFormInvoicePrintMarginLeft > 0) {
                        styleStr += "margin-left: " + this.compFormInvoicePrintMarginLeft + "mm;"
                    }
                    if(this.compFormInvoicePrintMarginRight > 0) {
                        styleStr += "margin-right: " + this.compFormInvoicePrintMarginRight + "mm;"
                    }
                }

    			styleStr += "background: #fff; color: #000;"

    			styleStr += this.pageSizeCssObj[this.pageSize] ? this.pageSizeCssObj[this.pageSize].width : ''
    			/*if(this.pageSize == 'sheet_A4') {
    				pageWidthCSS = this.pageSizeA4.width
    			} else if(this.pageSize == 'sheet_A4_landscape') {
    				pageWidthCSS = this.pageSizeA4Landscape.width
    			} else if(this.pageSize == 'sheet_A5') {
    				pageWidthCSS = this.pageSizeA5.width
    			} else if(this.pageSize == 'sheet_A4_landscape') {
    				pageWidthCSS = this.pageSizeA5Landscape.width
    			} else if(this.pageSize == 'sheet_letter') {
    				pageWidthCSS = this.pageSizeLetter.width
    			} else if(this.pageSize == 'sheet_letter_landscape') {
    				pageWidthCSS = this.pageSizeLetterLandscape.width
    			} else if(this.pageSize == 'sheet_legal') {
    				pageWidthCSS = this.pageSizeLegal.width
    			} else if(this.pageSize == 'sheet_legal_landscape') {
    				pageWidthCSS = this.pageSizeLegalLandscape.width
    			} else {
    				pageWidthCSS = this.pageSizeA4.width
    			}

    			styleStr += pageWidthCSS*/

                pageWidthCSS = this.pageSizeCssObj[this.pageSize] ? this.pageSizeCssObj[this.pageSize].width : ''

    			styleStr += "}"
    			styleStr += ".footer-print-area{"
    			styleStr += "width:" + pageWidthCSS
    			styleStr += "}"

    			styleStr += "html, body{"
    			styleStr += "height: 99%;"
    			styleStr += "}"

    			styleStr += "}"

    			styleStr += "</style>"

    			return styleStr
    		},
    		layoutPageCss() {
    			if(this.isPrintLayout) {
    				var pageSizeVal = this.$route.params.page_size
    				var bodyWidth = this.pageSizeCssObj[this.pageSize] ? this.pageSizeCssObj[pageSizeVal].width : ''
    				var bodyHeight = this.pageSizeCssObj[pageSizeVal].height ? this.pageSizeCssObj[pageSizeVal].height : ''
    				
    				var layoutStyles = "<style>"
    				layoutStyles += 'html, body {' + bodyWidth + '; ' + bodyHeight + '; margin: 0 auto;}'
    				layoutStyles += "body {position: absolute;}"
    				//layoutStyles += '.print-footer {' + this.pageSizeCssObj[pageSizeVal].width + ';}'
    				layoutStyles += "</style>"
    			}

    			return layoutStyles
    		},
    		headlessPrinting() {
    			return electronStore.get('system_settings') && electronStore.get('system_settings').report_settings ? electronStore.get('system_settings').report_settings.headlessMode : false
    		}
    	},
		methods: {
			isLogedIn: function() {
				this.loggedIn = electronStore.get('isLogedIn')
			},
			checkForActivation() {
				var appActive = true
			    var installDate = electronStore.get('installDate')
			    //console.log('intall date', installDate)
			    if(!installDate || installDate == "") {
			    	var timestamp = new Date().getTime()
			    	electronStore.set('installDate', timestamp)
			    	electronStore.set('activationKey', '')
			    	electronStore.set('activationCode', '')
			    	electronStore.set('appSerial', '')
			    } else if(installDate > 0) {
			    	// check for trail period
			    	var installedDate = electronStore.get("installDate")
			    	var activationKey = electronStore.get("activationKey")
			    	var nowTimestamp = new Date().getTime()
			    	if(activationKey == "" && (nowTimestamp - installedDate) > trialPeriod) {
			    		appActive = false
			    	} else if(!activationKey || activationKey == "") {
			    		var daysLeft = parseInt(((installedDate+trialPeriod) - nowTimestamp)/86400000)
			    		appActive = {status: 'in-trial', daysLeft: daysLeft}
			    		this.$store.dispatch('AppState/setTrialDays', daysLeft)
			    	}
			    }

			    this.$store.dispatch('AppState/setActivationState', appActive)
			    return appActive
			}
		},
	    beforeUpdate() {
	    	this.isSplashScreen = this.$route.name == 'splash-page'
	      	this.isLogedIn()
	      	//console.log('route before update', this.$route.name)
	    },
	    mounted() {
	    	this.isLogedIn()
	    },
	    beforeMount() {
	    	var _this = this
	    	//console.log(this.$route.name)
	    	if(!this.isSplashScreen && electronStore.get('main_config').system_type == 'server') {
	    		this.isActive = this.checkForActivation()
		    	//console.log('server activate status', this.isActive)
		    	if(this.isActive === false) {
		    		this.$router.push({name: 'bl-activation'})
		    	}
	    	} else if(!this.isSplashScreen && electronStore.get('main_config').system_type == 'client') {
	    		this.$electron.ipcRenderer.on('app-activation', function(event, appStatus){
            		_this.$store.dispatch('AppState/setActivationState', appStatus)
            		var appActiveState = JSON.parse(appStatus)
            		_this.isActive = appActiveState
            		if(typeof appActiveState === 'object') {
            			_this.$store.dispatch('AppState/setTrialDays', appActiveState.daysLeft)
            			electronStore.set('appSerial', appActiveState.serialNo)
            			//console.log('client trial days', appActiveState.daysLeft)
            		} else if(appActiveState === false) {
            			_this.$router.push({name: 'bl-activation'})
            		}
            		
            		//console.log('client app activate status', appStatus, typeof appStatus)
            		//console.log('client days left', _this.$store.state.AppState.trialDays)
            	})

            	this.$electron.ipcRenderer.send('check-activation')
	    	}
	    }
  	};
</script>

<style lang="scss">
  	/*SCSS*/
	$grayBackground: #eff1f1;
	$buttonBackgroundColor: #53676c;
	$inactiveTextColot: #607D8B;
	$textColor: #374548;
	$lightBgColor: #e8eced;

	$colorDanger: #dc3545;
	$colorWarning: #ffc107;
	$colorWarningIcon: #fd7e14;
	$colorSuccess: #28a745;

	$fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

    /* Report font - Liberation Mono */
    @font-face {
	    font-family: 'Liberation Mono';
	    src: url('~@/assets/fonts/report_fonts/LiberationMono.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/LiberationMono.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/LiberationMono.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Liberation Mono';
	    src: url('~@/assets/fonts/report_fonts/LiberationMono-Bold.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/LiberationMono-Bold.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/LiberationMono-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Cousine';
	    src: url('~@/assets/fonts/report_fonts/Cousine-Italic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/Cousine-Italic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/Cousine-Italic.ttf') format('truetype');
	    font-weight: normal;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Roboto Mono';
	    src: url('~@/assets/fonts/report_fonts/RobotoMono-Regular.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Regular.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Roboto Mono';
	    src: url('~@/assets/fonts/report_fonts/RobotoMono-Italic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Italic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Italic.ttf') format('truetype');
	    font-weight: normal;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Roboto Mono';
	    src: url('~@/assets/fonts/report_fonts/RobotoMono-Bold.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Bold.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Roboto Mono';
	    src: url('~@/assets/fonts/report_fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-BoldItalic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-BoldItalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Cousine';
	    src: url('~@/assets/fonts/report_fonts/Cousine.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/Cousine.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/Cousine.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Maison Neue';
	    src: url('~@/assets/fonts/report_fonts/MaisonNeue-Mono.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/MaisonNeue-Mono.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/MaisonNeue-Mono.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Roboto Mono';
	    src: url('~@/assets/fonts/report_fonts/RobotoMono-LightItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-LightItalic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-LightItalic.ttf') format('truetype');
	    font-weight: 300;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Roboto Mono';
	    src: url('~@/assets/fonts/report_fonts/RobotoMono-Light.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Light.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/RobotoMono-Light.ttf') format('truetype');
	    font-weight: 300;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Cousine';
	    src: url('~@/assets/fonts/report_fonts/Cousine-Bold.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/Cousine-Bold.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/Cousine-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Cousine';
	    src: url('~@/assets/fonts/report_fonts/Cousine-BoldItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/Cousine-BoldItalic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/Cousine-BoldItalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Courier Prime';
	    src: url('~@/assets/fonts/report_fonts/CourierPrime-Italic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/CourierPrime-Italic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/CourierPrime-Italic.ttf') format('truetype');
	    font-weight: normal;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Courier Prime';
	    src: url('~@/assets/fonts/report_fonts/CourierPrime-Bold.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/CourierPrime-Bold.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/CourierPrime-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Courier Prime';
	    src: url('~@/assets/fonts/report_fonts/CourierPrime.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/CourierPrime.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/CourierPrime.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Courier Prime';
	    src: url('~@/assets/fonts/report_fonts/CourierPrime-BoldItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/report_fonts/CourierPrime-BoldItalic.woff') format('woff'),
	        url('~@/assets/fonts/report_fonts/CourierPrime-BoldItalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: italic;
	}

	/* App name font - Exo 2 */
	@font-face {
	    font-family: 'Exo 2 Semi';
	    src: url('~@/assets/fonts/Exo2-SemiBold.woff2') format('woff2'),
	        url('~@/assets/fonts/Exo2-SemiBold.woff') format('woff'),
	        url('~@/assets/fonts/Exo2-SemiBold.ttf') format('truetype');
	    font-weight: 600;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Exo 2';
	    src: url('~@/assets/fonts/Exo2-Regular.woff2') format('woff2'),
	        url('~@/assets/fonts/Exo2-Regular.woff') format('woff'),
	        url('~@/assets/fonts/Exo2-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Exo 2';
	    src: url('~@/assets/fonts/Exo2-Bold.woff2') format('woff2'),
	        url('~@/assets/fonts/Exo2-Bold.woff') format('woff'),
	        url('~@/assets/fonts/Exo2-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Exo 2';
	    src: url('~@/assets/fonts/Exo2-Medium.woff2') format('woff2'),
	        url('~@/assets/fonts/Exo2-Medium.woff') format('woff'),
	        url('~@/assets/fonts/Exo2-Medium.ttf') format('truetype');
	    font-weight: 500;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Exo 2';
	    src: url('~@/assets/fonts/Exo2-Black.woff2') format('woff2'),
	        url('~@/assets/fonts/Exo2-Black.woff') format('woff'),
	        url('~@/assets/fonts/Exo2-Black.ttf') format('truetype');
	    font-weight: 900;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Exo 2';
	    src: url('~@/assets/fonts/Exo2-Black_1.woff2') format('woff2'),
	        url('~@/assets/fonts/Exo2-Black_1.woff') format('woff'),
	        url('~@/assets/fonts/Exo2-Black_1.ttf') format('truetype');
	    font-weight: 900;
	    font-style: normal;
	}

	/* Regular font - Montserrat */
	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-LightItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-LightItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
	    font-weight: 300;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-ThinItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
	    font-weight: 100;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-MediumItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
	    font-weight: 500;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
	    font-weight: 600;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
	    font-weight: 600;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Light.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Light.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Light.ttf') format('truetype');
	    font-weight: 300;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Thin.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Thin.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Thin.ttf') format('truetype');
	    font-weight: 100;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
	    font-weight: 800;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Bold.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-BlackItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
	    font-weight: 900;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Regular.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Black.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Black.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Black.ttf') format('truetype');
	    font-weight: 900;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
	    font-weight: 800;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Italic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Italic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Italic.ttf') format('truetype');
	    font-weight: normal;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
	    font-weight: 200;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-Medium.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-Medium.ttf') format('truetype');
	    font-weight: 500;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-BoldItalic.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
	    font-weight: bold;
	    font-style: italic;
	}

	@font-face {
	    font-family: 'Montserrat';
	    src: url('~@/assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
	        url('~@/assets/fonts/Montserrat-ExtraLight.woff') format('woff'),
	        url('~@/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
	    font-weight: 200;
	    font-style: normal;
	}

	body {
		font-family: 'Montserrat';
		background: $grayBackground;
		color: $textColor;
		font-size: 0.9rem;
		margin-bottom: 30px;
	}

	.ft-btn {
		background: $buttonBackgroundColor;
		color: #fff;
	}

	.ft-btn:visited, .ft-btn:visited {
		background: $buttonBackgroundColor;
		color: #fff;
	}

	.ft-btn:hover {
		background: #5c7075;
		color: #eee;
	}

	#app.margin-top-70 {
		padding-top: 70px;
	}

	#app.full-height {
		padding-top: 0px;
	}

	.navbar-inverse {
		border: none;

		.search-box {
			width: 300px; padding: 8px;
		}
	}

	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		color: $textColor;
	    background-color: $grayBackground;
	}

	.btn:focus {
      outline: 0;
      outline-color: transparent;
      outline-width: 0;
      outline-style: none;
      box-shadow: 0 0 0 0 rgba(0,123,255,0);
    }

	.dropdown-menu {
		font-size: 0.8rem;
	}

	.page-title {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
	}

	.help-text:before {
		font-family: 'Font Awesome 5 Free';
		content: '\F05A';
	    padding-right: 5px;
	    color: #758890;
	    font-size: 12px;
	    font-weight: 900;
	}

	.help-text {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 400;
	}

	.help-text-lg:before {
		font-size: 14px;
	}

	.help-text-lg {
		font-size: 14px;
	}

	.text-blod {
		font-weight: bold;
	}

	.help-text.text-danger:before {
		content: '\f071';
		color: $colorWarningIcon;
	}

	.important-text {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 400;
	}

	.important-text:before {
	    font-family: 'Font Awesome 5 Free';
	    content: '\f071';
	    padding-right: 5px;
	    color: #fd7e14;
	    font-size: 14px;
	    font-weight: 900;
	}

	.flash-msg-wraper {
		position: fixed;
		bottom: 50px;
		right: 50px;
		z-index: 1001;		

    	.flash__message {
    		box-shadow: 0 0 10px -2px #000;
    		padding: 20px 30px;
    		border-radius: 5px;
    		color: #fff;
    		margin: 5px;
    	}

    	.flash__message-content:before {
    		font-family: 'Font Awesome 5 Free';
    		vertical-align: top;
    		padding-right: 5px;
    		font-weight: 900;
    		font-size: 12px;
	    }

    	.success {
		    background-color: #126d02;

		    .flash__message-content:before {
		    	content: '\f00c';
		    }
    	}

    	.warning {
    		background-color: #8a4102;

    		.flash__message-content:before {
		    	content: '\f071';
		    }
    	}

    	.error {
    		background-color: #8a0202;

    		.flash__message-content:before {
		    	content: '\f071';
		    }
    	}

    	.info {
    		background-color: #026b8a;

    		.flash__message-content:before {
		    	content: '\f05a';
		    }
    	}

    	.flash__close-button {
    		position: absolute;
		    top: 0px;
		    right: 0px;
		    background: transparent;
		    border: none;
		    color: #c7c7c7;
		    font-size: 18px;
		    cursor: pointer;
    	}

    	.flash__close-button:focus {
    		outline: none;
    	}

	    .fade-enter-active, .fade-leave-active {
		  transition: opacity .5s;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		  opacity: 0;
		}
	}

	.search-by-date-wraper {
		font-family: 'Montserrat' !important;
	}

	label {
	    font-size: 0.85rem;
	    font-weight: 500;
  	}

  	.list-enter-active, .list-leave-active {
	  transition: all 500ms;
	}

	.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
	  opacity: 0;
	  transform: translateY(30px);
	}

	.v-select {
		font-family: 'Montserrat' !important;
		font-size: 0.8rem;

		.dropdown-toggle {
			background: #fff;
			.clear {
				bottom: 4px;
			}

			.selected-tag {
			    margin: 1px 1px 0 3px;
			    color: #ffffff;
			    background-color: #099a7f;
			    padding: 0px .25em;
			    font-weight: 500;
			}
		}

		input[type=search], input[type=search]:focus {
			height: 29px;
		}

		.open-indicator {
			bottom: 2px;
		}
	}

	.v-select.single {
		.selected-tag {
			background: transparent;
			border: transparent;
			color: $textColor;
			padding: 2px .25em;
			font-weight: normal;
		}
	}

	.btn-xs-text {
		font-size: 11px;
	}

	.btn-xxs {
		font-size: 0.4rem;
	}

	.btn-rounded {
		border-radius: 50%;
	}

	.dropdown-menu {
		background: #343a40;
		margin-top: 0px;

		.dropdown-item {
			color: #dedede
		}

		.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:visited {
			background: #17a2b8;
			color: #fff;
		}

		.dropdown-divider {
			border-top: 1px solid #575b5f;
		}
	}

	.dropdown:hover>.dropdown-menu {
	  	display: block;
	}

	.quill-editor {
		background: #fff;
	}

	.guidelines {
		padding: 20px;
		background: #dedede;
		border-radius: 10px;
		font-size: 13px;
		line-height: 1.2rem;
		margin-bottom: 10px;
	}

	.odd {
		background: #e0e6e6;
	}

	.card {
		.card-header {
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: 0;
			}
		}
	}

	/**
     * Slide transition styles
     */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active for <2.1.8 */ {
        transform: translateX(20px);
        opacity: 0;
    }

    .no-data-label {
    	text-align: center;
    	font-size: 1.1rem;
    	font-weight: 400;
    	padding: 10px 0;
    }

    .badge-lg {
		padding: 5px 10px;
	    font-size: 13px;
    	font-weight: 600;
    	margin: 5px 2px;
	}

	.badge-md {
		padding: 3px 5px;
		font-size: 0.8rem;
		font-weight: 500;
		margin: 3px;
	}

	.inner-badge {
	    position: absolute;
	    margin-top: -14px;
	    margin-left: -13px;
	}

	.badge-light {
		background: #CFD8DC;
	}

	.input-group {
		select {
			border: 1px solid #ced4da;
		}
	}

	.modal-close-btn {
		font-size: 0.5rem;
	    position: absolute;
	    top: 0px;
	    right: 8px;
	}

	.attention {
		background: #dc3545;
		color: #fff;
	}

	.blink {
	  animation: blinker 1s linear infinite;
	}

	@keyframes blinker {  
	  50% { opacity: 0; }
	}

	.v--modal-overlay {
		z-index: 1001;
	}

	.v--modal-box {
		box-shadow: 0 0 60px -10px;
	}

	.bl-modal-title {
		width: 100%;
	    background: #636363;
	    color: #fff;
	    padding: 10px 0;

	    h1, h2, h3, h4, h5, h6 {
	    	margin-bottom: 0;
	    }
	}

	.modal-body-section {
		padding: 10px 20px;
	}

	.tooltip, .popover {
		z-index: 1002;
	}

	.tooltip {
		font-size: 0.8rem;
	}

	.input-group-text {
		min-width: 35px;
	}

	.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
		font-size: 0.8rem;
	}

	.text-truncate {
	  width: 99%;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

	.nav-tabs {
		outline: 0;
	}

	.sub-text {
        font-size: 0.7rem;
        color: #666;
    }

    .icon-before[data-icon]:before {
    	font-family: 'Font Awesome 5 Free';
	  	color: inherit;
	  	content: attr(data-icon);
	  	font-style: normal;
	  	font-weight: 900;
	}

	.WYSIWYG-editor-container {
		.clearfix::after {
		  clear: both;
		  display: block;
		  content: "";
		  height: 0;
		}
		.hide-by-clipping {
		  position: absolute;
		  width: 1px;
		  height: 1px;
		  padding: 0;
		  margin: -1px;
		  overflow: hidden;
		  clip: rect(0, 0, 0, 0);
		  border: 0;
		}
		/* .fa {
			font-weight: normal;
		} */
		.light-theme:focus {
		  outline: 0;
		}
		.light-theme.fr-box.fr-basic .fr-element {
		  color: #000000;
		  padding: 10px;
		  overflow-x: auto;
		  min-height: 40px;
		  font-family: 'Courier Prime';
		  line-height: 1;
		}
		.light-theme .fr-element {
		  -webkit-user-select: auto;
		}
		.light-theme.fr-box a.fr-floating-btn {
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  height: 32px;
		  width: 32px;
		  background: #ffffff;
		  color: #1e88e5;
		  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
		  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
		  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
		  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
		  left: 0;
		  top: 0;
		  line-height: 32px;
		  border: none;
		}
		.light-theme.fr-box a.fr-floating-btn svg {
		  -webkit-transition: transform 0.2s ease 0s;
		  -moz-transition: transform 0.2s ease 0s;
		  -ms-transition: transform 0.2s ease 0s;
		  -o-transition: transform 0.2s ease 0s;
		  fill: #1e88e5;
		}
		.light-theme.fr-box a.fr-floating-btn i {
		  font-size: 14px;
		  line-height: 32px;
		}
		.light-theme.fr-box a.fr-floating-btn:hover {
		  background: #ebebeb;
		}
		.light-theme.fr-box a.fr-floating-btn:hover svg {
		  fill: #1e88e5;
		}
		.light-theme .fr-wrapper .fr-placeholder {
		  font-size: 12px;
		  color: #aaaaaa;
		  top: 0;
		  left: 0;
		  right: 0;
		}
		.light-theme .fr-wrapper ::selection {
		  background: #b5d6fd;
		  color: #000000;
		}
		.light-theme .fr-wrapper ::-moz-selection {
		  background: #b5d6fd;
		  color: #000000;
		}
		.light-theme.fr-box.fr-basic .fr-wrapper {
		  background: #ffffff;
		  border: 0px;
		  border-top: 0;
		  top: 0;
		  left: 0;
		}
		.light-theme.fr-box.fr-basic.fr-top .fr-wrapper {
		  border-top: 0;
		  border-radius: 0 0 2px 2px;
		  -moz-border-radius: 0 0 2px 2px;
		  -webkit-border-radius: 0 0 2px 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme.fr-box.fr-basic.fr-bottom .fr-wrapper {
		  border-bottom: 0;
		  border-radius: 2px 2px 0 0;
		  -moz-border-radius: 2px 2px 0 0;
		  -webkit-border-radius: 2px 2px 0 0;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme .fr-sticky-on.fr-sticky-ios {
		  left: 0;
		  right: 0;
		}
		.light-theme.fr-box .fr-counter {
		  color: #cccccc;
		  background: #ffffff;
		  border-top: solid 1px #ebebeb;
		  border-left: solid 1px #ebebeb;
		  border-radius: 2px 0 0 0;
		  -moz-border-radius: 2px 0 0 0;
		  -webkit-border-radius: 2px 0 0 0;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		}
		.light-theme.fr-box.fr-rtl .fr-counter {
		  right: auto;
		  border-right: solid 1px #ebebeb;
		  border-radius: 0 2px 0 0;
		  -moz-border-radius: 0 2px 0 0;
		  -webkit-border-radius: 0 2px 0 0;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		}
		.light-theme textarea.fr-code {
		  background: #ffffff;
		  color: #000000;
		}
		.light-theme.fr-box.fr-code-view.fr-inline {
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch {
		  top: 0;
		  right: 0;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  background: #ffffff;
		  color: $textColor;
		  -moz-outline: 0;
		  outline: 0;
		  border: 0;
		  padding: 12px 12px;
		  -webkit-transition: background 0.2s ease 0s;
		  -moz-transition: background 0.2s ease 0s;
		  -ms-transition: background 0.2s ease 0s;
		  -o-transition: background 0.2s ease 0s;
		}
		.light-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch i {
		  font-size: 14px;
		  width: 14px;
		}
		.light-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch.fr-desktop:hover {
		  background: #ebebeb;
		}
		.light-theme.fr-popup .fr-colors-tabs {
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme.fr-popup .fr-colors-tabs .fr-colors-tab {
		  color: #222222;
		  padding: 8px 0;
		}
		.light-theme.fr-popup .fr-colors-tabs .fr-colors-tab:hover,
		.light-theme.fr-popup .fr-colors-tabs .fr-colors-tab:focus {
		  color: #1e88e5;
		}
		.light-theme.fr-popup .fr-colors-tabs .fr-colors-tab[data-param1="background"]::after {
		  bottom: 0;
		  left: 0;
		  background: #1e88e5;
		  -webkit-transition: transform 0.2s ease 0s;
		  -moz-transition: transform 0.2s ease 0s;
		  -ms-transition: transform 0.2s ease 0s;
		  -o-transition: transform 0.2s ease 0s;
		}
		.light-theme.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
		  color: #1e88e5;
		}
		.light-theme.fr-popup .fr-color-set {
		  line-height: 0;
		}
		.light-theme.fr-popup .fr-color-set > span > i {
		  bottom: 0;
		  left: 0;
		}
		.light-theme.fr-popup .fr-color-set > span .fr-selected-color {
		  color: #ffffff;
		  font-weight: 400;
		  top: 0;
		  bottom: 0;
		  right: 0;
		  left: 0;
		}
		.light-theme.fr-popup .fr-color-set > span:hover,
		.light-theme.fr-popup .fr-color-set > span:focus {
		  outline: 1px solid #222222;
		}
		.light-theme .fr-drag-helper {
		  background: #1e88e5;
		}
		.light-theme.fr-popup .fr-link:focus {
		  background: #ebebeb;
		}
		.light-theme .fr-file-upload-layer {
		  border: dashed 2px #bdbdbd;
		  padding: 25px 0;
		}
		.light-theme .fr-file-upload-layer:hover {
		  background: #ebebeb;
		}
		.light-theme .fr-file-upload-layer.fr-drop {
		  background: #ebebeb;
		  border-color: #1e88e5;
		}
		.light-theme .fr-file-upload-layer .fr-form {
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
		.light-theme .fr-file-progress-bar-layer > h3 {
		  margin: 10px 0;
		}
		.light-theme .fr-file-progress-bar-layer > div.fr-loader {
		  background: #bcdbf7;
		}
		.light-theme .fr-file-progress-bar-layer > div.fr-loader span {
		  background: #1e88e5;
		  -webkit-transition: width 0.2s ease 0s;
		  -moz-transition: width 0.2s ease 0s;
		  -ms-transition: width 0.2s ease 0s;
		  -o-transition: width 0.2s ease 0s;
		}
		.light-theme .fr-file-progress-bar-layer > div.fr-loader.fr-indeterminate span {
		  top: 0;
		}
		.light-theme.fr-box.fr-fullscreen {
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tr {
		  border: 0;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tbody tr {
		  border-bottom: solid 1px #ebebeb;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tbody td:first-child {
		  color: #646464;
		}
		.light-theme .fr-image-resizer {
		  border: solid 1px #1e88e5;
		}
		.light-theme .fr-image-resizer .fr-handler {
		  background: #1e88e5;
		  border: solid 1px #ffffff;
		}
		.light-theme .fr-image-resizer .fr-handler {
		  width: 12px;
		  height: 12px;
		}
		.light-theme .fr-image-resizer .fr-handler.fr-hnw {
		  left: -6px;
		  top: -6px;
		}
		.light-theme .fr-image-resizer .fr-handler.fr-hne {
		  right: -6px;
		  top: -6px;
		}
		.light-theme .fr-image-resizer .fr-handler.fr-hsw {
		  left: -6px;
		  bottom: -6px;
		}
		.light-theme .fr-image-resizer .fr-handler.fr-hse {
		  right: -6px;
		  bottom: -6px;
		}
		@media (min-width: 1200px) {
		  .light-theme .fr-image-resizer .fr-handler {
		    width: 10px;
		    height: 10px;
		  }
		  .light-theme .fr-image-resizer .fr-handler.fr-hnw {
		    left: -5px;
		    top: -5px;
		  }
		  .light-theme .fr-image-resizer .fr-handler.fr-hne {
		    right: -5px;
		    top: -5px;
		  }
		  .light-theme .fr-image-resizer .fr-handler.fr-hsw {
		    left: -5px;
		    bottom: -5px;
		  }
		  .light-theme .fr-image-resizer .fr-handler.fr-hse {
		    right: -5px;
		    bottom: -5px;
		  }
		}
		.light-theme.fr-image-overlay {
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		}
		.light-theme .fr-image-upload-layer {
		  border: dashed 2px #bdbdbd;
		  padding: 25px 0;
		}
		.light-theme .fr-image-upload-layer:hover {
		  background: #ebebeb;
		}
		.light-theme .fr-image-upload-layer.fr-drop {
		  background: #ebebeb;
		  border-color: #1e88e5;
		}
		.light-theme .fr-image-upload-layer .fr-form {
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
		.light-theme .fr-image-progress-bar-layer > h3 {
		  margin: 10px 0;
		}
		.light-theme .fr-image-progress-bar-layer > div.fr-loader {
		  background: #bcdbf7;
		}
		.light-theme .fr-image-progress-bar-layer > div.fr-loader span {
		  background: #1e88e5;
		  -webkit-transition: width 0.2s ease 0s;
		  -moz-transition: width 0.2s ease 0s;
		  -ms-transition: width 0.2s ease 0s;
		  -o-transition: width 0.2s ease 0s;
		}
		.light-theme .fr-image-progress-bar-layer > div.fr-loader.fr-indeterminate span {
		  top: 0;
		}
		.light-theme.fr-modal-head .fr-modal-head-line i.fr-modal-more {
		  -webkit-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
		  -moz-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
		  -ms-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
		  -o-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
		}
		.light-theme.fr-modal-head .fr-modal-head-line i.fr-modal-more.fr-not-available {
		  opacity: 0;
		  width: 0;
		  padding: 12px 0;
		}
		.light-theme.fr-modal-head .fr-modal-tags a {
		  opacity: 0;
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  color: #1e88e5;
		  -webkit-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
		  -moz-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
		  -ms-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
		  -o-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
		}
		.light-theme.fr-modal-head .fr-modal-tags a.fr-selected-tag {
		  background: #d6d6d6;
		}
		.light-themediv.fr-modal-body .fr-preloader {
		  margin: 50px auto;
		}
		.light-themediv.fr-modal-body div.fr-image-list {
		  padding: 0;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container {
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-image-deleting::after {
		  -webkit-transition: opacity 0.2s ease 0s;
		  -moz-transition: opacity 0.2s ease 0s;
		  -ms-transition: opacity 0.2s ease 0s;
		  -o-transition: opacity 0.2s ease 0s;
		  background: #000000;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-image-deleting::before {
		  color: #ffffff;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  margin: auto;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-empty {
		  background: #cccccc;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-empty::after {
		  margin: auto;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container img {
		  -webkit-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
		  -moz-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
		  -ms-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
		  -o-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img,
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
		  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s;
		  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s;
		  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s;
		  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  margin: 0;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img {
		  background: #b8312f;
		  color: #ffffff;
		}
		.light-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
		  background: #ffffff;
		  color: #1e88e5;
		}
		.light-theme.light-theme.fr-desktop .fr-modal-wrapper .fr-modal-head .fr-modal-tags a:hover {
		  background: #ebebeb;
		}
		.light-theme.light-theme.fr-desktop .fr-modal-wrapper .fr-modal-head .fr-modal-tags a.fr-selected-tag {
		  background: #d6d6d6;
		}
		.light-theme.light-theme.fr-desktop .fr-modal-wrapper div.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img:hover {
		  background: #bf4644;
		  color: #ffffff;
		}
		.light-theme.light-theme.fr-desktop .fr-modal-wrapper div.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img:hover {
		  background: #ebebeb;
		}
		.light-theme .fr-line-breaker {
		  border-top: 1px solid #1e88e5;
		}
		.light-theme .fr-line-breaker a.fr-floating-btn {
		  left: calc(34%);
		  top: -16px;
		}
		.light-theme .fr-qi-helper {
		  padding-left: 10px;
		}
		.light-theme .fr-qi-helper a.fr-btn.fr-floating-btn {
		  color: #222222;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-special-characters-modal .fr-special-character {
		  border: 1px solid #cccccc;
		}
		.light-theme .fr-element table td.fr-selected-cell,
		.light-theme .fr-element table th.fr-selected-cell {
		  border: 1px double #1e88e5;
		}
		.light-theme .fr-table-resizer div {
		  border-right: 1px solid #1e88e5;
		}
		.light-theme.fr-popup .fr-table-size .fr-select-table-size {
		  line-height: 0;
		}
		.light-theme.fr-popup .fr-table-size .fr-select-table-size > span {
		  padding: 0px 4px 4px 0;
		}
		.light-theme.fr-popup .fr-table-size .fr-select-table-size > span > span {
		  border: 1px solid #dddddd;
		}
		.light-theme.fr-popup .fr-table-size .fr-select-table-size > span.hover > span {
		  background: rgba(30, 136, 229, 0.3);
		  border: solid 1px #1e88e5;
		}
		.light-theme.fr-popup .fr-table-colors {
		  line-height: 0;
		}
		.light-theme.fr-popup .fr-table-colors > span > i {
		  bottom: 0;
		  left: 0;
		}
		.light-theme.fr-popup .fr-table-colors > span:focus {
		  outline: 1px solid #222222;
		}
		.light-theme .fr-element .fr-video::after {
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		}
		.light-theme.fr-box .fr-video-resizer {
		  border: solid 1px #1e88e5;
		}
		.light-theme.fr-box .fr-video-resizer .fr-handler {
		  background: #1e88e5;
		  border: solid 1px #ffffff;
		}
		.light-theme.fr-box .fr-video-resizer .fr-handler {
		  width: 12px;
		  height: 12px;
		}
		.light-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
		  left: -6px;
		  top: -6px;
		}
		.light-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
		  right: -6px;
		  top: -6px;
		}
		.light-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
		  left: -6px;
		  bottom: -6px;
		}
		.light-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
		  right: -6px;
		  bottom: -6px;
		}
		@media (min-width: 1200px) {
		  .light-theme.fr-box .fr-video-resizer .fr-handler {
		    width: 10px;
		    height: 10px;
		  }
		  .light-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
		    left: -5px;
		    top: -5px;
		  }
		  .light-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
		    right: -5px;
		    top: -5px;
		  }
		  .light-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
		    left: -5px;
		    bottom: -5px;
		  }
		  .light-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
		    right: -5px;
		    bottom: -5px;
		  }
		}
		.light-theme .fr-video-upload-layer {
		  border: dashed 2px #bdbdbd;
		  padding: 25px 0;
		}
		.light-theme .fr-video-upload-layer:hover {
		  background: #ebebeb;
		}
		.light-theme .fr-video-upload-layer.fr-drop {
		  background: #ebebeb;
		  border-color: #1e88e5;
		}
		.light-theme .fr-video-upload-layer .fr-form {
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
		.light-theme .fr-video-progress-bar-layer > h3 {
		  margin: 10px 0;
		}
		.light-theme .fr-video-progress-bar-layer > div.fr-loader {
		  background: #bcdbf7;
		}
		.light-theme .fr-video-progress-bar-layer > div.fr-loader span {
		  background: #1e88e5;
		  -webkit-transition: width 0.2s ease 0s;
		  -moz-transition: width 0.2s ease 0s;
		  -ms-transition: width 0.2s ease 0s;
		  -o-transition: width 0.2s ease 0s;
		}
		.light-theme .fr-video-progress-bar-layer > div.fr-loader.fr-indeterminate span {
		  top: 0;
		}
		.light-theme.fr-video-overlay {
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		}
		.light-theme .fr-view strong {
		  font-weight: 700;
		}
		.light-theme .fr-view table.fr-alternate-rows tbody tr:nth-child(2n) {
		  background: #f5f5f5;
		}
		.light-theme .fr-view table td,
		.light-theme .fr-view table th {
		  border: 1px solid #dddddd;
		}
		.light-theme .fr-view table th {
		  background: #e6e6e6;
		}
		.light-theme .fr-view[dir="rtl"] blockquote {
		  border-right: solid 2px #5e35b1;
		  margin-right: 0;
		}
		.light-theme .fr-view[dir="rtl"] blockquote blockquote {
		  border-color: #00bcd4;
		}
		.light-theme .fr-view[dir="rtl"] blockquote blockquote blockquote {
		  border-color: #43a047;
		}
		.light-theme .fr-view blockquote {
		  border-left: solid 2px #5e35b1;
		  margin-left: 0;
		  color: #5e35b1;
		}
		.light-theme .fr-view blockquote blockquote {
		  border-color: #00bcd4;
		  color: #00bcd4;
		}
		.light-theme .fr-view blockquote blockquote blockquote {
		  border-color: #43a047;
		  color: #43a047;
		}
		.light-theme .fr-view span.fr-emoticon {
		  line-height: 0;
		}
		.light-theme .fr-view span.fr-emoticon.fr-emoticon-img {
		  font-size: inherit;
		}
		.light-theme .fr-view .fr-text-bordered {
		  padding: 10px 0;
		}
		.light-theme .fr-tooltip {
		  top: 0;
		  left: 0;
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  background: #222222;
		  color: #ffffff;
		  font-size: 11px;
		  line-height: 22px;
		  font-family: Arial, Helvetica, sans-serif;
		  -webkit-transition: opacity 0.2s ease 0s;
		  -moz-transition: opacity 0.2s ease 0s;
		  -ms-transition: opacity 0.2s ease 0s;
		  -o-transition: opacity 0.2s ease 0s;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn,
		.light-theme.fr-popup .fr-command.fr-btn {
		  color: $textColor;
		  -moz-outline: 0;
		  outline: 0;
		  border: 0;
		  margin: 0px 2px;
		  -webkit-transition: background 0.2s ease 0s;
		  -moz-transition: background 0.2s ease 0s;
		  -ms-transition: background 0.2s ease 0s;
		  -o-transition: background 0.2s ease 0s;
		  padding: 0;
		  width: 38px;
		  height: 38px;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn::-moz-focus-inner,
		.light-theme.fr-popup .fr-command.fr-btn::-moz-focus-inner {
		  border: 0;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-btn-text,
		.light-theme.fr-popup .fr-command.fr-btn.fr-btn-text {
		  width: auto;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn i,
		.light-theme.fr-popup .fr-command.fr-btn i {
		  font-size: 14px;
		  width: 14px;
		  margin: 12px 12px;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn span,
		.light-theme.fr-popup .fr-command.fr-btn span {
		  font-size: 14px;
		  line-height: 17px;
		  min-width: 38px;
		  height: 17px;
		  padding: 0 2px;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn img,
		.light-theme.fr-popup .fr-command.fr-btn img {
		  margin: 12px 12px;
		  width: 14px;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-active,
		.light-theme.fr-popup .fr-command.fr-btn.fr-active {
		  color: #1e88e5;
		  background: transparent;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-selection {
		  width: auto;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown i,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown i,
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown span,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown span,
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown img,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown img {
		  margin-left: 8px;
		  margin-right: 16px;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
		  color: $textColor;
		  background: #d6d6d6;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover,
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus {
		  background: #d6d6d6 !important;
		  color: $textColor !important;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus::after,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus::after {
		  border-top-color: $textColor !important;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
		.light-theme.fr-popup .fr-command.fr-btn.fr-dropdown::after {
		  width: 0;
		  height: 0;
		  border-left: 4px solid transparent;
		  border-right: 4px solid transparent;
		  border-top: 4px solid $textColor;
		  right: 4px;
		  top: 17px;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-disabled,
		.light-theme.fr-popup .fr-command.fr-btn.fr-disabled {
		  color: #bdbdbd;
		}
		.light-theme.fr-toolbar .fr-command.fr-btn.fr-disabled::after,
		.light-theme.fr-popup .fr-command.fr-btn.fr-disabled::after {
		  border-top-color: #bdbdbd !important;
		}
		.light-theme.fr-toolbar.fr-disabled .fr-btn,
		.light-theme.fr-popup.fr-disabled .fr-btn,
		.light-theme.fr-toolbar.fr-disabled .fr-btn.fr-active,
		.light-theme.fr-popup.fr-disabled .fr-btn.fr-active {
		  color: #bdbdbd;
		}
		.light-theme.fr-toolbar.fr-disabled .fr-btn.fr-dropdown::after,
		.light-theme.fr-popup.fr-disabled .fr-btn.fr-dropdown::after,
		.light-theme.fr-toolbar.fr-disabled .fr-btn.fr-active.fr-dropdown::after,
		.light-theme.fr-popup.fr-disabled .fr-btn.fr-active.fr-dropdown::after {
		  border-top-color: #bdbdbd;
		}
		.light-theme.fr-desktop .fr-command:hover,
		.light-theme.fr-desktop .fr-command:focus {
		  color: #222222;
		  background: #ebebeb;
		}
		.light-theme.fr-desktop .fr-command:hover::after,
		.light-theme.fr-desktop .fr-command:focus::after {
		  border-top-color: #222222 !important;
		}
		.light-theme.fr-desktop .fr-command.fr-selected {
		  color: $textColor;
		  background: #d6d6d6;
		}
		.light-theme.fr-desktop .fr-command.fr-active:hover,
		.light-theme.fr-desktop .fr-command.fr-active:focus {
		  color: #1e88e5;
		  background: #ebebeb;
		}
		.light-theme.fr-desktop .fr-command.fr-active.fr-selected {
		  color: #1e88e5;
		  background: #d6d6d6;
		}
		.light-theme.fr-toolbar.fr-mobile .fr-command.fr-blink,
		.light-theme.fr-popup.fr-mobile .fr-command.fr-blink {
		  background: transparent;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu {
		  right: auto;
		  bottom: auto;
		  height: auto;
		  border-radius: 0 0 2px 2px;
		  -moz-border-radius: 0 0 2px 2px;
		  -webkit-border-radius: 0 0 2px 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper {
		  background: #ffffff;
		  padding: 0;
		  margin: auto;
		  -webkit-transition: max-height 0.2s ease 0s;
		  -moz-transition: max-height 0.2s ease 0s;
		  -ms-transition: max-height 0.2s ease 0s;
		  -o-transition: max-height 0.2s ease 0s;
		  margin-top: 0;
		  max-height: 0;
		  height: 0;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content {
		  overflow: auto;
		  max-height: 275px;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list {
		  margin: 0;
		  padding: 0;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li {
		  padding: 0;
		  margin: 0;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
		  color: inherit;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
		  background: #d6d6d6;
		}
		.light-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-disabled {
		  color: #bdbdbd;
		}
		.light-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu {
		  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		}
		.light-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu .fr-dropdown-wrapper {
		  height: auto;
		  max-height: 275px;
		}
		.light-theme .fr-bottom > .fr-command.fr-btn + .fr-dropdown-menu {
		  border-radius: 2px 2px 0 0;
		  -moz-border-radius: 2px 2px 0 0;
		  -webkit-border-radius: 2px 2px 0 0;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -2px 2px 1px rgba(0, 0, 0, 0.14);
		  -moz-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -2px 2px 1px rgba(0, 0, 0, 0.14);
		  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -2px 2px 1px rgba(0, 0, 0, 0.14);
		}
		.light-theme.fr-modal {
		  color: #222222;
		  font-family: Arial, Helvetica, sans-serif;
		  overflow-x: auto;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		}
		.light-theme.fr-modal .fr-modal-wrapper {
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  margin: 20px auto;
		  background: #ffffff;
		  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
		  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
		  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
		  border: 0px;
		  border-top: 0px solid #222222;
		}
		@media (min-width: 768px) and (max-width: 991px) {
		  .light-theme.fr-modal .fr-modal-wrapper {
		    margin: 30px auto;
		  }
		}
		@media (min-width: 992px) {
		  .light-theme.fr-modal .fr-modal-wrapper {
		    margin: 50px auto;
		  }
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-head {
		  background: #ffffff;
		  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
		  border-bottom: 0px;
		  -webkit-transition: height 0.2s ease 0s;
		  -moz-transition: height 0.2s ease 0s;
		  -ms-transition: height 0.2s ease 0s;
		  -o-transition: height 0.2s ease 0s;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-head i {
		  color: #222222;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-head i.fr-modal-close {
		  top: 0;
		  right: 0;
		  -webkit-transition: color 0.2s ease 0s;
		  -moz-transition: color 0.2s ease 0s;
		  -ms-transition: color 0.2s ease 0s;
		  -o-transition: color 0.2s ease 0s;
		}
		.light-theme.fr-modal .fr-modal-wrapper .fr-modal-head h4 {
		  margin: 0;
		  font-weight: 400;
		}
		.light-theme.light-theme.fr-desktop .fr-modal-wrapper .fr-modal-head i:hover {
		  background: #ebebeb;
		}
		.light-theme.fr-overlay {
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: #000000;
		}
		.light-theme.fr-popup {
		  color: #222222;
		  background: #ffffff;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  font-family: Arial, Helvetica, sans-serif;
		  border: 0px;
		  border-top: 0px solid #222222;
		}
		.light-theme.fr-popup .fr-input-focus {
		  background: #f5f5f5;
		}
		.light-theme.fr-popup.fr-above {
		  border-top: 0;
		  border-bottom: 0px solid #222222;
		  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme.fr-popup .fr-input-line {
		  padding: 8px 0;
		}
		.light-theme.fr-popup .fr-input-line input[type="text"],
		.light-theme.fr-popup .fr-input-line textarea {
		  margin: 0px 0 1px 0;
		  border-bottom: solid 1px #bdbdbd;
		  color: #222222;
		}
		.light-theme.fr-popup .fr-input-line input[type="text"]:focus,
		.light-theme.fr-popup .fr-input-line textarea:focus {
		  border-bottom: solid 2px #1e88e5;
		}
		.light-theme.fr-popup .fr-input-line input + label,
		.light-theme.fr-popup .fr-input-line textarea + label {
		  top: 0;
		  left: 0;
		  -webkit-transition: color 0.2s ease 0s;
		  -moz-transition: color 0.2s ease 0s;
		  -ms-transition: color 0.2s ease 0s;
		  -o-transition: color 0.2s ease 0s;
		  background: #ffffff;
		}
		.light-theme.fr-popup .fr-input-line input.fr-not-empty:focus + label,
		.light-theme.fr-popup .fr-input-line textarea.fr-not-empty:focus + label {
		  color: #1e88e5;
		}
		.light-theme.fr-popup .fr-input-line input.fr-not-empty + label,
		.light-theme.fr-popup .fr-input-line textarea.fr-not-empty + label {
		  color: #808080;
		}
		.light-theme.fr-popup .fr-buttons {
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  padding: 0 2px;
		  line-height: 0;
		  border-bottom: 0px;
		}
		.light-theme.fr-popup .fr-layer {
		  width: 225px;
		}
		@media (min-width: 768px) {
		  .light-theme.fr-popup .fr-layer {
		    width: 300px;
		  }
		}
		.light-theme.fr-popup .fr-action-buttons button.fr-command {
		  color: #1e88e5;
		  -webkit-transition: background 0.2s ease 0s;
		  -moz-transition: background 0.2s ease 0s;
		  -ms-transition: background 0.2s ease 0s;
		  -o-transition: background 0.2s ease 0s;
		}
		.light-theme.fr-popup .fr-action-buttons button.fr-command:hover,
		.light-theme.fr-popup .fr-action-buttons button.fr-command:focus {
		  background: #ebebeb;
		  color: #1e88e5;
		}
		.light-theme.fr-popup .fr-action-buttons button.fr-command:active {
		  background: #d6d6d6;
		  color: #1e88e5;
		}
		.light-theme.fr-popup .fr-action-buttons button::-moz-focus-inner {
		  border: 0;
		}
		.light-theme.fr-popup .fr-checkbox span {
		  border: solid 1px #222222;
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
		  -moz-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
		  -ms-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
		  -o-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
		}
		.light-theme.fr-popup .fr-checkbox input {
		  margin: 0;
		  padding: 0;
		}
		.light-theme.fr-popup .fr-checkbox input:checked + span {
		  background: #1e88e5;
		  border-color: #1e88e5;
		}
		.light-theme.fr-popup .fr-checkbox input:focus + span {
		  border-color: #1e88e5;
		}
		.light-theme.fr-popup.fr-rtl .fr-input-line input + label,
		.light-theme.fr-popup.fr-rtl .fr-input-line textarea + label {
		  left: auto;
		  right: 0;
		}
		.light-theme.fr-popup .fr-arrow {
		  width: 0;
		  height: 0;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid #222222;
		  top: -9px;
		  margin-left: -5px;
		}
		.light-theme.fr-popup.fr-above .fr-arrow {
		  top: auto;
		  bottom: -9px;
		  border-bottom: 0;
		  border-top: 5px solid #222222;
		}
		.light-theme.fr-toolbar {
		  color: #222222;
		  background: #ffffff;
		  font-family: Arial, Helvetica, sans-serif;
		  padding: 0 2px;
		  border-radius: 2px;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  border: 0px;
		  border-top: 0px solid #222222;
		}
		.light-theme.fr-toolbar.fr-inline .fr-arrow {
		  width: 0;
		  height: 0;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid #222222;
		  top: -9px;
		  margin-left: -5px;
		}
		.light-theme.fr-toolbar.fr-inline.fr-above {
		  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
		  border-bottom: 0px solid #222222;
		  border-top: 0;
		}
		.light-theme.fr-toolbar.fr-inline.fr-above .fr-arrow {
		  top: auto;
		  bottom: -9px;
		  border-bottom: 0;
		  border-top-color: inherit;
		  border-top-width: 5px;
		}
		.light-theme.fr-toolbar.fr-top {
		  top: 0;
		  border-radius: 2px 2px 0 0;
		  -moz-border-radius: 2px 2px 0 0;
		  -webkit-border-radius: 2px 2px 0 0;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme.fr-toolbar.fr-bottom {
		  bottom: 0;
		  border-radius: 0 0 2px 2px;
		  -moz-border-radius: 0 0 2px 2px;
		  -webkit-border-radius: 0 0 2px 2px;
		  -moz-background-clip: padding;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
		}
		.light-theme .fr-separator {
		  background: #ebebeb;
		}
		.light-theme .fr-separator.fr-vs {
		  height: 34px;
		  width: 1px;
		  margin: 2px;
		}
		.light-theme .fr-separator.fr-hs {
		  height: 1px;
		  width: calc(96%);
		  margin: 0 2px;
		}

	}

	@media screen {
		.footer-print-area {
			display: none;
		}

		.report-front-page {
			display: none;
		}
	}

	@media print {
		.sheet_letter {
			width: 216mm; height: 279mm;
		}
		.sheet_letter_landscape {
			width: 280mm; height: 215mm
		}
		.sheet_A4 {
			width: 210mm; height: 296mm;
		}
		.sheet_A4_landscape {
			width: 297mm; height: 209mm;
		}

		.sheet_A5 { 
			width: 148mm; height: 209mm;
		}
		.sheet_A5_landscape {
			width: 210mm; height: 147mm; 
		}

		.sheet_legal {
			width: 216mm; height: 356mm;
		}
		.sheet_legal_landscape {
			width: 357mm; height: 215mm;
		}

		.content-block, p {
		    page-break-inside: avoid;
	  	}

		.btn {
			display: none;
		}

		footer {
			page-break-after: always;
		}

		.test-history-data, .signatory {
			page-break-inside: avoid;
		}

		.flash-msg-wraper {
			display: none;
		}

		.footer-print-area {
			position: fixed;
			bottom: 0;
			width: 98%;
			padding: 5px 0 0;
			border-top: 1px solid #ddd;
			font-size: 12px;
		}

		.force-page-break-after {
			page-break-after: always;
		}

		.app-footer {
			display: none;
		}
	}

	p.page-count { 
	   position: running(pageFooter); 
   	}

   	/* WYSIWYG froala editor custom classes */
   	.fr-no-table-border {
   		border: none;
   	}

   	.fr-border-all {
   		border-collapse: collapse;

   		th, td {
   			padding-left: 7.5pt;
   		}

   		table, th, td {
		    border: 1px solid black;
		}
   	}

   	.fr-border-bottom {
   		tr {
   			border-bottom: 1px dashed #000;
   		}
   	}

   	// disable user draggable links
   	a {
	  -webkit-user-drag: none;
	  -khtml-user-drag: none;
	  -moz-user-drag: none;
	  -o-user-drag: none;
	  user-drag: none;
	}
</style>
